---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Yosuga no Sora`
export const date = '2016-10-10T09:18:00.003-05:00' 
export const updated = '2022-09-28T00:09:37.434-05:00'
export const tags = ["español","visual novel",null,"yosuga no sora","Mega","visualnovelparapc","eroge","novela visual","Incesto"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/7381925844472923986/comments/default'
export const cover = 'https://4.bp.blogspot.com/-cqUdgDd3PYo/UrIeEYpTntI/AAAAAAAAAvs/ntAnmK5ogHQ/s400/5.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<div >
<a href="http://visualnovelparapc.blogspot.com/2013/12/yosuga-no-sora.html">Yosuga no Sora[NovelaVisual][Eroge]</a></div>
<br /></div>
<div  >
</div>
<div >
<div  >
<a href="http://4.bp.blogspot.com/-cqUdgDd3PYo/UrIeEYpTntI/AAAAAAAAAvs/ntAnmK5ogHQ/s1600/5.jpg" ><img   src="https://4.bp.blogspot.com/-cqUdgDd3PYo/UrIeEYpTntI/AAAAAAAAAvs/ntAnmK5ogHQ/s400/5.jpg"  /></a></div>
<div  >
</div>
<div  >
</div>
<div  >
</div>
<br />
<span ><span >Trágicamente los gemelos Kasugano quedan huérfanos a causa de un accidente de automóvil, viajan a la residencia de campo de sus abuelos por tren, con la esperanza de reconstruir los fragmentos de una vida destrozada. Esperándoles un futuro incierto, Haruka Kasugano se aferra a los recuerdos del pasado, con la esperanza de encontrar la fuerza que necesita para proteger a su hermana enferma.</span></span><br />
<a name='more'></a><div  >
</div>
<div  >
</div>
<div  >
</div>
<div  >
<span ><br />&nbsp;Con un destino irrevocablemente ligada a la de otro, Sora se aferra a el dibujo y la seguridad de la compañía de su hermano. Dos almas solitarias, físicamente parecidas, pero espiritualmente divergentes, sin darse cuenta de los desafíos que estas expectativas en conflicto darán a conocer en los próximos días.<br /><br /><b>Imagenes:</b></span></div>
<div  >
<br /></div>
<div  >
<a href="http://2.bp.blogspot.com/-b0iHw3G35Cc/UrIk9iH0SPI/AAAAAAAAAwM/v5TOQ8UaEQA/s1600/7.jpg" ><img   src="https://2.bp.blogspot.com/-b0iHw3G35Cc/UrIk9iH0SPI/AAAAAAAAAwM/v5TOQ8UaEQA/s400/7.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<a href="http://4.bp.blogspot.com/-EntB-LDcEEU/UrIlM98_3uI/AAAAAAAAAwc/G7f7eBbqJEc/s1600/9.jpg" ><img   src="https://4.bp.blogspot.com/-EntB-LDcEEU/UrIlM98_3uI/AAAAAAAAAwc/G7f7eBbqJEc/s400/9.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<a href="http://3.bp.blogspot.com/-VOom2de0Mu4/UrIlKkAhOMI/AAAAAAAAAwU/ogDXcT_6Wds/s1600/8.jpg" ><img   src="https://3.bp.blogspot.com/-VOom2de0Mu4/UrIlKkAhOMI/AAAAAAAAAwU/ogDXcT_6Wds/s400/8.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b >Nombre:&nbsp;</b></span><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span >Yosuga no Sora</span></span></div>
<div >
<div >
<div >
<span ><b >Tipo:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >&nbsp;</span><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >Novela Visual</span></span></span></div>
</div>
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span ><span ><b>Genero:</b>&nbsp; Drama, Romance</span></span></span></div>
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><b>Estudio:&nbsp;</b>Sphere</span></span></div>
</div>
<div >
<div >
<div >
<span ><b >Idioma:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >&nbsp;Japones</span></span></div>
</div>
<div >
<div >
<div >
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><b >Subtítulos:</b><span >&nbsp;Español-Parcial(Kazuha,Sora)</span></span></div>
<b ><span >Agradecimientos:</span></b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >&nbsp;<a href="http://www.sharin-sub.es/">Sharin sub</a></span></div>
</div>
</div>
<div >
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><b>Tamaño del Archivo: </b>2.1Gb</span></span><br />
<div>
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><br /><b>Descarga Mega:</b></span></span></div>
</div>
</div>
</div>
<div >
<div >
<b><a href="https://ouo.io/dm2vwD"  target="_blank">Yosuga no Sora</a></b><span ><b><br />contraseña:</b>&nbsp;animegame</span></div>
<div >
<br />
<div >
<div >
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><b>Descarga Mediafire:</b></span></span></div>
</div>
</div>
<div >
<div >
<b><a href="https://ouo.io/T3YfyY"  target="_blank">Yosuga no Sora</a></b><span ><b><br />contraseña:</b>&nbsp;animegame</span></div>
</div>
<br /></div>
<div >
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif"><span ><b><span >Descarga Torrent</span><span >:</span></b></span></span><br /><span ><span ><a href="https://ouo.io/8n2APe" target="_blank">Yosuga no Sora</a></span></span></span><br />
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><br /><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >Parche (09/10/16):</span></span></span></div>
<div >
<b><a href="https://www.dropbox.com/s/7ka27z9cwuhyjua/yosuga.csx"></a></b><a href="https://mega.nz/#!oltXXB5S!6ihLu9f2gz1vVgo0KwzkJdHKRJ8kv70wNOBkASZmr3w"  target="_blank">Español</a><b>&nbsp;</b><br />
<b><br />Tutorial de Instalación:</b></div>
</div>
<div >
<div  >
<iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/xEyTL7IXDXE/0.jpg" frame  src="https://www.youtube.com/embed/xEyTL7IXDXE?feature=player_embedded" ></iframe></div>
<div  >
<br /></div>
<b ><span >Instrucciones de&nbsp;instalación:</span></b></div>
</div>
<div >
<div >
<div >
</div>
<span face="&quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , &quot;lucida grande&quot; , &quot;tahoma&quot; , &quot;verdana&quot; , &quot;arial&quot; , sans-serif" >1.- Cambiar el idioma regional del pc a japones</span><span >(Panel de control\Reloj, idioma y región\Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc)</span><br />
<span face="&quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , &quot;lucida grande&quot; , &quot;tahoma&quot; , &quot;verdana&quot; , &quot;arial&quot; , sans-serif" >2.- Montar el iso en <a href="http://adf.ly/4969688/daemontoolslite">Daemon tools</a>.<br />3.- instalar y parchear.</span></div><div ><span face="&quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , &quot;lucida grande&quot; , &quot;tahoma&quot; , &quot;verdana&quot; , &quot;arial&quot; , sans-serif" ><br /></span></div><div  ><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif"><span >Nota: El juego solo tiene traducido la ruta de Kazuha y Sora,&nbsp;iré&nbsp;actualizando el post&nbsp;mientras sacan más parches</span></span></span></div></div></div>

  </article>
</Layout>

  