---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Katawa Shoujo`
export const date = '2014-07-30T08:58:00.002-05:00' 
export const updated = '2023-12-30T15:37:39.518-05:00'
export const tags = ["español","ciega","Completo","visualnovelparapc","depresion","multiples finales","muda","nakige","katawa shoujo","timida","sin h","visual novel",null,"eroge","novela visual","tomboy","lentes"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/2025757498234130539/comments/default'
export const cover = 'https://1.bp.blogspot.com/-3P0bjA_4J9Y/U9j7gTY7oVI/AAAAAAAABMs/-1coVrREVDE/s1600/12.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2014/07/katawa-shoujo.html">Katawa Shoujo[Eroge][Español]</a><br />
<div  >
<a href="http://1.bp.blogspot.com/-3P0bjA_4J9Y/U9j7gTY7oVI/AAAAAAAABMs/-1coVrREVDE/s1600/12.jpg" ><img   src="https://1.bp.blogspot.com/-3P0bjA_4J9Y/U9j7gTY7oVI/AAAAAAAABMs/-1coVrREVDE/s1600/12.jpg"  /></a></div>
</div>
<div >
<div  >
</div>
<div  >
<span >Katawa Shoujo es una novela visual de tipo bishoujo ambientada en el ficticio Colegio Yamaku para jóvenes discapacitados, localizada en algún lugar del Japón moderno. Hisao Nakai, un chico normal viviendo una vida normal, sufre un vuelco en ésta cuando un defecto cardiaco congénito lo obliga a trasladarse a una nueva escuela tras una larga hospitalización. A pesar de sus dificultades, Hisao es capaz de encontrar la amistad — y quizás el amor, si juega bien sus cartas. Hay cinco caminos principales correspondientes a las 5 protagonistas, con cada camino siguiendo la historia perteneciente a ese personaje.&nbsp;</span></div>
</div>
<div >
<span ></span><br />
<a name='more'></a><span ><b>Imagenes:</b></span><br />
<div  >
<a href="http://3.bp.blogspot.com/-zTyOlxQsDK0/U9j4cg5u0nI/AAAAAAAABMQ/77M24WJbn6U/s1600/1.png" ><img   src="https://3.bp.blogspot.com/-zTyOlxQsDK0/U9j4cg5u0nI/AAAAAAAABMQ/77M24WJbn6U/s1600/1.png"  /></a></div>
<br />
<div  >
<a href="http://4.bp.blogspot.com/-bnatogLr9Wg/U9j4f75DVWI/AAAAAAAABMY/JPMGkPn2xCI/s1600/2.png" ><img   src="https://4.bp.blogspot.com/-bnatogLr9Wg/U9j4f75DVWI/AAAAAAAABMY/JPMGkPn2xCI/s1600/2.png"  /></a></div>
<br />
<div  >
<a href="http://2.bp.blogspot.com/-snL0BooDEKA/U9j4gTgPKqI/AAAAAAAABMc/XDccu9VkQlk/s1600/3.png" ><img   src="https://2.bp.blogspot.com/-snL0BooDEKA/U9j4gTgPKqI/AAAAAAAABMc/XDccu9VkQlk/s1600/3.png"  /></a></div>
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><b ><br /></b></span>
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><b >Nombre:&nbsp;</b></span><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span >Katawa Shoujo</span></span><br />
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;Eroge</span></span></div>
<div >
<div >
<span ><b >Estudio:</b><span ><span >&nbsp;</span></span></span><span ><span >Four Leaf Studios</span></span></div>
</div>
<div >
<span ><b >&nbsp;Genero:</b><span >&nbsp;Romance, Drama</span></span></div>
<div >
<div >
<b >Subtitulos:</b><span ><span >&nbsp;Español, Frances</span><br /><b >Agradecimientos:</b><span >&nbsp;<b ><a href="http://ksesplatino.blogspot.com/"  target="_blank">Katawa Shoujo</a></b></span></span></div>
<span ><span ><b>Duración:</b>&nbsp;10-30 horas</span></span></div>
<div >
<div >
<div >
<span ><span ><b>Tamaño del archivo:</b>&nbsp;427M</span><span >b</span></span></div>
<div >
<span ><span ><br /></span></span></div>
<div >
<span ><span ><b>Descarga Mediafire:</b></span></span></div>
<div >
<div>
<span ><span ><b><a href="https://controlc.com/6eb44803" target="_blank">Katawa Shoujo</a></b></span></span></div><div><span ><span ><br /></span></span></div></div>
<div>
<b ><span >Instrucciones de&nbsp;instalación:</span></b></div>
<div>
<span ><span >1.- Ejecutar el instalador.<br />2.- Seleccionar español.</span></span></div><div><span ><span >3.- Ejecutar Katawa Shoujo,</span></span></div><div><span ><span >4.- Disfrutar :D.</span></span></div>
</div>
<div >
</div>
</div>
</div>
</div>

  </article>
</Layout>

  