---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Project Dusk`
export const date = '2014-07-27T08:23:00.000-05:00' 
export const updated = '2017-11-09T12:41:34.284-05:00'
export const tags = ["español","sin h",null,"Project Dusk Demo","visualnovelparapc","Doujin"]
export const urlComments = 'http://www.visualnovelparapc.com/2014/07/project-dusk-demo.html#comment-form'
export const cover = 'http://4.bp.blogspot.com/-51oEd8sqTGY/U_OlajMwpKI/AAAAAAAAAEk/TkOp2URb92w/s1600/S1.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<div >
<a href="http://visualnovelparapc.blogspot.com/2014/07/project-dusk-demo.html" >Project Dusk[NovelaVisual][Español]</a></div>
<div >
<span ></span><br />
<div  >
<a href="http://4.bp.blogspot.com/-51oEd8sqTGY/U_OlajMwpKI/AAAAAAAAAEk/TkOp2URb92w/s1600/S1.jpg"  ><img  src="http://4.bp.blogspot.com/-51oEd8sqTGY/U_OlajMwpKI/AAAAAAAAAEk/TkOp2URb92w/s1600/S1.jpg"   /></a></div>
<span ><br /></span>
<span >Tú eres el protagonista de este juego. Al comenzar llegarás al Vacío, donde un extraño niño te contará que tu alma está en ese lugar, como todas las demás. La diferencia es que la tuya tiene el poder de controlar todo ese caos, lo que te permite ayudar a personas de otras realidades paralelas. ¿Estás preparado para hacer un viaje a otra realidad? ¿Serás capaz de controlar tu poder y lo usarás de forma sensata, o lo usarás para lograr tus objetivos sin piedad? Suerte en tu viaje.</span><br />
<a name='more'></a><br />
<b ><span >Imagenes:</span></b><br />
<b ><span ><br /></span></b></div>
<div  >
<a href="http://4.bp.blogspot.com/-h7o-DB0zKzM/U9TYm5djEhI/AAAAAAAABK4/N75L6x9wAL4/s1600/12.jpg"  ><img  src="http://4.bp.blogspot.com/-h7o-DB0zKzM/U9TYm5djEhI/AAAAAAAABK4/N75L6x9wAL4/s1600/12.jpg"   /></a></div>
<div  >
<br /></div>
<div  >
<a href="http://1.bp.blogspot.com/-AMsKDZdFX4k/U_OnTFYcBKI/AAAAAAAAAE4/uQ77U0_pK7c/s1600/S5.jpg"  ><img  src="http://1.bp.blogspot.com/-AMsKDZdFX4k/U_OnTFYcBKI/AAAAAAAAAE4/uQ77U0_pK7c/s1600/S5.jpg"   /></a></div>
<div  >
<br /></div>
<div  >
<a href="http://3.bp.blogspot.com/-qtzWB5LX3hk/U9TYphoZcYI/AAAAAAAABLI/_StTAQo_oyA/s1600/14.jpg"  ><img  src="http://3.bp.blogspot.com/-qtzWB5LX3hk/U9TYphoZcYI/AAAAAAAABLI/_StTAQo_oyA/s1600/14.jpg"   /></a></div>
<div  >
<b ><br /></b></div>
<div  >
<b >Nombre del juego: </b><span >Project Dusk Demo</span></div>
<div >
<span ><span ><b>Tipo:</b> Novela Visual</span></span></div>
<div >
<span ><span ><b>Genero: </b>Misterio, Drama, Sobrenatural</span></span></div>
<div >
<span ><span ><b>Desarrollador:</b> <a href="http://sunsetbirdproject.blogspot.com.es/">Sunset Bird</a>(Sannsweith)</span></span></div>
<div >
<span ><span ><b>Clasificación:</b> +12</span></span></div>
<div >
<span ><span ><b>Duración :</b>&nbsp;&gt; = 2 Horas&nbsp;</span></span></div>
<div >
<span ><span ><b>Plataformas:</b> Windows, Mac OS X, Linux</span></span></div>
<div >
<span ><b>Tamaño del archivo:</b>&nbsp;250M</span><span >b</span></div>
<div >
<span ><br /></span></div>
<div >
<b ><span >Descarga Mega:</span></b></div>
<div >
<div >
<a href="http://freetexthost.com/vftq2i3xw3"  target="_blank"><b>Dusk</b></a></div>
<div>
<span ><br /></span><b >Descarga Mediafire:</b><br />
<span ><b><a href="http://freetexthost.com/kjxs6hul0x">Dusk Demo</a></b></span></div>
</div>
</div>

  </article>
</Layout>

  