---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `La Flor que Crece en la Oscuridad`
export const date = '2014-07-27T08:22:00.001-05:00' 
export const updated = '2017-11-09T12:41:34.463-05:00'
export const tags = ["español","sin h",null,"La Flor que Crece en la Oscuridad","visualnovelparapc","Doujin"]
export const urlComments = 'http://www.visualnovelparapc.com/2014/07/la-flor-que-crece-en-la-oscuridad.html#comment-form'
export const cover = 'http://1.bp.blogspot.com/-4qFFIWC-m9A/U9TdQjoPl3I/AAAAAAAABLQ/0yd7DjXkxRM/s1600/11.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<div >
<a href="http://visualnovelparapc.blogspot.com/2014/07/la-flor-que-crece-en-la-oscuridad.html" >La Flor que Crece en la Oscuridad[NCinetica][Español]</a></div>
<div >
<br /></div>
<div  >
<a href="http://1.bp.blogspot.com/-4qFFIWC-m9A/U9TdQjoPl3I/AAAAAAAABLQ/0yd7DjXkxRM/s1600/11.jpg"  ><img  src="http://1.bp.blogspot.com/-4qFFIWC-m9A/U9TdQjoPl3I/AAAAAAAABLQ/0yd7DjXkxRM/s1600/11.jpg"   /></a></div>
<div  >
<span ><br /></span></div>
<div  >
<span >Sinopsis: Las leyendas sobre los 7 misterios no es nada de otro mundo en las escuelas japonesas, estas tratan sobre relatos perturbadores: hechos paranormales, monstruos, suicidios, homicidios, entre muchos otros tópicos.</span></div>
<div  >
<span ><br /></span></div>
</div>
<div  >
<span >La historia seguirá de cerca a cinco estudiantes los cuales son parte del excéntrico club del periodismo, dicho club esta pasando por un momento difícil debido a la escasez de ideas para el periódico escolar ; esto llevará a los cinco jóvenes a enfrentar las terroríficas historias que rodean a la escuela.</span></div>
<div  >
</div>
<a name='more'></a><div >
<b ><span >Imagenes:</span></b><br />
<b ><span ><br /></span></b></div>
<div  >
<a href="http://1.bp.blogspot.com/-f6yuRqvBPMc/U9TnG1Jh0EI/AAAAAAAABLo/QhPCXv_wNH0/s1600/11.jpg"  ><img  src="http://1.bp.blogspot.com/-f6yuRqvBPMc/U9TnG1Jh0EI/AAAAAAAABLo/QhPCXv_wNH0/s1600/11.jpg"   /></a></div>
<br />
<div  >
<a href="http://4.bp.blogspot.com/-IBLiiKpe7cA/U9TnG4tU_CI/AAAAAAAABLg/LnLuyyajb0Q/s1600/12.jpg"  ><img  src="http://4.bp.blogspot.com/-IBLiiKpe7cA/U9TnG4tU_CI/AAAAAAAABLg/LnLuyyajb0Q/s1600/12.jpg"   /></a></div>
<br />
<div  >
<a href="http://4.bp.blogspot.com/-GTNZIvF4qck/U9TnG_C1U_I/AAAAAAAABLk/4FIcyEeXuyE/s1600/13.jpg"  ><img  src="http://4.bp.blogspot.com/-GTNZIvF4qck/U9TnG_C1U_I/AAAAAAAABLk/4FIcyEeXuyE/s1600/13.jpg"   /></a></div>
<div >
<br /></div>
<br />
<div >
<div >
<span ><b >Nombre:&nbsp;</b></span><span ><span >La Flor que Crece en la Oscuridad</span></span></div>
</div>
<div >
<div >
<span ><b >Tipo<span >:</span></b><span >&nbsp;</span></span><span ><span >Novela Cinética</span></span></div>
<div >
<span ><b ><span >&nbsp;</span>Genero<span >:</span></b><span >&nbsp;</span></span><span ><span >Misterio, Colegial, Drama</span></span></div>
<div >
<b >Subtitulos:</b><span ><span >&nbsp;Español 1 cap</span><br /><b >Desarrollador:</b><span >&nbsp;<b ><a href="http://nerveuskat.blogspot.com.ar/" >Nerveus Kat</a></b></span></span><br />
<span ><b >Clasificacion:</b><span >&nbsp;</span><span >+16</span><span ><br /><b>Duración:</b>&nbsp;30-40 minutos</span></span></div>
<div >
<div >
<span ><span ><b>Tamaño del archivo:</b>&nbsp;194M</span><span >b</span></span></div>
<div >
<span ><span ><br /></span></span></div>
<div >
<b><span >Descarga Mega:</span></b></div>
<div>
<div>
<div >
<b ><a href="https://mega.co.nz/#!jBV1hAAb!rnIBFPE4BUMpBP22Grydds3TFta7Zk9Cg2JTnNP6NAE"  target="_blank">Mega</a></b></div>
<div >
<br /></div>
<span ><span ><b>Actualizacion:</b></span></span><br />
<span ><span ><a href="https://mega.co.nz/#!nUtTDAjD!g3Cp-slY1m5qpJ7lPinkkuT16t4R4NoVoi4OU95RAhw">LFCO 1.1</a></span></span><br />
<div >
<br /></div>
<div >
<span >Nota: El juego solo esta disponible hasta el capitulo 1</span></div>
</div>
</div>
</div>
</div>

  </article>
</Layout>

  