---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Noticias de la pagina`
export const date = '2024-01-03T21:10:00.004-05:00'
export const updated = '2024-01-05T23:53:36.088-05:00'
export const tags = ['Idiomas', 'Aprende Japonés', 'Curso de Verano', 'n5']
export const urlComments =
  'http://www.visualnovelparapc.com/feeds/2081061254807819261/comments/default'
export const cover =
  'https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEikeoWKGniZx_KJ5LpH7k81KCrepgJIioMEkEAoGPSyUSggA709wTxajPpXQaPCNvrNvHZf_UwuTLruf_wsTd2NR6onnM1AdM_QyWvoa8la0djHlvReaSOjJtdH1sAmrG3CT636qZaLQaZ-cXtabSNR-FDJspDU1Kbv_vBZi2TXJOZ7OaBPYO25IwqBPyk/w400-h399/matricula-chi-2.png'
---

<Layout title={title}>
  <article>
    <p>
      <a
        href="http://www.visualnovelparapc.com/2024/01/aprende-japones.html"
        target="_blank">&nbsp;<b>Noticias de Aprende Japonés</b></a
      >
    </p><p>
      <span
        >Hola aquí les saluda su administrador, nuevamente se abre el curso
        japonés desde cero, tendremos clubs de lectura y aprenderemos tanto
        Hiragana, Katakana y Kanji, también incluye los materiales y la
        matricula, todas las clases serán grabadas y publicadas en un aula
        virtual, iniciamos el 15 de enero por zoom, según mi experiencia a las
        personas que les gusta como pasatiempo ver series o contenido japonés se
        le es mucho más fácil tanto pronunciarlo como aprenderlo :).</span
      >
    </p><p><span><br /></span></p><div>
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEikeoWKGniZx_KJ5LpH7k81KCrepgJIioMEkEAoGPSyUSggA709wTxajPpXQaPCNvrNvHZf_UwuTLruf_wsTd2NR6onnM1AdM_QyWvoa8la0djHlvReaSOjJtdH1sAmrG3CT636qZaLQaZ-cXtabSNR-FDJspDU1Kbv_vBZi2TXJOZ7OaBPYO25IwqBPyk/s586/matricula-chi-2.png"
        ><img
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEikeoWKGniZx_KJ5LpH7k81KCrepgJIioMEkEAoGPSyUSggA709wTxajPpXQaPCNvrNvHZf_UwuTLruf_wsTd2NR6onnM1AdM_QyWvoa8la0djHlvReaSOjJtdH1sAmrG3CT636qZaLQaZ-cXtabSNR-FDJspDU1Kbv_vBZi2TXJOZ7OaBPYO25IwqBPyk/w400-h399/matricula-chi-2.png"
        /></a
      >
    </div><p><br /></p><p>
      <span>Pagina de Facebook:&nbsp;</span><a
        href="https://www.facebook.com/profile.php?id=61555395565040"
        target="_blank">Academia Chi<span></span></a
      >
    </p><a name="more"></a><p></p><p>
      <span
        ><span
          ><span
            >Me ayudarían&nbsp;mucho siguiendo la pagina y compartiendo, gracias
            :)</span
          ></span
        ></span
      >
    </p><p>
      <span
        ><span
          >Por ahora enseñamos hasta n5(el nivel más básico de japonés) pero más
          adelante podríamos abrir curso de n4 :).</span
        ></span
      >
    </p><div>
      <a
        href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjfW3Q5mCupyaz6P1iUAqZIWSRB5-d02-fUZsW-pIRGfsfaD3ign8sdfqv3Jk9WM3gRqu9JgqgeAykT3EaFqkyAhYXPo4iHQgxfBdwhZnFQgUQa4GRE_U9T7ywdRYmXN8B0TbNgoq-ocZzu6ONvLg-frgu5fqnwsRC-U0rJi3XiBuVK_KJrDYn-hTUn02A/s709/logo-chi.png"
        ><img
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjfW3Q5mCupyaz6P1iUAqZIWSRB5-d02-fUZsW-pIRGfsfaD3ign8sdfqv3Jk9WM3gRqu9JgqgeAykT3EaFqkyAhYXPo4iHQgxfBdwhZnFQgUQa4GRE_U9T7ywdRYmXN8B0TbNgoq-ocZzu6ONvLg-frgu5fqnwsRC-U0rJi3XiBuVK_KJrDYn-hTUn02A/s320/logo-chi.png"
        /></a
      >
    </div><div>
      <p>
        <span
          >y estoy muy orgulloso de mis alumnos quienes completaron el básico
          1!!</span
        >
      </p>
    </div>
  </article>
</Layout>
