---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Sono Hanabira1 ~ Kissing the petal`
export const date = '2013-10-30T06:30:00.000-07:00'
export const updated = '2018-02-09T02:10:54.169-08:00'
export const tags = [
  'español',
  'sono hanabira ni kuchizuke wo',
  null,
  'yuri',
  'Completo',
  'visualnovelparapc',
  'eroge',
  'novela visual',
  'sono hanabira',
]
export const urlComments =
  'http://www.visualnovelparapc.com/feeds/5312819112862582610/comments/default'
export const cover =
  'https://2.bp.blogspot.com/-zh7jvWQEOcM/WJpEfXgMgHI/AAAAAAAACJE/-w5Va8dVHmARdkV9EpxqCkkAUvDAWYnJQCPcBGAYYCw/s1600/05055.jpg'
---

<Layout>
  <article>
    <div>
      <a
        href="http://visualnovelparapc.blogspot.com/2013/10/sono-hanabira-ni-kuchizuke-wo-un-beso.html"
        target="_blank">Sono Hanabira 1[Eroge][Yuri]</a
      >
    </div><div><br /></div><div>
      <a
        href="https://2.bp.blogspot.com/-zh7jvWQEOcM/WJpEfXgMgHI/AAAAAAAACJE/-w5Va8dVHmARdkV9EpxqCkkAUvDAWYnJQCPcBGAYYCw/s1600/05055.jpg"
        ><img
          src="https://2.bp.blogspot.com/-zh7jvWQEOcM/WJpEfXgMgHI/AAAAAAAACJE/-w5Va8dVHmARdkV9EpxqCkkAUvDAWYnJQCPcBGAYYCw/s1600/05055.jpg"
        /></a
      >
    </div><div><br /></div><div>
      <span
        ><span
          >La historia toma lugar en la academia st. michael, tomando como
          protagonista a una estudiante
        </span><span
          >recien ingresada llamada Nanami que en un accidente en el primer día
          de ingreso conoce a Yuuna una&nbsp;</span
        ><span>honorable estudiante con la cual queda admirada.</span></span
      ><br /><a name="more"></a><br /><span
        ><span>Tras dos meses sin tener contacto con Yuuna escucha&nbsp;</span
        ><span
          >de sus compañeras de clase que sera parte del comite como presidenta,
          Al escuchar esto Nanami decide&nbsp;</span
        ><span
          >unirse como miembro del comite. ¿Que aventuras nos traeran estas dos
          chicas? ¿Podran desarrollar su relación?</span
        ></span
      >
    </div><br /><div></div><div><b><span>Imagenes:</span></b></div><div>
      <a
        href="http://4.bp.blogspot.com/-TIz_WDhJ8pg/UnEHZ8nO2FI/AAAAAAAAAfg/HKDSXGPOUOE/s1600/6.png"
        ><img
          src="https://4.bp.blogspot.com/-TIz_WDhJ8pg/UnEHZ8nO2FI/AAAAAAAAAfg/HKDSXGPOUOE/s400/6.png"
        /></a
      >
    </div><div><br /></div><div>
      <a
        href="http://2.bp.blogspot.com/-W0ZriCHD4xc/UnEHfNK8L_I/AAAAAAAAAfo/kh4LgPzFe9k/s1600/8.png"
        ><img
          src="https://2.bp.blogspot.com/-W0ZriCHD4xc/UnEHfNK8L_I/AAAAAAAAAfo/kh4LgPzFe9k/s400/8.png"
        /></a
      >
    </div><div><br /></div><div>
      <b>Nombre:&nbsp;</b><span><span>Sono Hanabira ni Kuchizuke wo</span></span
      >
    </div><div><span><b>Tipo:</b><span>&nbsp;Eroge</span></span></div><div>
      <span
        ><span
          ><b>Estudio:</b><span><span><span>&nbsp;Fuguriya</span></span></span
          ></span
        ></span
      >
    </div><div>
      <span
        ><span><b>&nbsp;Genero:</b><span>&nbsp;Yuri, Romance, Eroge</span></span
        ></span
      >
    </div><div><span><b>Idioma:&nbsp;</b><span>Japones</span></span></div><div>
      <b>Subtitulos:</b><span
        ><span>&nbsp;Español</span><br /><b>Agradecimientos:</b><span
          >&nbsp;<a href="http://soulhunternofansub.blogspot.com/"
            >Sohulter no Fansub</a
          ></span
        ></span
      ><br /><span><b>Duración:</b> 2-10 horas</span>
    </div><div>
      <span
        ><b>Tamaño del archivo:&nbsp;</b><span>170M</span><span>b</span></span
      >
    </div><div><br /></div><div>
      <div><b><span>Descarga Mega:</span></b></div><div>
        <a href="http://zipteria.com/4969688/sh1-mg" target="_blank"
          >Sono Hanabira 1</a
        ><br /><span><b>contraseña</b><span>:&nbsp;</span></span><span
          >animegame</span
        >
      </div>
    </div><div>
      <span
        ><br /><b><span>Descarga Mediafire:</span></b><br /><a
          href="http://adf.ly/4969688/sonohana1"
          target="_blank">Sono Hanabira 1</a
        ><br /><span>contraseña: animegame</span></span
      ><br /><span><span><br /></span></span>
    </div><div><span><b>Instrucciones de instalacion:</b></span></div><div>
      <span>1.-Ejecutar Hanabira_es</span>
    </div><div>
      <br /><span
        ><span>Posibles problemas</span><br /><span
          >1.-parpadea la ventana y se cierra el juego<br />&nbsp;Solución 1:
          Clic derecho al ejecutable y darle en compatibilidad con xp<br
          />Solución 2: Cambiar la configuración unicode a Japonés y abrir
          "Hanabira"</span
        ></span
      >
    </div>
  </article>
</Layout>
