---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Sono Hanabira1 ~ Kissing the petal`
export const date = '2013-10-30T08:30:00.004-05:00' 
export const updated = '2023-05-04T18:11:24.783-05:00'
export const tags = ["español","sono hanabira ni kuchizuke wo",null,"yuri","Completo","visualnovelparapc","eroge","novela visual","sono hanabira"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/5312819112862582610/comments/default'
export const cover = 'https://2.bp.blogspot.com/-zh7jvWQEOcM/WJpEfXgMgHI/AAAAAAAACJE/-w5Va8dVHmARdkV9EpxqCkkAUvDAWYnJQCPcBGAYYCw/s1600/05055.jpg'

---

<Layout title = {title} >
  <article>
  <div  >
<a href="http://visualnovelparapc.blogspot.com/2013/10/sono-hanabira-ni-kuchizuke-wo-un-beso.html" target="_blank">Sono Hanabira 1[Eroge][Yuri]</a></div>
<div >
<br /></div>
<div  >
<a href="https://2.bp.blogspot.com/-zh7jvWQEOcM/WJpEfXgMgHI/AAAAAAAACJE/-w5Va8dVHmARdkV9EpxqCkkAUvDAWYnJQCPcBGAYYCw/s1600/05055.jpg" ><img    src="https://2.bp.blogspot.com/-zh7jvWQEOcM/WJpEfXgMgHI/AAAAAAAACJE/-w5Va8dVHmARdkV9EpxqCkkAUvDAWYnJQCPcBGAYYCw/s1600/05055.jpg" /></a></div>
<div  >
<br /></div>
<div >
<span ><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif">La historia toma lugar en la academia st. michael, tomando como protagonista a una estudiante </span><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif">recien ingresada llamada Nanami que en un accidente en el primer día de ingreso conoce a Yuuna una&nbsp;</span><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif">honorable estudiante con la cual queda admirada.</span></span><br />
<a name='more'></a><br />
<span ><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif">Tras dos meses sin tener contacto con Yuuna escucha&nbsp;</span><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif">de sus compañeras de clase que sera parte del comite como presidenta, Al escuchar esto Nanami decide&nbsp;</span><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif">unirse como miembro del comite. ¿Que aventuras nos traeran estas dos chicas? ¿Podran desarrollar su relación?</span></span></div>
<br />
<div >
</div>
<div >
<b ><span >Imagenes:</span></b></div>
<div  >
<a href="http://4.bp.blogspot.com/-TIz_WDhJ8pg/UnEHZ8nO2FI/AAAAAAAAAfg/HKDSXGPOUOE/s1600/6.png" ><img   src="https://4.bp.blogspot.com/-TIz_WDhJ8pg/UnEHZ8nO2FI/AAAAAAAAAfg/HKDSXGPOUOE/s400/6.png"  /></a></div>
<div  >
<br /></div>
<div  >
<a href="http://2.bp.blogspot.com/-W0ZriCHD4xc/UnEHfNK8L_I/AAAAAAAAAfo/kh4LgPzFe9k/s1600/8.png" ><img   src="https://2.bp.blogspot.com/-W0ZriCHD4xc/UnEHfNK8L_I/AAAAAAAAAfo/kh4LgPzFe9k/s400/8.png"  /></a></div>
<div >
<br /></div>
<div >
<b >Nombre:&nbsp;</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span >Sono Hanabira ni Kuchizuke wo</span></span></div>
<div >
<span ><b >Tipo:</b><span >&nbsp;Eroge</span></span></div>
<div >
<span ><span ><b >Estudio:</b><span ><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >&nbsp;Fuguriya</span></span></span></span></span></div>
<div >
<span ><span ><b >&nbsp;Genero:</b><span >&nbsp;Yuri, Romance, Eroge</span></span></span></div>
<div >
<span ><b >Idioma:&nbsp;</b><span >Japones</span></span></div>
<div >
<b >Subtitulos:</b><span ><span >&nbsp;Español</span><br /><b >Agradecimientos:</b><span >&nbsp;<a href="http://soulhunternofansub.blogspot.com/">Sohulter no Fansub</a></span></span><br />
<span ><b>Duración:</b> 2-10 horas</span></div>
<div >
<span ><b >Tamaño del archivo:&nbsp;</b><span >170M</span><span >b</span></span></div>
<div ><br /></div><div ><span ><b><span >Descarga Mediafire:</span></b><br /><a href="https://ouo.io/1x2bIM" target="_blank">Sono Hanabira 1</a><br /><span >contraseña: animegame</span></span><br />
<span ><span ><br /></span></span></div>
<div >
<span ><b >Instrucciones de instalacion:</b></span></div><div ><span ><div >1.- Cambiar la conf. unicode a japones(Panel de control\Reloj, idioma y region\</div></span></div><div ><span ><div >&nbsp; &nbsp; Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc) o usar Locale Emulator.</div><div >2.-Ejecutar Hanabira_es</div></span></div>
<div >
<br />
<span ><span >Posibles problemas</span><br /><span >1.-parpadea la ventana y se cierra el juego<br />&nbsp;Solución 1: Clic derecho al ejecutable y darle en compatibilidad con xp<br /></span></span></div>

  </article>
</Layout>

  