---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Moon.`
export const date = '2013-10-30T08:04:00.001-05:00' 
export const updated = '2023-04-28T12:39:34.626-05:00'
export const tags = ["español","moon.dvd",null,"Completo","visualnovelparapc","eroge","novela visual","moon"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/3337188416613560413/comments/default'
export const cover = 'https://2.bp.blogspot.com/-cuXiSyBB838/UnD8KOBSrDI/AAAAAAAAAes/R_QuzQAGzOs/s1600/5.jpg'

---

<Layout title = {title} >
  <article>
  <div  >
<a href="http://visualnovelparapc.blogspot.com/2013/10/moondvd.html" target="_blank">Moon.Dvd[NovelaVisual][Eroge]</a></div>
<div  >
<br /></div>
<div  >
<a href="http://2.bp.blogspot.com/-cuXiSyBB838/UnD8KOBSrDI/AAAAAAAAAes/R_QuzQAGzOs/s1600/5.jpg" ><img  src="https://2.bp.blogspot.com/-cuXiSyBB838/UnD8KOBSrDI/AAAAAAAAAes/R_QuzQAGzOs/s1600/5.jpg" /></a></div>
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" ></span><br />
<div >
<div >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" ><span >El personaje principal, Amasawa Ikumi (una de las pocas mujeres protagonistas en NV)&nbsp;</span></span><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >se une a la organización Fargo con el fin de descubrir la verdad detrás de la misteriosa&nbsp;</span><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >muerte de su madre.&nbsp;</span></div>
<a name='more'></a><br />
<div >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >En su primer día conoce a Mima Haruka y Nakura Yui, otras dos chicas&nbsp;</span><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >que venían a recuperar miembros de su familia que se encontraban dentro de la organización.&nbsp;</span><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >A medida que las tres comienzan a recibir el extraño y cruel entrenamiento de Fargo&nbsp;</span><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >(que hacen pasar por “fortalecimiento mental”), lentamente comienzan a descubrir la verdadera&nbsp;</span><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >naturaleza de la organización y las muertes que ha causado.</span></div>
<div  >
<br /></div>
<div  >
<b><span >Imagenes</span></b>:</div>
<div  >
<a href="http://1.bp.blogspot.com/-gvg9LYg5ego/UnD-8eU8DAI/AAAAAAAAAe0/P0KHzOnDGDo/s1600/6.jpg" ><img   src="https://1.bp.blogspot.com/-gvg9LYg5ego/UnD-8eU8DAI/AAAAAAAAAe0/P0KHzOnDGDo/s400/6.jpg"  /></a></div>
<br />
<div  >
<a href="http://1.bp.blogspot.com/-4IwZH476CKw/UnD--bgXJjI/AAAAAAAAAe8/njI7WBAlNh0/s1600/7.jpg" ><img   src="https://1.bp.blogspot.com/-4IwZH476CKw/UnD--bgXJjI/AAAAAAAAAe8/njI7WBAlNh0/s400/7.jpg"  /></a></div>
<br />
<div  >
<a href="http://4.bp.blogspot.com/-CkGv_PsKeQM/UnD_AIWELXI/AAAAAAAAAfE/d1G98Mt6T0w/s1600/8.jpg" ><img   src="https://4.bp.blogspot.com/-CkGv_PsKeQM/UnD_AIWELXI/AAAAAAAAAfE/d1G98Mt6T0w/s400/8.jpg"  /></a></div>
<br />
<div >
<b >Nombre: </b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >Moon.Dvd</span></div>
<div >
<span ><b >Tipo:</b><span >&nbsp;Eroge</span></span></div>
<div >
<span ><span ><b >Estudio:</b><span ><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >&nbsp;</span></span><span ><span >Tactics, key</span></span></span></span></span></div>
<div >
<span ><span ><b >&nbsp;Genero:</b><span >&nbsp;Horror, Psicologico, Eroge</span></span></span></div>
<div >
<span ><b >Idioma:&nbsp;</b><span >Japonés</span></span></div>
<div >
<div >
<b >Subtitulos:</b><span ><span >&nbsp;Español</span></span></div>
<div >
<span ><b >Agradecimientos:</b><span > </span><span ><a href="http://07thinquisition.foroactivo.com/" >07th inquisition</a></span></span></div>
<b >Duración:</b><span >&nbsp;10-30 horas</span></div>
<div >
<span ><b >Tamaño del archivo:&nbsp;</b><span >1.3G</span><span >b</span></span></div>
<div>
<br />
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" ><b><span >Es necesario cambiar la configuración regional a japonés. Soluciones alternativas como el AppLocale no funcionaran.</span></b></span><br /><div><br />
<div>
<b><span >Descarga Mediafire:</span></b></div>
<div>
<a href="https://ouo.io/2khBq5" target="_blank">Moon.Dvd</a><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b >contraseña</b><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span></div>
<b><span ><br />Parche:</span></b><br />
<a href="http://www.mediafire.com/download/wr43za82hz1lzcg/%5B07Inq%26KeySF%5D_MOON_Esp_v1.0a_.exe" target="_blank">Mediafire</a><br />
<br /></div>
<div>
<b ><span >Instrucciones de&nbsp;instalación:</span></b><br />
<div >
<span face="&quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , &quot;lucida grande&quot; , &quot;tahoma&quot; , &quot;verdana&quot; , &quot;arial&quot; , sans-serif" ><span >1.- Descargar&nbsp;</span><span ><a href="https://mega.nz/file/Yzhn0TgD#NqelOee2M5ke-hBJcdwpLHiXhFyCeMMeT5_builPzTs" target="_blank">Daemon Tools</a>&nbsp;</span></span><br />
<span face="&quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , &quot;lucida grande&quot; , &quot;tahoma&quot; , &quot;verdana&quot; , &quot;arial&quot; , sans-serif" >2.- Cambiar El Idioma Regional A Nuestra PC/Laptop</span></div>
<div >
<div >
<span >Ir a panel de control y seleccionar "Configuración Regional y de Idioma" Seleccionar la pestaña "Administrativo" y ahi seleccionar "Cambiar configuración regional del sistema" y escoger "Japonés" y reiniciar.</span></div>
</div>
</div>
</div>
<div >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" ><span >3.- Montamos con daemon tools y instalamos&nbsp;</span></span></div>
<div >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" ><span >4.- Ir a C:\Program Files\nexton\moon y extraer el parche "[07Inq&amp;KeySF]_MOON_Esp_v1.0a_"&nbsp;</span></span></div>
<div >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >4.-Instalar el parche.<br />4.- Clic derecho a moon en propiedades marcar compatibilidad xp.<br />5.- Ejecutar Moon_esp.<br />6.- Disfrutar :D</span></div><div ><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" ><br /></span></div>
<div >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >Nota: Es recomendable jugarlo en modo ventana(alt+enter)</span></div>
</div>
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >
</span>
  </article>
</Layout>

  