---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Fate Stay Night~Crucis Fatal Fake`
export const date = '2013-10-24T06:42:00.000-05:00' 
export const updated = '2017-11-09T12:42:06.414-05:00'
export const tags = ["fate stay night crucis faltal fake",null,"visualnovelparapc","fate stay night","crucis fatal fake","arcade"]
export const urlComments = 'http://www.visualnovelparapc.com/2013/10/fate-stay-night-crucis-fatal-fake.html#comment-form'
export const cover = 'http://3.bp.blogspot.com/-27po3KMhEvE/Umj3IYRzS5I/AAAAAAAAAaM/ecYnux9cU2w/s1600/6.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2013/10/fate-stay-night-crucis-fatal-fake.html">Fate Stay Night-Crucis Fatal Fake</a></div>
<div >
<br /></div>
<div  >
<a href="http://3.bp.blogspot.com/-27po3KMhEvE/Umj3IYRzS5I/AAAAAAAAAaM/ecYnux9cU2w/s1600/6.jpg"  ><img  src="http://3.bp.blogspot.com/-27po3KMhEvE/Umj3IYRzS5I/AAAAAAAAAaM/ecYnux9cU2w/s1600/6.jpg" /></a></div>
<div  >
<br /></div>
<div  >
<span ><span >Crucis Fatal Fake se trata de una mejora al anterior Fatal Fake (el primer juego de peleas con los personajes de Fate/Stay Night en 3D con la tecnica cel-shading realizado por un circulo doujin).</span><br  /><span >Donde podres encontra un buen numero de mejoras tanto en el apartado grafico como el gameplay, la posibilidad de jugar tanto con Masters y Servants como el nuevo modo online para garantizar horas y horas de divertidas retas en linea.&nbsp;</span></span></div>
<a name='more'></a><div >
<span ><span ><span ><br /></span></span></span>
<span ><span ><span >Crucis se trata de la nueva version del ya conocido fatal fake, entre las notables mejoras se encuentran el añadir voces a los personajes mas calidad en el celshading y al parecer el modo de juego sera por equipos.</span><span >&nbsp;</span></span></span></div>
<span >
</span><span ></span>
<br />
<div >
<span ><span >Fatal Fake es un juego de lucha arcade que nos permite manejar a cada uno de los servants que aparecen en el Visual Novel y Anime de Fate Stay Night (los 7 servants más Gilgamesh y True Assassin).&nbsp;</span></span></div>
<span >
</span><span ></span>
<br />
<div >
<span ><span >El si</span><span >stema de juego es bastante simple. Tenemos 3 botones de ataque (A, B y C) y un botón especial que puede servir para irse hacia los lados o para ejecutar un movimiento del command list (D). Es bastante fácil hacer combos en este juego, aunque los especiales son más complicados de hacer que en otros juegos de lucha. Cada uno de los servants tiene su propio manejo y sus propios ataques especiales que son patentes en el Visual Novel (ya que el anime no muestra todas las habilidades de todos los Servants).&nbsp;</span></span></div>
<span >
</span><span ></span>
<div >
<span ><span >de m</span><span >odos de juego tenemos el Arcade, el Versus y el Training, pero también tenemos la posibilidad de guardar replays de combates o de trainings</span><span >.&nbsp;</span></span></div>
<span >
</span><span ><div >
<div >
Un juego de lucha bastante entretenido que no debería perderse ningún fan de Fate Stay Night.</div>
<b ><span ><br /></span></b>
<b ><span >Imagenes:</span></b><br />
<div  >
<a href="http://2.bp.blogspot.com/-5HigXRs2CkY/UmkDxkFWP6I/AAAAAAAAAas/9qFBojAB7Tw/s1600/6.jpg"  ><img   src="http://2.bp.blogspot.com/-5HigXRs2CkY/UmkDxkFWP6I/AAAAAAAAAas/9qFBojAB7Tw/s400/6.jpg"  /></a></div>
<br /></div>
</span><br />
<div  >
<a href="http://4.bp.blogspot.com/-XV_NclHF9l4/UmkJofxm9xI/AAAAAAAAAbA/Qa5WgS__8IE/s1600/7.jpg"  ><img   src="http://4.bp.blogspot.com/-XV_NclHF9l4/UmkJofxm9xI/AAAAAAAAAbA/Qa5WgS__8IE/s400/7.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<span ><b >Nombre:&nbsp;</b><span >Fate Stay Night-Crucis Fatal Fake</span></span></div>
<div >
<span ><b >Tipo:</b><span >&nbsp;Arcade</span></span></div>
<div >
<span ><span ><b >Estudio:</b><span ><span ><span >&nbsp;</span></span><span ><span >Light`s</span></span></span></span></span></div>
<div >
<span ><span ><b >&nbsp;Genero:</b><span > Peleas, Luchas</span></span></span></div>
<div >
<span ><b >Idioma:&nbsp;</b><span >Japones</span></span></div>
<div >
<span ><b >Subtitulos:</b><span >&nbsp;Ingles</span></span></div>
<div >
<span ><b >Tamaño del archivo:&nbsp;</b><span >352Mb</span></span></div>
<div >
<br />
<div>
<b><span >Descarga Mega:</span></b></div>
<div>
<a href="http://adf.ly/Y6pRc" >Crucis Fatal Fake</a><br />
<span ><b >contraseña</b><span >:&nbsp;</span></span><span >animegame</span><br />
<div >
<span ><span >Esperen a que termine el tiempo de re-cargado de pagina y&nbsp;</span></span></div>
<div >
<span ><span >le dan&nbsp;clic&nbsp;a:&nbsp;</span><span >Saltar Publicidad</span></span></div>
</div>
<div>
<b ><span ><br /></span></b>
<b ><span >Instrucciones de&nbsp;instalación:</span></b></div>
<div>
<span >1.-entrar en la carpeta "data" ejecutar "ff2" y jugar</span><br />
<span >Nota: si quieres cambiar la configuracion de video ejecuta"FF2Launcher",si quieres cambiar el teclado&nbsp;</span><span >ejecuta "Padconfig"&nbsp;</span></div>
<br /></div>

  </article>
</Layout>

  