---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Digital a Love Story`
export const date = '2013-10-20T05:41:00.000-05:00' 
export const updated = '2017-11-09T12:42:06.302-05:00'
export const tags = ["Digital a love story",null,"visualnovelparapc"]
export const urlComments = 'http://www.visualnovelparapc.com/2013/10/digital-love-story.html#comment-form'
export const cover = 'http://4.bp.blogspot.com/-URf6gJ8fc9Q/U0J9BZ9uWaI/AAAAAAAABEE/9sVlWh_XEwU/s1600/1.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2014/04/digital-love-story.html">Digital a Love Story[NovelaVisual][Español]</a></div>
<div >
<br /></div>
<div  >
<a href="http://4.bp.blogspot.com/-URf6gJ8fc9Q/U0J9BZ9uWaI/AAAAAAAABEE/9sVlWh_XEwU/s1600/1.jpg"  ><img  src="http://4.bp.blogspot.com/-URf6gJ8fc9Q/U0J9BZ9uWaI/AAAAAAAABEE/9sVlWh_XEwU/s1600/1.jpg"   /></a></div>
<div  >
<br /></div>
<div  >
<span >Una corta VN presentada casi en su totalidad a través de conversaciones BBS.</span></div>
<a name='more'></a><br />
<div >
<b ><span >Imagenes:</span></b></div>
<div >
<b ><span ><br /></span></b></div>
<div  >
<a href="http://4.bp.blogspot.com/-ZGQQp_jDEAU/U0J-zaXth2I/AAAAAAAABEQ/f_QXimviQes/s1600/2.jpg"  ><img  src="http://4.bp.blogspot.com/-ZGQQp_jDEAU/U0J-zaXth2I/AAAAAAAABEQ/f_QXimviQes/s1600/2.jpg"   /></a></div>
<div  >
<br /></div>
<div  >
<a href="http://4.bp.blogspot.com/-Y170NJL8YVw/U0J-0ERVWrI/AAAAAAAABEY/3Kh8SJxmZZk/s1600/3.png"  ><img  src="http://4.bp.blogspot.com/-Y170NJL8YVw/U0J-0ERVWrI/AAAAAAAABEY/3Kh8SJxmZZk/s1600/3.png"   /></a></div>
<div >
<b ><span ><br /></span></b></div>
<div  >
<span ><b >Nombre:&nbsp;</b><span >Digital a Love Story</span></span></div>
<div >
<span ></span></div>
<div >
<div >
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;</span><span ><span >Novela Visual</span></span></span></div>
</div>
<div >
<span ><span ><span ><b>Genero:</b>&nbsp;</span></span></span><span ><span >Romance</span></span></div>
<div >
<span ><span ><b>Estudio:&nbsp;</b>Christina</span></span></div>
</div>
<div >
<div >
<div >
<div >
<span ><b >Subtítulos:</b><span >&nbsp;Español<br /><b>Agradecimientos: </b><u>H</u></span></span><span ><span >eroe Anonimo</span></span><br />
<span ><b>Duración:</b>&nbsp;2-10 horas</span></div>
</div>
</div>
<div >
<div >
<span ><b >Tamaño del Archivo:&nbsp;</b><span ><span >35Mb</span></span></span><br />
<span ><span ><span ><br /></span></span></span>
<span ><span ><span ><b>Descarga Mega:</b></span><br /><span ><a href="http://www.mediafire.com/download/6czu73d4ainxx2d/Digital%3B+A+love+Story+%28Versi%C3%B3n+Final%29.rar" target="_blank">Digital a Love Story</a></span></span></span><br />
<b >contraseña:</b><span ><span >&nbsp;animegame</span></span><br />
<span ><span ><br /></span></span>
<span ><b >Instrucciones de instalación:</b></span><br />
<span ><span >1.- Ejecutar "Digital"</span></span></div>
</div>
</div>
</div>

  </article>
</Layout>

  