---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Tsukihime Plus-Disc`
export const date = '2013-10-14T18:47:00.000-05:00' 
export const updated = '2018-03-27T23:38:37.541-05:00'
export const tags = ["sin h",null,"tsukihime","tsukihime plus+disc","Completo","visualnovelparapc","novela visual","tsukihime plus disc"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/391645873969812006/comments/default'
export const cover = 'https://3.bp.blogspot.com/-NATA9K2qVXs/UlyBR8mjhrI/AAAAAAAAAUE/O7io6CP_s04/s400/Tsukihime+Plus+Disc.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2013/10/tsukihimeplus-disc.html" target="_blank">Tsukihime Plus-Disc[Novela Visual]</a></div>
<div >
<br /></div>
<div  >
<a href="http://3.bp.blogspot.com/-NATA9K2qVXs/UlyBR8mjhrI/AAAAAAAAAUE/O7io6CP_s04/s1600/Tsukihime+Plus+Disc.jpg"  ><img   src="https://3.bp.blogspot.com/-NATA9K2qVXs/UlyBR8mjhrI/AAAAAAAAAUE/O7io6CP_s04/s400/Tsukihime+Plus+Disc.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<span >Este es un fan disc de Tsukihime que incluye una corta historía de la novela original, dos omakes y otros extras para fans.&nbsp;</span></div>
<div  >
</div>
<a name='more'></a><br />
<div  >
<span >Akira Seo, un estudiante de Akiha Tohno de Tsukihime, se familiariza con alguien que se hace llamar Shiki Tohno, y juntos se disponen a resolver el misterio de una serie de asesinatos recientes.</span></div>
<div  >
<span ><br /></span></div>
<div  >
<span >Este fandisc es</span><span >&nbsp;solo para quienes hayan completado tsukihime con todas las rutas</span><span >, ya que contiene muchísimos spoilers de toda la historia y sus finales. Si no lo has jugado visita el siguiente enlace <a href="http://visualnovelparapc.blogspot.com/2013/10/tsukihime-la-princesa-lunar.html" target="_blank">Tsukihime[Español]</a>.</span></div>
<div  >
<span ><br /></span></div>
<div  >
<span >Secuela <a href="https://visualnovelparapc.blogspot.com/2013/10/kagetsu-tohya.html" target="_blank">Kagetsu Tohya[Español]</a></span></div>
<div >
<br />
<b >Imagenes:</b><br />
<div  >
<a href="https://4.bp.blogspot.com/-TJTSLzLpRts/WnPatGQp8GI/AAAAAAAACvA/pKLK8MvmD0gUZRYQFqMTp9S6x7Iu01JyACLcBGAs/s1600/11.jpg"  ><img     src="https://4.bp.blogspot.com/-TJTSLzLpRts/WnPatGQp8GI/AAAAAAAACvA/pKLK8MvmD0gUZRYQFqMTp9S6x7Iu01JyACLcBGAs/s320/11.jpg"  /></a></div>
<br />
<div  >
<a href="https://2.bp.blogspot.com/-VnByq0tmBaA/WnPatbACkJI/AAAAAAAACvE/Ne3KY9hPacYKiJF_Ss0H4T0tBrM0np_YwCLcBGAs/s1600/22.jpg"  ><img     src="https://2.bp.blogspot.com/-VnByq0tmBaA/WnPatbACkJI/AAAAAAAACvE/Ne3KY9hPacYKiJF_Ss0H4T0tBrM0np_YwCLcBGAs/s320/22.jpg"  /></a></div>
<div  >
<br /></div>
</div>
<div >
<span ><b >Nombre:&nbsp;</b><span >Tsukihime Plus-Disc</span></span></div>
<div >
<span ><b >Tipo:</b><span >&nbsp;Novela Visual</span></span></div>
<div >
<span ><span ><b >Estudio: </b><span >&nbsp;TYPE-MOON</span></span></span></div>
<div >
<span ><span ><b >&nbsp;Genero: </b><span >Acción</span><b >,&nbsp;</b><span >Sobrenatural, Romance,</span></span></span></div>
<div >
<span ><b >Subtítulos:</b><span >&nbsp;Español Completo</span></span><br />
<span ><span ><b>Agradecimientos:</b><a href="http://07thinquisition.foroactivo.com/" target="_blank"> 07th inquisition</a></span></span><br />
<span ><span ><b>Duración:</b> &gt;2 horas</span></span><br />
<span ><b >Tamaño del archivo:&nbsp;</b><span >124</span></span><span >MB</span></div>
<div >
<br /></div>
<div >
<div >
<span ><b>Descarga Mega:</b><span ></span></span></div>
<span ><a href="https://mega.nz/#!KF1BEK4C!UBXEf1zxK_mwTtS2ly7cmEv_QmsaqhC1vIypEofpXlI" target="_blank"><b>Tsukihime Plus-Disc</b></a></span><br />
<span ><b >contraseña</b><span >:&nbsp;</span></span><span >animegame</span><br />



<br />
<div >
<span ><b>Descarga Mediafire:</b><span ></span></span></div>
<span ><b><a href="http://www.mediafire.com/file/hcu6r3ww7tpnmui/Tsukihime%2Bplus.exe" target="_blank">Tsukihime Plus-Disc</a></b></span><br />
<span ><b >contraseña</b><span >:&nbsp;</span></span><span >animegame</span></div>
<div >
<div  >
<b><span ><br />Instrucciones de&nbsp;instalación:</span></b></div>
</div>
<div >
<span >1.-Abrir la carpeta "Fuente"</span></div>
<div >
<span >2.- Instalar "monakrkr" (esto es para instalar un tipo de fuente)</span></div>
<div >
<span >3.- Ejecutamos como administrador "Plus-disc"</span><br />
<span >4.- Disfrutar :D</span></div>

  </article>
</Layout>

  