---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Umineko:Ougon Musou Kyoku+Cross`
export const date = '2013-10-12T19:00:00.001-05:00' 
export const updated = '2023-04-28T12:51:08.639-05:00'
export const tags = ["umineko",null,"visualnovelparapc","ougon musou","arcade","umineko no naku koro ni"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/3658591726179053984/comments/default'
export const cover = 'http://1.bp.blogspot.com/-MwNhb9xcRmg/UlneTAWSh0I/AAAAAAAAAT0/Y2pW7nxlGR0/s1600/6.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2013/10/uminekoougon-musou-kyokucross.html">Umineko:Ougon Musou Kyoku+Cross</a></div>
<div >
<br /></div>
<div  >
<a href="http://1.bp.blogspot.com/-MwNhb9xcRmg/UlneTAWSh0I/AAAAAAAAAT0/Y2pW7nxlGR0/s1600/6.jpg" ><img  src="http://1.bp.blogspot.com/-MwNhb9xcRmg/UlneTAWSh0I/AAAAAAAAAT0/Y2pW7nxlGR0/s1600/6.jpg" /></a></div>
<div  >
<br /></div>
<div  >
</div>
<div  >
<span >Ougon Musou Kyoku es un juego de lucha en 2D basado en dos novelas visuales de 07th-Expansion: Umineko no Naku Koro ni y Umineko no Naku Koro ni Chiru, la primera fue lanzada en anime el 2009.</span></div>
<div  >
<span >La historia de la novela visual cuenta sobre un grupo de dieciocho personas que quedan atrapadas en una isla (Rokkenjima), y los misteriosos y macabros sucesos que en torno a ella ocurren.&nbsp;Después&nbsp;del primer desenlace comienza un juego en el que Battler Ushiromiya y la Bruja Dorada, Beatrice compiten, él por probar que todos los asesinatos pudieron ser cometidos por un humano mientras ella intenta probar que fueron cometidos utilizando magia.</span></div>
<div  >
<span >En Ougon Musou Kyoku Cross la historia en el modo arcade varia dependiendo de los dos personajes que escojamos, continuando el juego de Battler y Beato, dándole un final definitivo, reviviendo la historia de alguno de los 8 juegos o alguna historia alternativa (generalmente de comedia).</span></div>
<div  >
<span ></span></div>
<a name='more'></a><div ><div ><br /></div></div><div ><div >
<b >Imagenes:</b><br />
<div  >
<a href="http://3.bp.blogspot.com/-aFc5j2093WY/UmdIxVVmGvI/AAAAAAAAAX8/5TgBfTYrCPQ/s1600/5.jpg" ><img  src="http://3.bp.blogspot.com/-aFc5j2093WY/UmdIxVVmGvI/AAAAAAAAAX8/5TgBfTYrCPQ/s1600/5.jpg" /></a></div>
<div  >
<br /></div>
<div  >
<a href="http://1.bp.blogspot.com/-ZoPJSWzobEg/UmdI08KzRKI/AAAAAAAAAYE/dJcFXILV1dc/s1600/6.jpg" ><img  src="http://1.bp.blogspot.com/-ZoPJSWzobEg/UmdI08KzRKI/AAAAAAAAAYE/dJcFXILV1dc/s1600/6.jpg" /></a></div>
<div  >
<br /></div>
</div>
<div  >
<span ><span face="Arial, Helvetica, sans-serif"><span face="'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif" ><b>Nombre:</b>&nbsp;</span><span face="'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif">Ougon Musou Kyoku+</span></span><span face="Arial, Helvetica, sans-serif">Cross</span></span></div>
<div >
<div >
<div >
<div >
<div >
<span face="Arial, Helvetica, sans-serif" ><span ><span face="'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif" ><b>Genero:</b></span><span face="'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif" >&nbsp;</span><span face="'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif"><span >Plataforma</span></span></span></span></div>
</div>
</div>
</div>
</div>
<div >
<div >
<div >
<div >
<div >
<span face="Arial, Helvetica, sans-serif" ><span ><span face="'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif" >&nbsp; &nbsp;<b>Estudio:</b>&nbsp;</span><span >07th-Expansion</span></span></span></div>
</div>
</div>
</div>
</div>
<div >
<div >
<div >
<div >
<div >
<span face="Arial, Helvetica, sans-serif" ><span ><span face="'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif" ><b>Idioma:</b></span><span face="'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif" ><span >&nbsp;</span>japones</span></span></span></div>
</div>
</div>
</div>
<div >
<div >
<div >
<div >
<div >
<span face="Arial, Helvetica, sans-serif" ><span face="'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif" ><span ><b>Tamaño del Archivo:</b>&nbsp;2Gb</span></span></span></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div >
<div >
<span ><br /></span></div>
</div>
<div >
<div >
<b><span >Descarga Mega:</span></b></div>
</div>
<div >
<div >
<span face="Helvetica Neue Light, HelveticaNeue-Light, Helvetica Neue, Helvetica, Arial, sans-serif"><span ><a href="https://mega.nz/#F!U5ZWCTiT!CGakA0jIaRJHwIOgoqoEDw" target="_blank"><b>Mega</b></a></span></span></div>
</div>
<div >
<div >
<div ><br /></div></div><div ><div >
<span ><b>Opening:</b></span></div></div><div ><div ><div  ><iframe allowfullscreen=""   src="https://www.youtube.com/embed/bdq86_WVzmo"  youtube-src-id="bdq86_WVzmo"></iframe></div><div  ><br /></div><div  ><div  ><span >Controles:</span></div><div  ><span >Z: Golpe débil, aceptar en el menú.</span></div><div  ><span >X: Golpe medio, cancelar en el menú, elegir color alternativo en selección de PJ.</span></div><div  ><span >C = Golpe fuerte.</span></div><div  ><span >W: Reiniciar juego, pausa en combate.</span></div><div  ><span >S: Cambiar PJ en combate.</span></div><div  ><span >Shift IZQ: Burla (cura un poco de salud, pero te deja vulnerable un momento).</span></div><div  ><span >Esc: Cerrar juego en cualquier momento (ojo no pide confirmación).</span></div><div  ><span >ZXC: Meta Mundo (1SP), negar Meta Mundo oponente (2SP), negar negación oponente (2SP, al tener un máximo de 5 SP se puede hasta dos veces ya sea usando 4 en total para negar o 5 para defender el tuyo)</span></div></div>
</div>
</div>
</div>

  </article>
</Layout>

  