---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Divi Dead`
export const date = '2013-10-09T19:31:00.001-05:00' 
export const updated = '2018-02-10T20:57:29.930-05:00'
export const tags = ["español",null,"Completo","divi dead","visualnovelparapc","eroge","dividead"]
export const urlComments = 'http://www.visualnovelparapc.com/2013/10/divi-dead.html#comment-form'
export const cover = 'https://4.bp.blogspot.com/-sJiAqUp5CJY/WJd3VkRefqI/AAAAAAAACB8/qBv6LtzAx-wkEMVR5LYTsnJsgtEhpyprQCPcBGAYYCw/s1600/55344.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2013/10/divi-dead.html" target="_blank">Divi Dead[Novela Visual][Eroge]</a></div>
<div >
<br /></div>
<div  >
<a href="https://4.bp.blogspot.com/-sJiAqUp5CJY/WJd3VkRefqI/AAAAAAAACB8/qBv6LtzAx-wkEMVR5LYTsnJsgtEhpyprQCPcBGAYYCw/s1600/55344.jpg"  ><img    src="https://4.bp.blogspot.com/-sJiAqUp5CJY/WJd3VkRefqI/AAAAAAAACB8/qBv6LtzAx-wkEMVR5LYTsnJsgtEhpyprQCPcBGAYYCw/s1600/55344.jpg" /></a></div>
<div  >
<br /></div>
<div >
<span >La vida de Ranmaru Hibikiya ha sido muy dura. Postrado en cama desde niño a causa de una extraña enfermedad, ha pasado la mayor parte de su vida solo, drogado y preguntándose si llegaría a la adultez. Ahora sin embargo, las cosas está empezando a mejorar. Su salud ha mejorado y únicamente experimenta algún ataque ocasionalmente. Además, se ha trasladado para estudiar a la distinguida escuela de su tío: la escuela privada Asao.</span></div>
<div >
<span ><br />Sin embargo, el tío de Ranmaru, un hombre bastante misterioso, trasladó a Ranmaru para que le sirviera como espía. Ranmaru empieza una inofensiva investigación sin esperar encontrar nada importan</span><span >te. Sin embargo, no tardará en verse envuelto en sucesos horribles y sobrenaturales que podrían reclamar su vida en cualquier momento.</span><br />
<a name='more'></a></div>
<div >
<span ><b><span ><span ><br />Imagenes:</span></span></b></span><br />
<div  >
<a href="http://2.bp.blogspot.com/-CDxcmbvkvY4/UmdZgvNKYmI/AAAAAAAAAYk/9Vl4fAAbK3A/s1600/5.png"  ><img   src="https://2.bp.blogspot.com/-CDxcmbvkvY4/UmdZgvNKYmI/AAAAAAAAAYk/9Vl4fAAbK3A/s400/5.png"  /></a></div>
<br />
<span ><b >Nombre:&nbsp;</b><span >Divi</span></span><span > Dead</span></div>
<div >
<div >
<div >
<span ><b>Genero:</b>&nbsp;Eroge</span></div>
<div >
<span ><span ><b>Estudio:</b>&nbsp;</span><span ><span >C's Ware</span></span></span></div>
<div >
<span ><span ><b>Genero:</b>&nbsp;</span><span ><span >Horror, Sobrenatural, Eroge</span></span></span></div>
<div >
<span ><span ><b>Año:</b>&nbsp;</span><span ><span >1998</span></span></span></div>
<div >
<span ><b>Idioma:&nbsp;</b>Japones</span></div>
<div >
<span ><b>Subtitulos:</b>&nbsp;Español<br /><b>Agradecimientos</b>:&nbsp;<a href="http://kameb.galeon.com/">kameb</a></span></div>
<div >
<div >
<span ><b>Tamaño del archivo:&nbsp;</b>303mb</span></div>
<div >
<div >
<b><span ><br /></span></b></div>
</div>
<div >
<div >
<span ><b><span >Descarga Mega:</span></b><br /><b ><span ><a href="https://mega.nz/#!i0RUQLgb!2X1jub4T3lXmqrpOOKoea0u8rqT4a7zebtQqah_MeUk"  target="_blank">Divi Dead</a></span></b></span><br />
<b >contraseña</b><span >:&nbsp;</span><span >animegame</span></div>
<div >
<br /></div>
</div>
<div >
<div>
<span ><b><span >Instrucciones de&nbsp;instalación:</span></b><span ><br />1.</span><span >-Ejecutar &nbsp;"Dividead"</span></span></div>
</div>
</div>
</div>
<div >
</div>
</div>

  </article>
</Layout>

  