---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Narcissu~`
export const date = '2013-10-08T19:23:00.000-05:00' 
export const updated = '2018-03-07T02:19:41.203-05:00'
export const tags = ["español","sin h",null,"narcissu","Completo","visualnovelparapc","novela visual","novela cinetica"]
export const urlComments = 'http://www.visualnovelparapc.com/2013/10/narcissu-novela-visual.html#comment-form'
export const cover = 'https://2.bp.blogspot.com/-Sf2awR0i9M8/UlSfIL_DymI/AAAAAAAAASU/ivdEUk4qxjI/s400/15.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2013/10/narcissu-novela-visual.html">Narcissu[Novela Cinetica]</a></div>
<div >
<br /></div>
<div  >
<a href="http://2.bp.blogspot.com/-Sf2awR0i9M8/UlSfIL_DymI/AAAAAAAAASU/ivdEUk4qxjI/s1600/15.jpg"  ><img   src="https://2.bp.blogspot.com/-Sf2awR0i9M8/UlSfIL_DymI/AAAAAAAAASU/ivdEUk4qxjI/s400/15.jpg"  /></a></div>
<div >
<span ><br /></span></div>
<div >
<span ><span >Narcissu cuenta la historia de un joven que poco después de obtener su licencia de conducir, y sin tener la oportunidad de usarla, siente algunos malestares y acude a un hospital. Luego de varios exámenes termina internado y luego de varios meses, ya no hay nada más que hacer: Es cáncer. A partir de ahí, debido a los cuidados que requiere su condición, tiene que vivir en el hospital, en el piso 7, dónde todos los pacientes tienen un brazalete blanco que indica su condición de desahuciados. </span></span><br />
<a name='more'></a><span ><span ><br />Ahí conoce a Setsumi, una chica que parece de su edad, quizá uno o dos años menor; totalmente fría e insensible y con quien no hay forma de dialogar. Ella le enseña todas las “costumbres” del piso 7, toda una tradición que todos los que llegan ahí cumplen y siguen pasando a los recién llegados. “Sólo hay una decisión que vas a tomar: morir aquí o en tu casa.”</span></span></div>
<div >
<a href="http://3.bp.blogspot.com/-jySW_NVB8wY/UmdaF4FbSwI/AAAAAAAAAY0/BXsAgsjZGVE/s1600/5.jpg"  ><img   src="https://3.bp.blogspot.com/-jySW_NVB8wY/UmdaF4FbSwI/AAAAAAAAAY0/BXsAgsjZGVE/s400/5.jpg"  /></a><br />
<div >
<br /></div>
<span ><b >Nombre:&nbsp;</b><span >Narcissu</span></span></div>
<div >
<div >
<span ><b >Genero:</b><span >&nbsp;</span><span ><span >Novela Cinetica</span></span></span></div>
<div >
<span ><span ><span ><b>Genero:</b>&nbsp;Romance, Drama, Novela Cinetica</span></span></span></div>
<div >
<span ><span ><b>Estudio:</b>&nbsp;Stage-Nana(Historia de Terminally ill)</span></span></div>
</div>
<div >
<div >
<span ><b >Idioma:</b><span >&nbsp;Japones</span></span></div>
<div >
<span ><span ><b>Subtitulos:&nbsp;</b></span><span >Español</span></span></div>
<div >
<span ><span ><b>Tamaño del Archivo:&nbsp;</b>92MB</span></span></div>
<div >
<span ><span ><br /></span></span></div>
<div >
<div >
<div >
<span ><b>Descarga Mega:</b><span ></span></span></div>
<span ><b><a href="https://mega.co.nz/#!bFNh2apT!MY_IuAd-1VZ85QZzajU2Dlwr7m09UhSMSDIx-X2ycLo" target="_blank">Narcissu</a></b></span><br />
<span ><b >contraseña</b><span >:&nbsp;</span></span><span >animegame</span><span ><b><br /></b><span >Esperen a que termine el tiempo de re-cargado de pagina y&nbsp;</span></span></div>
<div >
<span ><span >le dan&nbsp;clic&nbsp;a:&nbsp;</span><span >Saltar Publicidad</span></span></div>
<div >
<div  >
<b><span ><br />Instrucciones de&nbsp;instalación:</span></b></div>
<div  >
<span ><span >1.- Abrir la carpeta "Narcissu"</span></span></div>
<div  >
<span ><span >2.-Instalar "default"(solo si no la tienen), si ya la tienen omitan este paso.</span></span></div>
<div  >
<span ><span >3.- Ejecutar "narcissu" y A disfrutar esta Novela Visual</span></span></div>
<div  >
<span ><br />Nota: Se recomienda jugar <a href="http://visualnovelparapc.blogspot.com/2013/11/narcissu-side-2nd.html" target="_blank">Narcissu Siden 2</a>(contiene el 1 y el 2, esta en el blog)<br /><br />Posible problemas:<br />Al casi terminar el juego sale error en voiced para reparar esto deben cargarlo en sin voces</span></div>
</div>
</div>
</div>

  </article>
</Layout>

  