---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Planetarian~Chiisana Hoshi no Yume`
export const date = '2013-10-07T23:11:00.002-05:00' 
export const updated = '2023-11-21T19:15:39.196-05:00'
export const tags = ["español","sin h",null,"Completo","visualnovelparapc","novela visual","planetarian","novela cinetica"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/6978087015358216434/comments/default'
export const cover = 'https://2.bp.blogspot.com/-rJn_tprCeVA/UlOCP-Md9XI/AAAAAAAAASE/DWpKWEiZg3g/s400/15.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2013/10/planetarian-chiisana-hoshi-no-yume.html">Planetarian[Novela Cinetica]</a></div>
<div >
<br /></div>
<div  >
<a href="http://2.bp.blogspot.com/-rJn_tprCeVA/UlOCP-Md9XI/AAAAAAAAASE/DWpKWEiZg3g/s1600/15.jpg" ><img   src="https://2.bp.blogspot.com/-rJn_tprCeVA/UlOCP-Md9XI/AAAAAAAAASE/DWpKWEiZg3g/s400/15.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" ><span >La incesante lluvia...</span></span></div>
<div  >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >Una ciudad sarcófago totalmente inhabitada.</span></div>
<div  >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >Los abandonados edificios gobernados ahora por los robots de la destrucción</span></div><div  ><span><a name='more'></a></span><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" ><br /></span></div>
<div  >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >Un chatarrero vino a este decrépito lugar</span></div>
<div  >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >Encontrando refugio dentro de un gran edificio</span></div>
<div  >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >Para luego encontrarse con un planetario en la cima de él.</span></div><div  ><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" ><br /></span></div>
<div  >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >Una enorme sala que una vez llenaba los corazones de los humanos</span></div>
<div  >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >con lo maravilloso que es ver las estrellas en el vasto cielo</span></div>
<div  >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >Es allí donde, él conoce a una jovencita llamaba&nbsp;Reverie</span></div><div  ><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" ><br /></span></div>
<div  >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >Una miembro del personal del planetario que ha continuado esperando</span></div>
<div >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif"><span ><span >a los clientes alrededor de 30 largos años.</span></span></span></div>
<div >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif"><span ><span ><br />Una robot descompuesta&nbsp;</span></span></span></div>
<div >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif"><span ><span >Conmovido por Reverie, pierde el rastro del tiempo mientras</span></span></span></div>
<div >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif"><span ><span >repara el proyector del planetario</span></span></span></div>
<div >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif"><span ><span >Esos días tan tranquilos que pasa con Reverie</span></span></span></div><div ><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif"><span ><span ><br /></span></span></span></div>
<div >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif"><span ><span >Una nostalgia perdida hace mucho tiempo empezo a surgir del corazón del hombre</span></span></span></div><div ><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif"><span ><span ><br /></span></span></span></div>
<div >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif"><span ><span >¿Que pensara de estas maravillosas estrellas artificiales creadas por la humanidad?</span></span></span></div><div ><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif"><span ><span ><br /></span></span></span></div>
<div >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif"><span ><span >Y cual es el destino de esta Robot en este pequeño planeta.</span></span></span><br />
<!--more--></div>
<div >
<div >
<span ><b ><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span ><br /></span></span></b></span></div>
<div >
<span ><b ><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >Imagenes:</span></span></b></span></div>
<div >
<div  >
<a href="http://1.bp.blogspot.com/-95AazXEW4us/VizsA9TgNnI/AAAAAAAABqo/6NSnAbiiIqM/s1600/Plan-KeySF-6.png" ><img   src="https://1.bp.blogspot.com/-95AazXEW4us/VizsA9TgNnI/AAAAAAAABqo/6NSnAbiiIqM/s400/Plan-KeySF-6.png"  /></a></div>
<br /></div>
<div >
<div  >
<a href="http://1.bp.blogspot.com/-hWPArPe85FE/UmdbSXKDj4I/AAAAAAAAAY8/HpsGxwnSGTk/s1600/5.jpg" ><img   src="https://1.bp.blogspot.com/-hWPArPe85FE/UmdbSXKDj4I/AAAAAAAAAY8/HpsGxwnSGTk/s400/5.jpg"  /></a></div>
<div  >
<br /></div>
<span ><b >Nombre:&nbsp;</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >Planetarian-Chiisana Hoshi no Yume</span></span></div>
</div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;Novela Visual</span></span></div>
<div >
<span ><b >Estudio:</b><span >&nbsp;Key</span></span></div>
<div >
<span ><b >&nbsp;Genero:</b><span >&nbsp;Sci-Fi,</span>&nbsp;Romance, Novela cinetica</span></div>
<div >
<span ><b >Idioma:&nbsp;</b><span >Japones<br /><b>Agradecimientos:</b><a href="http://blog.keysf.com/" target="_blank"> Key Sf</a></span></span></div>
<div >
<span ><b >Subtítulos:</b><span >&nbsp;Español</span></span><br />
<span ><span ><b>Duración:</b> 2-10 horas</span></span></div>
<div >
<span ><b >Tamaño del archivo:&nbsp;</b><span >378mb</span></span></div>
<div >
<span ><br /></span></div>
<div >
<div >
<span ><b>Descarga Mega:</b><span ></span></span></div>
<span ><b><a href="https://mega.nz/file/LNE1mKhI#BLxJQQ8Rzpt61e9wcbHiTUMz6kQ90XlkDPbbd2B-1YA"  target="_blank">Planetarian</a></b></span><br />
<span ><b >contraseña</b><span >:&nbsp;</span><span >animegame</span></span><br /><div ><br /></div></div>
<div >
<div  >
<b><span >Instrucciones de&nbsp;instalación:</span></b></div>
<div  >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >1.-Abrir la carpeta "planetarian".</span></span></div>
<div  >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >2.-Instalar"sazanami-gothic.tff" (es una fuente)</span></span></div>
<div  >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >3.- Ejecutar como administrador "Star".</span></span></div>
</div>
</div>

  </article>
</Layout>

  