---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `KissxSis[Doujin]`
export const date = '2013-10-04T17:04:00.001-05:00' 
export const updated = '2023-05-11T20:40:23.539-05:00'
export const tags = ["español","kissxsis",null,"visualnovelparapc","novela visual","Doujin"]
export const urlComments = 'http://www.visualnovelparapc.com/2013/10/kissxsis-novela-visual.html#comment-form'
export const cover = 'http://1.bp.blogspot.com/-wnVc8U5o30g/UWiS6qYz-6I/AAAAAAAAAVU/OZLq3NLhM9Q/s400/KxSver0.9.png'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2013/10/kissxsis-novela-visual.html" target="_blank">KissxSis-Novel Visual[Doujin Game] </a></div>
<br />
<div  >
<a href="http://1.bp.blogspot.com/-wnVc8U5o30g/UWiS6qYz-6I/AAAAAAAAAVU/OZLq3NLhM9Q/s1600/KxSver0.9.png"  ><img   src="http://1.bp.blogspot.com/-wnVc8U5o30g/UWiS6qYz-6I/AAAAAAAAAVU/OZLq3NLhM9Q/s400/KxSver0.9.png"  /></a></div>
<div  >
<span ><br /></span></div>
<div  >
<span ><span >Está basado en el anime KissxSis para los que ya lo vieron el anime en el juego toman el lugar del protagonista que es acosado por sus hermanas y otras de la escuela,además hay muchas imágenes para desbloquear con múltiples finales, la historia cambia según las decisiones que elijas a lo largo del juego</span><span >.</span></span></div>
<a name='more'></a><br />
<div  >
<b >Nombre: </b><span >KissxSis</span></div>
<div  >
<span ><b >Tipo:&nbsp;</b><span >Novela Visual</span></span></div>
<div  >
<span ><b >Subtitulos:</b><span >&nbsp;Español</span></span></div>
<div  >
<span ><b >Genero:</b><span >&nbsp;</span><span ><span >harem,</span><span >Romance,ecchi<br /><b>Editor:</b> De fans para fans<br /><b>Agradecimientos:&nbsp;<a href="https://www.facebook.com/stpvn">Stp_vn</a></b></span></span></span></div>
<div  >
<span ><b >Peso</b><span >: 35mb</span></span></div>
<div  >
<b ><span ><br /></span></b></div>
<div  >
<b ><span >Descarga Mega:</span></b></div>
<div  >
<a href="https://mega.co.nz/#!PVdkHZQL!aeLVQSw7XbEHGQBQCdNlXSgKSeof9XCfFcqZcEbwjf4"  target="_blank"><b>KissxSis-Novel Visual</b></a></div>
<div  >
<span ><b>contraseña</b>:&nbsp;animegame</span></div>
<div  >
<span ><span >Esperen a que termine el tiempo de re-cargado de pagina y&nbsp;</span></span></div>
<div  >
<span ><span >le dan&nbsp;clic&nbsp;a:&nbsp;</span><span >Saltar Publicidad</span></span></div>
<div  >
<b ><span ><br />Descarga Mediafire:</span></b></div>
<div  >
<a href="http://www.blogger.com/Descarga%20Mega:%20KissxSis-Novel%20Visual%20contrase%C3%B1a:%20animegame"  target="_blank"><b>KissxSis-Novel Visual</b></a></div>
<div  >
<span ><b>contraseña</b>:&nbsp;animegame</span></div>
<div  >
<b><span ><br />Instrucciones de&nbsp;instalación:</span></b></div>
<div  >
<span >Se encuentran dentro de la carpeta.</span></div>
<div  >
<br /></div>

  </article>
</Layout>

  