---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `My neighbor is a Yandere!?`
export const date = '2018-01-04T20:29:00.002-05:00' 
export const updated = '2022-09-27T01:17:44.113-05:00'
export const tags = ["visual novel",null,"Mega","yandere","visualnovelparapc","eroge","novela visual","My neighbor is a Yandere!","español. Mediafire"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/3962877012198103032/comments/default'
export const cover = 'https://3.bp.blogspot.com/-QarAYnnQlHY/Wkm_GFjOiKI/AAAAAAAACrE/E9V15sztxR0kZ2rIcNUUw2s86wRvS3HngCLcBGAs/s400/1111.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="https://visualnovelparapc.blogspot.com/2018/01/my-neighbor-is-yandere.html" target="_blank">My neighbor is a Yandere!?[Eroge][Español]</a><br />
<br />
<div  >
<a href="https://3.bp.blogspot.com/-QarAYnnQlHY/Wkm_GFjOiKI/AAAAAAAACrE/E9V15sztxR0kZ2rIcNUUw2s86wRvS3HngCLcBGAs/s1600/1111.jpg" ><img     src="https://3.bp.blogspot.com/-QarAYnnQlHY/Wkm_GFjOiKI/AAAAAAAACrE/E9V15sztxR0kZ2rIcNUUw2s86wRvS3HngCLcBGAs/s400/1111.jpg"  /></a></div>
<div  >
<br /></div>
<span >Seijuro, un chico normal que se despierta en un dormitorio de un coma que no recuerda, tras un misterioso accidente que sucedió&nbsp;hace siete años&nbsp;</span><br />
<span >Sin ningún&nbsp;recuerdo de su pasado, el conoce a su maravillosa vecina Nanase, quien aparentemente cuido de el todo este tiempo.&nbsp;</span><br />
<a name='more'></a><span ><span ><br /></span></span>
<span ><span >A primera vista luce como una buena y amable chica, pero parece que todo este tiempo&nbsp; ha tomado medidas drásticas</span><span >&nbsp;y extremas.</span></span><br />
<span ><span ><br /></span></span>
<span >Depende de usted y de sus propias decisiones creerle o no recuperar los recuerdos de Seijuro y descubrir el misterio que rodea a esta chica y sus acciones.</span><br />
<div>
<br /></div>
</div>
<div >
<span ><b>Imágenes:</b></span></div>
<div  >
<br /></div>
<div  >
<a href="https://4.bp.blogspot.com/---hZp04tqwA/WkmOU157haI/AAAAAAAACqw/hZa0xh-T_Qs_A8ZWtztejw3gYMAZrh6rgCLcBGAs/s1600/22.jpg" ><img     src="https://4.bp.blogspot.com/---hZp04tqwA/WkmOU157haI/AAAAAAAACqw/hZa0xh-T_Qs_A8ZWtztejw3gYMAZrh6rgCLcBGAs/s400/22.jpg"  /></a></div>
<br />
<div  >
<a href="https://1.bp.blogspot.com/-n9UG80lyDOI/WkmOVIfeT8I/AAAAAAAACq0/Rci69R7juK4il3sIX_pW-ujRgRjV7iIVwCLcBGAs/s1600/23.jpg" ><img     src="https://1.bp.blogspot.com/-n9UG80lyDOI/WkmOVIfeT8I/AAAAAAAACq0/Rci69R7juK4il3sIX_pW-ujRgRjV7iIVwCLcBGAs/s400/23.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<div >
<div >
<span ><b >Nombre:&nbsp;</b><span >My neighbor is a Yandere!?</span></span></div>
</div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp; Eroge</span></span><br />
<span ><b >Estudio:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >&nbsp;</span></span></span><span >Maranyo Games</span></div>
<div >
<span ><b >&nbsp;Genero:</b><span >&nbsp;Romance, Amnesia</span></span></div>
<div >
<span ><b >Subtitulos:</b><span ><span >&nbsp;Español Completo</span><br /><b >Agradecimientos:</b><span ><span ><span >&nbsp;</span></span>Maranyo</span></span></span><br />
<div >
<span ><span ><span ><b>Duración: &lt; 2</b>&nbsp;horas</span></span></span></div>
</div>
<div >
<span ><span ><b>Tamaño del archivo:&nbsp;</b>100M</span><span >b</span></span></div>
</div>
<div >
<div >
<br /></div>
<div >
<b><span >Descarga Mega:</span></b></div>
<div>
<div >
<a href="https://ouo.io/SZ68IB"  target="_blank"><b>My neighbor is a Yandere!</b></a></div>
<div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span><br />
<br />
<div >
<b><span >Descarga Mediafire:</span></b></div>
<div >
<div >
<a href="https://ouo.io/xYeYoND"  target="_blank"><b>My neighbor is a Yandere!</b></a></div>
<div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span><br /><br />
<br /></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div >
<div >
<div >
<b ><span >Instrucciones de&nbsp;instalación:</span></b></div>
</div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >1.-</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >&nbsp;Ejecutar yandere</span></div>
</div>
</div>

  </article>
</Layout>

  