---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Sono Hanabira11 ~ Michael no Otome-tachi`
export const date = '2019-06-06T19:34:00.003-05:00' 
export const updated = '2023-04-28T13:35:37.212-05:00'
export const tags = ["español","Las doncellas de michael","sono hanabira ni kuchizuke wo","visual novel",null,"yuri","Michael no Otome-tachi","Completo","visualnovelparapc","eroge","novela visual","sono hanabira"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/2892697515676711520/comments/default'
export const cover = 'https://2.bp.blogspot.com/-n_2yyWr_Owo/WsglGhhPYMI/AAAAAAAAC4o/GPcptBV4TNIEseBR94QG6RKX31NjUKM2gCLcBGAs/s640/10.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="https://visualnovelparapc.blogspot.com/2018/04/sono-hanabira11-michael-no-otome-tachi.html" target="_blank">Sono Hanabira 11[Completo][Yuri]</a><br />
<br />
<div  >
<a href="https://2.bp.blogspot.com/-n_2yyWr_Owo/WsglGhhPYMI/AAAAAAAAC4o/GPcptBV4TNIEseBR94QG6RKX31NjUKM2gCLcBGAs/s1600/10.jpg" ><img     src="https://2.bp.blogspot.com/-n_2yyWr_Owo/WsglGhhPYMI/AAAAAAAAC4o/GPcptBV4TNIEseBR94QG6RKX31NjUKM2gCLcBGAs/s640/10.jpg"  /></a></div>
<div  >
<br /></div>
<span >Hoy en la escuela de St. Michael, la representante de la clase "Snow" de primer año, Azumi Risa, había peleado una vez más con la alborotadora de la clase, Ayase Miya. Risa, que es seria y obstinada,y Miya que odia cooperar con los demás, no podrían haber sido menos uno para el otro, ya que siempre estaban peleando.</span><br />
<a name='more'></a><br />
<span >En ese momento, toda la escuela estaba de fiesta con la Navidad a la vuelta de la esquina. Mientras las parejas del momento coqueteaban, toda la escuela estaba emocionada por la encuesta sobre "La mejor pareja de St. Michael" realizada por los estudiantes voluntarios. Risa, que era soltera, pensó que no le concernia...</span><br />
<span ><span ><br /></span></span>
<span >Entonces ¿Cómo ella y Miya terminaron siendo elegidas?.</span><br />
<span ><span ><br /></span><span >Aunque Risa naturalmente negaba que compartieran ese tipo de relación, los compañeros de clase que los habían seleccionado con el razonamiento de jóvenes que habían crecido en familias respetables sonreirían y dirían: "Siempre luces como si te estuvieras divirtiendo mucho".&nbsp; "Resignándose, los dos decidieron aceptarlo, solo por el bien de la apariencia ", y parecía que tendrían que aguantar durante Navidad y San Valentín junto con otras cuatro parejas como miembros del comité para varios eventos.</span></span><br />
<div>
<span ><span ><br /></span></span></div>
<span >¿Serán las parejas nombradas capaces de manejar los eventos que siguen? ¿Y Risa podrá sobrevivir a las festividades de amantes de Navidad y San Valentín con Miya?</span><br />
<span ><br /></span>
<span >Sono Hanabira 11 es la secuela de:&nbsp;<a href="https://visualnovelparapc.blogspot.com/2016/06/sono-hanabira-10-lily-platinum.html" target="_blank">Sono Hanabira 10</a>,&nbsp;<a href="https://visualnovelparapc.blogspot.com/2014/09/sono-hanabira9ardientes-besos-de-adultos.html" target="_blank">Sono Hanabira 9</a>,&nbsp;<a href="https://visualnovelparapc.blogspot.com/2013/12/sono-hanabira6susurros-al-besarte.html" target="_blank">Sono Hanabira 6</a>,&nbsp;<a href="https://visualnovelparapc.blogspot.com/2013/11/sono-hanabira5-el-placer-de-amarte.html" target="_blank">Sono Hanabira 5</a>,&nbsp;<a href="https://visualnovelparapc.blogspot.com/2013/11/sono-hanabira4-mi-amado-fotografo.html" target="_blank">Sono Hanabira 4</a></span><br />
<div>
<span ><br /></span></div>
</div>
<div >
<span ><b >Imágenes:</b></span></div>
<div  >
<a href="https://4.bp.blogspot.com/-EElSYwOV5_E/Wsg_2MB5LiI/AAAAAAAAC5I/a_WTbhITsPgGjaGaNK5CAW6hetJiH-eWgCLcBGAs/s1600/1.jpg" ><img     src="https://4.bp.blogspot.com/-EElSYwOV5_E/Wsg_2MB5LiI/AAAAAAAAC5I/a_WTbhITsPgGjaGaNK5CAW6hetJiH-eWgCLcBGAs/s400/1.jpg"  /></a></div>
<br />
<div  >
<a href="https://1.bp.blogspot.com/-2T_JXuj82QE/Wsg_3GIblII/AAAAAAAAC5M/Yo_086q8bB4zV5y_OIiLe7g5zV4U3BpzgCLcBGAs/s1600/2.jpg" ><img     src="https://1.bp.blogspot.com/-2T_JXuj82QE/Wsg_3GIblII/AAAAAAAAC5M/Yo_086q8bB4zV5y_OIiLe7g5zV4U3BpzgCLcBGAs/s400/2.jpg"  /></a></div>
<br />
<div  >
<a href="https://2.bp.blogspot.com/-vMd1Xt0XCB8/Wsg_4UaGISI/AAAAAAAAC5Q/_Fyd7YmXdlEsTgAq6ofTrrDYgk5agOnLwCLcBGAs/s1600/3.jpg" ><img     src="https://2.bp.blogspot.com/-vMd1Xt0XCB8/Wsg_4UaGISI/AAAAAAAAC5Q/_Fyd7YmXdlEsTgAq6ofTrrDYgk5agOnLwCLcBGAs/s400/3.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<div >
<div >
<span ><b >Nombre:&nbsp;</b><span >Sono Hanabira 11</span></span></div>
</div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp; Eroge</span></span><br />
<span ><b >Estudio:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >&nbsp;</span></span></span><span >Liar Soft</span></div>
<div >
<span ><b >&nbsp;Genero:</b><span >&nbsp;Romance, Yuri</span></span></div>
<div >
<span ><b >Subtitulos:</b><span ><span >&nbsp;Español Completo</span><br /><b >Agradecimientos:</b><span ><span ><span >&nbsp;</span></span><a href="http://soulhunternofansub.blogspot.com/" target="_blank">SoulHunter no Fansub</a></span></span></span><br />
<div >
<span ><span ><span ><b>Duración:</b>&nbsp;10 - 30 horas</span></span></span></div>
</div>
<div >
<span ><span ><b>Tamaño del archivo:&nbsp;</b>1.8G</span><span >b</span></span></div>
</div>
<div >
<div >
<br /></div>
<div >
<b><span >Descarga Mega:</span></b></div>
<div>
<div >
<a href="https://ouo.io/EH88gG"  target="_blank"><b>Sono Hanabira 11</b></a></div>
<div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span></div>
<div >
<br /></div>
<div >
<b><span >Descarga Mediafire:</span></b></div>
<div >
<div >
<a href="https://ouo.io/tQtyeT"  target="_blank"><b>Sono Hanabira 11</b></a></div>
<div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span><br />
<br />
<div >
<b >Parche:</b><b >&nbsp;</b></div>
<div >
<b ><a href="https://www.mediafire.com/file/e3e16br0iqnh5r9/SHDM_1.0.rar/file" target="_blank">Mediafire</a></b></div>
</div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><br /></span></div>
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b>Opening:</b></span><br />
<div  >
<iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/mWVAKo1tK_M/0.jpg" frame  src="https://www.youtube.com/embed/mWVAKo1tK_M?feature=player_embedded" ></iframe></div>
<div >
<br /></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div >
<div >
<div >
<b ><span >Instrucciones de&nbsp;instalación:</span></b></div>
</div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >1.-&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >&nbsp;Extraer el parche en la carpeta del juego.</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >2.- Disfrutar :D</span></span></div>
</div>
</div>

  </article>
</Layout>

  