---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Tsukiakari No Raspberry:Tsundere II`
export const date = '2014-01-15T03:16:00.001-05:00' 
export const updated = '2022-12-31T02:25:14.283-05:00'
export const tags = ["español","futa",null,"yuri","Completo","Tsukiakari No Raspberry:Tsundere II","visualnovelparapc","eroge","novela visual"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/2851998200801341901/comments/default'
export const cover = 'https://1.bp.blogspot.com/-gECI_seDLNw/UtY8nERLf1I/AAAAAAAAA4Q/I7rOsHnAQSs/s400/11.png'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2014/01/tsukiakari-no-raspberrytsundere-ii.html" target="_blank">Tsukiakari:Tsundere II[NCinetica][Eroge]</a><br />
<br />
<div  >
</div>
<div  >
<a href="http://1.bp.blogspot.com/-gECI_seDLNw/UtY8nERLf1I/AAAAAAAAA4Q/I7rOsHnAQSs/s1600/11.png" ><img   src="https://1.bp.blogspot.com/-gECI_seDLNw/UtY8nERLf1I/AAAAAAAAA4Q/I7rOsHnAQSs/s400/11.png"  /></a></div>
<div  >
<br /></div>
<div  >
<span >Cuerpo hermoso, excelentes notas, padres de buena familia, todo perfección, Orie Himesaki nació con todo ello. ante sus padres y en la escuela es una buena niña como cabria esperar, es evidente que podrá tener todo lo que pueda imaginar, ahora y en el futuro. pero sin razón aparente sus días eran deprimentes hasta que descubrió el secreto de la profesora Haruna</span></div>
<a name='more'></a><span > </span><br />
<div  >
<span >su cuerpo ocultaba algo especial que al principio le sorprendió mucho tras averiguar ese secreto, que solo ellas dos sabia su mundo cambio radicalmente. era su primera sensación propia sin que sus padres estuviera involucrados, y sentía que maduraba al verse atraída por otra persona, pero cuando el secreto de ambas es descubierto, todo cambia...</span></div>
<div  >
</div>
<div  >
<br /></div>
<b ><span >Imagenes:</span></b><br />
<br />
<div  >
<a href="http://3.bp.blogspot.com/-KKwdhcwzjSw/UtY9x9Sk2lI/AAAAAAAAA4Y/Rd4o5pcf6Ck/s1600/2.jpg" ><img   src="https://3.bp.blogspot.com/-KKwdhcwzjSw/UtY9x9Sk2lI/AAAAAAAAA4Y/Rd4o5pcf6Ck/s400/2.jpg"  /></a></div>
<div  >
<a href="http://3.bp.blogspot.com/-tTAms-Mmtd0/UtY-LYseaLI/AAAAAAAAA4g/VZaYka1ME4M/s1600/3.jpg" ><img   src="https://3.bp.blogspot.com/-tTAms-Mmtd0/UtY-LYseaLI/AAAAAAAAA4g/VZaYka1ME4M/s400/3.jpg"  /></a></div>
<div  >
</div>
<div  >
<a href="http://2.bp.blogspot.com/-uEhvwb_oQEQ/UtY-MoSKbQI/AAAAAAAAA4o/-QQDO7U6Lh8/s1600/4.jpg" ><img   src="https://2.bp.blogspot.com/-uEhvwb_oQEQ/UtY-MoSKbQI/AAAAAAAAA4o/-QQDO7U6Lh8/s400/4.jpg"  /></a></div>
<div  >
</div>
<br />
<div  >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b >Nombre:&nbsp;</b></span><span ><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >Tsukiakari No Raspberry:Tsundere II</span></span></div>
<div >
<div >
<div >
<span ><b >Tipo:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >&nbsp;</span><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >Eroge</span></span></span></div>
</div>
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span ><span ><b>Genero:</b>&nbsp; Romance, Yuri, Futanari</span></span></span></div>
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><b>Estudio:&nbsp;</b>Tinklebell</span></span></div>
</div>
<div >
<div >
<div >
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><b >Subtítulos:</b><span >&nbsp;Español<br /><b>Agradecimientos:</b>&nbsp;</span></span><a href="http://tsukiakari-trans.blogspot.com/" >Tsukiakari Trans</a><br />
<span ><b>Duración:</b> 2-10 horas</span></div>
</div>
</div>
<div >
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><b>Tamaño del Archivo:&nbsp;</b>4.70Gb</span></span></div>
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><br /></span></span></div>
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><b>Características:</b></span></span></div>
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span >-Escenas H animadas&nbsp;</span></span></div>
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span >-Gestos animados</span></span></div>
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span >-Galeria de videos<br />-</span></span></div>
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><br /></span></span></div>
<div >
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><b>Descarga Mega:</b></span></span><b ><br /><a href="https://ouo.io/9tTG8Y"  target="_blank">Tsukiakari No Raspberry:Tsundere II</a></b></div>
</div>
</div>
</div>
<div >
<div >
<span ><b>contraseña:</b>&nbsp;animegame</span></div>
<div >
<br />
<div >
<div >
<div >
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><b>Descarga Mediafire:</b></span></span><b ><br /><a href="https://ouo.io/KLFu80"  target="_blank">Tsukiakari No Raspberry:Tsundere II</a><u><br /></u></b><b >contraseña:</b><span >&nbsp;animegame</span></div>
</div>
</div>
</div>
</div>
<div >
<span ><br /></span></div>
<div >
<span ><b>Tutorial de instalación:</b></span></div>
<div  >
<iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/dstpgeXFi38/0.jpg" frame  src="https://www.youtube.com/embed/dstpgeXFi38?feature=player_embedded" ></iframe></div>
<div >
<span ><b><br /></b></span>
<br />
<div>
<b >Instrucciones:</b><br />
<span ><span >1.- Montar iso y instalar.</span></span><br />
<span ><span >2.- Entrar en "actualización" ejecutar como admi "pat101" y escojer ruta</span></span><br />
<span ><span >3.- Entrar en "..PatchSpanish" instalar todas las fuentes y "dotNet"<br />4.- Ejecutar "Tsundere2_Patch" y parchear<br />5.- Disfrutar :D</span></span></div>
<div >
<br />
<b><span >Posibles problemas:</span></b></div>
<div >
<span >Si no puedes actualizar a 1.01 descarga este <a href="http://www.mediafire.com/download/5du2hlf8ng76e02/tsukiakari_101_update.zip">link</a></span></div>
<div >
<br /></div>
</div>
</div>
</div>

  </article>
</Layout>

  