---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Lonely Yuri`
export const date = '2014-01-07T01:33:00.001-05:00' 
export const updated = '2022-12-31T02:33:51.856-05:00'
export const tags = ["español","sin h",null,"yuri","Lonely yuri","Kodoku ni Kiku Yuri","Completo","visualnovelparapc","novela visual","novela cinetica"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/6064558252850906776/comments/default'
export const cover = 'https://3.bp.blogspot.com/-87wbsHLzsYs/Uu5Ozq-trLI/AAAAAAAAA7s/Zyh2nh7nRCc/s1600/1.jpg'

---

<Layout title = {title} >
  <article>
  <div  >
<a href="http://visualnovelparapc.blogspot.com/2014/01/lonely-yuri.html" target="_blank">Lonely Yuri[Yuri][NCinetica]</a></div>
<div  >
<br /></div>
<div  >
<a href="http://3.bp.blogspot.com/-87wbsHLzsYs/Uu5Ozq-trLI/AAAAAAAAA7s/Zyh2nh7nRCc/s1600/1.jpg" ><img   src="https://3.bp.blogspot.com/-87wbsHLzsYs/Uu5Ozq-trLI/AAAAAAAAA7s/Zyh2nh7nRCc/s1600/1.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<span >Ella le dio su amor y ternura.&nbsp;</span></div>
<div >
<span >Primero con un beso ...</span></div>
<a name='more'></a><br />
<div >
<span >Fue el primer año en la escuela secundaria. El florecimiento de verano.&nbsp;</span></div>
<div >
<span >Fusa Konno conoció a una chica llamada Seri.&nbsp;</span></div>
<div >
<span >Perseguida por sus ojos anhelantes, con el corazón abierto ...</span></div>
<div >
&nbsp;&nbsp;</div>
<div >
<span ><b>Imagenes:</b></span></div>
<div >
<span ><b><br /></b></span></div>
<div  >
<a href="http://1.bp.blogspot.com/-2ExwQ7jIZlI/UsudmaaXZhI/AAAAAAAAA2k/n87hdh-bPDM/s1600/3.jpg" ><img   src="https://1.bp.blogspot.com/-2ExwQ7jIZlI/UsudmaaXZhI/AAAAAAAAA2k/n87hdh-bPDM/s1600/3.jpg"  /></a></div>
<br />
<div  >
<a href="http://3.bp.blogspot.com/-QBWmbqMglko/Usudm2wY2hI/AAAAAAAAA2o/vjBYCG_XA1Q/s1600/4.jpg" ><img   src="https://3.bp.blogspot.com/-QBWmbqMglko/Usudm2wY2hI/AAAAAAAAA2o/vjBYCG_XA1Q/s1600/4.jpg"  /></a></div>
<br />
<div  >
<a href="http://3.bp.blogspot.com/-npRsaFm_bGs/UsudnqajoFI/AAAAAAAAA20/VL2ylC4iRkQ/s1600/5.jpg" ><img   src="https://3.bp.blogspot.com/-npRsaFm_bGs/UsudnqajoFI/AAAAAAAAA20/VL2ylC4iRkQ/s1600/5.jpg"  /></a></div>
<div >
<br /></div>
<div  >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b >Nombre:&nbsp;</b></span><span ><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >Kodoku ni Kiku Yuri</span></span></div>
<div >
<div >
<div >
<span ><b >Tipo:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >&nbsp;</span><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >Novela Cinetica</span></span></span></div>
</div>
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span ><span ><b>Genero:</b>&nbsp; Drama, Romance, Yuri</span></span></span></div>
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><b>Estudio:&nbsp;</b></span></span><span ><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >Yoru no Hitsuji</span></span></div>
</div>
<div >
<div >
<div >
<div >
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><b >Subtítulos:</b><span >&nbsp;Español<br /><b>Agradecimientos: </b><a href="http://noberuvisual.net/" target="_blank">Noberu</a></span></span></div>
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><b>Duración:</b> 2 - 10 horas</span></div>
</div>
</div>
<div >
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><b>Tamaño del Archivo: </b>74Mb</span></span><br />
<div>
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><b><br />Descarga Mega:</b></span></span><b ><br /><a href="https://ouo.io/ctwGoYY"  target="_blank">Lonely Yur</a><a href="https://mega.co.nz/#!jItQTTjD!ZGBj_g-bLH81TAjSNP92q2It-IIlqxomD3tc3xpUDTM"  target="_blank">i</a></b></div>
</div>
</div>
</div>
<div>
<div >
<div >
<span ><b>contraseña:</b>&nbsp;animegame</span></div>
</div>
<div >
<div >
<div>
<span ><br /><span ><b >Descarga Mediafire:</b><br /><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif"><span ><a href="https://ouo.io/YPaLemd" target="_blank"><b>Lonely Yuri</b></a></span></span><br /><b >contraseña:</b><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif"><span > animegame</span></span></span></span></div>
<div>
<span ><br /></span></div>
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b >Instrucciones:</b></span><br />
<div >
<span face="arial, helvetica, sans-serif" ><span >1.- Cambiar la conf. unicode a japones para su correcto funcionamiento.(Panel de control\Reloj, idioma y región\Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc).</span></span></div>
<div >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" ></span></div>
<div >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif"><span >2.- Ejecutamos "Lonely Yuri.exe".</span></span><br />
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif"><span >3.- Disfrutar :D.</span></span></div>
</div>
</div>
</div>

  </article>
</Layout>

  