---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Feliz Año Nuevo!! `
export const date = '2014-01-01T03:56:00.000-05:00' 
export const updated = '2017-11-09T12:41:34.300-05:00'
export const tags = [null,"visualnovelparapc"]
export const urlComments = 'http://www.visualnovelparapc.com/2014/01/feliz-ano-nuevo.html#comment-form'
export const cover = 'http://1.bp.blogspot.com/-hMlQqRIPhsI/UsPOiFrQEhI/AAAAAAAAA1E/7oBukucf3C8/s640/7.jpg'

---

<Layout title = {title} >
  <article>
  <div  >
<a href="http://visualnovelparapc.blogspot.com/2014/01/feliz-ano-nuevo.html" target="_blank">Feliz año Nuevo!! y juegos en proceso de traducción</a></div>
<br />
<span ><span >Tal como dice el post, pondré todos los juegos que están en proceso de traducción(para verlos dale clic en&nbsp;Seguir Leyendo »</span></span><span >) y los saludo por Año Nuevo xd</span><br />
<div  >
<span ><span ><br /></span></span></div>
<div  >
</div>
<div  >
<a href="http://1.bp.blogspot.com/-hMlQqRIPhsI/UsPOiFrQEhI/AAAAAAAAA1E/7oBukucf3C8/s1600/7.jpg"  ><img  src="http://1.bp.blogspot.com/-hMlQqRIPhsI/UsPOiFrQEhI/AAAAAAAAA1E/7oBukucf3C8/s640/7.jpg"   /></a></div>
<div >
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
</div>
<a name='more'></a><br />
<div >
<span ><b>En Proceso de traducción:</b></span></div>
<div >
<div  >
<a href="http://1.bp.blogspot.com/mf3Re28skFZmSJyOmGq8nsZW8op4XexncBIAcskPwg5kb-eQebMwrey3vRvwAHZu93fy=w100-rw"  ><img  src="http://1.bp.blogspot.com/mf3Re28skFZmSJyOmGq8nsZW8op4XexncBIAcskPwg5kb-eQebMwrey3vRvwAHZu93fy=w100-rw" /></a></div>
<div  >
<span ><b>Adosbox</b></span></div>
<div  >
<span >- Un emulador de dosbox para android</span></div>
<div  >
<a  href="http://adosbox.googlecode.com/files/aDosBox-v0.2.5.apk"  target="_blank"><b>Descarga</b></a></div>
<div  >
<br /></div>
<div>
<div  >
<a href="http://1.bp.blogspot.com/-8KSKLOAt-Fs/VA2GjHtx2_I/AAAAAAAABS4/a60iIj2hCfw/s1600/14.jpg"  ><img  src="http://1.bp.blogspot.com/-8KSKLOAt-Fs/VA2GjHtx2_I/AAAAAAAABS4/a60iIj2hCfw/s1600/14.jpg" /></a></div>
<span ><u>Knights Of Xentar</u></span></div>
<div  >
<span >1.- Instalamos Adosbox y descargamos</span>(<a href="http://www.mediafire.com/download/jwsww3ubl3juxcn/KnightsOfXentar.rar" target="_blank">link</a>)</div>
<div>
<span >2.- Creamos carpetas del siguiente modo mnt/dos/ y guardamos la del juego,&nbsp;</span><span >modificar el nombre de la carpeta del juego a uno sin espacios</span></div>
<div>
<span >3.- Entramos al programa, escribimos con el teclado del adosbox:</span></div>
<div>
<span >cd dos(enter)</span></div>
<div>
<span >cd kx</span></div>
<div>
<span >kx</span><br />
<span >4.- movemos el menú con las flechas en la pantalla y seleccionamos con los números en ella, para usar el mouse mantienes presionado.</span><br />
<div>
<br /></div>
</div>
<div  >
<a href="http://1.bp.blogspot.com/-Z0kePJnNx3A/VA2Gi3PhzXI/AAAAAAAABS0/Tk9VVZRvppI/s1600/15.jpg"  ><img  src="http://1.bp.blogspot.com/-Z0kePJnNx3A/VA2Gi3PhzXI/AAAAAAAABS0/Tk9VVZRvppI/s1600/15.jpg" /></a></div>
<div  >
<b><span ><u>3 Sisters Story</u></span></b></div>
<div  >
<b><span ><br /></span></b></div>
<div  >
<span >1.- Instalamos Adosbox&nbsp;y descargamos</span>(<a href="http://www.mediafire.com/download/e38csxasid2yd26/3+sisters+story.rar" target="_blank">link</a>)</div>
<div>
<span >2.- Creamos carpetas del siguiente modo mnt/dos/ y guardamos la del juego,&nbsp;</span><span >modificar el nombre de la carpeta del juego a uno sin espacios</span></div>
<div >
<span >3.- Entramos al programa, escribimos con el teclado del adosbox:</span></div>
<div >
<span ></span></div>
<div>
<span >cd dos(enter)</span></div>
<div>
<span >cd 3sis</span></div>
<div>
<span >3sis</span></div>
<div  >
<span >4.- movemos el menú con las flechas en la pantalla y seleccionamos con los números en ella, para usar el mouse mantienes presionado.</span></div>
<div >
<br /></div>
<div  >
v<a href="http://4.bp.blogspot.com/-WkZs5GjGubU/VA2GjLsoEQI/AAAAAAAABTA/ct-D1rf7m5g/s1600/16.jpg"  ><img  src="http://4.bp.blogspot.com/-WkZs5GjGubU/VA2GjLsoEQI/AAAAAAAABTA/ct-D1rf7m5g/s1600/16.jpg" /></a></div>
<div  >
<span ><b><u>Season of the Sakura(gama alta)</u></b></span></div>
<div  >
<span ><br /></span></div>
<div  >
<span >1.- Instalamos Adosbox&nbsp;y descargamos</span>(<a href="http://www.mediafire.com/download/2r9lddbi2k9a8p7/Season+of+Sakura.rar" target="_blank">link</a>)</div>
<div>
<span >2.- Creamos carpetas del siguiente modo mnt/dos/ y guardamos la del juego, modificar el nombre de la carpeta del juego a uno sin espacios</span></div>
<div >
<span >3.- Entramos al programa, escribimos con el teclado del adosbox:</span></div>
<div >
<span ></span></div>
<div>
<span >cd dos(enter)</span></div>
<div>
<span >cd SfS</span></div>
<div>
<span >SAKU-FM</span></div>
<div  >
<span >4.- movemos el menú con las flechas en la pantalla y seleccionamos con los números en ella, para usar el mouse mantienes presionado.</span></div>
</div>
<div >
<span ><br />Nota: es posible que se me pase alguno&nbsp;</span><strike ><span >por hacer el post de madrugada</span></strike><span >, borrare el post dentro de unos días</span></div>
<div >
<br /></div>

  </article>
</Layout>

  