---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Mahou Shoujo Madoka Magica: Grief Syndrome`
export const date = '2014-01-01T02:53:00.001-05:00' 
export const updated = '2022-12-31T02:35:37.306-05:00'
export const tags = [null,"Mahou Shoujo Madoka Magica","ingles","Mahou Shoujo Madoka Magica: Gried Syndrome","visualnovelparapc","arcade"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/4777725684175131255/comments/default'
export const cover = 'http://1.bp.blogspot.com/-RCG2EDS1Mm0/UsOrEep2X7I/AAAAAAAAAzA/9EnZVRHNcqU/s640/5.jpg'

---

<Layout title = {title} >
  <article>
  <div  >
<a href="http://visualnovelparapc.blogspot.com/2013/12/mahou-shoujo-madoka-magica-grief.html">Mahou Shoujo Madoka Magica[Arcade]</a></div>
<br />
<div  >
</div>
<div  >
<a href="http://1.bp.blogspot.com/-RCG2EDS1Mm0/UsOrEep2X7I/AAAAAAAAAzA/9EnZVRHNcqU/s1600/5.jpg" ><img   src="http://1.bp.blogspot.com/-RCG2EDS1Mm0/UsOrEep2X7I/AAAAAAAAAzA/9EnZVRHNcqU/s640/5.jpg"  /></a></div>
<div  >
</div>
<div  >
</div>
<div >
<br />
<span ><span >Grief Syndrome es un Doujin Game creado por Tasofro, el juego esta basado en la serie Mahou Shoujo Madoka Magica, en el juego podremos jugar con cualquiera de ellas, Madoka, Homura, Kyoko, Mami y Sayaka, cada una con diferentes habilidades y ataques.</span></span></div>
<a name='more'></a><br />
<div >
<b ><span >Imagenes:</span></b></div>
<div >
<div  >
<a href="http://3.bp.blogspot.com/-6or3QuJUQ5k/UsOwzOFqneI/AAAAAAAAAzg/P_QjrzCBlfY/s1600/5.jpg" ><img   src="http://3.bp.blogspot.com/-6or3QuJUQ5k/UsOwzOFqneI/AAAAAAAAAzg/P_QjrzCBlfY/s400/5.jpg"  /></a></div>
<br /></div>
<div >
<div  >
<a href="http://3.bp.blogspot.com/-dap1vOeon-A/UsPaP3Vs_tI/AAAAAAAAA1Y/_svlMyimYDo/s1600/9.jpg" ><img   src="http://3.bp.blogspot.com/-dap1vOeon-A/UsPaP3Vs_tI/AAAAAAAAA1Y/_svlMyimYDo/s400/9.jpg"  /></a></div>
<br />
<div  >
<a href="http://2.bp.blogspot.com/-98p-GkplV4Y/UsOx_na7InI/AAAAAAAAAzs/4AznoV1N7Iw/s1600/6.jpg" ><img   src="http://2.bp.blogspot.com/-98p-GkplV4Y/UsOx_na7InI/AAAAAAAAAzs/4AznoV1N7Iw/s400/6.jpg"  /></a></div>
<br />
<div  >
<a href="http://2.bp.blogspot.com/-6kMiW4xm5cY/UsOzamquDSI/AAAAAAAAA0A/UbujojJJxOo/s1600/8.jpg" ><img   src="http://2.bp.blogspot.com/-6kMiW4xm5cY/UsOzamquDSI/AAAAAAAAA0A/UbujojJJxOo/s400/8.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<span face="Arial, Tahoma, Helvetica, FreeSans, sans-serif" ><b >Nombre:&nbsp;</b></span><span ><span face="Helvetica Neue Light, HelveticaNeue-Light, Helvetica Neue, Helvetica, Arial, sans-serif" >Mahou Shoujo Madoka Magica:Grief Syndrome</span></span></div>
<div >
<div >
<div >
<span ><b >Tipo:</b><span face="'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif" >&nbsp;</span><span face="'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif"><span >Arcade</span></span></span></div>
</div>
<div >
<span face="'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif"><span ><span ><b>Genero:</b>&nbsp; Drama, Horror</span></span></span></div>
<div >
<span face="'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif" ><span ><b>Estudio: </b>Tasofro</span></span></div>
</div>
<div >
<div >
<div >
<div >
<span face="'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif" ><b >Idioma:</b><span >&nbsp;Ingles</span></span></div>
</div>
</div>
<div >
<div >
<span face="'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif" ><span ><b>Tamaño del Archivo: </b>129Mb</span></span><br />
<div>
<span face="'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif" ><span ><b><br />Descarga Mega:</b></span></span><b ><br /><a href="https://ouo.io/HE9Z05"  target="_blank">Mahou Shoujo Madoka Magica</a></b></div>
</div>
</div>
</div>
<div >
<div >
<br />
<div>
<span ><span ><b>Controles:</b></span></span></div>
<div>
<span ><span >Z - Ataque normal&nbsp;</span></span></div>
<div>
<span ><span >X - Habilidades&nbsp;&nbsp;</span></span></div>
<div>
<span ><span >C - Salto / Doble salto&nbsp;</span></span></div>
<div>
<span ><span >A - Ataque Especial&nbsp;</span></span></div>
<div>
<span ><span >Q - Pausa&nbsp;</span></span></div>
<div>
<br /></div>
</div>
</div>
<div >
<div >
<div  >
<b><span >Instrucciones:</span></b></div>
</div>
</div>
<div >
<div >
<span face="Helvetica Neue, Helvetica, Arial, lucida grande, tahoma, verdana, arial, sans-serif" ><span >1. Ejecuta el archivo setup.exe, damos clic en N.</span></span></div>
<div >
<span face="Helvetica Neue, Helvetica, Arial, lucida grande, tahoma, verdana, arial, sans-serif" ><span >3. P</span></span><span face="'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif" >ulsamos en la opción marcada y e</span><span face="Helvetica Neue, Helvetica, Arial, lucida grande, tahoma, verdana, arial, sans-serif" ><span >scriben la siguiente ruta de isntalación "</span></span><span face="'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif" >C:\Archivos de programa\Mahou Shoujo Madoka Magica"</span></div>
<div >
<span face="Helvetica Neue, Helvetica, Arial, lucida grande, tahoma, verdana, arial, sans-serif" ><span >4. En el campo de texto introducimos el siguiente nombre y&nbsp;</span></span><span face="'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif" >pulsamos en el boton marcado</span></div>
<div >
<span face="Helvetica Neue, Helvetica, Arial, lucida grande, tahoma, verdana, arial, sans-serif" ><span ><span  > </span>Mahou Shoujo Madoka Magica</span></span></div>
<div >
<span face="Helvetica Neue, Helvetica, Arial, lucida grande, tahoma, verdana, arial, sans-serif" ><span >5. Activamos la casilla que nos aparece y pulsamos en el boton marcado</span></span></div>
<div >
<span face="Helvetica Neue, Helvetica, Arial, lucida grande, tahoma, verdana, arial, sans-serif" ><span >6. Volvemos a pulsar el botón marcado y se instalará el juego</span></span></div>
<div >
<span face="Helvetica Neue, Helvetica, Arial, lucida grande, tahoma, verdana, arial, sans-serif" ><span >7. Para ejecutar el juego, accedemos al segundo icono creado, el cual renombraremos como:</span></span></div>
<div >
<span face="Helvetica Neue, Helvetica, Arial, lucida grande, tahoma, verdana, arial, sans-serif" ><span ><span  > </span>Mahou Shoujo Madoka Magica(por defecto es "griefsyndrome</span></span><span face="'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif" >)</span><span ><span ><span ><br /><br />Nota: Los controles pueden ser cambiados en la carpeta del juego con "Config Tool"&nbsp;</span></span><span >( los 2 y 3 Jugadores tienen que ser establecidos a través de configuración)</span></span><br />
<span ><span ><br /></span></span></div>
</div>
</div>

  </article>
</Layout>

  