---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `deIz`
export const date = '2015-05-27T06:16:00.000-05:00' 
export const updated = '2022-09-28T01:45:44.031-05:00'
export const tags = ["español","sin h","visual novel",null,"Completo","visualnovelparapc","novela visual","deIz"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/408279448063763760/comments/default'
export const cover = 'http://3.bp.blogspot.com/-xFpMJoHrj5I/VWWYrlwrzII/AAAAAAAABik/BnX1CvPzGEo/s400/111.png'

---

<Layout title = {title} >
  <article>
  <div  >
<a href="http://visualnovelparapc.blogspot.com/2015/05/deiz.html">DeIz[NovelaVisual][Español]</a></div>
<div  >
<span ><br /></span></div>
<div  >
<a href="http://3.bp.blogspot.com/-xFpMJoHrj5I/VWWYrlwrzII/AAAAAAAABik/BnX1CvPzGEo/s1600/111.png" ><img   src="http://3.bp.blogspot.com/-xFpMJoHrj5I/VWWYrlwrzII/AAAAAAAABik/BnX1CvPzGEo/s400/111.png"  /></a></div>
<div >
<br /></div>
<div >
<span ><span >Esta es una novela visual corta mas, trata sobre un chico de secundaria que a&nbsp;</span></span></div>
<div >
<span ><span >admirado a una directora de cine que asiste en su misma escuela. El juego consiste en&nbsp;</span></span></div>
<div >
<span ><span >que hoy es el dia de todas las oportunidades ¿Te confesaras a la directora?,¿Te&nbsp;</span></span></div>
<div >
<span ><span >quedaras con otra?o simplemente quedaras solo. Hoy es el día de oro y solo tu puedes&nbsp;</span></span></div>
<a name='more'></a><br />
<div  >
<b >Imagenes:</b></div>
<div  >
<a href="http://3.bp.blogspot.com/-tSZ23IYM0vE/VWWgqtxigmI/AAAAAAAABi0/4eAiCSSBxQM/s1600/115.jpg" ><img   src="http://3.bp.blogspot.com/-tSZ23IYM0vE/VWWgqtxigmI/AAAAAAAABi0/4eAiCSSBxQM/s320/115.jpg"  /></a></div>
<br />
<div  >
<a href="http://3.bp.blogspot.com/-cE7PgsTaS0M/VWWgsALNWWI/AAAAAAAABi8/fk92pJc55QA/s1600/116.jpg" ><img   src="http://3.bp.blogspot.com/-cE7PgsTaS0M/VWWgsALNWWI/AAAAAAAABi8/fk92pJc55QA/s320/116.jpg"  /></a></div>
<div >
<br /></div>
<div >
<div >
<div >
<span ><b >Nombre:&nbsp;</b></span><span >deIz</span></div>
</div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;NovelaVisual</span></span><br />
<span ><b >Estudio:</b><span face="'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif"><span >&nbsp;</span></span></span><span ><span >Mikel Inel</span></span></div>
<div >
<span ><b >&nbsp;Genero:</b><span >&nbsp;Romance, Comedia, Drama</span></span></div>
<div >
<span ><b >Idioma:&nbsp;</b><span >Japones</span></span></div>
<div >
<span ><b >Subtitulos:</b><span ><span >&nbsp;Español</span><br /><b >Agradecimientos:</b><span >&nbsp;<a href="http://desuanime.com/2015/04/26/deiz-juegomegaespanol/" >Desanime</a></span></span></span></div>
<div >
<span ><span ><b>Tamaño del archivo: 45</b>M</span><span >b</span></span></div>
</div>
<div >
<div >
<br /></div>
<div >
<b><span >Descarga Mega:</span></b></div>
<div>
<div >
<a href="https://ouo.io/BNBDJ7R"  target="_blank"><b>DeIz</b></a></div>
<div>
<div >
<span face="Arial, Tahoma, Helvetica, FreeSans, sans-serif" ><b >contraseña</b><span >:&nbsp;</span></span><span face="Arial, Tahoma, Helvetica, FreeSans, sans-serif" >animegame</span><br />
<span face="Arial, Tahoma, Helvetica, FreeSans, sans-serif" ><br /></span><b><span >Descarga Mediafire:</span></b></div>
</div>
</div>
</div>
</div>
<div >
<div >
<div >
<div >
<div >
<a href="https://ouo.io/C4M7Ah"  target="_blank"><b>DeIz</b></a></div>
</div>
<div>
<div >
<div >
<span face="Arial, Tahoma, Helvetica, FreeSans, sans-serif" ><b >contraseña</b><span >:&nbsp;</span></span><span face="Arial, Tahoma, Helvetica, FreeSans, sans-serif" >animegame</span><br />
<br /></div>
</div>
</div>
</div>
</div>
</div>
<div >
<div >
<b ><span >Instrucciones de&nbsp;instalación:</span></b><br />
<span face="Arial, Tahoma, Helvetica, FreeSans, sans-serif" ><span >1.- Ejecutar DeIz</span></span></div>
</div>

  </article>
</Layout>

  