---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Sakura Fantasy`
export const date = '2018-06-16T03:31:00.001-05:00' 
export const updated = '2022-09-24T18:46:10.909-05:00'
export const tags = ["español",null,"yuri","Sakura Fantasy","Completo","visualnovelparapc","eroge","novela visual","novela cinetica","sakura"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/4106325144977708066/comments/default'
export const cover = 'https://4.bp.blogspot.com/-m5yNGlRHM-M/WyS-9hceQvI/AAAAAAAAC_o/jwoPEDxxq4YdoTqe2H1aN_is_cnOK_AewCLcBGAs/s400/110.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="https://visualnovelparapc.blogspot.com/2018/06/sakura-fantasy.html" target="_blank">Sakura Fantasy[Yuri/Eroge][NCinetica]</a><br />
<br />
<div  >
<a href="https://4.bp.blogspot.com/-m5yNGlRHM-M/WyS-9hceQvI/AAAAAAAAC_o/jwoPEDxxq4YdoTqe2H1aN_is_cnOK_AewCLcBGAs/s1600/110.jpg" ><img     src="https://4.bp.blogspot.com/-m5yNGlRHM-M/WyS-9hceQvI/AAAAAAAAC_o/jwoPEDxxq4YdoTqe2H1aN_is_cnOK_AewCLcBGAs/s400/110.jpg"  /></a></div>
<div  >
<br /></div>
<span >Raelin sueña con llegar a ser un Caballero, la vida de esta hermosa aspirante en entrenamiento da un gran giro tras la repentina colisión de una estrella fugaz en el suelo.</span><br />
<span >Junto a Gwynne, su mejor amiga y Keira, su instructora, por pedido de la Emperatriz se embarcarán en un viaje muy peligroso para llevar a la capital aquella estrella que trae consigo muchos misterios.</span><br />
<a name='more'></a><br />
<span >Acompaña a estas chicas en la aventura más grande de sus vidas y descubre a que peligros se enfrentarán.</span></div>
<div >
<span ><b><br /></b></span><span ><b>Imágenes:</b></span></div>
<div  >
<a href="https://3.bp.blogspot.com/-bqc3Z7o-ehI/WyTKf-4zUvI/AAAAAAAAC_0/syPiX3J_1cAFVqe6jEebK6UZmtAdzIRvwCLcBGAs/s1600/1.jpg" ><img     src="https://3.bp.blogspot.com/-bqc3Z7o-ehI/WyTKf-4zUvI/AAAAAAAAC_0/syPiX3J_1cAFVqe6jEebK6UZmtAdzIRvwCLcBGAs/s400/1.jpg"  /></a></div>
<br />
<div  >
<a href="https://4.bp.blogspot.com/-LGO-Za9-5aw/WyTKf06n_HI/AAAAAAAAC_4/SXsgY3L39oEDkFXc8HvTvoVHLScLuT8VACLcBGAs/s1600/2.jpg" ><img     src="https://4.bp.blogspot.com/-LGO-Za9-5aw/WyTKf06n_HI/AAAAAAAAC_4/SXsgY3L39oEDkFXc8HvTvoVHLScLuT8VACLcBGAs/s400/2.jpg"  /></a></div>
<br />
<div  >
<a href="https://3.bp.blogspot.com/--xWR0QPDup4/WyTKgdcOEtI/AAAAAAAAC_8/bOy1i7zYLJopO3Sk1cRheaBssNv2LyRKQCLcBGAs/s1600/3.jpg" ><img     src="https://3.bp.blogspot.com/--xWR0QPDup4/WyTKgdcOEtI/AAAAAAAAC_8/bOy1i7zYLJopO3Sk1cRheaBssNv2LyRKQCLcBGAs/s400/3.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<div >
<div >
<span ><b >Nombre:&nbsp;</b><span >Sakura Fantasy</span></span></div>
</div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;NCinetica, Eroge, Yuri</span></span><br />
<span ><b >Estudio:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >&nbsp;</span></span></span><span >Winged Cloud</span></div>
<div >
<span ><b >&nbsp;Genero:</b><span >&nbsp;Romance, Escenas Desbloqueables</span></span></div>
<div >
<span ><b >Subtitulos:</b><span ><span >&nbsp;Español Completo</span><br /><b >Agradecimientos:</b><span ><span ><span >&nbsp;</span></span><a href="https://www.facebook.com/LuiggiixD/"  target="_blank">LuiggiixD</a></span></span></span><br />
<div >
<span ><span ><span ><b>Duración: </b>2&nbsp;- 10 horas</span></span></span></div>
</div>
<div >
<span ><span ><b>Tamaño del archivo:&nbsp;</b>403M</span><span >b</span></span></div>
</div>
<div >
<div >
<br /></div>
<div >
<b><span >Descarga Mega:</span></b></div>
<div>
<div >
<a href="https://ouo.io/T0yeXa"  target="_blank"><b>Sakura Fantasy</b></a></div>
<div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span></div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><br /></span>
</div>
<div >
<div >
<b><span >Descarga Mediafire:</span></b></div>
<a href="https://ouo.io/MEUmhEx"  target="_blank"><b>Sakura Fantasy</b></a></div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span></div>
</div>
<div >
<br /></div>
</div>
</div>
</div>
</div>
</div>
<div >
<div >
<div >
<b ><span >Instrucciones de&nbsp;instalación:</span></b></div>
</div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >1.-</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >&nbsp;Ejecutar Sakura Fantasy</span></div>
</div>
</div>

  </article>
</Layout>

  