---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Rose Guns Days - Season 1`
export const date = '2014-12-23T01:58:00.000-05:00' 
export const updated = '2018-09-28T11:47:05.699-05:00'
export const tags = ["español","Mediafire","Rose Guns Days","sin h","visual novel",null,"Mega","Completo","visualnovelparapc","novela visual","Rose Guns Days - Season 1","novela cinetica"]
export const urlComments = 'http://www.visualnovelparapc.com/2014/12/rose-guns-days-season-1.html#comment-form'
export const cover = 'http://4.bp.blogspot.com/-g_nCSICtwss/VJkIFKt6yDI/AAAAAAAABZg/fdMePyz-fD0/s1600/1.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2014/12/rose-guns-days-season-1.html">Rose Guns Days - Season 1[NovelaCinetica][Español]</a></div>
<div >
<br /></div>
<div  >
<a href="http://4.bp.blogspot.com/-g_nCSICtwss/VJkIFKt6yDI/AAAAAAAABZg/fdMePyz-fD0/s1600/1.jpg"  ><img  src="http://4.bp.blogspot.com/-g_nCSICtwss/VJkIFKt6yDI/AAAAAAAABZg/fdMePyz-fD0/s1600/1.jpg"   /></a></div>
<div >
<br /></div>
<div >
<span >Rose Guns Days transcurre en Japón al final de la Segunda Guerra Mundial. Devastados con la derrota, se establece un plan de reconstrucción de los Aliados. Pero E.E.U.U y China dividen el territorio en zonas ocupadas implantando sus organizaciones y modos de vida. &nbsp;Los inmigrantes chinos y americanos obtienen privilegios frente a la población autóctona, por lo que algunos japoneses de forma secreta reúnen sus fuerzas para desafiar al nuevo sistema y subsistir.</span></div>
<a name='more'></a><br />
<div >
<span >Todo comienza cuando Rose Haibara, que trabaja en el Club Primavera, conoce a un soldado repatriado, Leo Shishigami, en la primavera de 1947…</span></div>
<div >
<br /></div>
<div >
<span ><b>Imagenes:</b></span></div>
<div  >
<a href="http://2.bp.blogspot.com/-IrujY9Yrq1s/VJkOzkM0GwI/AAAAAAAABZw/SUr6JH1XYVE/s1600/1.jpg"  ><img  src="http://2.bp.blogspot.com/-IrujY9Yrq1s/VJkOzkM0GwI/AAAAAAAABZw/SUr6JH1XYVE/s1600/1.jpg"   /></a></div>
<br />
<div  >
<a href="http://4.bp.blogspot.com/-zAz70L_19KQ/VJkO2MGbI6I/AAAAAAAABaA/6dcbLf2MGfc/s1600/2.jpg"  ><img  src="http://4.bp.blogspot.com/-zAz70L_19KQ/VJkO2MGbI6I/AAAAAAAABaA/6dcbLf2MGfc/s1600/2.jpg"   /></a></div>
<br />
<div  >
<a href="http://1.bp.blogspot.com/-e1VKeZ1ddNk/VJkO1P8fezI/AAAAAAAABZ4/0NtN7XXCTSk/s1600/3.jpg"  ><img  src="http://1.bp.blogspot.com/-e1VKeZ1ddNk/VJkO1P8fezI/AAAAAAAABZ4/0NtN7XXCTSk/s1600/3.jpg"   /></a></div>
<div >
<br /></div>
<div  >
<span ><span ><b >Nombre:&nbsp;</b></span><span >Rose Gun Days- Season 1</span></span></div>
<div >
<span ><span ></span></span></div>
<div >
<div >
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;</span><span ><span >Novela Cinetica</span></span></span></div>
</div>
<div >
<span ><span ><span ><b >Genero:</b><span >&nbsp;Acción,&nbsp;</span></span></span><span >Mini-juegos</span></span></div>
<div >
<span ><span ><b>Estudio:&nbsp;</b>07th Expansion</span></span></div>
</div>
<div >
<div >
<div >
<div >
<span ><span ><b>Subtítulos:</b>&nbsp;Español Completo<br /><b>Agradecimientos:</b>&nbsp;</span><span ><span ><a href="https://23rddistrict.wordpress.com/"  target="_blank"><b>23rd District</b></a></span></span></span><br />
<span ><span ><b>Clasificación:</b></span><span ><span >&nbsp;</span></span><span >+15</span></span><br />
<span ><b>Duración:</b>&nbsp;15-30 horas</span></div>
</div>
</div>
<div >
<div >
<span ><span ><span ><span ><b>Tamaño del Archivo: </b>950<span >Mb</span></span><br /><br /><b >Descarga Mega:</b></span><br /><span ><span ><a href="https://mega.co.nz/#F!e0AR3aDb!Shj6zPnp_V3PnGEcVIApTQ" target="_blank"><b>Rose Gun Days</b></a></span></span><br /><span ><b><span >contraseña:</span><span ><span >&nbsp;animegame</span></span></b></span></span><b><span ><span ><br /></span><br /><span >Descarga Mediafire:</span></span></b><br /><b ><span ><u><a href="https://www.mediafire.com/folder/vri5qoneddwzo/Rose_Gun_Days">Rose Gun Days</a></u></span></b></span><br />
<div >
<span ><b>contraseña: animegame</b></span></div>
</div>
</div>
</div>
</div>
<div >
<br />
<b >Parche Español:</b><br />
<b ><a href="https://mega.co.nz/#!VpdUjJoZ!WjWev00EuWS1aNAgVVkST_M4idcWpHeGj2OJ0esyi0g">Mega</a>/<a href="http://www.mediafire.com/download/wf6g9v4q6fgu1oc/23rd+District+-+Rose+Guns+Days+Season+1+Parche+Espa%C3%B1ol+1.05.exe" target="_blank">Mediafire</a></b><br />
<br /></div>
<div >
<b><span >Instrucciones:</span></b></div>
<div >
<span >1.-Descargar y ejecutar el parche, seleccionar la carpeta del juego.</span></div>
<div >
<span ><span >2.-Entrar en [23rd District] Rose Gun Days Esp y jugar</span></span></div>

  </article>
</Layout>

  