---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Photograph Journey ~Aichi-Kyoto~`
export const date = '2014-12-14T10:25:00.001-05:00' 
export const updated = '2022-10-11T23:36:08.818-05:00'
export const tags = ["español","Photograph Journey ~Aichi-Kyoto~","Mediafire","visual novel",null,"Mega","Completo","visualnovelparapc","novela visual","japonés","otome","Photograph Journey"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/2170166553193322086/comments/default'
export const cover = 'https://4.bp.blogspot.com/-2lEZ0RwoQ1M/VV2TQdAINgI/AAAAAAAABhk/u9NnFJA-vc8/s400/11.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2015/05/photograph-journey-aichi-kyoto.html">Photograph Journey ~Aichi-Kyoto~[Otome][Español]</a><br />
<br /></div>
<div >
<div  >
<a href="http://4.bp.blogspot.com/-2lEZ0RwoQ1M/VV2TQdAINgI/AAAAAAAABhk/u9NnFJA-vc8/s1600/11.jpg" ><img   src="https://4.bp.blogspot.com/-2lEZ0RwoQ1M/VV2TQdAINgI/AAAAAAAABhk/u9NnFJA-vc8/s400/11.jpg"  /></a></div>
<div  >
<br /></div>
</div>
<div >
<div>
<span >Debido al trabajo de sus padres, la protagonista (Haruho Hayama) ha tenido que mudarse constantemente... Un día, recibe una carta de parte de uno de los chicos que se encontró durante aquellos viajes.</span><br />
<span >Se adjunta una carta y una fotografía de él.</span><br />
<span >Formulario de ese momento, la relación entre él y la nostalgia de Haruho comienza.</span><br />
<span >Esta es una historia de viajes romanticos que comenzó a <br />partir de una sola letra ...</span><br />
<span >¿Quién va a elegir para visitar?</span><br />
<a name='more'></a><span ><br /></span></div>
<div>
<b><span >Imagenes:</span></b></div>
<div  >
</div>
<div  >
<a href="http://2.bp.blogspot.com/-n449iQpEwxQ/VV2TRdT_wfI/AAAAAAAABhs/slh18q2cpOQ/s1600/12.jpg" ><img   src="https://2.bp.blogspot.com/-n449iQpEwxQ/VV2TRdT_wfI/AAAAAAAABhs/slh18q2cpOQ/s400/12.jpg"  /></a></div>
<br />
<div>
<div >
<div >
<span ><span ><span ><b >Nombre:&nbsp;</b></span><span >Photograph Journey ~Aichi-Kyoto~</span></span></span></div>
</div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;Otome</span></span></div>
<div >
<span ><b >Estudio:</b><span ><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >&nbsp;H</span></span><span ><span >oneybee</span></span></span></span></div>
<div >
<span ><b >&nbsp;Genero:</b><span >&nbsp;Romance, Otome</span></span></div>
<div >
<span ><b >Idioma:&nbsp;</b><span >Japones</span></span></div>
<div >
<span ><b ><span >Subtitulos:</span></b><span ><span >&nbsp;Español</span><br /><b >Agradecimientos:</b><span >&nbsp;<a href="http://strawberry-traducciones.blogspot.com.ar/2015/03/descarga-parche-de-photograph-journey.html" >Traducciones Strawberry</a></span></span></span></div>
<div >
<span ><span ><b>Tamaño del archivo: </b>941</span><span >M</span><span >b</span></span></div>
</div>
<div >
<div >
<br /></div>
<div >
<b><span >Descarga Mega:</span></b></div>
<div>
<div >
<a href="https://ouo.io/bndYEBm"  target="_blank"><b>Photograph Journey ~Aichi-Kyoto~</b></a></div>
<div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><br /></span><b><span >Descarga Mediafire:</span></b></div>
</div>
</div>
</div>
</div>
<div>
<div >
<div >
<div >
<div >
<a href="https://ouo.io/TN5M77C"  target="_blank"><b>Photograph Journey ~Aichi-Kyoto~</b></a></div>
</div>
<div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span></div>
<div >
<br /></div>
</div>
</div>
</div>
</div>
</div>
<div>
<div >
<div >
<b ><span >Parche:</span></b></div>
</div>
<div >
<b >&nbsp;<a href="http://www.mediafire.com/download/ov722gb2oyzr8ta/PJAiKyoPARCHE.rar">Mediafire</a>&nbsp;<span >/&nbsp;</span></b><b ><span ><span ><span ><a href="https://mega.co.nz/#!CZg2mTLR!x_OGh3tZ084lIDn6pyVQJwhkCc58zFHaRBWu39kr83k" target="_blank">Mega</a>&nbsp;</span><br /><br /><span >Tutorial de Instalación:</span></span></span></b><br />
<div  >
<iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/DsCnqgzjPn8/0.jpg" frame  src="https://www.youtube.com/embed/DsCnqgzjPn8?feature=player_embedded" ></iframe></div>
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><b><br /></b></span></div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span ><b>Instrucciones de&nbsp;instalación:</b></span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >1.- Cambiar la conf. unicode a japones para su correcto funcionamiento.</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >(Panel de control\Reloj, idioma y region\Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc)</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >2.- Montamos e instalamos con Daemon tools, ultra iso, etc</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >3.- Descargan el parche, extraen</span></span><span ><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >&nbsp;y reemplazan Rio.arc, Chip.arc, OP.dat, ED01, ED02 a la carpeta del juego</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><br />4.- Instalan la fuente y ejecutan los registros reg1 y reg2 de la carpeta fuente</span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><br /></span></div>
</div>
</div>

  </article>
</Layout>

  