---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = ` Photograph Journey ~Miyagi-Okinawa~`
export const date = '2014-12-13T03:41:00.001-05:00' 
export const updated = '2022-10-12T00:17:27.233-05:00'
export const tags = ["español","Mediafire","visual novel",null,"Mega","Completo","visualnovelparapc","novela visual","Photograph Journey ~Miyagi-Okinawa~","japonés","otome","Photograph Journey"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/2134013502058582204/comments/default'
export const cover = 'https://3.bp.blogspot.com/--4qb2vC2V6Y/VIvzWPyPneI/AAAAAAAABZE/lJU_B62CTMQ/s1600/1.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2014/12/photograph-journey-miyagi-okinawa.html" target="_blank">Photograph Journey ~Miyagi-Okinawa~[Otome][Español]</a></div>
<div >
<br /></div>
<div  >
<a href="http://3.bp.blogspot.com/--4qb2vC2V6Y/VIvzWPyPneI/AAAAAAAABZE/lJU_B62CTMQ/s1600/1.jpg" ><img   src="https://3.bp.blogspot.com/--4qb2vC2V6Y/VIvzWPyPneI/AAAAAAAABZE/lJU_B62CTMQ/s1600/1.jpg"  /></a></div>
<div >
<br /></div>
<div >
<span >Debido al trabajo de sus padres, la protagonista (Haruho Hayama) ha tenido que mudarse constantemente... Un día, recibe una carta y una foto de parte de uno de los chicos que se encontró durante aquellos viajes.</span></div>
<a name='more'></a><div >
<b ><br />Imágenes:</b></div>
<div >
<span ><br /></span></div>
<div  >
<span ><a href="http://3.bp.blogspot.com/-iWnS1UXKLKs/VIvzPUZ2sgI/AAAAAAAABY8/A98YD5rDT-8/s1600/3.jpg" ><img   src="https://3.bp.blogspot.com/-iWnS1UXKLKs/VIvzPUZ2sgI/AAAAAAAABY8/A98YD5rDT-8/s1600/3.jpg"  /></a></span></div>
<div  >
<br /></div>
<div  >
<a href="http://3.bp.blogspot.com/-6nhiskXGvqA/VIv0jDurrUI/AAAAAAAABZQ/7s_9bKlLmRQ/s1600/4.jpg" ><img   src="https://3.bp.blogspot.com/-6nhiskXGvqA/VIv0jDurrUI/AAAAAAAABZQ/7s_9bKlLmRQ/s1600/4.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<span ><b>Nombre: </b>&nbsp;Photograph Journey ~Miyagi-Okinawa~</span></div>
<div >
<span ><b>Tipo: </b>Novela Visual</span></div>
<div >
<span ><b>Estudio: </b>honeybee</span></div>
<div >
<span >&nbsp;<b>Genero: </b>Romance, Otome</span></div>
<div >
<span ><b>Idioma:</b> Japones</span></div>
<div >
<span ><b>Subtitulos:</b> Español Completo</span></div>
<div >
<span ><b>Agradecimientos: </b><a href="http://strawberry-traducciones.blogspot.com.ar/" target="_blank"><b>Traducciones Strawberry</b></a></span></div>
<div >
<span ><b>Tamaño del archivo:&nbsp;</b>853Mb</span></div>
<div >
<span ><br /></span></div>
<div >
<span ><b>Descarga Mega:</b></span></div>
<div >
<span ><b><a href="https://ouo.io/L0hcrh" target="_blank">&nbsp;Photograph Journey ~Miyagi-Okinawa~</a></b></span></div>
<div >
<span ><b>contraseña: animegame</b></span></div>
<div >
<span ><b><br /></b></span></div>
<div >
<span ><b>Descarga Mediafire:</b></span></div>
<div >
<span ><b><a href="https://ouo.io/FyETua" target="_blank">&nbsp;Photograph Journey ~Miyagi-Okinawa~</a></b></span></div>
<div >
<span ><b>contraseña: animegame</b></span></div>
<div >
<span ><br /></span></div>
<div >
<span ><b>Parche:</b></span></div>
<div >
<span >&nbsp;<a href="http://www.mediafire.com/download/7otyxk7a6ssu83j/PJMiyOkiPARCHE.rar" target="_blank">Mediafire</a> / <a href="https://mega.co.nz/#!yJ9zBDCB!D6yuOnVuqD4kicLb7EgwskgVZL4ld2dn2CgZwZHBTv0" target="_blank">Mega</a><br /><br /><b>Tutorial de Instalación:</b></span></div>
<div >
<div  >
<iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/7s7ZKzibJrA/0.jpg" frame  src="https://www.youtube.com/embed/7s7ZKzibJrA?feature=player_embedded" ></iframe></div>
<div  >
<br /></div>
<span ><b>Instrucciones:</b></span></div>
<div >
<span >1.-Cambiar la configuración regional unicode a japones</span></div>
<div >
<span >(Panel de control\Reloj, idioma y región\Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc)</span></div>
<div >
<span >2.-Ejecutar Setup e instalar, el juego se instala por defecto en "C:\Program Files\honeybee"</span></div>
<div >
<span >3.-Parchar, y jugar ^^<br /><br />Si tienen problemas con el parche pueden revisar en:&nbsp;<a href="http://www.mediafire.com/view/yu2l6gk0kvj525u/Instrucciones+de+instalaci%C3%B3n%2C+parcheado+y+fuente.docx" target="_blank">Instalación y Fuente</a></span></div>

  </article>
</Layout>

  