---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Super Secret Sexy Spy`
export const date = '2016-07-02T05:39:00.001-05:00' 
export const updated = '2022-09-28T00:53:18.032-05:00'
export const tags = ["español","Mediafire","visual novel",null,"Mega","Completo","visualnovelparapc","eroge","novela visual","SSSS","Super Secret Sexy Spy"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/4806279562138824577/comments/default'
export const cover = 'https://4.bp.blogspot.com/-mJ0ahWspbY0/WVGbHSHuiiI/AAAAAAAACZQ/dPEKPVSVIjsoWPcINe0Fgg_g4juJo7bzQCLcBGAs/s400/332.png'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2016/07/ssss-super-secret-sexy-spy.html">Super Secret Sexy Spy[Eroge][Español]</a><br />
<br />
<div  >
<a href="https://4.bp.blogspot.com/-mJ0ahWspbY0/WVGbHSHuiiI/AAAAAAAACZQ/dPEKPVSVIjsoWPcINe0Fgg_g4juJo7bzQCLcBGAs/s1600/332.png" ><img     src="https://4.bp.blogspot.com/-mJ0ahWspbY0/WVGbHSHuiiI/AAAAAAAACZQ/dPEKPVSVIjsoWPcINe0Fgg_g4juJo7bzQCLcBGAs/s400/332.png"  /></a></div>
<div  >
<br /></div>
</div>
<div  >
</div>
<div  >
<span >Mi nombre es Liyama Hunt. Soy un operativo de inteligencia para la agencia secreta conocida como "Servicio de Protección de Gatitas(FAPPS)". | Qué es FAPPS? FAPPS es una organización secreta que recolecta información e investiga embarazos, condiciones uterinas y crímenes sexuales alrededor del mundo, y, si es necesario, aplica acciones directas para mantener todo bajo control.</span></div>
<a name='more'></a><span ></span><br />
<div >
<span >Soy un operativo legendario en la organización, con una eficacia del 100% en nuestras misiones. No es un buen nombre, lo sé, pero soy un soldado de justicia| Algunos creen que esto es ridículo, pero esta organización ridícula debe existir, para proteger la paz uterina. ¡Este mundo está tan podrido!</span></div>
<br />
<div >
<b><span >Imagenes:</span></b><br />
<div  >
<a href="https://2.bp.blogspot.com/-zUjqLcE7qEY/V3eXrf0MZCI/AAAAAAAAB4I/F_ZLgug2qvs3YVLQX89xI481ZMTsS29TACLcB/s1600/13.jpg" ><img   src="https://2.bp.blogspot.com/-zUjqLcE7qEY/V3eXrf0MZCI/AAAAAAAAB4I/F_ZLgug2qvs3YVLQX89xI481ZMTsS29TACLcB/s400/13.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<a href="https://2.bp.blogspot.com/-BJZnw1S0yNY/V3eXq5bgKVI/AAAAAAAAB4E/tJB0XccNmXo98f2GmUhMeBCqlR5xlV6CgCLcB/s1600/12.jpg" ><img   src="https://2.bp.blogspot.com/-BJZnw1S0yNY/V3eXq5bgKVI/AAAAAAAAB4E/tJB0XccNmXo98f2GmUhMeBCqlR5xlV6CgCLcB/s400/12.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<a href="https://2.bp.blogspot.com/-vD-f1VK4keE/V3eXqzzTjUI/AAAAAAAAB4A/EnlBugA4auIFNaLl2qz8CAD0YILnw1jwACLcB/s1600/11.jpg" ><img   src="https://2.bp.blogspot.com/-vD-f1VK4keE/V3eXqzzTjUI/AAAAAAAAB4A/EnlBugA4auIFNaLl2qz8CAD0YILnw1jwACLcB/s400/11.jpg"  /></a></div>
<br /></div>
<div >
<span ><b><span >Nombre:</span><span >&nbsp;</span></b></span><span >SSSS</span></div>
<div >
<span ><b>Tipo:</b>&nbsp;Eroge</span></div>
<div >
<span ><span ><b>Genero:&nbsp;</b>Comedia,&nbsp;</span><span >Parodia</span></span></div>
<div >
<span ><span ><b>Estudio:&nbsp;</b></span></span><span ><span  > </span></span><span >Softhouse-Seal&nbsp;</span></div>
<div >
<span ><span ><b>Subtítulos:&nbsp;</b>Español</span></span></div>
<div >
<span ><span ><b>Agradecimientos:&nbsp;</b><a href="https://www.facebook.com/groups/266582166872115/" target="_blank">Project Gamer</a></span></span></div>
<div >
<span ><span ><b>Duración: </b>2-10 horas</span></span></div>
<div >
<span ><span ><b>Tamaño del Archivo:&nbsp;</b>666Mb</span></span></div>
<div  >
<br /></div>
<div >
<span ><span ><b>Descarga Mega:</b></span></span></div>
<div >
<a href="https://ouo.io/sxe1aM" target="_blank"><span >Super Secret</span></a></div>
<div >
<span ><span ><b>contraseña: </b>animegame</span></span></div>
<div >
<br /></div>
<div >
<span ><span ><b>Descarga Mediafire:</b><br /><a href="https://ouo.io/nViT4Zq" target="_blank">Super Secret</a></span></span></div>
<div >
<span ><span ><b>contraseña: </b>animegame</span></span><br />
<span ><span ><br /></span></span>
<span ><span ><b>Tutorial de Instalación:</b></span></span><br />
<div  >
<iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/DNmv68XrbWw/0.jpg" frame  src="https://www.youtube.com/embed/DNmv68XrbWw?feature=player_embedded" ></iframe></div>
<br /></div>
<div >
<span ><b>Instrucciones:</b></span></div>
<div >
<span >1.C</span><span >ambiar la conf. unicode a japones para su correcto funcionamiento.</span><br />
<span >(Panel de control\Reloj, idioma y región\Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc)</span><br />
<span >2.- Ejecutar SSSS.</span></div>

  </article>
</Layout>

  