---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Himawari - El Girasol`
export const date = '2022-01-21T22:08:00.004-05:00' 
export const updated = '2022-09-20T00:47:01.879-05:00'
export const tags = ["español","sin h","visual novel",null,"Completo","visualnovelparapc","novela visual","Himawari"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/9198051852187700181/comments/default'
export const cover = 'https://3.bp.blogspot.com/-MyKjUKrc0e4/W7hj3vb8sRI/AAAAAAAADMs/EJBjMw4p004HJhit3DbjIJk12xiqAyLKwCLcBGAs/s640/10.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="https://visualnovelparapc.blogspot.com/2018/10/himawari-el-girasol.html" target="_blank">Himawari[Completo][Español]</a><br />
<br />
<div  >
<a href="https://3.bp.blogspot.com/-MyKjUKrc0e4/W7hj3vb8sRI/AAAAAAAADMs/EJBjMw4p004HJhit3DbjIJk12xiqAyLKwCLcBGAs/s1600/10.jpg" ><img     src="https://3.bp.blogspot.com/-MyKjUKrc0e4/W7hj3vb8sRI/AAAAAAAADMs/EJBjMw4p004HJhit3DbjIJk12xiqAyLKwCLcBGAs/s640/10.jpg"  /></a></div>
<div  >
<br /></div>
</div>
<div >
<span >Himawari cuenta una historia de amor, tragedia y sacrificio en dos etapas: la Tierra y el espacio exterior. Empezamos con Hinata Youichi, un joven estudiante de secundaria y único superviviente de un trágico accidente de avión espacial que le robó a su familia y recuerdos aproximadamente dos años antes.</span><br />
<a name='more'></a><br />
<span >Amnésico pero estable en su nueva vida, Youichi logra encontrar consuelo al rodearse de amigos: Amamiya Ginga, el excéntrico hijo de un astronauta de fama mundial, así como también su amiga de la infancia casi marimacho, pero bondadosa, Saionji Asuka.&nbsp;</span><br />
<span >Sin embargo, todo cambia cuando un objeto no identificado se estrella en la ciudad natal de Youichi y conoce a Aries, una chica misteriosa, y similarmente amnésica, del espacio exterior. ¿Quién es Aries? ¿Qué pasó en ese fatídico día hace dos años? ¿Y qué secretos acechan detrás del accidente que cambió la vida de Youichi?</span><br />
<span ><br /></span>
<span >Explora la lucha de Youichi para arreglarse con sus recuerdos perdidos, mientras que una historia completamente diferente se revela mucho más allá de las nubes, en el frío vacío del espacio exterior. Lo que comienza como la aventura alegre de un joven en el instituto, pronto toma un giro más serio, ya que tanto Youichi como el lector se ven obligados a enfrentar una revelación aleccionadora: que no todo es lo que parece a primera vista.</span></div>
<div >
<br /></div>
<div >
<span ><b>Imágenes:</b></span></div>
<div  >
<a href="https://1.bp.blogspot.com/-71oMnzL-Zow/W7h2-SBzOYI/AAAAAAAADNM/zM01QFke8Bo_addEVse3rob8uH--PiarQCLcBGAs/s1600/12.jpg" ><img     src="https://1.bp.blogspot.com/-71oMnzL-Zow/W7h2-SBzOYI/AAAAAAAADNM/zM01QFke8Bo_addEVse3rob8uH--PiarQCLcBGAs/s400/12.jpg"  /></a></div>
<br />
<div  >
<a href="https://3.bp.blogspot.com/-wuw4LytTC-Q/W7h2-bUGPuI/AAAAAAAADNQ/uK2aSE99L-ENWSj488SKAh4GXLfUeQi2QCLcBGAs/s1600/13.jpg" ><img     src="https://3.bp.blogspot.com/-wuw4LytTC-Q/W7h2-bUGPuI/AAAAAAAADNQ/uK2aSE99L-ENWSj488SKAh4GXLfUeQi2QCLcBGAs/s400/13.jpg"  /></a></div>
<br />
<div  >
<a href="https://3.bp.blogspot.com/-js3_qo7OsSQ/W7h2-dwUQhI/AAAAAAAADNU/XSWpEBLzs44GLqbejR0wnifV3hhVdopVQCLcBGAs/s1600/14.jpg" ><img     src="https://3.bp.blogspot.com/-js3_qo7OsSQ/W7h2-dwUQhI/AAAAAAAADNU/XSWpEBLzs44GLqbejR0wnifV3hhVdopVQCLcBGAs/s400/14.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<div >
<div >
<span ><b >Nombre:&nbsp;</b><span >Himawari</span></span></div>
</div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;NovelaVisual</span></span><br />
<span ><b >Estudio:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >&nbsp;</span></span></span><span >Encubed</span></div>
<div >
<span ><b >&nbsp;Genero:</b><span >&nbsp;Romance, Amnesia, Psicologico, Loli</span></span></div>
<div >
<span ><b >Subtitulos:</b><span ><span >&nbsp;Español</span><br /><b >Agradecimientos:</b><span ><span ><span >&nbsp;</span></span><a href="https://sharin-sub.blogspot.com/2018/09/himawari-el-girasol-parche-parcial.html"  target="_blank">Sharin-sub</a></span></span></span><br />
<div >
<span ><span ><span ><b>Duración: </b>30-50<b>&nbsp;</b>&nbsp;horas</span></span></span></div>
</div>
<div >
<span ><span ><b>Tamaño del archivo:&nbsp;</b>2.5G</span><span >b</span></span></div>
</div>
<div >
<div >
<br /></div>
<div >
<b><span >Descarga Mega:</span></b></div>
<div>
<div >
<a href="https://ouo.io/7spE6h"  target="_blank"><b>Himawari</b></a></div>
<div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><br /></span><b><span >Descarga Mediafire:</span></b></div>
</div>
</div>
</div>
</div>
<div >
<div >
<div >
<div >
<div >
<a href="https://ouo.io/vErfvhO"  target="_blank"><b>Himawari</b></a></div>
</div>
<div >
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span><br />
<div >
<br /></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div >
</div>
<div >
<div >
<div >
<b >Parche 0.3:</b></div>
</div>
<div >
<b >&nbsp;</b><b ><span ><span ><a href="http://www.mediafire.com/file/dxguzwgsm8pu000/Himawari_0.3.rar" target="_blank">Mediafire</a></span></span></b></div>
</div>
<div >
<div >
<b ><span ><span ><br /></span></span></b><b ><span ><span >OP:</span></span></b><br />
<div  >
<iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/fTkwNLMVsPI/0.jpg" frame  src="https://www.youtube.com/embed/fTkwNLMVsPI?feature=player_embedded" ></iframe></div>
<br />
<b ><span >Instrucciones de&nbsp;instalación:</span></b></div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >1.- Cambiar la conf. unicode a japones(Panel de control\Reloj, idioma y region\Administrativo -&nbsp;</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >cambiar conf. unicode seleccionas japones e reinicias la pc).</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >2.- Extraer el parche en el directorio.</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >3.- Instala la fuente GrisaiaCustom_2.tff.</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >4.- Ejecutar himawari y guardar una partida.</span></span></div><div ><span ><span >5.- Si el juego muestra caracteres japoneses, presiona la tecla del logo de Windows y la R a la vez.<div>6.- Escribes %appdata% y le das a aceptar, abre la carpeta que se llama Frontwing, luego la que se llama Himawari&nbsp; El Girasol-.</div><div>7.- Abre el archivo setup.xml con un editor de textos y buscas lo siguiente &lt;FONT&gt; En la línea 830 debe aparecer un nombre de una fuente que normalmente será MS Gothic (estará en japonés) así que reemplazalo por GrisaiaCustom.</div></span></span>
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >8.- Disfrutar :D</span></span><br /></div>
</div>

  </article>
</Layout>

  