---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Subarashiki Hibi ~Furenzoku Sonzai~`
export const date = '2016-04-20T07:26:00.001-05:00' 
export const updated = '2022-09-28T01:09:24.952-05:00'
export const tags = ["español","Mediafire","visual novel",null,"yuri","Días maravillosos ～Existencia discontinua～","Subarashiki Hibi","Mega","visualnovelparapc","eroge","novela visual","Subarashiki Hibi ~Furenzoku Sonzai~"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/7751141365951587026/comments/default'
export const cover = 'https://2.bp.blogspot.com/-uLSwkwu0ds4/VOLc1GJqn-I/AAAAAAAABeg/Ty-5rcq4qRI/s1600/444.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2015/02/subarashiki-hibi-furenzoku-sonzai.html" target="_blank">Subarashiki Hibi ~Furenzoku Sonzai~[Eroge][Español]</a></div>
<div >
<br /></div>
<div  >
<a href="http://2.bp.blogspot.com/-uLSwkwu0ds4/VOLc1GJqn-I/AAAAAAAABeg/Ty-5rcq4qRI/s1600/444.jpg" ><img   src="https://2.bp.blogspot.com/-uLSwkwu0ds4/VOLc1GJqn-I/AAAAAAAABeg/Ty-5rcq4qRI/s1600/444.jpg"  /></a></div>
<div >
<br /></div>
<div >
<span ><span >La historia comienza en el capítulo 1, 'Down the Rabbit-Hole', en julio de 2012. Minakami Yuki vive una vida cotidiana pacífica con Tsukasa y Kagami, sus amigas de la infancia. Luego encuentra a una chica llamada Takashima Zakuro lanzando juguetes de peluche desde una azotea. Zakuro es una misteriosa chica que habla de cosas como el cielo y la aerodinámica, y le pide disculpas a Yuki por arrastrarla a una historia tan trágica.</span></span></div>
<a name='more'></a><br />
<div >
<span ><span >Los capítulos siguientes presentan la historia desde el punto de vista de otros personajes que participan en el evento. Son seis capítulos que varían en longitud y estructura, pero en su mayor parte abarcan el mes de julio de 2012 desde una serie de diferentes perspectivas.</span></span></div>
<div >
<span ><span ><br /></span></span></div>
<div >
<b ><span >Imagenes:</span></b></div>
<div >
<br /></div>
<div  >
<a href="http://3.bp.blogspot.com/-DdmzNGDW4uI/VOLdwZQvirI/AAAAAAAABe4/VN3T3aScwAg/s1600/1.png" ><img   src="https://3.bp.blogspot.com/-DdmzNGDW4uI/VOLdwZQvirI/AAAAAAAABe4/VN3T3aScwAg/s1600/1.png"  /></a></div>
<br />
<div  >
<a href="http://4.bp.blogspot.com/-TW5ouvGsL-8/VOLdvEODFNI/AAAAAAAABew/Kbgf5yg1Lhw/s1600/2.png" ><img   src="https://4.bp.blogspot.com/-TW5ouvGsL-8/VOLdvEODFNI/AAAAAAAABew/Kbgf5yg1Lhw/s1600/2.png"  /></a></div>
<br />
<div  >
<a href="http://4.bp.blogspot.com/-XA5xzEKZAOU/VOLdsRUniOI/AAAAAAAABeo/3giQq9o-XE0/s1600/3.png" ><img   src="https://4.bp.blogspot.com/-XA5xzEKZAOU/VOLdsRUniOI/AAAAAAAABeo/3giQq9o-XE0/s1600/3.png"  /></a></div>
<div >
<br /></div>
<div >
<div>
<span ><span ><b>Nombre:</b>&nbsp;</span></span><span >Subarashiki Hibi ~Furenzoku Sonzai~</span></div>
<div>
<span ><b>Tipo:</b> Eroge</span></div>
<div>
<span ><span ><b>Genero:&nbsp;</b></span></span><span >Filosofía, Denpa</span></div>
<div>
<span ><span ><b>Estudio:</b>&nbsp;</span><span >KeroQ</span></span></div>
<div>
<span ><span ><b>Subtítulos: </b>Rh1, Rh2</span></span></div>
<div>
<span ><span ><b>Agradecimientos:&nbsp;<a href="http://07thinquisition.foroactivo.com/t886-demo-subarashiki-hibi" target="_blank">07 Inquisition</a></b></span></span></div>
<div>
<span ><span ><b>Duración:</b> 30-50 horas</span></span></div>
<div>
<span ><span ><b>Tamaño del Archivo: </b>3.36Gb</span></span></div>
<div  >
<br /></div>
<div>
<span ><span ><b>Descarga Mega:</b></span></span></div>
<div>
<span ><a href="https://ouo.io/Ucke6Y" target="_blank">Subarashiki Hibi</a></span><br />
<span >contraseña; animegame</span></div>
<div>
<span ><span ><br /></span></span></div>
<div>
<span ><span ><b>Descarga Mediafire:</b></span></span></div>
<div>
<span ><span ><a href="https://ouo.io/mIaMlfv" target="_blank">Subarashiki Hibi</a><br />contraseña; animegame</span><b ><br /><br /></b></span></div><div><b ><span >Parche:</span><br /><a href="http://www.mediafire.com/file/5m3nqr3nicwjyaz/De_p%2At%2A_madre_todos_los_dias_vivencia_dispareja_v2.14c.exe/file" target="_blank">Español</a><br /><br /><span >Tutorial:</span></b><br />
<div  >
<iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/l2jz8Hhbu7A/0.jpg" frame  src="https://www.youtube.com/embed/l2jz8Hhbu7A?feature=player_embedded" ></iframe></div>
<b >Instrucciones:</b></div>
<div>
<span ><b>1.-</b></span><span >Cambiar la conf. unicode a japones para su correcto funcionamiento.</span><br />
<span >(Panel de control\Reloj, idioma y región\Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc)</span></div>
<div>
<span >2.-Monta e instala el iso<br />3.- Ejecuta el parche</span><br />
<span >4.- Ejecuta&nbsp;</span><span >"BGI-es.exe"</span><br />
<br />
<span ><span ><span >Nota: El juego solo va traducido Rh1, Rh2, y 3 días de It's My Own Invention,</span></span><span ><span >&nbsp;les avisare cuando salgan más parches.</span></span></span></div>
</div>

  </article>
</Layout>

  