---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Sono Hanabira ~ Deatta Koro no Omoide ni`
export const date = '2016-04-19T09:04:00.002-05:00' 
export const updated = '2023-05-04T17:54:58.940-05:00'
export const tags = ["español","sin h","sono hanabira ni kuchizuke wo",null,"yuri","El Beso de los Pétalos - Recordando Como Nos Conocimos","Completo","visualnovelparapc","sono hanabira","novela cinetica"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/6462487265051922893/comments/default'
export const cover = 'https://3.bp.blogspot.com/-ZXcUOl-tJbs/VxYa1U8rtnI/AAAAAAAAB1E/n90DPziDz24HfZy4VTBHSi6Ds1QoK5hkQCLcB/s400/11111.png'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2016/04/el-beso-de-los-petalos-recordando-como.html" target="_blank">Sono Hana Deatta Koro no Omoide ni[Yuri][NCinetica]</a></div>
<div >
<br /></div>
<div  >
<a href="https://3.bp.blogspot.com/-ZXcUOl-tJbs/VxYa1U8rtnI/AAAAAAAAB1E/n90DPziDz24HfZy4VTBHSi6Ds1QoK5hkQCLcB/s1600/11111.png" ><img   src="https://3.bp.blogspot.com/-ZXcUOl-tJbs/VxYa1U8rtnI/AAAAAAAAB1E/n90DPziDz24HfZy4VTBHSi6Ds1QoK5hkQCLcB/s400/11111.png"  /></a></div>
<div  >
<span ><br /></span></div>
<div >
<span >Este juego cuenta la historia de como se conocieron Risa y Miya. La historia transcurre después del juego "El Caballero de Blancanieves", pero los recuerdos se sitúan antes de "Las Doncellas de St. Michael"(SonoHabira11).</span></div>
<div >
<a name='more'></a></div>
<div >
<b><span ><br /></span></b><b><span >Imagenes:</span></b></div>
<div >
<div  >
<a href="https://1.bp.blogspot.com/-JIQv-OSAmL4/VxYbUni9znI/AAAAAAAAB1M/s81C7fqHR648cla0CcJNhqmK8rAWIlM9wCLcB/s1600/668.jpg" ><img   src="https://1.bp.blogspot.com/-JIQv-OSAmL4/VxYbUni9znI/AAAAAAAAB1M/s81C7fqHR648cla0CcJNhqmK8rAWIlM9wCLcB/s400/668.jpg"  /></a></div>
<br />
<div  >
<a href="https://1.bp.blogspot.com/-ykGhF3HboGA/VxYbUf4x98I/AAAAAAAAB1I/yH_H7oueqTcckUczqf_231L0-OnsxaAJgCLcB/s1600/669.jpg" ><img   src="https://1.bp.blogspot.com/-ykGhF3HboGA/VxYbUf4x98I/AAAAAAAAB1I/yH_H7oueqTcckUczqf_231L0-OnsxaAJgCLcB/s400/669.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<span ><b><span >Nombr</span><span ><span >e:</span><span >&nbsp;</span></span></b></span><span >Sono Hana Deatta Koro no Omoide ni</span></div>
<div >
<span ><b>Tipo:</b>&nbsp;Novela Cinetica</span></div>
<div >
<span ><span ><b>Estudio:&nbsp;</b></span></span><span >Sei Mikaeru Joshi Gakuen</span><br />
<span ><span ><b>Genero:</b>&nbsp;</span><span >Romance, Yuri</span></span><span ><br /></span></div>
<div >
<span ><span ><b>Subtítulos:&nbsp;</b>Español Completo</span></span></div>
<div >
<span ><span ><b>Agradecimientos:&nbsp;</b><a href="http://soulhunternofansub.blogspot.mx/" target="_blank">SoulHunter no Fansub</a></span></span></div>
<div >
<span ><span ><b>Duración:&nbsp;</b>2-10 horas</span></span></div>
<div >
<span ><span ><b>Tamaño del Archivo:&nbsp;</b>212Mb</span></span><br />
<br /></div>
</div>
<div >
<div >
<div >
<b><span >Descarga Mega:</span></b></div>
<div>
<div >
<a href="https://ouo.io/qkh7Kw"  target="_blank"><b>Deatta Koro no Omoide ni</b></a></div>
<div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b >contraseña</b><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span></div>
<div >
<br /></div>
<div >
<b><span >Descarga Mediafire:</span></b></div>
<span ><span ><a href="https://ouo.io/8x9IbB" target="_blank"><b>Deatta Koro no Omoide ni</b></a></span></span><br />
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b >contraseña</b><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span></div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><br /></span></div>
<div>
<div >
<b >Parche:</b></div>
</div>
<div >
<b ><a href="http://www.mediafire.com/file/k216obkt57tai4k/SHRCNC_Esp.rar" target="_blank">Mediafire</a><br /><br />Tutorial de Instalación:</b></div>
<div >
<div  >
<iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/XSsLXr04k_g/0.jpg" frame  src="https://www.youtube.com/embed/XSsLXr04k_g?feature=player_embedded" ></iframe></div>
<div  >
<br /></div>
<div >
<b ><span >Instrucciones de&nbsp;instalación:</span></b></div>
</div>
<div  >
<span ><span >1.- Parchar(Extraer el parche en la carpeta del juego)</span></span></div>
<div  >
<span ><span >2.- Entrar a lib/windows-i6i8</span></span></div>
<div  >
<span ><span >3.- Ejecutar RememberingHowWeMet.exe</span></span></div></div></div>
</div>
</div>

  </article>
</Layout>

  