---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Photograph Journey ~Kagawa-Miyazaki~`
export const date = '2020-05-05T19:33:00.001-05:00' 
export const updated = '2022-09-21T17:26:52.021-05:00'
export const tags = ["español","Photograph Journey ~Kagawa-Miyazaki~","Mediafire","visual novel",null,"Mega","Completo","visualnovelparapc","novela visual","japonés","otome","Photograph Journey"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/1940639895166779551/comments/default'
export const cover = 'https://1.bp.blogspot.com/-7fnXaQ6MCW0/XrX4H18AdDI/AAAAAAAAD0U/mN4O42ar1VkE7HSjwpfJgihUT5kGKNOygCLcBGAsYHQ/s400/30.png'

---

<Layout title = {title} >
  <article>
  <div  >
<a href="https://visualnovelparapc.blogspot.com/2020/05/photograph-journey-kagawa-miyazaki.html" target="_blank">Photograph Journey ~Kagawa-Miyazaki~[Otome][Español]</a></div>
<div  >
<br /></div>
<div  >
<a href="https://1.bp.blogspot.com/-7fnXaQ6MCW0/XrX4H18AdDI/AAAAAAAAD0U/mN4O42ar1VkE7HSjwpfJgihUT5kGKNOygCLcBGAsYHQ/s1600/30.png" ><img     src="https://1.bp.blogspot.com/-7fnXaQ6MCW0/XrX4H18AdDI/AAAAAAAAD0U/mN4O42ar1VkE7HSjwpfJgihUT5kGKNOygCLcBGAsYHQ/s400/30.png"  /></a></div>
<div  >
<br /></div>
<div >
<span >Debido al trabajo de sus padres, la protagonista (Haruho Hayama) ha tenido que mudarse constantemente... Un día, recibe una carta de parte de uno de los chicos que se encontró durante aquellos viajes.</span></div>
<div >
<a name='more'></a></div>
<div >
<span ><br /></span><span ><b>Imagenes:</b></span></div>
<div >
<div  >
<a href="https://1.bp.blogspot.com/-xGKwHG2QVB4/XrM07pSE7OI/AAAAAAAADzE/UUjVgHpdRykLmIHki8c5AbrBcWT0oASdQCLcBGAsYHQ/s1600/22.png" ><img     src="https://1.bp.blogspot.com/-xGKwHG2QVB4/XrM07pSE7OI/AAAAAAAADzE/UUjVgHpdRykLmIHki8c5AbrBcWT0oASdQCLcBGAsYHQ/s400/22.png"  /></a></div>
<br />
<div  >
<a href="https://1.bp.blogspot.com/-3e4yGyMq_q4/XrM07pC0GcI/AAAAAAAADzI/d5IC4AfXeDgkmK46_1OYKaGVtCtAE7tQQCLcBGAsYHQ/s1600/23.png" ><img     src="https://1.bp.blogspot.com/-3e4yGyMq_q4/XrM07pC0GcI/AAAAAAAADzI/d5IC4AfXeDgkmK46_1OYKaGVtCtAE7tQQCLcBGAsYHQ/s400/23.png"  /></a></div>
<br />
<div  >
<a href="https://1.bp.blogspot.com/-gQOnT0mItIk/XrM07lW8SVI/AAAAAAAADzM/UiH-i0X77rgHYwALATyExjOQbl6UXoaXwCLcBGAsYHQ/s1600/24.png" ><img     src="https://1.bp.blogspot.com/-gQOnT0mItIk/XrM07lW8SVI/AAAAAAAADzM/UiH-i0X77rgHYwALATyExjOQbl6UXoaXwCLcBGAsYHQ/s400/24.png"  /></a></div>
<div  >
<br /></div>
</div>
<div >
<span >Nombre: Photograph Journey ~Kagawa-Miyazaki~</span></div>
<div >
<span >Tipo: Otome</span></div>
<div >
<span >Estudio: honeybee</span></div>
<div >
<span >&nbsp;Genero: Romance, Otome</span></div>
<div >
<span >Idioma: Japones</span></div>
<div >
<span >Subtitulos: Español Completo</span></div>
<div >
<span >Agradecimientos:</span><span >&nbsp;<a href="http://strawberry-traducciones.blogspot.com.ar/" target="_blank"><b>Traducciones Strawberry</b></a></span></div>
<div >
<span >Tamaño del archivo: 959Mb</span></div>
<div >
<span ><br /></span></div>
<div >
<span >Descarga Mega:</span></div>
<div >
<a href="https://ouo.io/NjnlDp1" target="_blank"><span >~Kagawa-Miyazaki~</span></a></div>
<div >
<span >contraseña: animegame</span></div>
<div >
<span ><br /></span></div>
<div >
<span >Descarga Mediafire:</span></div>
<div >
<span ><a href="https://ouo.io/hAJsng" target="_blank">~Kagawa-Miyazaki~</a></span></div>
<div >
<span >contraseña: animegame</span></div>
<div >
<span ><br /></span></div>
<div >
<span >Parche:</span></div>
<div >
<span ><a href="https://mega.nz/file/6RRhUQQS#Qu3Lkd092v3Zz-a6c_GvFRgH1008d2LSc3oZNcspWFA" target="_blank"><span >Mega</span></a><span >/&nbsp;</span><a href="https://www.mediafire.com/file/i4ceh062m0okyta/PJKagaMiyaPARCHE.rar/file" target="_blank"><span >Mediafire</span></a></span></div>
<div >
<br /></div>
<div >
<span >Instrucciones de instalación:</span></div>
<div >
<span >1.- Cambiar la conf. unicode a japones para su correcto funcionamiento.</span><br />
<span >(Panel de control\Reloj, idioma y region\Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc).</span><br />
<span >2.- Ejecutar Setup y instalar(por defecto en C:\Program Files (x86)\honeybee\Photograph Journey～恋する旅行・香川編＆宮崎編～).</span><br />
<span >3.- Extraer los archivos del parche en la carpeta del juego.</span><br />
<span >4.- Entrar a la carpeta "Parche" y copiar y pegar los archivos en la carpeta del juego(Pegarlos en la carpeta C:\Program Files (x86)\honeybee\Photograph Journey～恋する旅行・香川編＆宮崎編～ y reemplazar).</span><br />
<span >5.- Entrar a la carpeta "Fuente" y instalar la fuente MS-Gothic-Esp.</span><br />
<span >6.- En la misma carpeta ejectuar PJKagaMiya1 y PJKagaMiya2(puede dar error pero no hay problema).</span><br />
<span >7.- Ejecutar pj_kagawa_miyazaki.</span><br />
<span >8.- Disfrutar :D</span></div>

  </article>
</Layout>

  