---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Donar`
export const date = '2020-05-18T12:05:00.000-05:00' 
export const updated = '2023-12-28T23:45:03.679-05:00'
export const tags = [null]
export const urlComments = 'null'
export const cover = 'https://3.bp.blogspot.com/-FYNATN-lUmc/W5ix0OIurZI/AAAAAAAADKM/yjLq7g1RapQB58NRIehTzlYR7GuWXq-rQCLcBGAs/s400/556.png'

---

<Layout title = {title} >
  <article>
  <div >
<span><span ><u><b>Donaciones</b></u></span></span></div>
<div >
<br />
<span >Todas las donaciones son para el dominio de la pagina, mantenimiento y servidores de alojamiento, también me ayudan a traer más Visual Novels a la pagina.</span></div><div ><span ><br /></span></div><div ><span >Comenten y sugieran lo que gusten.</span></div><div ><span ><br /></span></div><div ><span >Clic en la mona china(Ikaros) para donar.</span></div>
<div >
<div  >
<a href="https://www.paypal.me/VisualNovelParaPc" target="_blank"><img     src="https://3.bp.blogspot.com/-FYNATN-lUmc/W5ix0OIurZI/AAAAAAAADKM/yjLq7g1RapQB58NRIehTzlYR7GuWXq-rQCLcBGAs/s400/556.png"  /></a></div>
<div  >
<br /></div>
<div  >
<span ><b>Apoya con un clic en el gif</b></span></div>
</div>
<div >
<div  >
<a href="https://ouo.io/MsZRwX"  target="_blank"><span ><img    src="https://4.bp.blogspot.com/-N0Y0sAkrvb8/VfrtKnSIXwI/AAAAAAAABoo/rLKUEeb-lSoX6E8SpgsE4lWcjj0WuO1WACPcBGAYYCw/s1600/th_.gif" /></span></a></div>
<div  >
<span ><br /></span></div>
<div  >
<span ><b ><span >Diez años de</span><span > </span><span >Visual Novel Para Pc</span><span > </span><span >g</span></b><b><span >racias a todos por parte del Staff, sigamos creciendo como comunidad :)</span></b></span></div>
</div>

  </article>
</Layout>

  