---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Sepia Tears`
export const date = '2015-02-17T02:02:00.001-05:00' 
export const updated = '2022-09-28T01:49:37.749-05:00'
export const tags = ["español","sin h","visual novel",null,"Completo","visualnovelparapc","novela visual","Sepia Tears"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/3053217229481977333/comments/default'
export const cover = 'https://1.bp.blogspot.com/-L9uNPZ0tpdo/VOHEcx0YlHI/AAAAAAAABdQ/gzWb3p3MViQ/s1600/11.jpg'

---

<Layout title = {title} >
  <article>
  <div  >
</div>
<div >
<a href="http://visualnovelparapc.blogspot.com/2015/02/sepia-tears.html" target="_blank">Sepia Tears[NovelaVisual][Español]</a></div>
<div >
<br /></div>
<div  >
<a href="http://1.bp.blogspot.com/-L9uNPZ0tpdo/VOHEcx0YlHI/AAAAAAAABdQ/gzWb3p3MViQ/s1600/11.jpg" ><img   src="https://1.bp.blogspot.com/-L9uNPZ0tpdo/VOHEcx0YlHI/AAAAAAAABdQ/gzWb3p3MViQ/s1600/11.jpg"  /></a></div>
<div >
<br /></div>
<div >
<span ><span >"Ella se me hace familiar. Estoy seguro de eso. El recuerdo vacila en lo profundo de mi mente como un vívido ensueño, pero no puedo concluir de qué se trata."</span></span></div>
<a name='more'></a><br />
<div >
<span ><span >​Sepia Tears, lágrimas sepia, es una novela visual independiente desarrollada por Team Neet. Sepia Tears nos lleva a una pequeña ciudad en época de invierno. Nuestro protagonista, Mark, es reacio a creer en las historias de amor ya que las asemeja a "libros románticos", lo cual las hace irreales e imposibles. Sus recuerdos, algo distorsionados por un suceso ocurrido hace 3 años y a sus constantes fantasías que lo desconectan de la vida real lo perseguirán por la repentina aparición de una chica llamada Myra, la cual dice ser su amiga de la infancia. &nbsp;</span></span></div>
<div >
<br /></div>
<div >
<span ><span >Acompaña a Mark, Myra, Lillian, Rina y Lukas en esta fascinante historia y descubre la verdad sobre Myra y los recuerdos perdidos de Mark.</span></span></div>
<div >
<br /></div>
<div >
<b><span >Imagenes:</span></b></div>
<div >
<br /></div>
<div  >
<a href="http://1.bp.blogspot.com/-B57pVTKCnSU/VOHIxpQmxAI/AAAAAAAABdc/101YddaoaMI/s1600/11.jpg" ><img   src="https://1.bp.blogspot.com/-B57pVTKCnSU/VOHIxpQmxAI/AAAAAAAABdc/101YddaoaMI/s1600/11.jpg"  /></a></div>
<br />
<div  >
<a href="http://3.bp.blogspot.com/-zRMpgs5tQ0Q/VOHIzAxWGCI/AAAAAAAABdk/oWCh0ztAa6M/s1600/12.jpg" ><img   src="https://3.bp.blogspot.com/-zRMpgs5tQ0Q/VOHIzAxWGCI/AAAAAAAABdk/oWCh0ztAa6M/s1600/12.jpg"  /></a></div>
<div >
<br /></div>
<div >
<span ><span ><b>Nombre:</b>&nbsp;</span></span><span >Sepia Tears</span></div>
<div >
<span ><b>Tipo: </b>Novela Visual</span></div>
<div >
<span ><span ><b>Genero:&nbsp;</b></span><span >Romance</span></span></div>
<div >
<span ><span ><b>Estudio:</b>&nbsp;</span><span >TeamNEET</span></span></div>
<div >
<span ><span ><b>Subtítulos: </b>Español Completo</span></span></div>
<div >
<span ><span ><b>Agradecimientos:</b>&nbsp;<a href="https://www.facebook.com/pages/Sepia-Tears-en-Espa%C3%B1ol/451707258309214?ref=ts&amp;fref=ts" target="_blank">Sepia Tears en Español</a></span></span></div>
<div >
<span ><span ><b>Duración:</b> 2-10 horas</span></span></div>
<div >
<span ><span ><b>Tamaño del Archivo:</b> 300Mb</span></span></div>
<div  >
<br /></div>
<div >
<span ><span ><b>Descarga Mega:</b></span></span></div>
<div >
<a href="https://ouo.io/qXILrJ" target="_blank"><span >Sepia Tears</span></a></div>
<div >
<b><br /></b></div>
<div >
<span ><span ><b>Descarga Mediafire:</b></span></span></div>
<div >
<span ><span ><a href="https://ouo.io/CH9aM8" target="_blank">Sepia Tears</a></span></span><br />
<br /></div>
<div >
<span ><b>Instrucciones:</b></span></div>
<div >
<span >1.-Ejecuta "Sepiatears"</span><br />
<span >2.- Disfrutar</span></div>

  </article>
</Layout>

  