---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `DRAMAtical Murder`
export const date = '2015-02-05T03:01:00.003-05:00' 
export const updated = '2023-08-05T17:47:13.992-05:00'
export const tags = ["español",null,"DRAMAtical Murder","visualnovelparapc","eroge","yaoi","VisualNovel"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/443561742063249680/comments/default'
export const cover = 'https://1.bp.blogspot.com/-uLnaSNw3y3Q/VMXwPxD5_-I/AAAAAAAABb4/M8hwMMTG6p4/s1600/l.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2015/01/dramatical-murder.html" target="_blank">DRAMAtical Murder[NovelaVisual][Yaoi]</a></div>
<div >
<br /></div>
<div  >
<a href="http://1.bp.blogspot.com/-uLnaSNw3y3Q/VMXwPxD5_-I/AAAAAAAABb4/M8hwMMTG6p4/s1600/l.jpg" ><img  src="https://1.bp.blogspot.com/-uLnaSNw3y3Q/VMXwPxD5_-I/AAAAAAAABb4/M8hwMMTG6p4/s1600/l.jpg" /></a></div>
<div >
<br /></div>
<div >
<span >Durante un lejano momento del futuro.</span></div>
<div >
<span >En Midorijima, una isla al suroeste de las islas japonesas.</span></div>
<div >
<span >La gente y la naturaleza una vez coexistieron en esta isla abundante.</span></div>
<a name='more'></a><div >
<span >Sin embargo, debido a ser comprada por la empresa líder de Japón "Toue Company", un tercio de la isla se ha convertido en el centro de atracciones extravagantes "Platinum Jail". Al estar equipado con la última tecnología de vanguardia, Platinum Jail ha reunido bastante atención. Por otro lado, los isleños que se convirtieron en víctimas del enérgico desarrollo son forzados a vivir en el "Distrito de Ex Residentes", y no tienen más remedio que seguir con su vida en un lugar que no es próspero en absoluto.</span></div>
<div >
<span ><br /></span></div>
<div >
<span >El protagonista Aoba pasa sus días trabajando a tiempo parcial en la tienda de chatarra "Heibon" dentro del Distrito de Ex Residentes, conviviendo con su abuela Tae.</span></div>
<div >
<span ><br /></span></div>
<div >
<span >Entre los jóvenes del Distrito de Ex Residentes, un cierto juego se ha vuelto popular. En "Liebstiez", equipos se crean y días de guerras territoriales se desarrollan. Por otro lado, "Rhyme" es un juego en línea electrónico cerebral que usa un mundo virtual como escenario, y por el cual los "Rhymers" se están volviendo locos. Aoba no muestra ningún interés en cualquiera de ellos, pensando que sería agradable para vivir en paz con su abuela.</span></div>
<div >
<span ><br /></span></div>
<div >
<span >Pero el desastre que sacudirá a esos tranquilos días ya ha comenzado...</span></div>
<div >
<span ><br /></span></div>
<div >
<b><span >Imagenes:</span></b></div>
<div >
<br /></div>
<div >
<div  >
<a href="http://4.bp.blogspot.com/-SDUlxqWBp2c/VMdjMBmlvTI/AAAAAAAABcI/NH28pYfQM_Q/s1600/9985.jpg" ><img   src="https://4.bp.blogspot.com/-SDUlxqWBp2c/VMdjMBmlvTI/AAAAAAAABcI/NH28pYfQM_Q/s1600/9985.jpg"  /></a></div>
<br />
<div  >
<a href="http://1.bp.blogspot.com/-XS8ffO9eo0E/VMdjNv4bTuI/AAAAAAAABcQ/uV0MCzLr5us/s1600/45367.jpg" ><img   src="https://1.bp.blogspot.com/-XS8ffO9eo0E/VMdjNv4bTuI/AAAAAAAABcQ/uV0MCzLr5us/s1600/45367.jpg"  /></a></div>
<br /></div>
<div >
<span ><span >Nombre:&nbsp;</span></span><span >DRAMAtical Murder</span></div>
<div >
<span >Tipo: Novela Visual Bl&nbsp;</span></div>
<div >
<span ><span >Genero: Yaoi,&nbsp;</span><span >Ciencia Ficción</span></span></div>
<div >
<span ><span >Estudio:&nbsp;</span><span >Nitro+Chiral</span></span></div>
<div >
<span ><span >Subtítulos: Español</span></span></div>
<div >
<span ><span >Agradecimientos:&nbsp;<a href="http://07thinquisition.foroactivo.com/" target="_blank">07 Inquisition</a></span></span></div>
<div >
<span ><span >Duración: 10-30 horas</span></span></div>
<div >
<span ><span >Tamaño del Archivo: 2.5Gb</span></span></div>
<div >
<span ><span ><br /></span></span></div>
<div >
<span ><span >Descarga Mega:</span></span></div>
<div >
<a href="https://ouo.io/IU6HVQ" target="_blank"><span >DRAMAtical Murder</span></a></div>
<div >
<span ><span >contraseña: animegame</span></span></div>
<div >
<span ><span ><br /></span></span></div>
<div >
<span ><span >Descarga Mediafire:</span></span></div>
<div >
<span ><span ><a href="https://ouo.io/ojLsNR" target="_blank">DRAMAtical Murder</a></span></span><br />
<span ><span >contraseña: animegame</span></span><br /></div><div ><span ><span ><br /></span></span></div>
<div >
<span ><span >Parche Español:</span></span></div><div ><span ><span >El parche ya no está disponible, pronto saldrá una nueva versión del parche<br /><br />Tutorial de Instalación:</span></span></div>
<div >
<div  >
<br /><iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/R6l9-6n7eLc/0.jpg" frame  src="https://www.youtube.com/embed/R6l9-6n7eLc?feature=player_embedded" ></iframe></div>
<div  >
<br /></div>
<span >Instrucciones:</span></div>
<div >
<span >1.-Cambia la Conf. regional unicode a japones(Panel de control\Reloj, idioma y región\Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc)</span><br />
<div>
<span ><span >2.-Parcha el juego(Instala las fuentes .ttf y pegan nscript a la carpeta del juego).</span></span></div>
<span >3.-Ejecuta "DMMd_crack_for_ver110".</span><br />
<span ><br /><span >Nota: El juego solo va traducido la ruta comun y la ruta de Koujaku</span></span><span><span >, les avisare cuando salgan más parches.</span></span></div>

  </article>
</Layout>

  