---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Love at First Sight`
export const date = '2018-05-19T22:26:00.001-05:00' 
export const updated = '2022-09-24T18:51:19.489-05:00'
export const tags = ["español","Love at First Sight","sin h",null,"Completo","visualnovelparapc","novela visual","novela cinetica"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/2763024056912796140/comments/default'
export const cover = 'https://4.bp.blogspot.com/-2VVwDpIrI6k/WwDF-CwW8cI/AAAAAAAAC9o/nko85QaimzcfxbKGfw_cL_UyM5EOZ194QCLcBGAs/s400/15.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="https://visualnovelparapc.blogspot.com/2018/05/love-at-first-sight.html" target="_blank">Love at First Sight[NCinetica][Completo]</a><br />
<br />
<div  >
<a href="https://4.bp.blogspot.com/-2VVwDpIrI6k/WwDF-CwW8cI/AAAAAAAAC9o/nko85QaimzcfxbKGfw_cL_UyM5EOZ194QCLcBGAs/s1600/15.jpg" ><img     src="https://4.bp.blogspot.com/-2VVwDpIrI6k/WwDF-CwW8cI/AAAAAAAAC9o/nko85QaimzcfxbKGfw_cL_UyM5EOZ194QCLcBGAs/s400/15.jpg"  /></a></div>
<div  >
<br /></div>
<span >Después de enamorarse a primera vista de la tímida Usui Sachi, una chica de secundaría de un solo ojo, llena de heridas, el protagonista trata de ganarse su solitario corazón. ¡Un juego de amor puro y conmovedor en el que la manzana de tu ojo solo tiene un ojo!</span><br />
<a name='more'></a><br /></div>
<div >
<span ><b>Imágenes:</b></span></div>
<div  >
<a href="https://2.bp.blogspot.com/-0WSoG9nHjXY/WwDGroRj0bI/AAAAAAAAC90/cuvxhQpXY6oj4LEvwAieKA0S2BdlCiAtgCLcBGAs/s1600/11.jpg" ><img     src="https://2.bp.blogspot.com/-0WSoG9nHjXY/WwDGroRj0bI/AAAAAAAAC90/cuvxhQpXY6oj4LEvwAieKA0S2BdlCiAtgCLcBGAs/s400/11.jpg"  /></a></div>
<br />
<div  >
<a href="https://1.bp.blogspot.com/-sOBJOtfVKVg/WwDGrgoS_hI/AAAAAAAAC9w/ji20i0OKtR4m9X0Hdd9tG2sl-N9IUs7dACLcBGAs/s1600/12.jpg" ><img     src="https://1.bp.blogspot.com/-sOBJOtfVKVg/WwDGrgoS_hI/AAAAAAAAC9w/ji20i0OKtR4m9X0Hdd9tG2sl-N9IUs7dACLcBGAs/s400/12.jpg"  /></a></div>
<br />
<div  >
<a href="https://2.bp.blogspot.com/-Nbjfwl2NDk8/WwDGtABq_cI/AAAAAAAAC94/TD4OGo417sQ2DS1hZMOcZlIObSdlcM0rgCLcBGAs/s1600/13.jpg" ><img     src="https://2.bp.blogspot.com/-Nbjfwl2NDk8/WwDGtABq_cI/AAAAAAAAC94/TD4OGo417sQ2DS1hZMOcZlIObSdlcM0rgCLcBGAs/s400/13.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<div >
<div >
<span ><b >Nombre:&nbsp;</b><span >Love at First Sight</span></span></div>
</div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;NCinetica</span></span><br />
<span ><b >Estudio:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >&nbsp;</span></span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >FreakilyCharming</span></div>
<div >
<span ><b >&nbsp;Genero:</b><span >&nbsp;Romance</span></span></div>
<div >
<span ><b >Subtitulos:</b><span ><span >&nbsp;Español Completo</span><br /><b >Agradecimientos:</b><span ><span ><span >&nbsp;</span></span><a href="https://martro122vns.blogspot.com/2018/05/nueva-traduccion.html"  target="_blank">Martro122</a></span></span></span><br />
<div >
<span ><span ><span ><b>Duración:</b>&nbsp;2 - 10 horas</span></span></span></div>
</div>
<div >
<span ><span ><b>Tamaño del archivo:</b> 160M</span><span >b</span></span></div>
</div>
<div >
<div >
<br /></div>
<div >
<b><span >Descarga Mega:</span></b></div>
<div>
<div >
<a href="https://ouo.io/Z7pzW7"  target="_blank"><b>Love at First Sight</b></a></div>
<div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><br /></span>


<div >
<b><span >Descarga Mediafire:</span></b><br />
<a href="https://ouo.io/dJmru4"  target="_blank"><b>Love at First Sight</b></a></div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span><br />
<br /></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div >
<div >
<div >
<b ><span >Instrucciones de&nbsp;instalación:</span></b></div>
</div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >1.-</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >&nbsp;Ejecutar LoveatFirstSight</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >2.- Disfrutar :D</span></span></div>
</div>
</div>

  </article>
</Layout>

  