---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Ame no Marginal`
export const date = '2017-07-07T17:49:00.001-05:00' 
export const updated = '2022-09-27T23:08:24.952-05:00'
export const tags = ["español","sin h",null,"narcissu","Completo","visualnovelparapc","novela visual","ame no marginal","novela cinetica"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/8252982327492642471/comments/default'
export const cover = 'https://3.bp.blogspot.com/-325GdIQsxVI/WWVR32cWLLI/AAAAAAAACc4/Mi3LtlkajtkBLGoY43LhBAiqfLgS7gy6ACLcBGAs/s400/333.png'

---

<Layout title = {title} >
  <article>
  <div >
<div >
<a href="https://visualnovelparapc.blogspot.com/2017/07/ame-no-marginal.html" target="_blank">Ame no Marginal[NCinetica][Español]</a></div>
<div >
<br /></div>
<div  >
<a href="https://3.bp.blogspot.com/-325GdIQsxVI/WWVR32cWLLI/AAAAAAAACc4/Mi3LtlkajtkBLGoY43LhBAiqfLgS7gy6ACLcBGAs/s1600/333.png" ><img     src="https://3.bp.blogspot.com/-325GdIQsxVI/WWVR32cWLLI/AAAAAAAACc4/Mi3LtlkajtkBLGoY43LhBAiqfLgS7gy6ACLcBGAs/s400/333.png"  /></a></div>
<div  >
<br /></div>
<div  >
<span >No hay nada en este mundo.</span></div>
<div  >
<span >Sólo una lluvia interminable.</span></div>
<div  >
<span >La población aquí es exactamente uno.</span></div>
<a name='more'></a><br />
<div  >
<span >Saliendo del ascensor un día, un misterioso mundo estaba esperando.</span></div>
<div  >
<span >No había nadie más, sólo un cielo interminable y lluvioso y losas degradadas.</span></div>
<div  >
<span >En este mundo, tener hambre e incluso morir no era posible.</span></div>
<div  >
<span ><br /></span></div>
<div  >
<span >Era un mundo donde el tiempo parece haberse detenido.</span></div>
<div  >
<span >Excepto una cosa: la lluvia seguía cayendo.</span></div>
<div  >
<span ><br /></span></div>
<div  >
<span >"Este mundo tiene una población de solo uno.</span></div>
<div  >
<span >Una chica llamada "Rin" le dijo al protagonista.</span></div>
<div  >
<span ><br /></span></div>
<div  >
<span >Por cuántos años, décadas, incluso siglos ...</span></div>
<div  >
<span >¿Ha vivido sola en este mundo?</span></div>
<div  >
<span ><br /></span></div>
<div  >
<span >¿Vendrá el día en que la lluvia deje de caer?</span></div>
<div  >
<br /></div>
<div >
<b><span >Imágenes:</span></b></div>
<div  >
<a href="https://1.bp.blogspot.com/-oGb5IeZCqLs/WWF-rQ99zQI/AAAAAAAACcc/gtxSuWWfcAE6RLOukrPeCJLzBkWVgKxKQCPcBGAYYCw/s1600/222.png" ><img     src="https://1.bp.blogspot.com/-oGb5IeZCqLs/WWF-rQ99zQI/AAAAAAAACcc/gtxSuWWfcAE6RLOukrPeCJLzBkWVgKxKQCPcBGAYYCw/s400/222.png"  /></a></div>
<br />
<div  >
<a href="https://2.bp.blogspot.com/-0NHqkXinQcc/WWF-suCW0lI/AAAAAAAACcc/kUGNRnwbtiQkWNFnGIn92vuSOC-oCFQCgCPcBGAYYCw/s1600/555.png" ><img     src="https://2.bp.blogspot.com/-0NHqkXinQcc/WWF-suCW0lI/AAAAAAAACcc/kUGNRnwbtiQkWNFnGIn92vuSOC-oCFQCgCPcBGAYYCw/s400/555.png"  /></a></div>
<div  >
<br /></div>
<div >
<span ><b><span >Nombre:</span><span >&nbsp;</span></b></span><span >Ame no Marginal</span></div>
<div >
<span ><b>Tipo:</b>&nbsp;NCinetica</span></div>
<div >
<span ><span ><b>Genero:&nbsp;</b>Drama,&nbsp;</span><span >Romance</span></span></div>
<div >
<span ><span ><b>Estudio:&nbsp;</b></span></span><span ><span  > </span>Stage-Nana</span></div>
<div >
<span ><span ><b>Subtítulos:&nbsp;</b>Español</span></span></div>
<div >
<span ><span ><b>Agradecimientos:&nbsp;</b><a href="http://whitenovels.blogspot.com.es/" target="_blank">WhiteNovels</a></span></span></div>
<div >
<span ><span ><b>Duración:&nbsp;</b>2-10 horas</span></span></div>
<div >
<span ><span ><b>Tamaño del Archivo:&nbsp;</b>236Mb</span></span></div>
<div  >
<br /></div>
<div >
<span ><span ><b>Descarga Mega:</b></span></span></div>
<div >
<a href="https://ouo.io/oey4RT" target="_blank"><span >Ame no Marginal</span></a></div>
<div >
<span ><span >contraseña: animegame</span></span></div>
<div >
<br /></div>
<div >
<span ><span ><b>Descarga Mediafire:</b><br /><a href="https://ouo.io/PS0VQVP" target="_blank">Ame no Marginal</a></span></span></div>
<div >
<span ><span >contraseña: animegame</span></span><br />
<span ><span ><br /></span></span></div>
<div >
<span ><span ><span ><b>Parche Español</b></span></span><b >:</b></span></div>
<div >
<b><span ><a href="http://www.mediafire.com/file/ssfse82ek21795u/scenario.rar" target="_blank">Mediafire</a></span></b><br />
<br /></div>
<div >
<span ><b>Instrucciones:</b></span></div>
<div >
<span >1.C</span><span >ambiar la conf. unicode a japones para su correcto funcionamiento.</span><br />
<span >(Panel de control\Reloj, idioma y región\Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc)</span><br />
<span >2.- Parchar(Pegar scenario.arc en la carpeta).</span><br />
<br /></div>
</div>

  </article>
</Layout>

  