---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Kindred Spirits on the Roof`
export const date = '2018-03-19T18:51:00.003-05:00' 
export const updated = '2022-09-27T00:58:29.349-05:00'
export const tags = ["español",null,"yuri","Completo","visualnovelparapc","eroge","novela visual","Kindred Spirits on the Roof","novela cinetica"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/2133826068905220633/comments/default'
export const cover = 'https://2.bp.blogspot.com/-iR5Piv3waWw/WrGXigPc6kI/AAAAAAAAC2g/pWfJVkw5gpwWeuxqkP4un0YnZecUjGYzwCLcBGAs/s400/11.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="https://visualnovelparapc.blogspot.com/2018/03/kindred-spirits-on-roof.html" target="_blank">Kindred Spirits on the Roof[Yuri/Eroge][NCinetica]</a><br />
<br />
<div  >
<a href="https://2.bp.blogspot.com/-iR5Piv3waWw/WrGXigPc6kI/AAAAAAAAC2g/pWfJVkw5gpwWeuxqkP4un0YnZecUjGYzwCLcBGAs/s1600/11.jpg" ><img     src="https://2.bp.blogspot.com/-iR5Piv3waWw/WrGXigPc6kI/AAAAAAAAC2g/pWfJVkw5gpwWeuxqkP4un0YnZecUjGYzwCLcBGAs/s400/11.jpg"  /></a></div>
<div  >
<br /></div>
<span >Academia de chicas Kokonotsuboshi, una escuela construida en un viejo castillo, apodado "Shirojo." Un día, la timida Toomi Yuna, quien había estado viviendo una vida tranquila en esta escuela, de repente se encuentra dos fantasmas en el tejado durante el almuerzo:</span><br />
<br />
<span ><span >Enoki Sachi, quien murió en un accidente antes de la guerra, y Nagatani Megumi, quien murió de enfermedad hace 30 años. Los dos "kindred spirits" murieron con sentimientos no correspondidos en su corazón, se conocieron, y se enamoraron. Ardientemente desean experimentar su "primera vez" juntos antes de su descanso eterno.</span></span><br />
<a name='more'></a><br />
<span ><span >...Pero no saben como.</span></span><br />
<span ><span ><br /></span>
<span >Las dos quienes están atadas a la escuela reclutan a yuna para ayudarles creando más parejas "yuri" en la escuela, de modo que puedan obtener alguna información sexual&nbsp; de observarlos, y ayudar a las chicas con que luchan con sus sentimientos escondidos.</span></span><br />
<div>
<span ><br /></span></div>
</div>
<div >
<span ><b >Imágenes:</b></span></div>
<div  >
<a href="https://1.bp.blogspot.com/-D8hIEPq7OpU/WrA5lwD1UvI/AAAAAAAAC1Y/-GYbdRDPmPoy4YBZMkXHrzLvH-z5r6EeACLcBGAs/s1600/01.png" ><img     src="https://1.bp.blogspot.com/-D8hIEPq7OpU/WrA5lwD1UvI/AAAAAAAAC1Y/-GYbdRDPmPoy4YBZMkXHrzLvH-z5r6EeACLcBGAs/s400/01.png"  /></a></div>
<br />
<div  >
<a href="https://3.bp.blogspot.com/-0UKI1eA5ZDo/WrA5l6L17KI/AAAAAAAAC1c/kQ4m_x6TEUw7abgVozg2IVUAhzyvhl_9ACLcBGAs/s1600/02.png" ><img     src="https://3.bp.blogspot.com/-0UKI1eA5ZDo/WrA5l6L17KI/AAAAAAAAC1c/kQ4m_x6TEUw7abgVozg2IVUAhzyvhl_9ACLcBGAs/s400/02.png"  /></a></div>
<br />
<div  >
<a href="https://1.bp.blogspot.com/-Mox9YrWqzDw/WrA5mvM6uBI/AAAAAAAAC1g/69AhaOtiYW8pRLqdodrZQJxAfV-CcbiawCLcBGAs/s1600/03.png" ><img     src="https://1.bp.blogspot.com/-Mox9YrWqzDw/WrA5mvM6uBI/AAAAAAAAC1g/69AhaOtiYW8pRLqdodrZQJxAfV-CcbiawCLcBGAs/s400/03.png"  /></a></div>
<div  >
<br /></div>
<div >
<div >
<div >
<span ><b >Nombre:&nbsp;</b><span >Kindred Spirits on the Roof</span></span></div>
</div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp; Eroge, Yuri, NCinetica</span></span><br />
<span ><b >Estudio:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >&nbsp;</span></span></span><span >Liar Soft</span></div>
<div >
<span ><b >&nbsp;Genero:</b><span >&nbsp;Romance, Episodios Desbloqueables, Drama</span></span></div>
<div >
<span ><b >Subtitulos:</b><span ><span >&nbsp;Español Completo</span><br /><b >Agradecimientos:</b><span ><span ><span >&nbsp;</span></span><a href="https://flowersesp.wordpress.com/kindredspirits/" target="_blank">Flower Esp</a></span></span></span><br />
<div >
<span ><span ><span ><b>Duración:</b> 10-30 horas</span></span></span></div>
</div>
<div >
<span ><span ><b>Tamaño del archivo: </b>850M</span><span >b</span></span></div>
</div>
<div >
<div >
<br /></div>
<div >
<b><span >Descarga Mega:</span></b></div>
<div>
<div >
<a href="https://ouo.io/n9fsYF"  target="_blank"><b>Kindred Spirits on the Roof</b></a></div>
<div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span></div>
<div >
<br /></div>
<div >
<b><span >Descarga Mediafire:</span></b></div>
<div >
<div >
<a href="https://ouo.io/nKViuDw"  target="_blank"><b>Kindred Spirits on the Roof</b></a></div>
<div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span><br />
<br />
<div >
<b >Parche(550Mb):</b><b >&nbsp;</b></div>
<div ><b ><a href="http://www.mediafire.com/file/r3c6jzrhloi3gxd/Traducci%C3%B3n_para_Kindred_Spirits.exe" target="_blank">Mediafire</a></b></div>
</div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><br /></span></div>
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b>Opening:</b></span><br />
<div  ><iframe allowfullscreen=""   src="https://www.youtube.com/embed/J7XNJg2lUJQ"  youtube-src-id="J7XNJg2lUJQ"></iframe></div><div  ><br /></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div >
<div >
<div >
<b ><span >Instrucciones de&nbsp;instalación:</span></b></div>
</div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >1.- Ejecutar el Parche como administrador, seleccionar la carpeta del juego.</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >2.- Instalar la fuente "YuriFont"</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >. Se encuentra en [Kindred]/Fuente/YuriFont.ttf.</span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >3.- Disfrutar :D</span></span></div>
</div>
</div>

  </article>
</Layout>

  