---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Akai Majo`
export const date = '2014-05-03T07:46:00.000-05:00' 
export const updated = '2017-11-09T12:41:34.266-05:00'
export const tags = ["español","akai majo","sin h",null,"red witch","visualnovelparapc","novela visual","Doujin","novela cinetica"]
export const urlComments = 'http://www.visualnovelparapc.com/2014/05/akai-majo.html#comment-form'
export const cover = 'http://3.bp.blogspot.com/--NzD7VUtNU4/U2Tf2U74qlI/AAAAAAAABG0/9QDHDT1x37Y/s1600/sc_title_bg_rogo.png'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2014/05/akai-majo.html">Akai Majo[NovelaCinetica][Español]</a></div>
<div  >
<a href="http://3.bp.blogspot.com/--NzD7VUtNU4/U2Tf2U74qlI/AAAAAAAABG0/9QDHDT1x37Y/s1600/sc_title_bg_rogo.png"  ><img  src="http://3.bp.blogspot.com/--NzD7VUtNU4/U2Tf2U74qlI/AAAAAAAABG0/9QDHDT1x37Y/s1600/sc_title_bg_rogo.png"   /></a></div>
<div >
<br /></div>
<div >
<span ><span >Akai Majo se trata la historia de una chica pelirroja que es expulsada del pueblo por el color de su pelo con la excusa de que es una bruja..</span></span></div>
<div >
</div>
<a name='more'></a><b></b><br />
<div >
<b><b><span ><br /></span></b></b>
<b><b><span >Imagenes:</span></b></b></div>
<b>
</b>
<br />
<div  >
</div>
<div >
<br /></div>
<div  >
<a href="http://1.bp.blogspot.com/-ID2Hf7rX_Rg/U2Tkiai6ksI/AAAAAAAABHU/OyoSw4GgAVY/s1600/1.jpg"  ><img  src="http://1.bp.blogspot.com/-ID2Hf7rX_Rg/U2Tkiai6ksI/AAAAAAAABHU/OyoSw4GgAVY/s1600/1.jpg"   /></a></div>
<br />
<div  >
<a href="http://4.bp.blogspot.com/-KG3wW-Olvp0/U2Tki0xN2uI/AAAAAAAABHY/C0yv3qvkSsM/s1600/2.jpg"  ><img  src="http://4.bp.blogspot.com/-KG3wW-Olvp0/U2Tki0xN2uI/AAAAAAAABHY/C0yv3qvkSsM/s1600/2.jpg"   /></a></div>
<div  >
</div>
<div  >
<br /></div>
<div >
<span ><b >Nombre:&nbsp;</b><span >Akai Majo</span></span></div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;Novela Cinetica</span></span></div>
<div >
<span ><b >Estudio:</b><span ><span ><span >&nbsp;</span></span><span ><span >Frank</span></span></span></span></div>
<div >
<span ><b >&nbsp;Genero:</b><span >&nbsp;Horror, Magia</span></span></div>
<div >
<b >Subtitulos:</b><span ><span >&nbsp;Español</span><br /><b >Clasificacion:</b><span >&nbsp;</span><span >+13</span><br /><b >Agradecimientos:</b><span >&nbsp;<a href="http://visualnovelparapc.blogspot.com/" >Fan Visual</a><br /><b>Duración: </b>(&lt; 2 horas)</span></span></div>
<div >
<span ><span ><b>Tamaño del archivo: </b>10</span><span >M</span><span >b</span></span></div>
</div>
<div >
<div >
<br /></div>
<div >
<b><span >Descarga Mega:</span></b></div>
<div>
<div >
<a href="https://mega.co.nz/#!ThYhlJAI!c7aKqGpTzdcQLstqPZlKQ3_Gy1zPtslX9lUy7NSPxwk"  target="_blank"><b>Akai Majo</b></a></div>
<div >
<span ><b >contraseña</b><span >:&nbsp;</span></span><span >animegame</span><span ><span ><b><br /></b></span></span><br />
<div>
<b><span >Descarga Mediafire:</span></b></div>
<div >
<div >
<a href="https://www.mediafire.com/?s4149d9m5hfx7re"  target="_blank"><b>Akai Majo</b></a></div>
<div >
<span ><b >contraseña</b><span >:&nbsp;</span></span><span >animegame</span><br />
<span ><br /></span></div>
</div>
<span ><span ><b>Instrucciones de&nbsp;instalación:</b><br />1.-Ejecutar redwitch como administrador.</span></span><br />
<b ><span ><br /></span></b>
<b ><span >Nota si quieres el bgm lo pueden descargar de: <a href="https://www.mediafire.com/?kqqjcbp6wekh18s">link</a></span></b></div>
</div>
</div>

  </article>
</Layout>

  