---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Sono Hanabira8 ~ Tenshi no Hanabira Zome`
export const date = '2014-05-02T10:19:00.005-05:00' 
export const updated = '2023-05-04T18:22:19.731-05:00'
export const tags = ["español","sono hanabira ni kuchizuke wo",null,"sono hanabira-Teñida con los petalos de un angel","yuri","Completo","visualnovelparapc","eroge","novela visual","sono hanabira"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/4680801184131779024/comments/default'
export const cover = 'https://4.bp.blogspot.com/-lKDdcgZQKAY/WJpXk4zVo-I/AAAAAAAACK4/OZhZLgrBl1c1gVslODzuWIowTvhoEjADgCPcBGAYYCw/s1600/5559.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2014/05/sono-hanabira8tenida-con-los-petalos-de.html" target="_blank">Sono Hanabira 8[Eroge][Yuri]</a></div>
<div >
<br /></div>
<div  >
</div>
<div  >
<a href="https://4.bp.blogspot.com/-lKDdcgZQKAY/WJpXk4zVo-I/AAAAAAAACK4/OZhZLgrBl1c1gVslODzuWIowTvhoEjADgCPcBGAYYCw/s1600/5559.jpg" ><img    src="https://4.bp.blogspot.com/-lKDdcgZQKAY/WJpXk4zVo-I/AAAAAAAACK4/OZhZLgrBl1c1gVslODzuWIowTvhoEjADgCPcBGAYYCw/s1600/5559.jpg" /></a></div>
<div  >
<br /></div>
<div  >
<span >El octavo juego de la saga Sono Hanabira.</span></div>
<div  >
<span >Mientras la representante de la clase Shizuku, tiene una estudiante de intercambio Shitogi Eris bajo su protección, un amor apenas brillante posa su corazón.</span></div>
<div  >
<span >Sin embargo, Shizuku, preocupada pensando que su personalidad esta mal se regaña y se tropieza con su amor platónico, &nbsp;Obtiene una confesión directamente de Eris?!&nbsp;</span></div>
<div  >
</div>
<a name='more'></a><br />
<div  >
<span >Esta es la comedia romántica de Shizuku la tsundure, y Eris la estudiante rubia que no tiene miedo de mostrar sus sentimientos y su coqueto.</span></div>
<div  >
<span ><br /></span></div>
<div  >
<b><span >Imagenes:</span></b></div>
<div  >
<a href="http://4.bp.blogspot.com/-sX9D-ciPe6E/U2O3GKAPi2I/AAAAAAAABGc/bUvT4WTTUlI/s1600/22.jpg" ><img   src="https://4.bp.blogspot.com/-sX9D-ciPe6E/U2O3GKAPi2I/AAAAAAAABGc/bUvT4WTTUlI/s1600/22.jpg"  /></a></div>
<br />
<div  >
<a href="http://4.bp.blogspot.com/-XSeDKNNdv_s/U2O3HFANX8I/AAAAAAAABGk/K1cJHsYJ8co/s1600/33.jpg" ><img   src="https://4.bp.blogspot.com/-XSeDKNNdv_s/U2O3HFANX8I/AAAAAAAABGk/K1cJHsYJ8co/s1600/33.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<span ><b >Nombre:&nbsp;</b><span >Sono Hana 8</span></span></div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;Eroge</span></span></div>
<div ><span ><b ><b>Estudio</b>:</b><span ><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >&nbsp;</span></span></span></span><span >Fuguriya</span></div>
<div >
<span ><b >&nbsp;Genero:</b><span >&nbsp;Yuri, Romance, Eroge</span></span></div>
<div >
<div >
<b >Subtitulos:</b><span ><span >&nbsp;Español Completo</span></span></div>
<span ><b >Agradecimientos:</b><span >&nbsp;<a href="http://soulhunternofansub.blogspot.com/" >Souhunter no Fansub</a></span></span><br />
<span ><span ><b>Duración: </b>3&nbsp;horas</span></span></div>
<div >
<span ><span ><b>Tamaño del archivo:&nbsp;</b>227</span><span >M</span><span >b</span></span></div>
</div>
<div >
<div >
<br /></div>
<div >
<b><span >Descarga Mega:</span></b></div>
<div>
<div >
<a href="https://ouo.io/C2Mydd"  target="_blank"><b>Sono Hanabira 8</b></a></div>
<div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b >contraseña</b><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span></div>
<div ><br /></div><div ><div ><b><span >Descarga Mediafire:</span></b></div><div ><div ><a href="https://ouo.io/P1FiYnB"  target="_blank"><b>Sono Hanabira 8</b></a></div><div><div ><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b >contraseña</b><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span></div></div><div ><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><br /></span></div></div></div>
<div >
<b ><span >Instrucciones de&nbsp;instalación:</span></b></div><div ><b ><span ><div  ><span ><div  >1.- Cambiar la conf. unicode a japones(Panel de control\Reloj, idioma y region\</div></span></div><div  ><span ><span >&nbsp; &nbsp; Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc) o usar Locale Emulator.</span></span></div></span></b></div>
<div  ><div  ><span >2.- Clic derecho al ejecutable y darle en /propiedades/compatibilidad con xp.</span></div><div  ><span >3.- Ejecutar como administrador Hana8.</span></div><div  ><span >4.- Disfrutar :D.</span></div></div>
<div  >
<br /></div>
<div  >
<span >Posibles problemas</span></div>
<div >
<span >1.-parpadea la ventana y se cierra el juego<br />&nbsp;Solución 1: Clic derecho al ejecutable y darle en compatibilidad con xp<br /></span></div>
</div>
</div>
</div>

  </article>
</Layout>

  