---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Guilty Crown Lost Christmas`
export const date = '2016-03-18T09:02:00.003-05:00' 
export const updated = '2022-09-28T01:16:20.932-05:00'
export const tags = ["español","Mediafire","sin h","visual novel",null,"Mega","Completo","visualnovelparapc","novela visual","apocalypse","Guilty Crown Lost Christmas"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/3004912383252594263/comments/default'
export const cover = 'https://4.bp.blogspot.com/-okDNZshgRp0/Vuvplx7litI/AAAAAAAAByE/AmMajUoXY9g7PGS5riiONP7XXw999N3gQ/s400/111.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2016/03/guilty-crown-lost-christmas.html">Guilty Crown Lost Christmas[Completo][Español]</a><br />
<br /></div>
<div >
<div  >
<a href="https://4.bp.blogspot.com/-okDNZshgRp0/Vuvplx7litI/AAAAAAAAByE/AmMajUoXY9g7PGS5riiONP7XXw999N3gQ/s1600/111.jpg" ><img   src="https://4.bp.blogspot.com/-okDNZshgRp0/Vuvplx7litI/AAAAAAAAByE/AmMajUoXY9g7PGS5riiONP7XXw999N3gQ/s400/111.jpg"  /></a></div>
<br /></div>
<div  >
<span >Nos sitúa en diciembre del año 2029, 10 años antes de la historia del anime de Production I.G, y nos narra los hechos de cuando ocurrió la llamada Navidad Perdida, un terrible virus que infectó a una enorme parte de la población japonesa e hizo caer al país, que fue reflotado gracias a las Naciones Unidas, que estableció un nuevo gobierno llamado GHQ</span></div>
<a name='more'></a><div  >
<span ><br /></span></div>
<div >
<b><span >Imagenes:</span></b><br />
<b><span ><br /></span></b>
<a href="https://3.bp.blogspot.com/-IvWwKqvH6eY/VuvxKuj7TPI/AAAAAAAAByU/THiADQKM5wQGRWqBq3LK7OlafbwyiR1hw/s1600/13.jpg" ><img   src="https://3.bp.blogspot.com/-IvWwKqvH6eY/VuvxKuj7TPI/AAAAAAAAByU/THiADQKM5wQGRWqBq3LK7OlafbwyiR1hw/s400/13.jpg"  /></a><br />
<br />
<div  >
<a href="https://1.bp.blogspot.com/-pP0D6B9hcaQ/VuvxLExMciI/AAAAAAAAByY/FVAAQHqBmx0sQvbpOQcpIgHDo7BXnCYEQ/s1600/11.jpg" ><img   src="https://1.bp.blogspot.com/-pP0D6B9hcaQ/VuvxLExMciI/AAAAAAAAByY/FVAAQHqBmx0sQvbpOQcpIgHDo7BXnCYEQ/s400/11.jpg"  /></a></div>
<br />
<div  >
<a href="https://4.bp.blogspot.com/-Cy08DJ_kOeg/VuvxLXYc8AI/AAAAAAAAByc/PROxTfs6aoU6ImvnrkUoBDwYYZLguUIbA/s1600/12.jpg" ><img   src="https://4.bp.blogspot.com/-Cy08DJ_kOeg/VuvxLXYc8AI/AAAAAAAAByc/PROxTfs6aoU6ImvnrkUoBDwYYZLguUIbA/s400/12.jpg"  /></a></div>
<br /></div>
<div >
<span ><b><span >Nombre:</span><span >&nbsp;</span></b></span><span >Guilty Cronw Lost Christmas</span></div>
<div >
<span ><b>Tipo: </b>Visual Novel</span></div>
<div >
<span ><span ><b>Genero:&nbsp;</b>Apocalipsis,&nbsp;</span><span >Romance</span></span></div>
<div >
<span ><span ><b>Estudio:&nbsp;</b></span></span><span ><span  > </span>Nitroplus</span></div>
<div >
<span ><span ><b>Subtítulos:&nbsp;</b>Español Completo</span></span></div>
<div >
<span ><span ><b>Agradecimientos:&nbsp;</b><a href="https://www.facebook.com/DrawingsZero" target="_blank">Drawings Zero</a></span></span></div>
<div >
<span ><span ><b>Clasificación:</b>&nbsp;+15</span></span></div>
<div >
<span ><span ><b>Duración:&nbsp;</b>2-10 horas</span></span></div>
<div >
<span ><span ><b>Tamaño del Archivo:&nbsp;</b>2,38Gb</span></span></div>
<div  >
<br /></div>
<div >
<span ><span ><b>Descarga Mega:</b></span></span></div>
<div >
<a href="https://ouo.io/rcsiSym" target="_blank"><span >Lost Christmas</span></a></div>
<div >
<span ><span >contraseña: animegame</span></span></div>
<div >
<br /></div>
<div >
<span ><span ><b>Descarga Mediafire:</b><br /><a href="https://ouo.io/lSd5pP2" target="_blank">Lost Christmas</a></span></span></div>
<div >
<span ><span >contraseña: animegame</span></span><br />
<span ><span ><br /></span></span></div>
<div >
<span ><span ><b>Parche Español:</b></span></span></div>
<div >
<span ><b ><a href="http://www.mediafire.com/download/lagjuh2lpcw5dma/GCLX_parche_espanol.rar"  target="_blank">Mediafire</a><br /><br /><span >Tutorial de Instalación:</span><br /><iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/dzMxxHDt48A/0.jpg" frame  src="https://www.youtube.com/embed/dzMxxHDt48A?feature=player_embedded" ></iframe></b></span><br />
<br /></div>
<div >
<span ><b>Instrucciones:</b></span></div>
<div >
<span >1.C</span><span >ambiar la conf. unicode a japones para su correcto funcionamiento.</span><br />
<span >(Panel de control\Reloj, idioma y región\Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc)</span><br />
<span >2.- Montar el iso y instalar, al finalizar la instalacion, cancelar todo, se abre un cartel para abrir el juego desmarcan y continuan(No abrir el juego)</span><br />
<span >3.- Extraen GCLX(Crack) en donde se instalo el juego por defecto C:\Program Files (x86)\Nitroplus\</span><br />
<span >4.- Descargar y extraer el parche en la carpeta del juego,</span><br /></div>

  </article>
</Layout>

  