---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Discord`
export const date = '2021-11-23T23:29:00.000-05:00' 
export const updated = '2021-11-23T23:44:43.145-05:00'
export const tags = [null]
export const urlComments = 'null'
export const cover = 'https://1.bp.blogspot.com/-5MbLyMirVnI/YZ2-TjJI6pI/AAAAAAAAE4A/V2B6kGie_XM7a2Kwhcz-sywdoUu1Xie4gCLcBGAsYHQ/s0/1.png'

---

<Layout title = {title} >
  <article>
  <p >&nbsp;<b ><u><span >Discord</span></u></b></p><div ><span >Discord de Novelas Visuales y Eroges afiliado a nuestra pagina.</span></div><div ><span ><br /></span></div><div ><table align="center" cellpadding="0" cellspacing="0"  ><tbody><tr><td ><span ><a href="https://discord.com/invite/kaDnTpS" target="_blank"><b><img     src="https://1.bp.blogspot.com/-5MbLyMirVnI/YZ2-TjJI6pI/AAAAAAAAE4A/V2B6kGie_XM7a2Kwhcz-sywdoUu1Xie4gCLcBGAsYHQ/s0/1.png"  /></b></a></span></td></tr><tr><td  ><a href="https://discord.com/invite/kaDnTpS" target="_blank"><b>VafLand</b></a></td></tr></tbody></table><div  ><br /></div></div><div ><span ><span ><b><u>Reglas del Chat</u></b></span></span></div><div ><span >1.- No preguntar sobre soporte de novelas.</span></div><div ><span >2.- Ser educado.</span></div><div ><span >3.- No pelear por Waifus(Rosa es la mejor).</span></div><div ><span ><br /></span></div><div ><span >Nota: Si quieres afiliarte contáctennos&nbsp;por Facebook.</span></div>
  </article>
</Layout>

  