---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Ijiwaru My Master`
export const date = '2014-08-15T06:50:00.002-05:00' 
export const updated = '2022-10-12T01:01:20.121-05:00'
export const tags = ["español","Ijiwaru My Master","visual novel",null,"visualnovelparapc","novela visual","otome"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/860474405868830595/comments/default'
export const cover = 'https://2.bp.blogspot.com/-_l86AFd5F2Q/U-3l4RxhP-I/AAAAAAAABOY/t06JsFz4V6Q/s1600/top.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2014/08/ijiwaru-mymaster.html">Ijiwaru My Master[Otome][Español]</a></div>
<div >
<br /></div>
<div >
<div  >
<a href="http://2.bp.blogspot.com/-_l86AFd5F2Q/U-3l4RxhP-I/AAAAAAAABOY/t06JsFz4V6Q/s1600/top.jpg" ><img   src="https://2.bp.blogspot.com/-_l86AFd5F2Q/U-3l4RxhP-I/AAAAAAAABOY/t06JsFz4V6Q/s1600/top.jpg"  /></a></div>
<br /></div>
<div >
<span ><span >Sakurajousui Kurumi es una estudiante de tercero de preparatoria, una chica bastante callada y alejada del mundo. Un día, un chico un curso menor que ella se le declara, dándole también un regalo. Luego de que él salga corriendo, ella lo abre y descubre que se trata de un colgante con una rosa azul, la única cosa que admira en este mundo... Es en ese momento cuando es transportada a otro mundo por un fuerte viento y unas extrañas luces.</span></span></div>
<a name='more'></a><div >
<span ><span ><b><br /></b></span></span>
<span ><span ><b>Imagenes:</b></span></span></div>
<div >
<div  >
</div>
<br /></div>
<div >
<div  >
<a href="http://4.bp.blogspot.com/-XKxgvh5CH9A/U-3rRqMXCrI/AAAAAAAABOo/6uA6DEcsQr4/s1600/11.jpg" ><img   src="https://4.bp.blogspot.com/-XKxgvh5CH9A/U-3rRqMXCrI/AAAAAAAABOo/6uA6DEcsQr4/s1600/11.jpg"  /></a></div>
<br />
<div  >
<a href="http://3.bp.blogspot.com/-cUOPZxWe81E/U-3rTVJItqI/AAAAAAAABOw/r3nCZ6UZtlE/s1600/12.jpg" ><img   src="https://3.bp.blogspot.com/-cUOPZxWe81E/U-3rTVJItqI/AAAAAAAABOw/r3nCZ6UZtlE/s1600/12.jpg"  /></a></div>
<br />
<div  >
<a href="http://1.bp.blogspot.com/-j2hFRy1J5ro/U-3rVb9cHBI/AAAAAAAABO4/oJ1rS7GdRIw/s1600/13.jpg" ><img   src="https://1.bp.blogspot.com/-j2hFRy1J5ro/U-3rVb9cHBI/AAAAAAAABO4/oJ1rS7GdRIw/s1600/13.jpg"  /></a></div>
<br /></div>
<div >
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><b ><span >Nombre:</span><span >&nbsp;</span></b></span><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span >Ijiwaru MyMaster</span></span></div>
</div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;Otome/Eroge</span></span></div>
<div >
<span ><b >Estudio: </b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >Suger Beans</span></span></div>
<div >
<span ><span ><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span >&nbsp;Genero:&nbsp;</span></span>Romance, Drama</span></span></div>
<div >
<div >
<b >Subtitulos:</b><span ><span >&nbsp;Español (3 rutas)</span><br /><b >Agradecimientos:</b><span >&nbsp;<b ><a href="http://ichigo-no-prism.blogspot.com.es/"  target="_blank">ichigo no prism.</a></b></span></span></div>
<span ><span ><b>Duración:</b>&nbsp;10 - 30 horas</span></span></div>
<div >
<div >
<div >
<span ><span ><b>Tamaño del archivo:</b>&nbsp;2.2 Gb</span></span><br />
<span ><span ><br /></span></span></div>
<div >
</div>
</div>
</div>
</div>
<div >
<b >Descarga Mega:</b><br />
<div>
<span ><b><a href="https://ouo.io/aYsvQH" target="_blank">Ijiwaru My Master</a><br /><a href="http://www.mediafire.com/download/jb4me496wq6y1eo/Ijiwaru_My_Master_[Spanish_Translation].part1.exe" target="_blank">Parte1 por Mediafire</a><br /><a href="http://www.mediafire.com/download/64xccqba8exdrcx/Ijiwaru+My+Master+%5BSpanish+Translation%5D.part2.rar">Parte2 por Mediafire</a><br /><a href="https://www.mediafire.com/?y6iml88h6whyff9">Parte3 por Mediafire</a></b></span><br />
<span >contraseña: animegame</span><br /><span ><br /></span>
<span ><b >Instrucciones de Instalación:</b></span><br />
<span ><span >1.</span><span >- Ejecutar "</span><span >IMMsetup", instalar</span></span><span >.</span><br />
<span >2.- Pegamos el contenido del parche dentro de la carpeta donde se instalo el juego(reemplazando con los archivos originales).</span><br />
<span >3.- Instalamos la fuente </span><span ><span >"SNsanafonkaku" y ejecutamos "immfont".</span></span><br />
<span >4.- Ejecutamos "</span><span >mymaster</span><span >" y listo.</span><br />
<br />
<b ><span >Nota: El juego solo va traducido 3 rutas(<a href="http://2.bp.blogspot.com/_en5ADYDc97E/TOr9SJFixQI/AAAAAAAAAv4/PVkpQlunvEs/s1600/tabla_ryuka.JPG">Ryuka</a>, <a href="http://4.bp.blogspot.com/-tgd-RQ6q-s8/TjHWFFYc8aI/AAAAAAAAA54/6exRWxLj28k/s640/tabla_leon.png">Leon </a>y <a href="http://3.bp.blogspot.com/-luYyxhNqAVc/TtbKHs0Mb2I/AAAAAAAABAc/L84UZI1PsCk/s400/tabla_eins.PNG">Eins</a>)</span></b><b ><span >.</span></b></div>
</div>

  </article>
</Layout>

  