---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Harmonia`
export const date = '2018-07-07T19:37:00.001-05:00' 
export const updated = '2022-09-24T18:25:18.379-05:00'
export const tags = ["español","sin h",null,"Harmonia","Completo","visualnovelparapc","novela visual","apocalypse","novela cinetica"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/4580388728045703111/comments/default'
export const cover = 'https://3.bp.blogspot.com/-jYyIJj7nXI4/W0AThyBkKTI/AAAAAAAADBs/6ZZLNhbdlfcmezfqEN6_iE4V3hs9BvsmgCLcBGAs/s1600/10.png'

---

<Layout title = {title} >
  <article>
  <div >
<a href="https://visualnovelparapc.blogspot.com/2018/07/harmonia.html" target="_blank">Harmonia[NCinetica][Completo]</a><br />
<br />
<div  >
<a href="https://3.bp.blogspot.com/-jYyIJj7nXI4/W0AThyBkKTI/AAAAAAAADBs/6ZZLNhbdlfcmezfqEN6_iE4V3hs9BvsmgCLcBGAs/s1600/10.png" ><img    src="https://3.bp.blogspot.com/-jYyIJj7nXI4/W0AThyBkKTI/AAAAAAAADBs/6ZZLNhbdlfcmezfqEN6_iE4V3hs9BvsmgCLcBGAs/s1600/10.png" /></a></div>
<div  >
<br /></div>
<span >Esta es una historia situada en una época muy, muy lejana. El mundo ha sufrido una gran guerra. La atmósfera se está volviendo cenizas, la vida en la Tierra casi se detuvo y el agua comenzó a desaparecer. La población mundial ha disminuido considerablemente en comparación con la época dorada. Las personas se unieron para vivir en este mundo.</span><br />
<a name='more'></a><br />
<span >En esta época, un robot despertó en unas instalaciones deterioradas. El fruto de la ciencia antes de la guerra: Un robot humanoide capaz de sentir. Prometieron un compañero, uno que hiciera su vida más fácil. Sin embargo, el robot despertó y descubrió rápidamente que no tenía emociones.&nbsp;</span><br />
<span ><br /></span>
<span >Tal vez no fue terminado, ya que su mano derecha no tenía piel artificial, sus partes mecánicas eran visibles. El robot quería acercarse a los humanos, así que siguió vagando por el devastado mundo, buscando las emociones que le faltaban. Un día, una chica lo ayuda. Ella piensa que es un humano y amablemente lo cuida en un pequeño pero cálido pueblo.</span><br />
<span ><br /></span>
<span >El niño comenzó a aprender qué son los sentimientos al vivir junto a esta chica.</span><br />
<span ><br /></span></div>
<div >
<span ><b>Imágenes:</b></span></div>
<div  >
<a href="https://2.bp.blogspot.com/-XoUGjjJ8RRY/W0BuUpT9BuI/AAAAAAAADCM/3-tXosq_xjIcDAapNk2wtZRz_4OYTWTugCLcBGAs/s1600/33.jpg" ><img     src="https://2.bp.blogspot.com/-XoUGjjJ8RRY/W0BuUpT9BuI/AAAAAAAADCM/3-tXosq_xjIcDAapNk2wtZRz_4OYTWTugCLcBGAs/s400/33.jpg"  /></a></div>
<br />
<div  >
<a href="https://4.bp.blogspot.com/-KN7GIs9KOaA/W0BuVn2cwOI/AAAAAAAADCQ/1eklaRCiA1wSmq8Ojv1t_86e-dzX51wsACLcBGAs/s1600/44.jpg" ><img     src="https://4.bp.blogspot.com/-KN7GIs9KOaA/W0BuVn2cwOI/AAAAAAAADCQ/1eklaRCiA1wSmq8Ojv1t_86e-dzX51wsACLcBGAs/s400/44.jpg"  /></a></div>
<br />
<div  >
<a href="https://3.bp.blogspot.com/-PguVFsWUI0M/W0BuW7yxdtI/AAAAAAAADCU/lhcQFrKPEqoS44rbB4-Otjrgbf6qu7uagCLcBGAs/s1600/55.jpg" ><img     src="https://3.bp.blogspot.com/-PguVFsWUI0M/W0BuW7yxdtI/AAAAAAAADCU/lhcQFrKPEqoS44rbB4-Otjrgbf6qu7uagCLcBGAs/s400/55.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<div >
<div >
<span ><b >Nombre: </b><span >Harmonia</span></span></div>
</div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;NCinetica</span></span><br />
<span ><b >Estudio:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >&nbsp;</span></span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >Key</span></div>
<div >
<span ><b >&nbsp;Genero:</b><span >&nbsp;Drama, Postapocaliptica</span></span></div>
<div >
<span ><b >Subtitulos:</b><span ><span >&nbsp;Español Completo</span><br /><b >Agradecimientos:</b><span ><span ><span >&nbsp;</span></span><a href="https://ononoki.com/harmonia"  target="_blank">Ononoki</a></span></span></span><br />
<div >
<span ><span ><span ><b>Duración:</b>&nbsp;2 - 10 horas</span></span></span></div>
</div>
<div >
<span ><span ><b>Tamaño del archivo:</b>&nbsp;2G</span><span >b</span></span></div>
</div>
<div >
<div >
<br /></div>
<div >
<b><span >Descarga Mega:</span></b></div>
<div>
<div >
<a href="https://ouo.io/Hgo7Ta"  target="_blank"><b>Harmonia</b></a></div>
<div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span></div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><br /></span>
</div>
<div >
<b><span >Descarga Mediafire:</span></b><br />
<a href="https://ouo.io/tlx0L7"  target="_blank"><b>Harmonia</b></a></div>
<div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span></div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><br /></span></div>
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span ><b>Parche:<br /><a href="https://mega.nz/#!PP5CDQjC!dw1597czgf3TWR3GSYob8jzy_eRCI5LHbXpgStjuoDQ" target="_blank">Mega</a> / <a href="http://www.mediafire.com/file/ckbp3u0jjwl7xp5/%255BOnonoki.com%255D_Harmonia_-_Parche_1.1.exe/file" target="_blank">Mediafire</a></b></span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span ><br /></span></span>
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span ><b>PV:</b></span></span><br />
<div  >
<iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/balUTchhAW0/0.jpg" frame  src="https://www.youtube.com/embed/balUTchhAW0?feature=player_embedded" ></iframe></div>
<div >
<br /></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div >
<div >
<div >
<b ><span >Instrucciones de&nbsp;instalación:</span></b></div>
</div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >1.- Ejecutar el parche, seleccionar la carpeta del juego.</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >2.- Ejecutar Launcher.</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >3.- Ir a Config seleccionar "Font" seleccionar "MSGothic"</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >3.- Disfrutar :D.</span></span></div>
</div>
</div>

  </article>
</Layout>

  