---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `My neighbor is a Yandere!? 2`
export const date = '2018-07-07T19:35:00.002-05:00' 
export const updated = '2022-09-24T18:28:04.710-05:00'
export const tags = ["visual novel",null,"Mega","yandere","visualnovelparapc","eroge","novela visual","My neighbor is a Yandere!","My neighbor is a Yandere! 2","español. Mediafire"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/3495118728745157751/comments/default'
export const cover = 'https://4.bp.blogspot.com/-n4-WGk8CczY/W0ARWwyLCiI/AAAAAAAADBg/bPJICrYfmqAFKHdkToT1tyXsMr4XabkeQCLcBGAs/s400/10.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<div >
<a href="https://visualnovelparapc.blogspot.com/2018/07/my-neighbor-is-yandere-2.html" target="_blank">My neighbor is a Yandere!? 2[Eroge][Español]</a><br />
<br />
<div  >
<a href="https://4.bp.blogspot.com/-n4-WGk8CczY/W0ARWwyLCiI/AAAAAAAADBg/bPJICrYfmqAFKHdkToT1tyXsMr4XabkeQCLcBGAs/s1600/10.jpg" ><img     src="https://4.bp.blogspot.com/-n4-WGk8CczY/W0ARWwyLCiI/AAAAAAAADBg/bPJICrYfmqAFKHdkToT1tyXsMr4XabkeQCLcBGAs/s400/10.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<span >My neighbor is a Yandere!? 2 es la secuela de&nbsp;<a href="https://visualnovelparapc.blogspot.com/2018/01/my-neighbor-is-yandere.html" target="_blank">My neighbor is a Yandere!?</a></span></div>
<span >Continua en el Good Ending del juego original.</span><br />
<a name='more'></a><br />
<span >Después pasar un primer día lleno de emociones y confusión cerca a Nanase, todo parece ir sorpresivamente bien en la 'nueva vida' de Seijuro… Hasta que descubre que tal vez su vecina yandere tiene más de un pequeño secreto oculto.</span><br />
<span ><br /></span>
<span >Disfruta acompañando a la loca y candente yandere Nanase de este nuevo capitulo lleno de citas, risas, misterios y montón&nbsp;de situaciones.</span><br />
<div>
<br /></div>
</div>
<div >
<span ><b>Imágenes:</b></span><br />
<span ><b><br /></b></span></div>
<div  >
<a href="https://1.bp.blogspot.com/-QoooFuFMN8Y/W0BC2xa0PMI/AAAAAAAADB4/8deYRFLzLXso6URZ79MYPRfW1xioPOIXgCLcBGAs/s1600/111.jpg" ><img     src="https://1.bp.blogspot.com/-QoooFuFMN8Y/W0BC2xa0PMI/AAAAAAAADB4/8deYRFLzLXso6URZ79MYPRfW1xioPOIXgCLcBGAs/s400/111.jpg"  /></a></div>
<br />
<div  >
<a href="https://3.bp.blogspot.com/-u_Xpj9CWdbI/W0BC32iHmeI/AAAAAAAADB8/-UYqkOTgIqgDR0PL4paWYloOCuD3aLXnwCLcBGAs/s1600/112.jpg" ><img     src="https://3.bp.blogspot.com/-u_Xpj9CWdbI/W0BC32iHmeI/AAAAAAAADB8/-UYqkOTgIqgDR0PL4paWYloOCuD3aLXnwCLcBGAs/s400/112.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<div >
<div >
<span ><b >Nombre:&nbsp;</b></span><span >My neighbor is a Yandere!? 2</span></div>
</div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp; Eroge</span></span><br />
<span ><b >Estudio:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >&nbsp;</span></span></span><span >Maranyo Games</span></div>
<div >
<span ><b >&nbsp;Genero:</b><span >&nbsp;Romance,&nbsp; Yandere</span></span></div>
<div >
<span ><b >Subtitulos:</b><span ><span >&nbsp;Español Completo</span><br /><b >Agradecimientos:</b><span ><span ><span >&nbsp;</span></span>Maranyo</span></span></span><br />
<div >
<span ><span ><span ><b>Duración: &lt; </b>2<b>&nbsp;</b>horas</span></span></span></div>
</div>
<div >
<span ><span ><b>Tamaño del archivo:&nbsp;</b>150M</span><span >b</span></span></div>
</div>
<div >
<div >
<br /></div>
<div >
<b><span >Descarga Mega:</span></b></div>
<div>
<div >
<a href="https://ouo.io/B5EvKB"  target="_blank"><b>My neighbor is a Yandere! 2</b></a></div>
<div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span><br />
<br />
<div >
<b><span >Descarga Mediafire:</span></b></div>
<div >
<div >
<a href="https://ouo.io/mWlpr9N"  target="_blank"><b>My neighbor is a Yandere! 2</b></a></div>
<div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span><br /><div  ><br /></div></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div >
<div >
<div >
<b ><span >Instrucciones de&nbsp;instalación:</span></b></div>
</div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >1.- Ejecutar yandere_2</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >2.- Seleccionar idioma español</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >3.- Disfrutar :D</span></span></div>
</div>
</div>
</div>

  </article>
</Layout>

  