---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `The Dandelion Girl`
export const date = '2013-12-21T22:29:00.001-05:00' 
export const updated = '2022-12-31T02:38:19.569-05:00'
export const tags = ["español","sin h",null,"Dandy Girl","The Dandelion Girl","Completo","visualnovelparapc","novela visual","novela cinetica"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/2446150153855850964/comments/default'
export const cover = 'https://1.bp.blogspot.com/-hwyRkGCD7FY/Uu5LUWMbLSI/AAAAAAAAA7g/BsKZzatNSWU/s1600/CG_blue_0.png'

---

<Layout title = {title} >
  <article>
  <div  >
</div>
<div >
<a href="http://visualnovelparapc.blogspot.com/2013/12/the-dandelion-girl.html">The Dandelion Girl[NovelaCinetica][Español]</a></div>
<div >
<br /></div>
<div  >
<a href="http://1.bp.blogspot.com/-hwyRkGCD7FY/Uu5LUWMbLSI/AAAAAAAAA7g/BsKZzatNSWU/s1600/CG_blue_0.png" ><img   src="https://1.bp.blogspot.com/-hwyRkGCD7FY/Uu5LUWMbLSI/AAAAAAAAA7g/BsKZzatNSWU/s1600/CG_blue_0.png"  /></a></div>
<div  >
<br /></div>
<div >
<span >Un día, durante una excursión a través de las colinas cerca de su casa rural, Mark se topa con una mujer joven con un vestido blanco. Ella se presenta como Julie y, cuando se le pregunta de dónde es, orgullosamente proclama ser del futuro. Marcos no se lo cree al principio, pero podía estar diciendo la verdad?</span></div>
<a name='more'></a><br />
<div  >
<span >The Dandelion Girl es una adaptación de la novela corta del mismo nombre. Fue improvisado por &nbsp;los miembros anónimos de &nbsp;/ jp / cartón en 2009/2010. La mayoría de los jugadores de novelas visuales deben conocer la frase citada en clannad "</span><span >Anteayer vi un conejo, ayer un venado, y hoy, a ti&nbsp;</span><span >", aunque muy pocos han leido la novela.</span></div>
<div  >
<br /></div>
<div  >
<b><span >Imagenes:</span></b></div>
<div >
<br /></div>
<div  >
<a href="http://2.bp.blogspot.com/-evusg06XqoM/UrZY78iEHjI/AAAAAAAAAxM/UaA4p01Z3VI/s1600/5.jpg" ><img   src="https://2.bp.blogspot.com/-evusg06XqoM/UrZY78iEHjI/AAAAAAAAAxM/UaA4p01Z3VI/s400/5.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<a href="http://3.bp.blogspot.com/-dkgrxYinJx0/UrZWMg5i9pI/AAAAAAAAAxA/Yw6TSWAbdq8/s1600/6.jpg" ><img   src="https://3.bp.blogspot.com/-dkgrxYinJx0/UrZWMg5i9pI/AAAAAAAAAxA/Yw6TSWAbdq8/s400/6.jpg"  /></a></div>
<div >
<br /></div>
<div  >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b >Nombre: </b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >The Dandelion Girl</span></span></div>
<div >
<div >
<div >
<span ><b >Tipo:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >&nbsp;</span><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >Novela Cinetica</span></span></span></div>
</div>
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span ><span ><b>Genero:</b>&nbsp; Drama, Romance</span></span></span></div>
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><b>Estudio:&nbsp;</b>JP</span></span></div>
</div>
<div >
<div >
<div >
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><b >Subtítulos:</b><span >&nbsp;Español<br /><b>Agradecimientos:</b>&nbsp;</span></span><a href="http://visualnovelparapc.blogspot.com/"><b>VisualNovelParaPc</b></a></div>
</div>
</div>
<div >
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><b>Tamaño del Archivo:&nbsp;</b>67Mb</span></span><br />
<div>
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><b><br />Descarga Mega:</b></span></span><b ><br /><a href="https://ouo.io/SOEIe83"  target="_blank">The Dandelion Girl</a></b></div>
</div>
</div>
</div>
<div >
<div >
<div >
<span ><b>contraseña:</b>&nbsp;animegame</span></div>
</div>
<div >
<div >
<span ><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><br /><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif"><span ><b>Descarga Mediafire:</b></span></span><br /><span ><b><a href="https://ouo.io/8jlN6Jm" target="_blank">The Dandelion Girl</a><br />contraseña: </b>animegame</span></span></span></div>
<div >
</div>
</div>
</div>
<div >
<br /></div>
<div >
<div >
<div  >
<b><span >Instrucciones:</span></b></div>
</div>
</div>
<div >
<span face="&quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , &quot;lucida grande&quot; , &quot;tahoma&quot; , &quot;verdana&quot; , &quot;arial&quot; , sans-serif" >1.- Instalar la fuente "default"(viene dentro de la carpeta)<br />2.- Ejecutar "Dandy Girl"</span></div>

  </article>
</Layout>

  