---
import Layout from '../layouts/Layout.astro'
import Search from 'astro-pagefind/components/Search'
---

<Layout title="Buscar">
  <div class="w-1/2 mx-auto h-[calc(80vh)] overflow-y-auto">
    <Search
      id="search"
      className="pagefind-ui"
      uiOptions={{ showImages: false }}
    />
  </div>
</Layout>
