---
import Layout from '../layouts/Layout.astro'
import Search from 'astro-pagefind/components/Search'
---

<Layout title="Buscar">
  <div>buscar</div>
  <Search
    id="search"
    className="pagefind-ui"
    uiOptions={{ showImages: false }}
  />
</Layout>
