---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/home/Hero.astro'

import Entry from '../components/Entry.astro'

import Test from '../components/Test.astro'

// const page: any = await Astro.glob('../assets/entries/*.astro')
---

<Layout title="Visual Novel Para Pc: novela visual">
  <main>
    <Hero />
    <div class="flex p-5">
      <aside class="w-2/5 rounded-xl bg-slate-400 p-5 flex flex-col gap-2">
        {
          Array(10)
            .fill(1)
            .map(() => (
              <div class="inline-flex justify-start items-center w-full gap-3 font-asap bg-slate-500 rounded-md">
                <div class="h-10 w-10 bg-slate-950 rounded-md" />
                <p>Pure x Connect</p>
              </div>
            ))
        }
      </aside>
      <section class="w-3/5 p-10 flex flex-col gap-10">
        <h3 class="font-lilita text-5xl text-slate-900">Ultimas entradas</h3>

        <Test />

        <Entry /><Entry /><Entry />
      </section>
    </div>
  </main>
</Layout>

<style>
  feed {
    @apply flex flex-col gap-2;
  }
  entry {
    @apply border border-black p-5;
  }
  entry id,
  entry updated {
    @apply hidden;
  }

  author {
    @apply flex border border-black;
  }
  author name {
    @apply text-blue-500;
  }
  author email,
  author uri {
    @apply hidden;
  }
</style>
