---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/home/Hero.astro'

import LastTen from '@/components/home/LastTen.astro'
import LastTenBlogEntries from '@/components/home/LastTenBlogEntries.astro'
import Comments from '@/components/Comments.astro'

// const page: any = await Astro.glob('../assets/entries/*.astro')
---

<Layout title="Visual Novel Para Pc: novela visual">
  <main>
    <Hero />
    <div class="flex p-5 md:flex-row flex-col">
      <aside
        class="w-4/5 mx-auto md:w-2/5 rounded-xl bg-slate-400 p-5 flex flex-col gap-2"
      >
        <h3 class="font-lilita text-3xl pl-4 text-slate-900">
          Últimas noticias del blog
        </h3>
        <LastTenBlogEntries />
      </aside>
      <section class="w-full mx-auto md:w-3/5 md:p-10 flex flex-col gap-10">
        <h3 class="font-lilita text-5xl pl-4 text-slate-900">
          Últimas 10 novelas
        </h3>

        <LastTen />
      </section>
    </div>
    <section class="p-5 bg-white text-black">
      <Comments />
    </section>
  </main>
</Layout>

<style>
  feed {
    @apply flex flex-col gap-2;
  }
  entry {
    @apply border border-black p-5;
  }
  entry id,
  entry updated {
    @apply hidden;
  }

  author {
    @apply flex border border-black;
  }
  author name {
    @apply text-blue-500;
  }
  author email,
  author uri {
    @apply hidden;
  }
</style>
