---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Encuesta`
export const date = '2022-08-20T15:22:00.000-05:00' 
export const updated = '2022-08-20T15:22:44.752-05:00'
export const tags = [null]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/6834554146963526132/comments/default'
export const cover = 'https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjOwweltWwvsMtwU7rvLyiKyDbySo522wIcxe_zGhkz9gRGWIPyD8wpiWUjvs3KOGt1Ddr_JbV1LrsGAjnZCful1GYifyKhcAXVXqkc-Z_UxFOeRgFWLlAikEqLvL1ZzFBDTZ0JPE1zXb6VRZQkjRPN94S0NVKb6r5Lizy7-Umsx8aZUBssrpjyEYji/w400-h167/777.png'

---

<Layout title = {title} >
  <article>
  <p ><span ><a href="http://www.visualnovelparapc.blogspot.com/2022/08/encuesta.html" target="_blank">Resultados de la encuesta</a></span></p><div ><span >Gracias por participar en la encuesta :) leí sus respuestas, en los enlaces que usamos de adf.ly está desactivada la opción de permitir las notificaciones así que pueden pasarlos sin tener que permitirlas.</span></div><div ><span ><br /></span></div><div ><span >Este ultimo año tuve algunos problemas con adf.ly(a veces se cae o otro problema).</span></div><div ><span ><br /></span></div><div ><span >En la encuesta gano ouo.io por 77 votos(cambiaremos de acortador en este año).</span></div><span ><div ><br /></div></span><div  ><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjOwweltWwvsMtwU7rvLyiKyDbySo522wIcxe_zGhkz9gRGWIPyD8wpiWUjvs3KOGt1Ddr_JbV1LrsGAjnZCful1GYifyKhcAXVXqkc-Z_UxFOeRgFWLlAikEqLvL1ZzFBDTZ0JPE1zXb6VRZQkjRPN94S0NVKb6r5Lizy7-Umsx8aZUBssrpjyEYji/s948/777.png" ><img     src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjOwweltWwvsMtwU7rvLyiKyDbySo522wIcxe_zGhkz9gRGWIPyD8wpiWUjvs3KOGt1Ddr_JbV1LrsGAjnZCful1GYifyKhcAXVXqkc-Z_UxFOeRgFWLlAikEqLvL1ZzFBDTZ0JPE1zXb6VRZQkjRPN94S0NVKb6r5Lizy7-Umsx8aZUBssrpjyEYji/w400-h167/777.png"  /></a></div><div  ><br /></div><div  ><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEje63d2Pdv6rGHlJBwn-SFwtEE05lsV2RcV9rBxAImSWi87JdLxXGsl6XmNNvDiPy7qc4QISWi-jBSFze0njhj7D9snmqNt1P2ZS9kprlNEaQmsNsHfhyXi28O9ZiSmml24FpP6g9FDIU4ItPE7Y_uAPRFXDQ8r4Am_yGcXo4nWuC3C5PtYNdJZt1vJ/s1440/17.jpg" ><img     src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEje63d2Pdv6rGHlJBwn-SFwtEE05lsV2RcV9rBxAImSWi87JdLxXGsl6XmNNvDiPy7qc4QISWi-jBSFze0njhj7D9snmqNt1P2ZS9kprlNEaQmsNsHfhyXi28O9ZiSmml24FpP6g9FDIU4ItPE7Y_uAPRFXDQ8r4Am_yGcXo4nWuC3C5PtYNdJZt1vJ/w400-h250/17.jpg"  /></a></div>
<br />
  </article>
</Layout>

  