---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Photograph Journey ~Shizuoka-Nagasaki~`
export const date = '2017-01-22T17:48:00.001-05:00' 
export const updated = '2022-09-27T23:43:31.138-05:00'
export const tags = ["español","Mediafire","visual novel",null,"Mega","Photograph Journey ~Shizuoka-Nagasaki~","Completo","visualnovelparapc","novela visual","japonés","otome","Photograph Journey"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/6401664190380867929/comments/default'
export const cover = 'https://4.bp.blogspot.com/-U01zxDQbLnE/WIfVn5dbBpI/AAAAAAAAB_4/oKrXVZB8hps96JLSvjjz25UOsiYunv9MgCLcB/s400/PLACE_GP.jpg'

---

<Layout title = {title} >
  <article>
  <div  >
<a href="http://visualnovelparapc.blogspot.com/2017/01/photograph-journey-shizuoka-nagasaki.html" target="_blank">Photograph Journey ~Shizuoka-Nagasaki~[Otome][Español]</a></div>
<br />
<div >
<div  >
<a href="https://4.bp.blogspot.com/-U01zxDQbLnE/WIfVn5dbBpI/AAAAAAAAB_4/oKrXVZB8hps96JLSvjjz25UOsiYunv9MgCLcB/s1600/PLACE_GP.jpg" ><img   src="https://4.bp.blogspot.com/-U01zxDQbLnE/WIfVn5dbBpI/AAAAAAAAB_4/oKrXVZB8hps96JLSvjjz25UOsiYunv9MgCLcB/s400/PLACE_GP.jpg"  /></a></div>
<br /></div>
<div  >
<span >Debido al trabajo de sus padres, la protagonista (Haruho Hayama) ha tenido que mudarse constantemente... Un día, recibe una carta de parte de uno de los chicos que se encontró durante aquellos viajes.</span></div>
<div  >
</div>
<a name='more'></a><b></b><br />
<div >
<b><b><span >Imagenes:</span></b></b></div>
<div  >
<a href="https://4.bp.blogspot.com/-B8J4lEGeHW8/WIfVkDyNkdI/AAAAAAAAB_0/iJDBKH86hnkZHSkbMm-Q8SBamdX_2j9FgCLcB/s1600/par.jpg" ><img   src="https://4.bp.blogspot.com/-B8J4lEGeHW8/WIfVkDyNkdI/AAAAAAAAB_0/iJDBKH86hnkZHSkbMm-Q8SBamdX_2j9FgCLcB/s400/par.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<a href="https://2.bp.blogspot.com/-S_ZNlDWpIGc/WIfZcyS02jI/AAAAAAAACAE/C_meLk-uV7kk3Waoobgt0ZYEhiD1kYZsQCLcB/s1600/556.jpg" ><img   src="https://2.bp.blogspot.com/-S_ZNlDWpIGc/WIfZcyS02jI/AAAAAAAACAE/C_meLk-uV7kk3Waoobgt0ZYEhiD1kYZsQCLcB/s400/556.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<span ><b>Nombre:&nbsp;</b>&nbsp;</span><span >Photograph Journey ~Shizuoka-Nagasaki~</span></div>
<div >
<span ><b>Tipo:&nbsp;</b>Novela Visual</span></div>
<div >
<span ><b>Estudio:&nbsp;</b>honeybee</span></div>
<div >
<span >&nbsp;<b>Genero:&nbsp;</b>Romance, Otome</span></div>
<div >
<span ><b>Idioma:</b>&nbsp;Japonés</span></div>
<div >
<span ><b>Subtitulos:</b>&nbsp;Español Completo</span></div>
<div >
<span ><b>Agradecimientos:&nbsp;</b><a href="http://strawberry-traducciones.blogspot.com.ar/" target="_blank"><b>Traducciones Strawberry</b></a></span></div>
<div >
<span ><b>Tamaño del archivo:</b>&nbsp;980Mb</span></div>
<div >
<span ><br /></span></div>
<div >
<span ><b>Descarga Mega:</b></span></div>
<div >
<span ><b><a href="https://ouo.io/GMQ3M6" target="_blank">~Shizuoka-Nagasaki~</a></b></span></div>
<div >
<span ><b>contraseña: animegame</b></span></div>
<div >
<span ><b><br /></b></span></div>
<div >
<span ><b>Descarga Mediafire:</b></span></div>
<div >
<span ><b><a href="https://ouo.io/czcAcg" target="_blank">~Shizuoka-Nagasaki~</a></b></span></div>
<div >
<span ><b>contraseña: animegame</b></span></div>
<div >
<span ><br /></span></div>
<div >
<span ><b>Parche:</b></span></div>
<div >
<span >&nbsp;<a href="https://mega.nz/#!uUYAwB5A!eEoojudMJtQf4-oDo8O3fYk88jBkR3aXPpA-jn2Lado" target="_blank">Mega</a><br /><br /><b>Tutorial de Instalación:</b><br /><iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/ttm4TeY5dQI/0.jpg" frame  src="https://www.youtube.com/embed/ttm4TeY5dQI?feature=player_embedded" ></iframe></span><br />
<span ><br /></span></div>
<div >
<span ><b>Instrucciones:</b></span></div>
<div >
<span >1.- Cambiar la conf. unicode a japones para su correcto funcionamiento.</span><br />
<span >(Panel de control\Reloj, idioma y region\Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc)</span><br />
<span ><span >2.- Descargar y abrir el parche, pegar los archivos de la carpeta "Parche" en la carpeta del juego(Por defecto C:\Program Files (x86)\honeybee\Photograph Journey</span><span >～</span><span >).</span></span><br />
<span >3.- Pegar los archivos de la carpeta "fuente", instalar la fuente "MS-Gothic-Esp.tff" y ejecutar lo archivos .reg(Clic derecho a PJShizuNaga1.reg/Combinar y Clic derecho a PJShizuNag2.reg/Combinar)</span><br />
<span >4- .Ejecutar "pj_shizuoka_nagasaki.exe"</span><br />
<span ><br /></span></div>

  </article>
</Layout>

  