---
import hero from '../../assets/heroImage.jpg'
import { Image } from 'astro:assets'
---

<section>
  <Image src={hero} alt="hero" class="w-1/2 rounded-br-xl opacity-0" />
  <div class="w-full">
    <p>Blog de novelas visuales, eroges y arcades en español para pc.</p>
  </div>
</section>

<style>
  section {
    @apply flex  items-center justify-between;
  }

  p {
    @apply w-1/2 mx-auto text-center text-4xl  font-concertOne text-slate-900;
  }
</style>
