---
export const title = 'The Dandelion Girl'
export const date = '2013-12-21T19:29:00.000-08:00'
export const updated = '2017-11-09T09:41:34.328-08:00'
---

<div class="separator" style="clear: both; text-align: center;"></div><div
  style="text-align: center;"
>
  <a
    href="http://visualnovelparapc.blogspot.com/2013/12/the-dandelion-girl.html"
    >The Dandelion Girl[NovelaCinetica][Español]</a
  >
</div><div style="text-align: center;"><br /></div><div
  class="separator"
  style="clear: both; text-align: center;"
>
  <a
    href="http://1.bp.blogspot.com/-hwyRkGCD7FY/Uu5LUWMbLSI/AAAAAAAAA7g/BsKZzatNSWU/s1600/CG_blue_0.png"
    imageanchor="1"
    style="margin-left: 1em; margin-right: 1em;"
    ><img
      border="0"
      height="300"
      src="https://1.bp.blogspot.com/-hwyRkGCD7FY/Uu5LUWMbLSI/AAAAAAAAA7g/BsKZzatNSWU/s1600/CG_blue_0.png"
      width="400"
    /></a
  >
</div><div class="separator" style="clear: both; text-align: center;">
  <br />
</div><div style="text-align: center;">
  <span style="background-color: black; color: #999999;"
    >Un día, durante una excursión a través de las colinas cerca de su casa
    rural, Mark se topa con una mujer joven con un vestido blanco. Ella se
    presenta como Julie y, cuando se le pregunta de dónde es, orgullosamente
    proclama ser del futuro. Marcos no se lo cree al principio, pero podía estar
    diciendo la verdad?</span
  >
</div><a name="more"></a><br /><div
  class="separator"
  style="clear: both; text-align: center;"
>
  <span style="background-color: black; color: #999999;"
    >The Dandelion Girl es una adaptación de la novela corta del mismo nombre.
    Fue improvisado por &nbsp;los miembros anónimos de &nbsp;/ jp / cartón en
    2009/2010. La mayoría de los jugadores de novelas visuales deben conocer la
    frase citada en clannad "</span
  ><span style="background-color: black; color: #7f6000;"
    >Anteayer vi un conejo, ayer un venado, y hoy, a ti&nbsp;</span
  ><span style="background-color: black; color: #999999;"
    >", aunque muy pocos han leido la novela.</span
  >
</div><div class="separator" style="clear: both; text-align: center;">
  <br />
</div><div class="separator" style="clear: both; text-align: center;">
  <b><span style="background-color: black; color: #999999;">Imagenes:</span></b>
</div><div style="text-align: center;"><br /></div><div
  class="separator"
  style="clear: both; text-align: center;"
>
  <a
    href="http://2.bp.blogspot.com/-evusg06XqoM/UrZY78iEHjI/AAAAAAAAAxM/UaA4p01Z3VI/s1600/5.jpg"
    imageanchor="1"
    style="margin-left: 1em; margin-right: 1em;"
    ><img
      border="0"
      height="298"
      src="https://2.bp.blogspot.com/-evusg06XqoM/UrZY78iEHjI/AAAAAAAAAxM/UaA4p01Z3VI/s400/5.jpg"
      width="400"
    /></a
  >
</div><div class="separator" style="clear: both; text-align: center;">
  <br />
</div><div class="separator" style="clear: both; text-align: center;">
  <a
    href="http://3.bp.blogspot.com/-dkgrxYinJx0/UrZWMg5i9pI/AAAAAAAAAxA/Yw6TSWAbdq8/s1600/6.jpg"
    imageanchor="1"
    style="margin-left: 1em; margin-right: 1em;"
    ><img
      border="0"
      height="301"
      src="https://3.bp.blogspot.com/-dkgrxYinJx0/UrZWMg5i9pI/AAAAAAAAAxA/Yw6TSWAbdq8/s400/6.jpg"
      width="400"
    /></a
  >
</div><div style="text-align: center;"><br /></div><div
  class="separator"
  style="background-color: black; clear: both; color: #c8c8c8; font-family: Georgia, Utopia, 'Palatino Linotype', Palatino, serif; font-size: 15px; line-height: 20px; outline: none; padding: 0px; text-align: center;"
>
  <span
    style='color: #999999; font-family: "arial" , "tahoma" , "helvetica" , "freesans" , sans-serif; font-size: 13px; line-height: 18px;'
    ><b
      style="font-family: 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 19px; text-align: justify;"
      >Nombre:
    </b><span
      style='font-family: "helvetica neue light" , , "helvetica neue" , "helvetica" , "arial" , sans-serif; font-size: 14px; line-height: 19px; text-align: justify;'
      >The Dandelion Girl</span
    ></span
  >
</div><div
  style="background-color: black; color: #c8c8c8; font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 13px; margin: 0px; outline: none; padding: 0px; text-align: justify;"
>
  <div
    style="line-height: 18px; margin: 0px; outline: none; padding: 0px; text-align: center;"
  >
    <div style="margin: 0px; outline: none; padding: 0px;">
      <span style="color: #999999;"
        ><b
          style="font-family: 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 19px; text-align: justify;"
          >Tipo:</b
        ><span
          style='font-family: "helvetica neue light" , , "helvetica neue" , "helvetica" , "arial" , sans-serif; font-size: 14px; line-height: 19px; text-align: justify;'
          >&nbsp;</span
        ><span
          style='font-family: "helvetica neue light" , , "helvetica neue" , "helvetica" , "arial" , sans-serif;'
          ><span style="font-size: 14px; line-height: 19px;"
            >Novela Cinetica</span
          ></span
        ></span
      >
    </div>
  </div><div
    style="line-height: 18px; margin: 0px; outline: none; padding: 0px; text-align: center;"
  >
    <span
      style='font-family: "helvetica neue light" , , "helvetica neue" , "helvetica" , "arial" , sans-serif;'
      ><span style="font-size: 14px; line-height: 19px;"
        ><span style="color: #999999;"><b>Genero:</b>&nbsp; Drama, Romance</span
        ></span
      ></span
    >
  </div><div
    style="margin: 0px; outline: none; padding: 0px; text-align: center;"
  >
    <span
      style='font-family: "helvetica neue light" , , "helvetica neue" , "helvetica" , "arial" , sans-serif; font-size: 14px; line-height: 19px;'
      ><span style="color: #999999;"><b>Estudio:&nbsp;</b>JP</span></span
    >
  </div>
</div><div
  style="background-color: black; color: #c8c8c8; font-family: Georgia, Utopia, 'Palatino Linotype', Palatino, serif; font-size: 15px; line-height: 20px; margin: 0px; outline: none; padding: 0px; text-align: justify;"
>
  <div
    style="line-height: 18px; margin: 0px; outline: none; padding: 0px; text-align: center;"
  >
    <div style="margin: 0px; outline: none; padding: 0px;">
      <div
        style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 13px; margin: 0px; outline: none; padding: 0px;"
      >
        <span
          style='font-family: "helvetica neue light" , , "helvetica neue" , "helvetica" , "arial" , sans-serif; font-size: 14px; line-height: 19px; text-align: justify;'
          ><b style="color: #999999;">Subtítulos:</b><span
            style="color: #999999;"
            >&nbsp;Español<br /><b>Agradecimientos:</b>&nbsp;</span
          ></span
        ><a href="http://visualnovelparapc.blogspot.com/"
          ><b>VisualNovelParaPc</b></a
        >
      </div>
    </div>
  </div><div
    style="margin: 0px; outline: none; padding: 0px; text-align: center;"
  >
    <div
      style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 13px; line-height: 18px; margin: 0px; outline: none; padding: 0px;"
    >
      <span
        style='font-family: "helvetica neue light" , , "helvetica neue" , "helvetica" , "arial" , sans-serif; font-size: 14px; line-height: 19px; text-align: justify;'
        ><span style="color: #999999;"
          ><b>Tamaño del Archivo:&nbsp;</b>67Mb</span
        ></span
      ><br /><div>
        <span
          style='font-family: "helvetica neue light" , , "helvetica neue" , "helvetica" , "arial" , sans-serif; font-size: 14px; line-height: 19px; text-align: justify;'
          ><span style="color: #999999;"><b><br />Descarga Mega:</b></span
          ></span
        ><b
          style="font-family: Georgia, Utopia, 'Palatino Linotype', Palatino, serif; font-size: 15px; line-height: 20px;"
          ><br /><a
            href="https://mega.nz/#!rUUFEKzD!StXsczkw1l2QLTBLrkpXenauEDEqSEGd2f6hOfOn-JU"
            style="color: #009cc5;"
            target="_blank">The Dandelion Girl</a
          ></b
        >
      </div>
    </div>
  </div>
</div><div style="background-color: black;">
  <div
    style="color: #c8c8c8; font-family: Georgia, Utopia, 'Palatino Linotype', Palatino, serif; font-size: 15px; line-height: 20px;"
  >
    <div style="text-align: center;">
      <span style="color: #999999;"><b>contraseña:</b>&nbsp;animegame</span>
    </div>
  </div><div style="margin: 0px; outline: none; padding: 0px;">
    <div style="text-align: center;">
      <span style="color: #999999;"
        ><span
          style='font-family: "helvetica neue light" , , "helvetica neue" , "helvetica" , "arial" , sans-serif; text-align: justify;'
          ><br /><span
            style='font-family: "arial" , "tahoma" , "helvetica" , "freesans" , sans-serif;'
            ><span style="font-size: 14px; line-height: 19px;"
              ><b>Descarga Mediafire:</b></span
            ></span
          ><br /><span style="font-size: 14px; line-height: 19px;"
            ><b
              ><a
                href="http://www.mediafire.com/download/rr2qqbhckbakfl3/Dandy%20Girl%20Espa%C3%B1ol.exe"
                target="_blank">The Dandelion Girl</a
              ><br />contraseña:
            </b>animegame</span
          ></span
        ></span
      >
    </div><div style="text-align: center;"></div>
  </div>
</div><div style="text-align: center;"><br /></div><div
  style="margin: 0px; outline: none; padding: 0px; text-align: center;"
>
  <div style="margin: 0px; outline: none; padding: 0px;">
    <div
      class="separator"
      style="background-color: black; clear: both; font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 14px; line-height: 19px; outline: none; padding: 0px;"
    >
      <b><span style="color: #999999;">Instrucciones:</span></b>
    </div>
  </div>
</div><div
  style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 13px; line-height: 18px; margin: 0px; outline: none; padding: 0px; text-align: center;"
>
  <span
    style='background-color: black; color: #999999; font-family: "helvetica neue" , "helvetica" , "arial" , "lucida grande" , "tahoma" , "verdana" , "arial" , sans-serif; font-size: 14px; line-height: 20px;'
    >1.- Instalar la fuente "default"(viene dentro de la carpeta)<br />2.-
    Ejecutar "Dandy Girl"</span
  >
</div>
