---
export const title = 'Sono Hanabira6 ~ Kuchibiru to Kiss de Tsubuyaite'
export const date = '2013-12-05T11:03:00.001-08:00'
export const updated = '2018-02-09T02:18:34.313-08:00'
---

<div class="separator" style="clear: both; text-align: center;"></div><div
  class="separator"
  style="clear: both; text-align: center;"
>
</div><div class="separator" style="clear: both; text-align: center;"></div><div
  style="text-align: center;"
>
  <a
    href="http://visualnovelparapc.blogspot.com/2013/12/sono-hanabira6susurros-al-besarte.html"
    target="_blank">Sono Hanabira 6[Eroge][Yuri]</a
  ><br /><br /><div class="separator" style="clear: both; text-align: center;">
  </div><div class="separator" style="clear: both; text-align: center;">
  </div><div class="separator" style="clear: both; text-align: center;">
  </div><div class="separator" style="clear: both; text-align: center;">
  </div><div class="separator" style="clear: both; text-align: center;">
    <a
      href="https://2.bp.blogspot.com/-ebnNRAIvJSM/WJpVEUS5GJI/AAAAAAAACKw/zAJUGvAjlOEkJNvD9PTONnMmlPUdMUHzACPcBGAYYCw/s1600/55999.jpg"
      imageanchor="1"
      style="margin-left: 1em; margin-right: 1em;"
      ><img
        border="0"
        data-original-height="448"
        data-original-width="320"
        src="https://2.bp.blogspot.com/-ebnNRAIvJSM/WJpVEUS5GJI/AAAAAAAACKw/zAJUGvAjlOEkJNvD9PTONnMmlPUdMUHzACPcBGAYYCw/s1600/55999.jpg"
      /></a>
  </div><div class="separator" style="clear: both; text-align: center;">
    <br />
  </div><div class="separator" style="clear: both; text-align: center;">
    <span style="background-color: black;"
      ><span style="color: #999999;"
        >La sexta entrega de Sono Hanabira, secuela de <a
          href="https://visualnovelparapc.blogspot.com/2013/10/sono-hanabira-ni-kuchizuke-wo-un-beso.html"
          target="_blank">Sono Hanabira1</a
        ></span
      ></span>
  </div><a name="more"></a><br /><div
    class="separator"
    style="clear: both; text-align: center;"
  >
    <span style="background-color: black;"
      ><span style="color: #999999;"
        >El romance de Yuna y Nanami sigue siendo un secreto pero están teniendo
        problemas para ocultar sus verdaderos sentimientos de todo el mundo!</span
      ></span
    ><span style="background-color: black;"
      ><span style="color: #999999;"
        >La trama principal rodea dos malentendidos. Nanami falsamente cree que
        Yuuna será un estudiante de intercambio para el próximo año, mientras
        que Yuuna irracionalmente cree que hay algo entre otra chica, Mai y
        Nanami. Los celos de Yuuna se vuelven extremadamente notorios. Esta
        inseguridad se suma una buena dinámica de su relación. Yuuna tiene miedo
        de perder Nanami.</span
      ></span>
  </div><span style="background-color: black;"
    ><span style="color: #999999;"><br /><b>Imagenes:</b></span></span
  ><br /><div class="separator" style="clear: both; text-align: center;">
  </div><div class="separator" style="clear: both; text-align: center;">
    <a
      href="http://3.bp.blogspot.com/-gauv8VrcZaQ/UqDExJaR-NI/AAAAAAAAAus/HspWT5g4hkk/s1600/2.png"
      imageanchor="1"
      style="margin-left: 1em; margin-right: 1em;"
      ><img
        border="0"
        height="300"
        src="https://3.bp.blogspot.com/-gauv8VrcZaQ/UqDExJaR-NI/AAAAAAAAAus/HspWT5g4hkk/s400/2.png"
        width="400"
      /></a>
  </div><div class="separator" style="clear: both; text-align: center;">
    <br />
  </div><div class="separator" style="clear: both; text-align: center;">
    <a
      href="http://1.bp.blogspot.com/-vb2Wu-oqhSM/UqDEyW4g0BI/AAAAAAAAAu0/Q_6JzEVMxxg/s1600/4.jpg"
      imageanchor="1"
      style="margin-left: 1em; margin-right: 1em;"
      ><img
        border="0"
        height="300"
        src="https://1.bp.blogspot.com/-vb2Wu-oqhSM/UqDEyW4g0BI/AAAAAAAAAu0/Q_6JzEVMxxg/s400/4.jpg"
        width="400"
      /></a>
  </div><div class="separator" style="clear: both; text-align: center;">
    <br />
  </div><div
    style="background-color: black; color: #c8c8c8; font-family: 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 19px; margin: 0px; outline: none; padding: 0px;"
  >
    <span style="color: #999999;"
      ><b style="text-align: justify;">Nombre:&nbsp;</b><span
        style="text-align: justify;">Sono Hana 6</span
      ></span>
  </div><div
    style="font-size: 14px; line-height: 19px; margin: 0px; outline: none; padding: 0px;"
  >
    <div
      style="background-color: black; color: #c8c8c8; margin: 0px; outline: none; padding: 0px;"
    >
      <span style="color: #999999;"
        ><b style="text-align: justify;">Tipo:</b><span
          style="text-align: justify;">&nbsp;Eroge</span
        ></span>
    </div><div
      style='background-color: black; color: #c8c8c8; font-family: "times new roman"; font-size: medium; line-height: normal; margin: 0px; outline: none; padding: 0px;'
    >
      <span style="color: #999999;"
        ><b
          style="font-family: 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 19px; text-align: justify;"
          >Estudio:</b
        ><span style="text-align: justify;"
          ><span
            style='font-family: "helvetica neue light" , , "helvetica neue" , "helvetica" , "arial" , sans-serif;'
            ><span style="font-size: 14px; line-height: 19px;"
              >&nbsp;Fuguriya</span
            ></span
          ></span
        ></span>
    </div><div
      style="background-color: black; color: #c8c8c8; margin: 0px; outline: none; padding: 0px;"
    >
      <span style="color: #999999;"
        ><b style="text-align: justify;">&nbsp;Genero:</b><span
          style="text-align: justify;">&nbsp;Yuri, Romance, Eroge</span
        ></span>
    </div><div
      style="background-color: black; color: #c8c8c8; margin: 0px; outline: none; padding: 0px;"
    >
      <span style="color: #999999;"
        ><b style="text-align: justify;">Idioma:&nbsp;</b><span
          style="text-align: justify;">Japones</span
        ></span>
    </div><div style="margin: 0px; outline: none; padding: 0px;">
      <div style="background-color: black; color: #c8c8c8;">
        <b style="color: #999999; text-align: justify;">Subtitulos:</b><span
          style="text-align: justify;"
          ><span style="color: #999999;">&nbsp;Español</span><br /><b
            style="color: #999999;">Agradecimientos:</b
          ><span style="color: #999999;"
            >&nbsp;<a
              href="http://soulhunternofansub.blogspot.com/"
              style="color: #009cc5;">Sohulter no Fansub</a
            ></span
          ></span>
      </div><span
        style="background-color: black; color: #999999; text-align: justify;"
        ><b>Duración:</b> 2-10 horas</span>
    </div><div
      style="background-color: black; color: #c8c8c8; margin: 0px; outline: none; padding: 0px;"
    >
      <span style="color: #999999;"
        ><b style="text-align: justify;">Tamaño del archivo:&nbsp;</b><span
          style="text-align: justify;">160</span
        ><span style="text-align: justify;">M</span><span
          style="text-align: justify;">b</span
        ></span>
    </div>
  </div><div style="background-color: black;">
    <div
      style="color: #c8c8c8; font-family: Georgia, Utopia, 'Palatino Linotype', Palatino, serif; font-size: 15px; line-height: 20px;"
    >
      <br />
    </div><div
      style="color: #c8c8c8; font-family: Georgia, Utopia, 'Palatino Linotype', Palatino, serif; font-size: 15px; line-height: 20px;"
    >
      <b><span style="color: #999999;">Descarga Mega:</span></b>
    </div><div>
      <div
        style="color: #c8c8c8; font-family: Georgia, Utopia, 'Palatino Linotype', Palatino, serif; font-size: 15px; line-height: 20px;"
      >
        <a
          href="http://zipteria.com/4969688/sh6-mg"
          style="color: #009cc5;"
          target="_blank"><b>Sono Hanabira 6</b></a>
      </div><div
        style="color: #c8c8c8; font-family: Georgia, Utopia, 'Palatino Linotype', Palatino, serif; font-size: 15px; line-height: 20px;"
      >
        <span
          style='font-family: "arial" , "tahoma" , "helvetica" , "freesans" , sans-serif; font-size: 14px; line-height: 19px;'
          ><b style="color: #999999;">contraseña</b><span
            style="color: #999999;">:&nbsp;</span
          ></span
        ><span
          style='color: #999999; font-family: "arial" , "tahoma" , "helvetica" , "freesans" , sans-serif; font-size: 14px; line-height: 19px;'
          >animegame</span>
      </div><div style="margin: 0px; outline: none; padding: 0px;">
        <span style="color: #999999;"
          ><span
            style='font-family: "helvetica neue light" , , "helvetica neue" , "helvetica" , "arial" , sans-serif; text-align: justify;'
            ><b
              ><br /><span
                style='font-family: "arial" , "tahoma" , "helvetica" , "freesans" , sans-serif;'
                ><span style="font-size: 14px; line-height: 19px;"
                  >Descarga Mediafire:</span
                ></span
              ><br /><span style="font-size: 14px; line-height: 19px;"
                ><a href="http://zipteria.com/4969688/sh6-mf" target="_blank"
                  >Sono Hanabira 6</a
                ></span
              ><br />contraseña:</b
            > animegame</span
          ></span
        ><span
          style='font-family: "arial" , "tahoma" , "helvetica" , "freesans" , sans-serif; font-size: 14px; line-height: 19px;'
          ><span
            style='font-family: "helvetica neue light" , , "helvetica neue" , "helvetica" , "arial" , sans-serif; text-align: justify;'
            ><b style="color: #999999;"><br /><br />Parche:</b><br /><b
              ><span style="color: blue;"
                ><a
                  href="http://www.mediafire.com/file/kvt1cnhf4cko8u3/SH6_Esp.rar"
                  target="_blank">Mediafire</a
                ></span
              ></b
            ></span
          ></span>
      </div>
    </div><div
      style="color: #c8c8c8; font-family: Georgia, Utopia, 'Palatino Linotype', Palatino, serif; font-size: 15px; line-height: 20px;"
    >
      <b
        style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 14px; line-height: 19px;"
        ><span style="color: #999999;"><br /></span></b
      ><b
        style="font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: 14px; line-height: 19px;"
        ><span style="color: #999999;">Instrucciones de&nbsp;instalación:</span
        ></b>
    </div>
  </div><div
    class="separator"
    style="background-color: black; clear: both; color: #c8c8c8; font-family: Georgia, Utopia, 'Palatino Linotype', Palatino, serif; font-size: 15px; line-height: 20px;"
  >
    <span style="color: #999999;"
      >1.-Ejecutar el parche y seleccionar el directorio "Hanabira6"<br />2.-
      Ejecutar como administrador "Hanabira6" y jugar&nbsp;</span>
  </div><div class="separator" style="clear: both; text-align: center;">
    <br />
  </div><div class="separator" style="clear: both;">
    <span style="background-color: black;"
      ><span style="color: #6aa84f;">Posibles problemas</span><br /><span
        style="color: #999999;"
        >1.-parpadea la ventana y se cierra el juego<br />&nbsp;Solución 1: Clic
        derecho al ejecutable y darle en compatibilidad con xp<br />Solución 2:
        Cambiar la configuración unicode a japones y abrir "Hanabira"</span
      ></span>
  </div>
</div>
