---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Sono Hanabira10 ~ Lily Platinum`
export const date = '2016-06-07T05:48:00.003-05:00' 
export const updated = '2023-05-04T17:20:50.564-05:00'
export const tags = ["español","sono hanabira ni kuchizuke wo","visual novel",null,"yuri","Completo","visualnovelparapc","El Beso de los Petalos - Lily Platinum","eroge","novela visual","sono hanabira","Sono Hanabira10- Lily Platinum"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/7746555364833552730/comments/default'
export const cover = 'https://1.bp.blogspot.com/-NsT5klxsMqs/WJph6dgVxPI/AAAAAAAACLc/7gk7exek2YIMIq29OBHoJrvS8D8iT0q4gCPcBGAYYCw/s1600/55999.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2016/06/sono-hanabira-10-lily-platinum.html" target="">Sono Hanabira 10[Eroge][Yuri]</a></div>
<br />
<div  >
<a href="https://1.bp.blogspot.com/-NsT5klxsMqs/WJph6dgVxPI/AAAAAAAACLc/7gk7exek2YIMIq29OBHoJrvS8D8iT0q4gCPcBGAYYCw/s1600/55999.jpg" ><img    src="https://1.bp.blogspot.com/-NsT5klxsMqs/WJph6dgVxPI/AAAAAAAACLc/7gk7exek2YIMIq29OBHoJrvS8D8iT0q4gCPcBGAYYCw/s1600/55999.jpg" /></a></div>
<div  >
<br /></div>
<div >
<span >La décima entrega de Sono Hanabira ni Kuchizuke, es la secuela de&nbsp;</span><a href="http://visualnovelparapc.blogspot.com/2014/05/sono-hanabira8tenida-con-los-petalos-de.html"  target="_blank">Sono Hanabira8.</a></div>
<div >
<span ><span >&nbsp;Shizuku es la encarnación de una mujer japonesa pura y gentil. Y&nbsp;</span></span><span >Eris una belleza rubia del extranjero.</span></div>
<div >
<a name='more'></a></div>
<div >
<b><span ><br />Imagenes:</span></b></div>
<div >
<div  >
<br /></div>
<div  >
<a href="https://1.bp.blogspot.com/-SDvLcKnz0pA/V1aatmDsGgI/AAAAAAAAB2k/BbQh5XnEYpUcLGgOnqVn15y1LhzbsM9mACLcB/s1600/853.jpg" ><img   src="https://1.bp.blogspot.com/-SDvLcKnz0pA/V1aatmDsGgI/AAAAAAAAB2k/BbQh5XnEYpUcLGgOnqVn15y1LhzbsM9mACLcB/s400/853.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<a href="https://2.bp.blogspot.com/-VLwsZInX0aQ/V1aau8XnnVI/AAAAAAAAB20/FmTwuPoB4toidIS0nVirciumN00DmLmcwCKgB/s1600/535.png" ><img   src="https://2.bp.blogspot.com/-VLwsZInX0aQ/V1aau8XnnVI/AAAAAAAAB20/FmTwuPoB4toidIS0nVirciumN00DmLmcwCKgB/s400/535.png"  /></a></div>
<div  >
<br /></div>
<div >
<span ><b><span >Nombr</span><span ><span >e:</span><span >&nbsp;</span></span></b></span><span >Sono Hanabira 10 ~ Lily Platinum</span></div>
<div >
<span ><b>Tipo:</b>&nbsp;Eroge</span></div>
<div >
<span ><span ><b>Estudio:&nbsp;</b></span></span><span ><span  > <span ><span >Fuguriya</span></span></span></span><br />
<span ><span ><b>Genero:</b>&nbsp;</span><span >Romance, Yuri</span></span><span ><br /></span></div>
<div >
<span ><span ><b>Subtítulos:&nbsp;</b>Español Completo</span></span></div>
<div >
<span ><span ><b>Agradecimientos:&nbsp;</b><a href="http://soulhunternofansub.blogspot.mx/" target="_blank">SoulHunter no Fansub</a></span></span></div>
<div >
<span ><span ><b>Duración:&nbsp;</b>2-10 horas</span></span></div>
<div >
<span ><span ><b>Tamaño del Archivo:&nbsp;</b>244Mb</span></span><br />
<br /></div>
</div>
<div >
<div >
<div >
<b><span >Descarga Mega:</span></b></div>
<div>
<div >
<a href="https://ouo.io/fH4mBFq"  target="_blank"><b>Sono Hanabira 10</b></a></div>
<div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b >contraseña</b><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span></div>
<div >
<br /></div>
<div >
<b><span >Descarga Mediafire:</span></b></div>
<span ><span ><a href="https://ouo.io/jc0i2E" target="_blank"><b>Sono Hanabira 10</b></a></span></span><br />
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b >contraseña</b><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span></div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><br /></span></div>
<div>
<div >
<b >Parche:</b></div>
</div>
<div >
<b ><a href="https://www.mediafire.com/file/v1fxv13gk0psa4d/Parche_Sono_Hanabira_10.rar/file" target="_blank">Mediafire</a></b><br />
<b ><br /></b></div>
<div >
<div >
<b ><span >Instrucciones de&nbsp;instalación:</span></b></div>
</div>
<div  >
<span ><span >1.- Cambiar la conf. unicode a japones para su correcto funcionamiento.</span></span></div>
<div  >
<span ><span >(Panel de control\Reloj, idioma y región\Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc)</span></span></div>
<div  >
<span ><span >2.- Extraer el parche en la carpeta del juego y reemplazar.</span></span></div>
<div  >
<span ><span >3.- Ejecutar Hana10</span></span></div>
<div  >
<span ><span ><br /></span></span></div>
<div  >
<span >Posibles problemas</span></div>
<div  >
<span ><span ></span></span></div>
<div >
<span >1.-parpadea la ventana y se cierra &nbsp;el juego o otro<br />&nbsp;Solución 1: Clic derecho al ejecutable y darle en compatibilidad con xp</span><span ><br /></span></div>
</div>
</div>
</div>
</div>

  </article>
</Layout>

  