---
import { url } from '../scripts/url'
---

<header>
  <h1 class="font-lilita">Visual Novel para PC</h1>

  <nav class="inline-flex gap-10 pr-10">
    <a href=`${url}/`>Inicio</a>
    <a href=`${url}/buscar`>Buscar</a>
  </nav>
</header>

<style>
  header {
    @apply flex w-full justify-between items-center bg-gradient-to-r from-slate-950 to-blue-950 px-2 pr-5;
  }
  a {
    @apply font-bold text-xl text-white;
  }

  h1 {
    @apply flex justify-between items-center px-5 py-3 bg-slate-900 text-5xl bg-gradient-to-t from-rose-400 to-white bg-clip-text text-transparent;
  }
</style>
