---

---

<header>
  <h1 class="font-lilita">Visual Novel para PC</h1>
  <nav class="inline-flex">
    <a href="/">Inicio</a>
  </nav>
</header>

<style>
  header {
    @apply flex w-full justify-between items-center bg-slate-900 px-2 pr-5;
  }
  a {
    @apply font-bold text-xl text-white;
  }

  h1 {
    @apply flex justify-between items-center px-5 py-3 bg-slate-900 text-5xl bg-gradient-to-t from-rose-400 to-white bg-clip-text text-transparent;
  }
</style>
