---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Lista`
export const date = '2018-02-13T15:41:00.000-05:00' 
export const updated = '2020-07-30T20:23:20.494-05:00'
export const tags = [null]
export const urlComments = 'null'
export const cover = 'https://1.bp.blogspot.com/-KR-L7OXUw5o/XyNyA-rQxcI/AAAAAAAAD8c/lCV1qReyAMksw8ELHYpli6AM6CjU2TfPgCLcBGAsYHQ/s320/11.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<div  >
<b><span >Lista:</span></b></div>
<span ><b><span ><br /></span></b></span>
<span ><b><span >A</span></b></span></div><div ><span ><b><span ><br /></span></b></span></div><table align="center" cellpadding="0" cellspacing="0"  ><tbody><tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2014/08/air-standard-edition.html" target="_blank"><img     src="https://1.bp.blogspot.com/-KR-L7OXUw5o/XyNyA-rQxcI/AAAAAAAAD8c/lCV1qReyAMksw8ELHYpli6AM6CjU2TfPgCLcBGAsYHQ/s320/11.jpg" /></a></span></td></tr><tr><td  ><b>&nbsp; &nbsp;&nbsp;<a href="https://visualnovelparapc.blogspot.com/2014/08/air-standard-edition.html" target="_blank">Air[18]</a></b></td></tr></tbody></table><div ><table align="center" cellpadding="0" cellspacing="0"  ><tbody><tr><td><span ><a href="https://visualnovelparapc.blogspot.com/2017/07/ame-no-marginal.html" target="_blank"><img     src="https://4.bp.blogspot.com/-325GdIQsxVI/WWVR32cWLLI/AAAAAAAACdA/OmwrfEMvx9Udioj8rXlHs6MI-D5L0BjHQCPcBGAYYCw/s320/333.png"  /></a></span></td></tr><tr><td ><b><a href="https://visualnovelparapc.blogspot.com/2017/07/ame-no-marginal.html" target="_blank">Ame no Marginal[15]</a></b></td></tr></tbody></table></div><div >
<br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2016/01/apricot-tei-monogatari-egao-o-wasureta.html" target="_blank"><b><img alt=""   src="https://3.bp.blogspot.com/-Blpw9n6V6L4/VptmHNH9phI/AAAAAAAABvA/3vW1jtcLLAYLsOBV9hAdK5DQxgBVEoMhACPcB/s320/00.png" title=""  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2016/01/apricot-tei-monogatari-egao-o-wasureta.html" target="_blank">Apricot Tei Monogatari[18]</a></b><br />
<br /></td></tr>
</tbody></table>
</div>
<div >
<b><span ><span >B</span></span></b><br />
<table cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2013/11/balada-de-una-mariposa-nocturna.html" target="_blank"><b>&nbsp; &nbsp; &nbsp;<span ><img   src="https://1.bp.blogspot.com/-_246nMZWjEc/WJdW6NHWhLI/AAAAAAAACA8/1fQkyAQYdPY5yc4MtowihaPaCETuRqo1ACLcB/s320/nmn.jpg"  /></span></b></a></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2013/11/balada-de-una-mariposa-nocturna.html" target="_blank"><b>Ballad of an Evening Butterfly[15]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2014/06/boob-wars-2.html" target="_blank"><b><img   src="https://1.bp.blogspot.com/-iQ3SJc-NZ8M/U6QTyClxhkI/AAAAAAAABJE/biJBjxCgtA4S1NWbmBcXmWAsSm-LvcKrQCPcB/s320/1.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2014/06/boob-wars-2.html" target="_blank">Boob Wars 2[18]</a></b></td></tr>
</tbody></table>
<br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2016/07/bukkake-ranch.html" target="_blank"><b><img   src="https://2.bp.blogspot.com/-FuIaWKUR98s/UnG9ETR4wmI/AAAAAAAAAgE/Y1ftwRGXQco3AuSzZyrS_v7mgrXz1ynpACPcB/s320/5.png"  /></b></a></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2016/07/bukkake-ranch.html" target="_blank"><b>Bukkake Ranch[18]</b></a></td></tr>
</tbody></table>
<b><span ><span ><br />C</span></span></b><br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2014/10/chichi-miko.html" target="_blank"><img   src="https://2.bp.blogspot.com/-uDQsoDV9fKg/WJfQJVP2WoI/AAAAAAAACEE/JhVW3Kvs-C0zW0OI1U-E8oNLx8ern-8nQCLcB/s320/00320.png"  /></a></b></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2014/10/chichi-miko.html" target="_blank">Chichi Miko[18]</a></b></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2017/12/chaoshead.html" target="_blank"><img     src="https://2.bp.blogspot.com/-w6LbzePD-6k/WkdEO8LJ0HI/AAAAAAAACqU/3pQ67je-xco6UX18eUK-uzzPFB9Ags_6gCPcBGAYYCw/s320/355.jpg"  /></a></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2017/12/chaoshead.html" target="_blank"><b>Chaos;Head[15]</b></a></td></tr>
</tbody></table>
<br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td><b><a href="https://visualnovelparapc.blogspot.com/2013/10/clannad.html" target="_blank"><img   src="https://2.bp.blogspot.com/-6Yu2clAGjd0/WJdh-FfGISI/AAAAAAAACBM/3BZWL8Q5WrIAaTJ2luivOBvYTwrf-BDKACLcB/s320/585.jpg"  /></a></b></td></tr>
<tr><td ><b><a href="https://visualnovelparapc.blogspot.com/2013/10/clannad.html" target="_blank">Clannad[15]</a></b></td></tr>
</tbody></table>
<b><span ><span ><br />D</span></span></b><br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2013/12/the-dandelion-girl.html" target="_blank"><b>&nbsp; &nbsp; &nbsp;<span ><img   src="https://3.bp.blogspot.com/-LQvyBQ5nBKo/UrZVRrxroiI/AAAAAAAAAww/Fe4wATTbyk0o6HcCw_PxZ5yboQLikvhGgCPcB/s320/7.png"  /></span></b></a></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2013/12/the-dandelion-girl.html" target="_blank"><b>Dandelion Girl[15]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2016/07/danganronpa-trigger-happy-havoc.html" target="_blank"><b><img   src="https://1.bp.blogspot.com/--HykqfLW09c/WJdu1MAJ-pI/AAAAAAAACBo/b-0osU-KWOgLCBYKoVY7f547tzycHxNcwCLcB/s320/553.png"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2016/07/danganronpa-trigger-happy-havoc.html" target="_blank">Danganronpa[15][PC]&nbsp;</a></b></td></tr>
</tbody></table>
<br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2017/12/danganronpa-2-goodbye-despair.html" target="_blank">&nbsp; &nbsp; &nbsp;&nbsp;<span ><img     src="https://1.bp.blogspot.com/-01K0JPQpEi8/WnfFZ65OuDI/AAAAAAAACws/sipGOjBNCn4GY_DSwsfZw3cLj5LGcg7PwCLcBGAs/s320/33.jpg"  /></span></a></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2017/12/danganronpa-2-goodbye-despair.html" target="_blank">Danganronpa 2[15]</a></b></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2015/05/deiz.html" target="_blank"><b><span ><img   src="https://3.bp.blogspot.com/-hj3WteuPuFU/WJelPyzu7gI/AAAAAAAACD0/gTf_r4jRgX8cg19YdGZ1pz0Wtdvr-n4CwCLcB/s320/5535.jpg"  /></span></b></a></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2015/05/deiz.html" target="_blank"><b>deIz[15]</b></a></td></tr>
</tbody></table>
<br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2016/04/dorei-to-no-seikatsu-teaching-feeling.html" target="_blank"><b>&nbsp; &nbsp; &nbsp;<span ><img   src="https://1.bp.blogspot.com/-wCYbUxj9qb8/Vw5u-Rl4vxI/AAAAAAAAB0A/HbGjOpYUAf4TminAJ-Mm-gdYiMAboHPDQCPcB/s320/001_Cover.jpg"  /></span></b></a></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2016/04/dorei-to-no-seikatsu-teaching-feeling.html" target="_blank">Dorei to no Seikatsu[18]</a></b></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2018/01/doki-doki-literature-club.html" target="_blank"><b><img     src="https://3.bp.blogspot.com/-UppC8735CM4/WmiuAwGohaI/AAAAAAAACsk/lxCiVzZly8QtVHrZe8atZmwL4u8nO0bDwCPcBGAYYCw/s320/32.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2018/01/doki-doki-literature-club.html" target="_blank">Doki Doki Literature Club![15]</a></b></td></tr>
</tbody></table>
<br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2015/08/drakoi.html" target="_blank"><img   src="https://3.bp.blogspot.com/-3dK2XvwV8ok/VdMA4LfDRuI/AAAAAAAABnI/Sh9nmFwsWnEC90KL5SwKkjCmJfivQC94wCPcB/s320/11.jpg"  /></a></b></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2015/08/drakoi.html" target="_blank">Dra+Koi[18]</a></b></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2015/01/dramatical-murder.html" target="_blank"><b><img   src="https://4.bp.blogspot.com/-uLnaSNw3y3Q/VMXwPxD5_-I/AAAAAAAABb8/D7YBZux2QRskeyHABbl8AbmhWhCWBDwWgCPcB/s320/l.jpg"  /></b></a></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2015/01/dramatical-murder.html" target="_blank"><b>DRAMATical Murder[18][BL]</b></a></td></tr>
</tbody></table>
<b><span ><span ><br />E</span></span></b><br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2014/04/ef-fairy-tale-of-two.html" target="_blank"><b>&nbsp; &nbsp; &nbsp;<span ><img   src="https://3.bp.blogspot.com/-npRoPfTPDtQ/WJeDSFGNMqI/AAAAAAAACCo/qyBF0x9jGWMNlSqidOK2DpEOwq58bTzSQCLcB/s320/332.jpg"  /></span></b></a></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2014/04/ef-fairy-tale-of-two.html" target="_blank"><b>Ef a Fairy Tale of the Two[18]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2014/03/ever17-out-of-infinity.html" target="_blank"><b><img   src="https://4.bp.blogspot.com/-m08Oe3C24RM/WJeEgp-e-TI/AAAAAAAACC0/xQIo9CZB8t0g1oAPSFZRpBrjEv900NfmQCLcB/s320/5534.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2014/03/ever17-out-of-infinity.html" target="_blank">Ever17- The Out of Infinity[15]</a></b></td></tr>
</tbody></table>
<br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2013/10/evangelion-girlfriend-of-steel.html" target="_blank"><b><img   src="https://1.bp.blogspot.com/-86zNP7FlYyA/WJeI1NDsSMI/AAAAAAAACDA/Azj5hhQuig0LbA7WmMgOAJ-LGZe15EmjACLcB/s320/00332.jpg"  /></b></a></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2013/10/evangelion-girlfriend-of-steel.html" target="_blank"><b>Evangelion~Girlfriend of Steel[15]</b></a></td></tr>
</tbody></table>
<b>
<span ><br /></span></b><br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2013/10/fatestay-night.html" target="_blank"><b>&nbsp; &nbsp; &nbsp;<span ><img   src="https://2.bp.blogspot.com/-Qp5dMrxton8/WA8pgnPbpvI/AAAAAAAAB7k/Q4M7M_cB_nwXwu_BzhY4SDhAknzs652IACPcB/s320/uploaded.jpg"  /></span></b></a></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2013/10/fatestay-night.html" target="_blank"><b>Fate/Stay Night[18]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2015/03/fatehollow-ataraxia.html" target="_blank"><b><img   src="https://2.bp.blogspot.com/-Ip6GAsscDy0/VPrAoJJz-nI/AAAAAAAABgE/V2ZqmNXsg_ksQCH-dJKZRy2j06xSPtI-wCPcB/s320/11.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2015/03/fatehollow-ataraxia.html" target="_blank">Fate Hollow Ataraxia[18]</a></b></td></tr>
</tbody></table>
<br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2017/03/flowers-le-volume-sur-printemps.html" target="_blank"><b><img     src="https://2.bp.blogspot.com/-PbIUQ-w6--4/WNlXSUV8AWI/AAAAAAAACWc/7XUD1GhbNkEufQl7iG0P7biMRtIPw_PDgCPcBGAYYCw/s320/003.jpg"  /></b></a></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2017/03/flowers-le-volume-sur-printemps.html" target="_blank"><b>Flowers 1[15][yuri]</b></a></td></tr>
</tbody></table>
<br />
<b><span ><span >G</span></span></b><br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2015/07/gakuen-tokkyuu-hotokenser.html" target="_blank"><b>&nbsp; &nbsp; &nbsp;<span ><img   src="https://1.bp.blogspot.com/-01gCHMkos4s/VZ5DD8Z2dSI/AAAAAAAABlQ/VNL2A3-gqewvX_ahvEHHlNyMhKeDH5LJQCPcB/s320/11.jpg"  /></span></b></a></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2015/07/gakuen-tokkyuu-hotokenser.html" target="_blank"><b>Gakuen Tokkyuu Hotokenser[otome]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2014/09/gozen-0-ji-no-marginal.html" target="_blank"><b><img   src="https://4.bp.blogspot.com/-67Y__G6fFug/WJeiG0PRXmI/AAAAAAAACDo/nQBEqqJorJkF3OYCpot7HLAaD__Q_5vNACLcB/s320/112.png"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2014/09/gozen-0-ji-no-marginal.html" target="_blank">Gozen 0 Ji no Marginal[otome]</a></b></td></tr>
</tbody></table>
<br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2015/03/grisaia-no-kajitsu.html" target="_blank"><b>&nbsp; &nbsp; &nbsp;<span ><img   src="https://2.bp.blogspot.com/-eLusoz03b70/VOLTBquU8GI/AAAAAAAABd4/FdXuxVLCUkMU-sYm4dAWP8cYaV1bvlAdwCPcB/s320/111.jpg"  /></span></b></a></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2015/03/grisaia-no-kajitsu.html" target="_blank"><b>Grisaia no Kajitsu[18]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="http://visualnovelparapc.blogspot.com/2017/03/la-melodia-de-la-grisaia.html" target="_blank"><img   src="https://2.bp.blogspot.com/-hcUAl-DcsFw/WdkonTehOnI/AAAAAAAACg4/nrVPypnTX_Q_Gfm1NNIwR0s7a58KqPeHACLcBGAs/s320/0000.jpg"   /></a></td></tr>
<tr><td  ><b><a href="http://visualnovelparapc.blogspot.com/2017/03/la-melodia-de-la-grisaia.html" target="_blank">Grisaia no Senritsu[15]</a></b><br />
<a href="http://visualnovelparapc.blogspot.com/2017/03/la-melodia-de-la-grisaia.html" target="_blank"><br /></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2016/05/grisaia-no-yuukan.html" target="_blank"><img   src="https://1.bp.blogspot.com/-lHec_aT_e3s/V0l6s96OIEI/AAAAAAAAB10/qVAwR8Rxbvk5MUHwNiRJ9R8L0GbQBSCdACPcB/s320/5555.jpg"  /></a></b></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2016/05/grisaia-no-yuukan.html" target="_blank">Grisaia no Yuukan[15]</a></b></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b><a href="https://visualnovelparapc.blogspot.com/2014/12/g-senjou-no-maou.html" target="_blank"><img   src="https://3.bp.blogspot.com/-ysQsOWk3ncU/VKPPOeYPCGI/AAAAAAAABac/dR9VA0XnUMI0_tfVJK8F3lldtpTGoiJswCPcB/s320/2.jpg"  /></a></b></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2014/12/g-senjou-no-maou.html" target="_blank">G-Senjou no Maou[18]</a></b><br />
<br /></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td><span ><a href="https://visualnovelparapc.blogspot.com/2016/03/guilty-crown-lost-christmas.html" target="_blank"><img   src="https://3.bp.blogspot.com/-xibYh4K8gKo/WJfey2EUO2I/AAAAAAAACEU/vDO1Jcx47PMb9Qc_XYPdE0zB9bNTcm5WQCLcB/s320/5532.jpg"  /></a></span></td></tr>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2016/03/guilty-crown-lost-christmas.html" target="_blank"><b>Guilty Crown Lost Christmas[15]</b></a></td></tr>
</tbody></table>
<b><span ><span ><span ><br />H</span></span></span></b><br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td><span ><b>&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2015/03/higanbana-no-saku-yoru-ni.html" target="_blank"><img   src="https://2.bp.blogspot.com/-EibRsHBBkyw/VQgNM2lWwJI/AAAAAAAABgs/fDbMc8bLDXgqtd07faBlBD1K-owEyEZ_wCPcB/s320/3.jpg"  /></a></b></span></td></tr>
<tr><td ><b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2015/03/higanbana-no-saku-yoru-ni.html" target="_blank">Higanbana no Saku Yoru ni[15]</a></b></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2017/12/hypno-training-my-mother-and-sister.html" target="_blank"><b><img     src="https://2.bp.blogspot.com/-y7oufvzVTEE/WhySJk8H73I/AAAAAAAACnc/_u3XjeBF_zwLMF_a6AQz6id8I4pJSVJ9QCPcBGAYYCw/s320/0099.jpg"  /></b></a></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2017/12/hypno-training-my-mother-and-sister.html" target="_blank"><b>Hypno-training My Mother and Sister[18]</b></a></td></tr>
</tbody></table>
<b><span ><span ><br /></span></span></b>
<b><span ><span >I</span></span></b><br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2014/08/ijiwaru-mymaster.html" target="_blank"><img   src="https://4.bp.blogspot.com/-DUkrbEG5GSw/WJfimcTHZhI/AAAAAAAACEg/eMSf3VBdFjozmvFH0muxhlORJ-LBGggjgCLcB/s320/5555557.jpg"  /></a></b></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2014/08/ijiwaru-mymaster.html" target="_blank"><b>Ijiwaru My Master[18][otome]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2013/10/imouto-ijime.html" target="_blank"><img   src="https://4.bp.blogspot.com/-4sm7FOHC6P4/WJfk9z1ZFlI/AAAAAAAACEs/aa9jVRG7-Sw3tzeELd_m7C6OXF2AXwz3gCLcB/s320/5355.jpg"  /></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2013/10/imouto-ijime.html" target="_blank">Imouto Ijime[18]</a></b></td></tr>
</tbody></table>
<b><span >
</span></b><b><span ><span >J</span></span></b><br />
<table cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2013/11/junipers-knot.html" target="_blank">&nbsp; &nbsp; &nbsp;<span ><img   src="https://4.bp.blogspot.com/-GbV_SxFq-lc/WJfrNkL7y2I/AAAAAAAACFA/JTbuhxW0gls4gGDFOcqyA6j_RLWJlilQwCLcB/s320/554.png"  /></span></a></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2013/11/junipers-knot.html" target="_blank">Juniper's Knot[15]</a></b></td></tr>
</tbody></table>
<b><span ><span ><br /><span >K</span></span></span></b><br />
<table cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2013/10/kagetsu-tohya.html" target="_blank">&nbsp; &nbsp; &nbsp;<span ><img   src="https://1.bp.blogspot.com/-Bype-CoGAfM/Ul3h6mG7VvI/AAAAAAAAAUw/1dupxzlzro0GDKNwSwyPF2PwIArQf__5QCPcB/s320/6.jpg"  /></span></a></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2013/10/kagetsu-tohya.html" target="_blank"><b>Kagetsu Tohya[18]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td><span ><a href="https://visualnovelparapc.blogspot.com/2014/09/kanon.html" target="_blank"><img   src="https://1.bp.blogspot.com/-rnc8I5kRvwo/VBwDzYLWPII/AAAAAAAABUM/DHI55ywFhe8Ku3AWOxYnLHeYwdMdtlVXQCPcB/s320/1.jpg"  /></a></span></td></tr>
<tr><td ><b><a href="https://visualnovelparapc.blogspot.com/2014/09/kanon.html" target="_blank">Kanon[18]</a></b></td></tr>
</tbody></table>
<span id="goog_672852231"></span><br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2016/12/kara-no-shoujo.html" target="_blank">&nbsp; &nbsp; &nbsp;<img   src="https://1.bp.blogspot.com/-2_lThHjiLlM/WJf1_h8Y_3I/AAAAAAAACFQ/IxJE3v1pHDEbrxi5PlUnkZBYQ4umNmqzQCLcB/s320/5535.png"  /></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2016/12/kara-no-shoujo.html" target="_blank">Kara no Shoujo[18]</a></b></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2017/03/karakara.html" target="_blank"><b><img     src="https://1.bp.blogspot.com/-BpeAMYiPgFE/WMbTzOL0ANI/AAAAAAAACVo/8UZDQ8VYhh4jaBGEB7GZGtg8sYem2Z5zgCPcBGAYYCw/s320/2255.jpg"  /></b></a></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2017/03/karakara.html" target="_blank"><b>KaraKara[18]</b></a></td></tr>
</tbody></table>
<br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2014/07/katawa-shoujo.html" target="_blank"><b><img   src="https://1.bp.blogspot.com/-3P0bjA_4J9Y/U9j7gTY7oVI/AAAAAAAABMw/d2IWrxejFEktrNnPXahxmpfH0EJNsoWrQCPcB/s320/12.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2014/07/katawa-shoujo.html" target="_blank">Katawa Shoujo[18][15]</a></b></td></tr>
</tbody></table>
<br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2014/08/kawakaburi-no-cherry.html" target="_blank">&nbsp; &nbsp; &nbsp;<span ><img   src="https://2.bp.blogspot.com/-5VrQ38AlDnE/WJf7PgA5vlI/AAAAAAAACFk/a71AtCd-3yAInVEEfIPJs4F17YmDV0RXwCLcB/s320/5558.jpg"  /></span></a></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2014/08/kawakaburi-no-cherry.html" target="_blank"><b>Kawakaburi No Cherry</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2016/01/koi-iro-chu-lips.html" target="_blank"><img   src="https://4.bp.blogspot.com/-K9VlHrqThx4/WJf80ysYbhI/AAAAAAAACF0/RQFW9AVq96UPBrgVKF3JQM8Qsy9g0S3DgCLcB/s320/5535.jpg"  /></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2016/01/koi-iro-chu-lips.html" target="_blank">Koi iro Chu! Lips[18]</a></b></td></tr>
</tbody></table>
<b>
<span ><span ><br /><span >L</span></span></span></b><br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2016/05/little-busters.html" target="_blank"><b>&nbsp; &nbsp; &nbsp;<span ><img   src="https://3.bp.blogspot.com/--V8CukYe6Dw/VAnRnOlZGJI/AAAAAAAABSc/RIYXMG_yx2ck0a37keQ5rhPHOwh_Ee2sQCPcB/s320/111.jpg"  /></span></b></a></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2016/05/little-busters.html" target="_blank"><b>Little Busters[15]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td><span ><a href="https://visualnovelparapc.blogspot.com/2014/01/lonely-yuri.html" target="_blank"><img   src="https://3.bp.blogspot.com/-bZDCL3uMMKA/WJgA-XhsF6I/AAAAAAAACGA/_hyZB0Fa0y4UkaP5iHDXg-39T7ngVkmXgCLcB/s320/Lonely-Yuri1.jpg"  /></a></span></td></tr>
<tr><td ><b><a href="https://visualnovelparapc.blogspot.com/2014/01/lonely-yuri.html" target="_blank">Lonely Yuri[15][yuri]</a></b></td></tr>
</tbody></table>
<br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td><span ><a href="https://visualnovelparapc.blogspot.com/2013/10/lovelovehmaid.html" target="_blank"><img   src="https://1.bp.blogspot.com/-8bZ6LHv4inw/WJgEdUBH52I/AAAAAAAACGM/UHoEXd5XLPMZKSwS_kfXPTk8mTiFKVTsACLcB/s320/55585.jpg"  /></a></span></td></tr>
<tr><td ><b><a href="https://visualnovelparapc.blogspot.com/2013/10/lovelovehmaid.html" target="_blank">Love Love H Maid[18]</a></b></td></tr>
</tbody></table>
<b><span ><span ><br /><span >M</span></span></span></b><br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;&nbsp;<a href="https://visualnovelparapc.blogspot.com/2013/12/mahou-shoujo-madoka-magica-grief.html" target="_blank"><img   src="https://3.bp.blogspot.com/-RCG2EDS1Mm0/UsOrEep2X7I/AAAAAAAABsE/wmISssaZvHITxO8jpoxA8PYZXIesJhXogCPcB/s320/5.jpg"  /></a></b></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2013/12/mahou-shoujo-madoka-magica-grief.html" target="_blank"><b>Mahou Shoujo Madoka Magica[arcade]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="http://visualnovelparapc.blogspot.com/2017/02/maji-de-watashi-ni-koishinasai.html" target="_blank"><img   src="https://1.bp.blogspot.com/-dV71B9sWaAo/WK3Fe-1-2pI/AAAAAAAACTM/BbGrU9QgEsccaeVqCoDtYrtqgdToEUkZwCPcBGAYYCw/s320/552.jpg"  /></a></span></td></tr>
<tr><td  ><b><a href="http://visualnovelparapc.blogspot.com/2017/02/maji-de-watashi-ni-koishinasai.html" target="_blank">Majikoi![18]</a></b><br />
<div>
<br /></div>
</td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><b>&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2013/11/monster-girl-quest.html" target="_blank"><img   src="https://4.bp.blogspot.com/-PMjmTGZFOqk/UnnBhVEOM3I/AAAAAAAAAlQ/xPU8ExQYDRYBYApe6EaJw-cYYbOhZ_5swCPcB/s320/5.jpg"   /></a></b></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2013/11/monster-girl-quest.html" target="_blank">Monster Girl Quest[18][Rpg]</a></b></td></tr>
</tbody></table>
</div>
<div >
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td><b ><a href="https://visualnovelparapc.blogspot.com/2015/06/monster-girl-quest-2.html" target="_blank"><img   src="https://4.bp.blogspot.com/-cx9xDVfv_20/VXa1rV5WnVI/AAAAAAAABjk/GEBf8hdMtEkePKdWPTFB2GZiEPSwcD3jQCPcB/s320/145.jpg"  /></a></b></td></tr>
<tr><td ><b ><a href="https://visualnovelparapc.blogspot.com/2015/06/monster-girl-quest-2.html" target="_blank">Monster Girl Quest 2[18][Rpg]</a></b><br />
<br /></td></tr>
</tbody></table>
</div>
<div >
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;&nbsp;<a href="https://visualnovelparapc.blogspot.com/2013/10/moondvd.html" target="_blank"><img   src="https://4.bp.blogspot.com/-cuXiSyBB838/UnD8KOBSrDI/AAAAAAAAAes/UZZMftCwRdAGCfCd4nNrLMkC6EJd_AiPQCPcB/s320/5.jpg"  /></a></b></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2013/10/moondvd.html" target="_blank"><b>Moon.[18]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td><span ><a href="https://visualnovelparapc.blogspot.com/2015/02/my-girlfriend-is-president.html" target="_blank"><b><img   src="https://4.bp.blogspot.com/-_-diP20ayaE/VOGqgKDrfuI/AAAAAAAABck/f4bW-vxOVgMBneWwKz0nI7yQIZDtWRDSwCPcB/s320/11.jpg"  /></b></a></span></td></tr>
<tr><td ><b><a href="https://visualnovelparapc.blogspot.com/2015/02/my-girlfriend-is-president.html" target="_blank">My Girlfriend is the President[18]</a></b></td></tr>
</tbody></table>
<br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2018/01/my-neighbor-is-yandere.html" target="_blank">&nbsp; &nbsp; &nbsp;<span ><img     src="https://4.bp.blogspot.com/-EYm0_F210u4/WnfIcE7ySpI/AAAAAAAACw8/FVFFbVmyNVMVoW1P3FYg05zXpZLz2AOdgCEwYBhgL/s320/1.jpg"  /></span></a></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2018/01/my-neighbor-is-yandere.html" target="_blank"><b>My neighbor is a Yandere!?[18]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2017/12/muv-luv-alternative-chronicles-vol1.html" target="_blank"><img     src="https://3.bp.blogspot.com/-UORPJc692Uw/Wne3Zrto3JI/AAAAAAAACwg/dq4zLRriUxIuOpZulX9NBEeykRKBgwioQCLcBGAs/s320/2.jpg"  /></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2017/12/muv-luv-alternative-chronicles-vol1.html" target="_blank">Muv-Luv AC 1[18]</a></b></td></tr>
</tbody></table>
<br />
<b><span ><span >N</span></span></b><br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2013/11/narcissu-side-2nd.html" target="_blank"><img   src="https://1.bp.blogspot.com/-WY665wHwdwA/UncpGGo1T-I/AAAAAAAAAjQ/9dY4bG5QuW425fVwjzecDXIz524VfAfWgCPcB/s320/5.jpg"  /></a></b></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2013/11/narcissu-side-2nd.html" target="_blank"><b>Narcissu 1 y 2[15]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2016/07/neko-para-vol-0.html" target="_blank"><b><img   src="https://4.bp.blogspot.com/-SNQ9_XV8zdI/WJjyISZzYGI/AAAAAAAACGc/1PszKNKWEF8x_vJ-nmqVDhKz4zx1-ptHgCLcB/s320/002.png"  /></b></a></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2016/07/neko-para-vol-0.html" target="_blank"><b>Neko Para Vol. 0[15]</b></a><br />
<b><br /></b></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2016/11/neko-para-vol-1.html" target="_blank"><img   src="https://4.bp.blogspot.com/-T5Y1uAQE0JI/WCBXGT_s-tI/AAAAAAAAB78/7lPp4B8sJ6gclj3Zau-Bsor8keRFLrkLgCPcB/s320/333.jpg"  /></a></b></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2016/11/neko-para-vol-1.html" target="_blank"><b>Neko Para Vol. 1[18]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2016/12/neko-para-2.html" target="_blank"><b><img   src="https://4.bp.blogspot.com/-8NltMBeLz2Q/WFuzr3n_GgI/AAAAAAAAB-s/bvQpabXdPGYCJHidmGqE-rfcpUyVmXt9wCPcB/s320/001__cover.png"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2016/12/neko-para-2.html" target="_blank">Neko Para Vol. 2[18]</a><br /><br /></b></td></tr>
</tbody></table><table align="center" cellpadding="0" cellspacing="0"  ><tbody><tr><td ><b >&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2017/07/neko-para-3.html" target="_blank"><img     src="https://1.bp.blogspot.com/-PALD-mdqo-o/XyNmxPcnfdI/AAAAAAAAD74/0kqeszXeMrEKpaXolYlBAQKuK0AeEvj2QCLcBGAsYHQ/s320/10.jpg" /></a></b></td></tr><tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2017/07/neko-para-3.html" target="_blank">Neko Para Vol 3[18]<br /></a></b></td></tr></tbody></table><table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><b><a href="https://visualnovelparapc.blogspot.com/2016/03/nobleworkseroge18espanol-takumi-es-un.html" target="_blank"><img   src="https://3.bp.blogspot.com/-CT8FcTOjbLc/WJj1mq2NWRI/AAAAAAAACGo/pRyP7Xm3pXstg5niWL-6DU4ksJ_aKGqKgCLcB/s320/5585.jpg"  /></a></b></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2016/03/nobleworkseroge18espanol-takumi-es-un.html" target="_blank">Noble☆Works[18]</a></b></td></tr>
</tbody></table>
<b><span ><span ><br /></span></span></b>
<b><span ><span >O</span></span></b><br />
<table cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2014/06/okasare-yuusha.html" target="_blank"><img   src="https://1.bp.blogspot.com/-qis09_hXk7s/U6qrWWgbuLI/AAAAAAAABJs/9W0zXp3xKkstrTZKNN703iwheIvmx9NiwCPcB/s320/1.jpg"  /></a></b></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2014/06/okasare-yuusha.html" target="_blank"><b>Okasare Yuusha[18][Rpg]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2013/10/one-hacia-una-radiante-estancion.html" target="_blank"><b><img   src="https://3.bp.blogspot.com/-iVT7GDTqsAk/Uo5Xu9Fm9OI/AAAAAAAAArM/RD9BoeqpEGQIqJwjzAOviFk1JaIx-OGKACPcB/s320/2.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2013/10/one-hacia-una-radiante-estancion.html" target="_blank">One ~Hacia una Radiante Estación[18]</a></b></td></tr>
</tbody></table>
<br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2013/10/oreimo-novela-visual.html" target="_blank"><img   src="https://2.bp.blogspot.com/-wkCIfM8WBSc/VokYAan7OBI/AAAAAAAABuA/pCwyyhGZELMIDUUQI0H5DXCWdlKkZkYbwCPcB/s320/158218_front.jpg"  /></a></b></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2013/10/oreimo-novela-visual.html" target="_blank"><b>Oreimo~[15]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2014/08/otomaid-cafe.html" target="_blank"><b><img   src="https://2.bp.blogspot.com/-PuONOFJjACU/WJkKXpzJLWI/AAAAAAAACG8/KKPC4E0ckvQN_uTi8GjN_QEtOL7dnX-PwCLcB/s320/5555.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2014/08/otomaid-cafe.html" target="_blank">Otomaid @ Cafe[18][Trap]</a></b><br />
<br /></td></tr>
</tbody></table>
<div >
</div>
<table cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2013/10/the-rainbownovela-visualeroge-18-nombre_4.html" target="_blank"><img   src="https://3.bp.blogspot.com/-pjekmLh3VWA/WJkOAmFCLVI/AAAAAAAACHI/J8VprYQ8OW8NVKYHqE5KsJkwm-oye3VsACLcB/s320/05322.jpg"  /></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2013/10/the-rainbownovela-visualeroge-18-nombre_4.html" target="_blank">Over The Rainbow[18]</a></b></td></tr>
</tbody></table>
<b><span ><span ><br /></span></span></b>
<b><span ><span >P</span></span></b><br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2013/10/planetarian-chiisana-hoshi-no-yume.html" target="_blank"><b>&nbsp; &nbsp; &nbsp;<span ><img   src="https://2.bp.blogspot.com/-W0UMdkuvM34/WJoHYhvDN2I/AAAAAAAACHg/4tlRnwQg6R44AcM6sG6pCau2RXS2b_kTwCLcB/s320/5585.jpg"  /></span></b></a></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2013/10/planetarian-chiisana-hoshi-no-yume.html" target="_blank"><b>Planetarian[15]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2014/12/phenomeno.html" target="_blank"><img   src="https://1.bp.blogspot.com/-Kq0g_w4btMc/VKPRy97Q_uI/AAAAAAAABao/XOCaA8FXfgwPIVcbCgJC_F-Ci0cTP840wCPcB/s320/11.jpg"  /></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2014/12/phenomeno.html" target="_blank">Phenomeno[15]</a></b><br />
<br /></td></tr>
</tbody></table>
<table cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><b>&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2014/12/photograph-journey-miyagi-okinawa.html" target="_blank"><img   src="https://3.bp.blogspot.com/--4qb2vC2V6Y/VIvzWPyPneI/AAAAAAAABZI/7-gB64swKXAWPLeDhY2JxPWK9qZ7wVtBgCPcB/s200/1.jpg"  /></a></b></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2014/12/photograph-journey-miyagi-okinawa.html" target="_blank"><b>PJ ~Miyagi-Okinawa[otome]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2015/05/photograph-journey-aichi-kyoto.html" target="_blank"><b><img   src="https://1.bp.blogspot.com/-2lEZ0RwoQ1M/VV2TQdAINgI/AAAAAAAABho/dyCTWfpKW88-q3Ndziqew67O5SjUjdftwCPcB/s200/11.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2015/05/photograph-journey-aichi-kyoto.html" target="_blank">PJ ~Aichi-Kyoto[otome]</a></b><br />
<br /></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2016/01/photograph-journey-hiroshima-kanagawa.html" target="_blank"><img   src="https://3.bp.blogspot.com/-SoWHEmfs57A/VojnM0OJCPI/AAAAAAAABsU/ekhUShuKGNsu5VDf3_YOqJ5WTEAa-YYAgCPcB/s200/PLACE_GP.jpg"  /></a></b></span></td></tr>
<tr><td  ><b>&nbsp; &nbsp;&nbsp;<a href="https://visualnovelparapc.blogspot.com/2016/01/photograph-journey-hiroshima-kanagawa.html" target="_blank">PJ ~Hiroshima-Kanaga[otome]</a></b></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2016/05/photograph-journey-niigata-hokkaido.html" target="_blank"><b><img   src="https://2.bp.blogspot.com/-vcnN7Yb_4ic/V0mDCShsLmI/AAAAAAAAB2E/Zv4DG5QDTkYumytKK8xWM13Ve01kKD3ngCPcB/s200/2.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2016/05/photograph-journey-niigata-hokkaido.html" target="_blank">PJ ~Niigata-Hokkaido[otome]</a></b><br />
<br /></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2017/01/photograph-journey-shizuoka-nagasaki.html" target="_blank"><img   src="https://4.bp.blogspot.com/-U01zxDQbLnE/WIfVn5dbBpI/AAAAAAAACAA/tQBgAeXQLAIDP4F6lSrKY4IqsgNId9cYgCPcB/s200/PLACE_GP.jpg"  /></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2017/01/photograph-journey-shizuoka-nagasaki.html" target="_blank">PJ ~Shizuoka-Nagasaki[otome]</a></b></td></tr>
</tbody></table>
<span ><br /></span>
<span ><b>R</b></span></div><div ><br /></div><div ><table align="center" cellpadding="0" cellspacing="0"  ><tbody><tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2017/10/rondo-duo.html" target="_blank"><img     src="https://1.bp.blogspot.com/--uQewlIjHV4/XyNpODfmqVI/AAAAAAAAD8E/sgQy0WdIrQ8gpunVALbGN0huIvKO5xfKgCLcBGAsYHQ/w224-h320/10.jpg"  /></a></span></td></tr><tr><td  ><a href="https://visualnovelparapc.blogspot.com/2017/10/rondo-duo.html" target="_blank"><b>Rondo Duo[18][futa]</b><br /></a></td></tr></tbody></table></div><div ><table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td><span ><b><br /><a href="https://visualnovelparapc.blogspot.com/2017/01/rose-gun-days-last-season.html" target="_blank"><img   src="https://2.bp.blogspot.com/-46gD-hf8goc/WIfFgZ1cNAI/AAAAAAAAB_Y/IBCoY1ARZu8flYGgUBE1MLSC26L0QdrxwCPcB/s320/Rose%2BGuns%2BDays.jpg"  /></a></b></span></td></tr>
<tr><td ><b><a href="https://visualnovelparapc.blogspot.com/2017/01/rose-gun-days-last-season.html" target="_blank">Rose Guns Days - Last Season</a></b><br />
<br /></td></tr>
</tbody></table>
<div>
<b><span ><span >S</span></span></b><br />
<table cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2018/01/sakura-christmas-party.html" target="_blank">&nbsp; &nbsp; &nbsp;<span ><img     src="https://2.bp.blogspot.com/-twpsWSr6V7E/WnerZ078p3I/AAAAAAAACv4/i64jcgZtxYsCbL7PNhiljBfVjvB1w889gCLcBGAs/s320/00.jpg"  /></span></a></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2018/01/sakura-christmas-party.html" target="_blank">&nbsp; Sakura Christmas Party[18]</a></b></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2017/10/sakura-halloween.html" target="_blank"><img     src="https://1.bp.blogspot.com/-CN5e4YQ2jJY/WneuoGuQxuI/AAAAAAAACwE/tOy1Opt5n-0fJQbf46MLji9r9FXWB_w6QCLcBGAs/s320/11.jpg"  /></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2017/10/sakura-halloween.html" target="_blank">Sakura Halloween[18][yuri]</a></b></td></tr>
</tbody></table>
<br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td >&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2017/09/sakura-no-uta.html" target="_blank"><img     src="https://2.bp.blogspot.com/--YwqncSN8bw/Wnevh6XJrmI/AAAAAAAACwQ/uLCgOxcjAPEaC7V2SojzMPwLWsOA3ZMxACLcBGAs/s320/01.jpg"   /></a></td></tr>
<tr><td  ><b>&nbsp;<a href="https://visualnovelparapc.blogspot.com/2017/09/sakura-no-uta.html" target="_blank">Sakura no Uta[18]</a></b></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2017/04/sakura-spirit.html" target="_blank"><img     src="https://2.bp.blogspot.com/-WwQNO17Coeo/WPjsLDAhURI/AAAAAAAACX0/45za-YJHvUEOuS_E4uOmYrBB3zpkpBakgCPcBGAYYCw/s320/335.jpg"  /></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2017/04/sakura-spirit.html" target="_blank">Sakura Spirit[15]</a></b></td></tr>
</tbody></table>
<br />
<table cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2016/04/sakura-swim-club.html" target="_blank"><img   src="https://3.bp.blogspot.com/-o1xtnTAS41Q/WJonw9yI16I/AAAAAAAACHw/_O-VeOh5w6UNhhqWg4LR05fKqbBwbeDBwCLcB/s320/555.png"  /></a></b></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2016/04/sakura-swim-club.html" target="_blank"><b>Sakura Swim Club[18]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td><span ><a href="https://visualnovelparapc.blogspot.com/2013/10/saya-no-utanovela-visual.html" target="_blank"><b><img   src="https://2.bp.blogspot.com/-Y4It3wUFtkw/Vj4BrDML_qI/AAAAAAAABq8/TAx00BWqnngcGHhtLCYPPILwhZ92tWIhgCPcB/s320/saya_no_uta_cover.jpg"  /></b></a></span></td></tr>
<tr><td ><b><a href="https://visualnovelparapc.blogspot.com/2013/10/saya-no-utanovela-visual.html" target="_blank">Saya no Uta[18]</a></b><br />
<br /></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2015/02/sepia-tears.html" target="_blank"><b>&nbsp; &nbsp; &nbsp;<span ><img   src="https://3.bp.blogspot.com/-kN9LszbBRfE/WJozWEvGaTI/AAAAAAAACIA/NEd1GG5lnZwE5o1vf74J9CcU5NRNoU_iQCLcB/s320/5585.jpg"  /></span></b></a></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2015/02/sepia-tears.html" target="_blank">Sepia Tears[15]</a></b></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2013/11/school-days-hq.html" target="_blank"><b><img   src="https://2.bp.blogspot.com/-admcz_mT3iw/WJo2cFBJm0I/AAAAAAAACIQ/wXB-XS2mmfMOhsQq_bdFNsPII67wwHLpQCLcB/s320/55595.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2013/11/school-days-hq.html" target="_blank">School Days HQ[18]</a></b><br />
<br /></td></tr>
</tbody></table>
<table cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><b><a href="https://visualnovelparapc.blogspot.com/2013/10/sharin-no-kuni-himawari-no-shoujo.html" target="_blank">&nbsp; &nbsp; &nbsp;<span ><img   src="https://1.bp.blogspot.com/-Qjjf8r0Bb7g/WJo6GbbbDpI/AAAAAAAACIg/_o7SR5MyjEc2aMNX9gq3B3khOKJ6yaT0QCLcB/s320/5595.jpg"  /></span></a></b></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2013/10/sharin-no-kuni-himawari-no-shoujo.html" target="_blank">Sharin no Kuni, HS [18]</a></b></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2016/02/sharin-no-kuni-yuukyuu-no-shounenshoujo.html" target="_blank"><b><img   src="https://1.bp.blogspot.com/-0CcQbBK5IuI/VsL50vW247I/AAAAAAAABw8/SW5K7mkaE1MfSeClgK7Sg6i8uztwwV1_wCPcB/s320/Imagen45.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2016/02/sharin-no-kuni-yuukyuu-no-shounenshoujo.html" target="_blank">Sharin no Kuni, YS[18]</a></b><br />
<br /></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><b>&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2013/11/shuffle.html" target="_blank"><img   src="https://1.bp.blogspot.com/-d6AMJ7k2K2Y/WJo9qR4tNkI/AAAAAAAACIw/t-fa3lNgBt0OFA-HthFlAG4jqWAPWB8ywCLcB/s320/5595.jpg"   /></a></b></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2013/11/shuffle.html" target="_blank"><b>Shuffle[18]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b><a href="https://visualnovelparapc.blogspot.com/2013/10/sono-hanabira-ni-kuchizuke-wo-un-beso.html" target="_blank"><img   src="https://3.bp.blogspot.com/-zh7jvWQEOcM/WJpEfXgMgHI/AAAAAAAACJA/BvMvMiXL5mUyL6UoyDFxjYz-asg1t1cQACLcB/s320/05055.jpg"  /></a></b></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2013/10/sono-hanabira-ni-kuchizuke-wo-un-beso.html" target="_blank">Sono Hanabira 1~[18][yuri]</a></b></td></tr>
</tbody></table>
<br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2013/11/sono-hanabira2-mi-querido-principe.html" target="_blank"><b>&nbsp; &nbsp; &nbsp;<span ><img   src="https://2.bp.blogspot.com/-9NR9X0m86Lk/WJpJ3blfzuI/AAAAAAAACJU/XLY27UUaFuwBh6Uvms4NaXuZ3BXgVks9wCLcB/s320/5589.png"  /></span></b></a></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2013/11/sono-hanabira2-mi-querido-principe.html" target="_blank"><b>Sono Hanabira 2~[18][yuri]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2013/11/sono-hanabira3-unida-ti-por-amor.html" target="_blank"><b><img   src="https://1.bp.blogspot.com/-X3kPFiUkC5M/WJpMEdTDYuI/AAAAAAAACJg/k0ehbu4UcZgwTIwTgAuiam87T3WTOWW9gCLcB/s320/5589.png"  /></b></a></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2013/11/sono-hanabira3-unida-ti-por-amor.html" target="_blank"><b>Sono Hanabira 3~[18][yuri]</b></a></td></tr>
</tbody></table>
<br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2013/11/sono-hanabira4-mi-amado-fotografo.html" target="_blank"><img   src="https://3.bp.blogspot.com/-P2bg7MVpFX0/WJpNiMf7CZI/AAAAAAAACJs/bab2sQhtS6cVhbcTFG8UqACRrPa9jEWNQCLcB/s320/55889.jpg"  /></a></b></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2013/11/sono-hanabira4-mi-amado-fotografo.html" target="_blank"><b>Sono Hanabira 4~[18][yuri]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2013/11/sono-hanabira5-el-placer-de-amarte.html" target="_blank"><b><img   src="https://4.bp.blogspot.com/-MF7pDl8ua3k/WJpRQs0hLTI/AAAAAAAACKE/2owYLMLcsncMX9iJgfj0vOOGGYjKjLQDQCLcB/s320/55889.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2013/11/sono-hanabira5-el-placer-de-amarte.html" target="_blank">Sono Hanabira 5~[18][yuri]</a></b><br />
<br /></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2013/12/sono-hanabira6susurros-al-besarte.html" target="_blank"><b>&nbsp; &nbsp; &nbsp;<span ><img   src="https://2.bp.blogspot.com/-K9GnMDt5h_g/WJpTVupb9PI/AAAAAAAACKU/FQGX0_sxpLEb_RhUqs2Fr_DxMnAJOuxAwCLcB/s320/55999.jpg"  /></span></b></a></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2013/12/sono-hanabira6susurros-al-besarte.html" target="_blank"><b>Sono Hanabira 6~[18][yuri]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td><span ><a href="https://visualnovelparapc.blogspot.com/2014/04/sono-hanabira7dulces-y-encantadores.html" target="_blank"><b><img   src="https://4.bp.blogspot.com/-5eGyDD17Liw/WJpVHT6rzYI/AAAAAAAACKo/dWF1knavVfAKNhNz1SxhcoaHeGe9HBVJACLcB/s320/555589.jpg"  /></b></a></span></td></tr>
<tr><td ><b><a href="https://visualnovelparapc.blogspot.com/2014/04/sono-hanabira7dulces-y-encantadores.html" target="_blank">Sono Hanabira 7~[18][yuri]</a></b><br />
<br /></td></tr>
</tbody></table>
<table cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;&nbsp;<a href="https://visualnovelparapc.blogspot.com/2014/05/sono-hanabira8tenida-con-los-petalos-de.html" target="_blank"><img   src="https://4.bp.blogspot.com/-lKDdcgZQKAY/WJpXk4zVo-I/AAAAAAAACK0/yskN85VNxKo2RAWw-mxbKDcZjZvMsImuACLcB/s320/5559.jpg"  /></a></b></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2014/05/sono-hanabira8tenida-con-los-petalos-de.html" target="_blank"><b>Sono Hanabira 8~[18][yuri]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2014/09/sono-hanabira9ardientes-besos-de-adultos.html" target="_blank"><b><img   src="https://2.bp.blogspot.com/-8kswAaPwxvc/WJpfXH9LpWI/AAAAAAAACLI/zeEwpn5wQP0h_V8jlx7RfwMACifXThF6QCLcB/s320/5559.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2014/09/sono-hanabira9ardientes-besos-de-adultos.html" target="_blank">Sono Hanabira 9~[18][yuri]</a></b><br />
<br /></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;&nbsp;<a href="https://visualnovelparapc.blogspot.com/2016/06/sono-hanabira-10-lily-platinum.html" target="_blank"><img   src="https://4.bp.blogspot.com/-NsT5klxsMqs/WJph6dgVxPI/AAAAAAAACLY/KMaW7mH1fmANZ3-0BYBgprRoB6KuX6iVwCLcB/s320/55999.jpg"  /></a></b></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2016/06/sono-hanabira-10-lily-platinum.html" target="_blank"><b>Sono Hanabira 10~[18][yuri]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2016/04/el-beso-de-los-petalos-recordando-como.html" target="_blank"><b><img   src="https://4.bp.blogspot.com/-ZXcUOl-tJbs/VxYa1U8rtnI/AAAAAAAAB1Q/qm7QVhW-WTAjM4dKD1cL3WGS0rriWiamQCPcB/s320/11111.png"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2016/04/el-beso-de-los-petalos-recordando-como.html" target="_blank">Sono Hanabira 10.5~[15][yuri]</a></b><br />
<br /></td></tr>
</tbody></table>
<table cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2017/01/sono-hanabira-ni-kuchizuke-o-new-gen.html" target="_blank"><b>&nbsp; &nbsp; &nbsp;<span ><img   src="https://1.bp.blogspot.com/-QHe5b4aTyrU/WIf1NHrsc1I/AAAAAAAACAY/h9NDpIVZSEwJnMQVgnK0l6rYvxbsMmNfQCPcB/s320/222.jpg"  /></span></b></a></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2017/01/sono-hanabira-ni-kuchizuke-o-new-gen.html" target="_blank"><b>Sono Hanabira~ New Gen[18][yuri]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2014/11/starry-sky-in-summer.html" target="_blank"><b><img   src="https://2.bp.blogspot.com/-yQSsTeZa0Mo/WJplHjsC63I/AAAAAAAACLk/AmiphlXRkbo_AWPrnXQAD3phuOeKl976wCLcB/s320/55.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2014/11/starry-sky-in-summer.html" target="_blank">Starry Sky~ In Summer[otome]</a></b><br />
<br /></td></tr>
</tbody></table>
<table cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;&nbsp;<a href="https://visualnovelparapc.blogspot.com/2016/01/starry-sky-in-autumn.html" target="_blank"><img   src="https://4.bp.blogspot.com/-0qBUCCUJoAs/VhJMrKsqU8I/AAAAAAAABpM/PQe9tntdg9M-ZHNDi4NOCEmJqRJiTQI6wCPcB/s320/599.jpg"  /></a></b></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2016/01/starry-sky-in-autumn.html" target="_blank"><b>Starry Sky~ In Autumn[otome]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2016/01/starry-sky-in-spring.html" target="_blank"><b><img   src="https://4.bp.blogspot.com/-R0WIX21zOLU/Vq86_ibj7cI/AAAAAAAABvk/qYdXd70eT5ELJ2Qtw6DVYV2uT31UqCwGwCPcB/s320/61pukasyqjl.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2016/01/starry-sky-in-spring.html" target="_blank">Starry Sky~ In Spring[otome]</a></b><br />
<br /></td></tr>
</tbody></table>
<table cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2016/08/starry-sky-in-winter.html" target="_blank"><img   src="https://2.bp.blogspot.com/-_R7vuv9NwUU/V7bMuCWXEOI/AAAAAAAAB6w/ClVpiHsLMJ4r7rLiL1AMWNZymN9kyAThwCPcB/s320/44.jpg"  /></a></b></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2016/08/starry-sky-in-winter.html" target="_blank"><b>Starry Sky~ In Winter[otome]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2014/03/steinsgate.html" target="_blank"><b><img   src="https://3.bp.blogspot.com/-w2x6d0Dd1Us/UyBOJ78prfI/AAAAAAAABB8/qY7C9HzV_vce40cYPXSid0rwycRaZNjGgCPcB/s320/1.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2014/03/steinsgate.html" target="_blank">Steins;Gate[15]</a></b><br />
<br /></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2015/02/subarashiki-hibi-furenzoku-sonzai.html" target="_blank"><img   src="https://1.bp.blogspot.com/-X8s0af7smns/WJpvE4h1JjI/AAAAAAAACL4/4fZUuu9QnqUPrbbhg_aTKI365HIW1fppgCLcB/s320/555.jpg"  /></a></b></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2015/02/subarashiki-hibi-furenzoku-sonzai.html" target="_blank"><b>Subarashiki Hibi~[18]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2016/07/ssss-super-secret-sexy-spy.html" target="_blank"><b><img   src="https://1.bp.blogspot.com/-6RJIfy8qe-s/WJpwxOYrwGI/AAAAAAAACMI/qVJWq7YgYG4uCwbDeugH-GyolpBEvWsPgCLcB/s320/558.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2016/07/ssss-super-secret-sexy-spy.html" target="_blank">Super Secret Sexy Spy[18]</a></b></td></tr>
</tbody></table>
<br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;&nbsp;<a href="https://visualnovelparapc.blogspot.com/2016/10/supreme-candy.html" target="_blank"><img   src="https://4.bp.blogspot.com/-SVNZDV4k7Og/V_4AYzo9LxI/AAAAAAAAB7Y/kcIWIEKKGbosbqn67LyoLD8SfIWUD1O5gCPcB/s320/fWdcu1g.jpg"  /></a></b></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2016/10/supreme-candy.html" target="_blank">Supreme Candy[18]</a></b></td></tr>
</tbody></table>
</div>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2017/03/sunrider-academy.html" target="_blank"><img     src="https://1.bp.blogspot.com/-4vPDuKhzvpA/WNl10hAL4DI/AAAAAAAACXE/D01kUNhCE3kmwRTRZPm40cMooYyUf-PGACPcBGAYYCw/s320/0043.jpg"  /></a></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2017/03/sunrider-academy.html" target="_blank"><b>Sunrider Academy[18]</b></a></td></tr>
</tbody></table>
<b><span ><span ><span ><br /></span></span></span></b>
<b><span >
</span></b><br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2016/01/tokyo-yamanote-boys-honey-milk.html" target="_blank"><b>&nbsp; &nbsp; &nbsp;<span ><img   src="https://4.bp.blogspot.com/-nMo8EW2XxH0/Voj6NehM9fI/AAAAAAAABsk/tbYQLSlKgFohZDNzp-dUN1RRZH7E5dbYACPcB/s320/gn6po2h5a9sx.jpg"  /></span></b></a></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2016/01/tokyo-yamanote-boys-honey-milk.html" target="_blank"><b>Tokyo Yamanote Boys[otome]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2013/11/tomoyo-afteres-una-vida-maravillosa.html" target="_blank"><b><img   src="https://4.bp.blogspot.com/-OvKrEQZCW8M/WJt29-jFx-I/AAAAAAAACOk/ObzSyXFM3dUWfcXb7-pWacQMRr9JUgO8QCLcB/s320/5557.jpg"  /></b></a></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2013/11/tomoyo-afteres-una-vida-maravillosa.html" target="_blank"><b>Tomoyo After[18]</b></a></td></tr>
</tbody></table>
<br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2014/01/tsukiakari-no-raspberrytsundere-ii.html" target="_blank"><img   src="https://3.bp.blogspot.com/-3BxKq-8t60g/WJt30TZCO3I/AAAAAAAACOw/sGCKD1X_v0UhLXwitO3VtIP7Gq-rEZnSQCLcB/s320/00333.jpg"  /></a></b></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2014/01/tsukiakari-no-raspberrytsundere-ii.html" target="_blank"><b>Tsukiakari no Raspberry[18][futa]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2013/10/tsukihime-la-princesa-lunar.html" target="_blank"><b><img   src="https://3.bp.blogspot.com/-985MBvAFZyM/ViJJtnacPcI/AAAAAAAABp8/eM947QM0QoA_nyflHJSF4SxeUtWFoXj_QCPcB/s320/444.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2013/10/tsukihime-la-princesa-lunar.html" target="_blank">Tsukihime[18]</a></b><br />
<br /></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2013/10/tsukihimeplus-disc.html" target="_blank"><b><img   src="https://4.bp.blogspot.com/-NATA9K2qVXs/UlyBR8mjhrI/AAAAAAAAAUI/j0lLE-H__wgfnjfWEGembMKlg4WKRGzMwCPcB/s320/Tsukihime%2BPlus%252BDisc.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2013/10/tsukihimeplus-disc.html" target="_blank">Tsukihime+Plus Disc[18]</a></b></td></tr>
</tbody></table>
<br />
<b><span ><span >U</span></span></b><br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2013/10/umineko-no-naku-koro-ni-parche-de.html" target="_blank"><img   src="https://1.bp.blogspot.com/-az688AsjzQI/UmCEIKr1p-I/AAAAAAAAAVA/5BYTmSK2QQ0alpKAn2l-aysJjmTsbVPPQCPcB/s320/1.jpg"  /></a></b></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2013/10/umineko-no-naku-koro-ni-parche-de.html" target="_blank"><b>Umineko[15]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2014/03/umineko-no-naku-koro-ni-chiru-graficos.html" target="_blank"><b><img   src="https://3.bp.blogspot.com/-B4L8JH7xGcE/UxWLcCp3IyI/AAAAAAAABAY/aY6-WfgtzY4JkuMadbq36L-AlbmV0jZcgCPcB/s320/1.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2014/03/umineko-no-naku-koro-ni-chiru-graficos.html" target="_blank">Umineko Chiru[15]</a></b><br />
<br /></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2014/12/umineko-no-naku-koro-ni-hane.html" target="_blank"><b>&nbsp; &nbsp; &nbsp;<span ><img   src="https://3.bp.blogspot.com/-b_QACapoJaE/VIqqpqe2XWI/AAAAAAAABYY/GFJIzeJhEH0kfMUMCihV6PJu9b3GxtpMACPcB/s320/1.jpg"  /></span></b></a></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2014/12/umineko-no-naku-koro-ni-hane.html" target="_blank"><b>Umineko Hane[15]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2013/10/uminekoougon-musou-kyokucross.html" target="_blank"><b><img   src="https://3.bp.blogspot.com/-MwNhb9xcRmg/UlneTAWSh0I/AAAAAAAAAT4/QsyaAiNuWaAQVCVltwWN0381O_ioBaUtwCPcB/s320/6.jpg"  /></b></a></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2013/10/uminekoougon-musou-kyokucross.html" target="_blank"><b>Umineko: Ougon Musou+Cross[arcade]</b></a></td></tr>
</tbody></table>
<br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><b>&nbsp; &nbsp; &nbsp;<a href="https://visualnovelparapc.blogspot.com/2014/09/usotsuki-genius.html" target="_blank"><img   src="https://2.bp.blogspot.com/-e8j09su68KM/WJuHIIEhceI/AAAAAAAACPA/RZuVEYQu7fk1aN_qatphOANYAChD0595wCLcB/s320/552.jpg"  /></a></b></span></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2014/09/usotsuki-genius.html" target="_blank"><b>Usotsuki Genius[15]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2015/05/utawarerumono.html" target="_blank"><b><img   src="https://1.bp.blogspot.com/-y0cVTaTxHtg/WJuHI3xd4OI/AAAAAAAACPE/aOq6Fcv3Ip4MNVoQAaL-SpSGG5Urq-UDgCEw/s320/553.png"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2015/05/utawarerumono.html" target="_blank">Utawarerumono[18][Rpg]</a></b></td></tr>
</tbody></table>
<b ><br />W</b><br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2018/02/wolf-girl-with-you.html" target="_blank"><img     src="https://2.bp.blogspot.com/-vloXZWopp74/WnfLG3l8UGI/AAAAAAAACxE/vF-32KIDI5IIXUMzUhkmHVkDZDG8PRFWgCLcBGAs/s320/1.jpg"  /></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2018/02/wolf-girl-with-you.html" target="_blank">Wolf girl with you[18]</a></b></td></tr>
</tbody></table>
<b><span ><span ><br />Y</span></span></b><br />
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><a href="https://visualnovelparapc.blogspot.com/2014/01/yandere.html" target="_blank"><b>&nbsp; &nbsp; &nbsp;<span ><img   src="https://4.bp.blogspot.com/-vYgCcA-p-tY/WJuOBxkBnfI/AAAAAAAACPY/EhzIx85-jHYdGNqdta8T1ymQd69nsHwxwCLcB/s320/55585.jpg"  /></span></b></a></td></tr>
<tr><td  ><a href="https://visualnovelparapc.blogspot.com/2014/01/yandere.html" target="_blank"><b>Yandere[18]</b></a></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2013/12/yosuga-no-sora.html" target="_blank"><b><img   src="https://4.bp.blogspot.com/-Q_iX--rp6zI/WJuOwn-o0UI/AAAAAAAACPg/MEBoWR3IGM0hgeGpN66k79TQcWfVOH8ggCLcB/s320/5565.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2013/12/yosuga-no-sora.html" target="_blank">Yosuga no Sora[18]</a></b><br />
<br /></td></tr>
</tbody></table>
<table align="center" cellpadding="0" cellspacing="0"  ><tbody>
<tr><td ><span ><a href="https://visualnovelparapc.blogspot.com/2013/10/yume-miru-kusuri.html" target="_blank"><b><img   src="https://2.bp.blogspot.com/-uWBcEvak8Bg/WJuP3AaJnuI/AAAAAAAACPs/fnuyYNLsNzA0vjb9NqzNIjBjH8D_qX4rgCLcB/s320/5553.jpg"  /></b></a></span></td></tr>
<tr><td  ><b><a href="https://visualnovelparapc.blogspot.com/2013/10/yume-miru-kusuri.html" target="_blank">Yume Miru Kusuri[18]</a></b></td></tr>
</tbody></table>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<b><span ><br /></span></b>
<b><span >Dona con un Clic</span></b><br />
<b><a href="http://adf.ly/4969688/donar-con-un-clic" target="_blank">Donar :D</a></b><br />
<b >...</b></form></div>

  </article>
</Layout>

  