---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Air - Standard Edition`
export const date = '2020-07-13T20:43:00.003-05:00' 
export const updated = '2022-09-21T17:15:55.176-05:00'
export const tags = ["español","visual novel",null,"Mega","english","Completo","visualnovelparapc","eroge","novela visual","air","Air - Standard Edition"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/3173011775085913511/comments/default'
export const cover = 'https://1.bp.blogspot.com/-6BMw0m0Qv8Y/Xw4FtJwBUZI/AAAAAAAAD5M/jmMFpJM_9fU3uEksh99sOsLFIF9lYT1wQCLcBGAsYHQ/s400/11.jpg'

---

<Layout title = {title} >
  <article>
  <div  >
<a href="https://visualnovelparapc.blogspot.com/2014/08/air-standard-edition.html" target="_blank">Air[Eroge][Completo]</a></div>
<div  >
<br /></div>
<div  >
<a href="https://1.bp.blogspot.com/-6BMw0m0Qv8Y/Xw4FtJwBUZI/AAAAAAAAD5M/jmMFpJM_9fU3uEksh99sOsLFIF9lYT1wQCLcBGAsYHQ/s1600/11.jpg" ><img     src="https://1.bp.blogspot.com/-6BMw0m0Qv8Y/Xw4FtJwBUZI/AAAAAAAAD5M/jmMFpJM_9fU3uEksh99sOsLFIF9lYT1wQCLcBGAsYHQ/s400/11.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<span >“Kunisaki Yukito tiene un muñeco, recuerdo de su difunta madre la cual contiene su último deseo; buscar y salvar a la “chica del cielo” el cual es su destino. Sin entender por completo ese último deseo, decide emprender un viaje por todo Japón en busca de la mítica “chica del cielo”.</span></div>
<a name='more'></a><div >
<br /></div>
<div >
<span >Luego de vagar en su búsqueda finalmente llega a su último destino, un pequeño pueblo costero en donde conocerá a Misuzu y el destino comenzará a hacerse realidad.”<br /><br /><b>Imagenes:</b></span><br />
<div  >
<a href="http://3.bp.blogspot.com/-ylm8-HyFSLk/VABV4DuKw2I/AAAAAAAABPY/YjHhYtQwHuo/s1600/11.jpg" ><img   src="https://3.bp.blogspot.com/-ylm8-HyFSLk/VABV4DuKw2I/AAAAAAAABPY/YjHhYtQwHuo/s1600/11.jpg"  /></a></div>
<br />
<div  >
<a href="http://2.bp.blogspot.com/-bTDhKuijGpg/VABV48N6kBI/AAAAAAAABPk/TPThJSdO3HI/s1600/12.jpg" ><img   src="https://2.bp.blogspot.com/-bTDhKuijGpg/VABV48N6kBI/AAAAAAAABPk/TPThJSdO3HI/s1600/12.jpg"  /></a></div>
<br />
<div  >
<a href="http://1.bp.blogspot.com/-Bf_jEBw_79M/VABV4qKftYI/AAAAAAAABPc/i1MkBh6ZnyY/s1600/13.jpg" ><img   src="https://1.bp.blogspot.com/-Bf_jEBw_79M/VABV4qKftYI/AAAAAAAABPc/i1MkBh6ZnyY/s1600/13.jpg"  /></a></div>
<br /></div>
<div >
<span  ><b ><span >Nombre:</span><span >&nbsp;</span></b></span><span  ><span >Air</span></span></div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;Eroge&nbsp;</span></span></div>
<div >
<span ><b >Estudio:&nbsp;</b><span  >Key</span></span></div>
<div >
<span ><span ><span  ><span >&nbsp;Genero:&nbsp;</span></span>Romance, Drama</span></span></div>
<div >
<div >
<b >Subtitulos:</b><span ><span >&nbsp;Español Completo</span><br /><b >Agradecimientos:</b><span >&nbsp;<b ><a href="http://blog.keysf.com/"  target="_blank">Key Spanish</a></b></span></span></div>
<span ><span ><b>Duración:</b>&nbsp;10 - 30 horas</span></span></div>
<div >
<div >
<div >
<span ><span ><b>Tamaño del archivo:</b>&nbsp;1.2 Gb</span></span><br />
<span ><span ><br /></span></span></div>
<div >
<span ><b>Descarga Mega:</b></span></div>
<div>
<div >
<span ><b><a href="https://ouo.io/PT5O6z" target="_blank">Air_SE</a></b></span></div>
<div >
<span >contraseña: animegame<br /><br /><b>Descarga Mediafire:<br /><a href="https://ouo.io/yiHPt6z" target="_blank">Air_SE</a></b></span><br />
<span >contraseña: animegame</span></div>
<div >
<span ><br /></span><b >Descarga Torrent</b><b >:</b></div>
<div >
<span ><a href="https://ouo.io/QFJOQI" target="_blank"><b>Air_SE</b></a><br />contraseña: animegame</span></div>
<div >
<span ><br /></span><span ><b>Parche:</b></span></div>
<span ><b><a href="http://www.mediafire.com/file/ww1sh816cfnclts/Parche_AIR.rar" target="_blank">Mediafire</a></b></span><br />
<span ><br /></span>
<span ><b>Opening:</b></span></div>
</div>
</div>
</div>
<div >
<div  >
<object  classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" data-thumbnail-src="https://ytimg.googleusercontent.com/vi/hTESkaxLhE8/0.jpg"  ><param name="movie" value="https://youtube.googleapis.com/v/hTESkaxLhE8&amp;source=uds" /><param name="bgcolor" value="#FFFFFF" /><param name="allowFullScreen" value="true" /><embed allowfullscreen="true"  src="https://youtube.googleapis.com/v/hTESkaxLhE8&amp;source=uds" type="application/x-shockwave-flash" ></embed></object></div>
<br />
<span >1.- Ejecuten Setup.exe.</span><br />
<span >2.- Clic en Instalar (opción de la Izquierda).</span><br />
<span >3.- Elijan el directorio, lo demás lo dejan como está y eligen la opción de abajo a la izquierda.</span><br />
<span >4.- Una vez terminada la instalación, les preguntará si quieren instalar DirectX que ya tienen,&nbsp;</span><br />
<span >así que pongan Cancelar. Sale otro cartel, acepten.</span><br />
<span >En el instalador elijan la última opción para cerrarlo. No ejecuten el juego.</span><br />
<span >5.- Descompriman "AIR_(fix)"(<span >AIR_beta_patch2</span>) en la carpeta donde se instaló el juego (por defecto C:\KEY\AIR_SE).</span><br />
<span >6.- Extraer el parche en la carpeta donde se instalo y instalar la fuente&nbsp;AIR Sharin Sub</span><span >.<br />7.- Clic derecho en el juego, en opciones clic en font, selecciona la fuente Air Sharin Sub.<br />8.- Disfrutar :D</span></div>

  </article>
</Layout>

  