---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Kanon`
export const date = '2016-01-06T11:16:00.002-05:00' 
export const updated = '2022-09-28T01:23:25.561-05:00'
export const tags = ["español","visual novel",null,"Mega","Kanon","Completo","visualnovelparapc","eroge","key","novela visual"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/2973041057099724309/comments/default'
export const cover = 'https://1.bp.blogspot.com/-rnc8I5kRvwo/VBwDzYLWPII/AAAAAAAABUI/7Pauscbq_qU/s1600/1.jpg'

---

<Layout title = {title} >
  <article>
  <div  >
<a href="http://visualnovelparapc.blogspot.com/2014/09/kanon.html">Kanon[Eroge][Completo]</a></div>
<div  >
<br /></div>
<div  >
<a href="http://1.bp.blogspot.com/-rnc8I5kRvwo/VBwDzYLWPII/AAAAAAAABUI/7Pauscbq_qU/s1600/1.jpg" ><img   src="https://1.bp.blogspot.com/-rnc8I5kRvwo/VBwDzYLWPII/AAAAAAAABUI/7Pauscbq_qU/s1600/1.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<span >Yuuichi Aizawa vuelve después de 7 años a la ciudad donde vive su prima, pues se ha mudado para asistir a otra escuela. Algo extraño ocurrió hace 7 años y todos los recuerdos de Yuuichi sobre ese lugar han desaparecido. No obstante, a medida que va conociendo a diferentes chicas del lugar, va recordando poco a poco importantes fragmentos de su pasado que lo llevaran a descubrir lo que le paso en este pueblo hace siete años y la razón por la que no recuerda nada acerca de esto.</span></div>
<a name='more'></a><br />
<div >
<b><span >Imagenes:</span></b></div>
<div >
<div  >
<a href="http://2.bp.blogspot.com/-IREzD7siPdU/VB06pdEgjiI/AAAAAAAABUk/VIcxZDR-TuU/s1600/13.jpg" ><img   src="https://2.bp.blogspot.com/-IREzD7siPdU/VB06pdEgjiI/AAAAAAAABUk/VIcxZDR-TuU/s1600/13.jpg"  /></a></div>
<br />
<div  >
<a href="http://4.bp.blogspot.com/-AXF_mf5k_1k/VB06o5tWGfI/AAAAAAAABUc/ojLNOrKmjb8/s1600/11.jpg" ><img   src="https://4.bp.blogspot.com/-AXF_mf5k_1k/VB06o5tWGfI/AAAAAAAABUc/ojLNOrKmjb8/s1600/11.jpg"  /></a></div>
<br />
<div  >
<a href="http://3.bp.blogspot.com/-fnCxikjJKS0/VB06o8vIpoI/AAAAAAAABUY/hjQVErHZ_Q8/s1600/12.jpg" ><img   src="https://3.bp.blogspot.com/-fnCxikjJKS0/VB06o8vIpoI/AAAAAAAABUY/hjQVErHZ_Q8/s1600/12.jpg"  /></a></div>
<br />
<div>
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><b ><span >Nombre:</span><span >&nbsp;</span></b></span><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span >Kanon</span></span></div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;Eroge</span></span></div>
<div >
<span ><b >Estudio:&nbsp;</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >Key</span></span></div>
<div >
<span ><span ><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span >&nbsp;Genero:&nbsp;</span></span>Romance, Drama</span></span></div>
<div >
<div >
<b >Subtitulos:</b><span ><span >&nbsp;Español Completo</span><br /><b >Agradecimientos:</b><span >&nbsp;<b ><a href="http://blog.keysf.com/"  target="_blank">Key Spanish</a></b></span></span></div>
<span ><span ><b>Duración:</b>&nbsp;10 - 30 horas</span></span></div>
<div >
<div >
<span ><span ><b>Tamaño del archivo:</b>&nbsp;1Gb</span></span><br />
<span ><span ><br /></span></span></div>
<div >
<span ><b>Descarga Mega:</b></span></div>
<div>
<div >
<span ><b><a href="https://ouo.io/7s55p5" target="_blank">Kanon</a></b></span></div>
<div >
<span >contraseña: animegame</span><br />
<span ><br /></span>
<b >Descarga Mediafire:</b><br />
<div >
<b ><a href="https://ouo.io/SRhDgx" target="_blank">Kanon</a></b></div>
<div>
<div >
<span >contraseña: animegame</span></div>
</div>
</div>
<div >
<span ><br /></span><b >Descarga Torrent:</b></div>
<div >
<span ><b><a href="https://ouo.io/VdeTad" target="_blank">Kanon</a></b></span></div>
<div >
<span ><br /></span>
<span ><b>Parche:</b></span></div>
<div >
<span ><b><a href="http://www.mediafire.com/download/55k9czy0u8vf3pa/%5BKeySF%5D+Kanon.exe" target="_blank">Mediafire</a><br /><br />Tutorial de Instalación:</b></span></div>
<div  >
<iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/5BnrG93k1l0/0.jpg" frame  src="https://www.youtube.com/embed/5BnrG93k1l0?feature=player_embedded" ></iframe></div>
<span ><br /></span>
<span ><b>Instrucciones de Instalacion:</b></span><br />
<span >1.- Instalar la fuente "DejaVuSansMono" dentro de la carpeta del juego</span><br />
<span >2.- Ejecutar el parche y seleccionar la carpeta del juego</span><br />
<span >3.- Ejecutar "Kanon", si tienen problemas con la fuente seleccionar otra en la conf. del juego</span><br /></div>
</div>
</div>
</div>

  </article>
</Layout>

  