---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Photograph Journey ~Hiroshima-Kanagawa~`
export const date = '2016-01-03T07:37:00.008-05:00' 
export const updated = '2022-09-28T01:36:18.737-05:00'
export const tags = ["español","Mediafire","visual novel",null,"Mega","Completo","visualnovelparapc","novela visual","Photograph Journey ~Hiroshima-Kanagawa~","japonés","otome","Photograph Journey"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/887817273878216077/comments/default'
export const cover = 'https://4.bp.blogspot.com/-SoWHEmfs57A/VojnM0OJCPI/AAAAAAAABsQ/W6StS5MnNpc/s400/PLACE_GP.jpg'

---

<Layout title = {title} >
  <article>
  <div  >
<a href="http://visualnovelparapc.blogspot.com/2016/01/photograph-journey-hiroshima-kanagawa.html" target="_blank">Photograph Journey ~Hiroshima-Kanagawa~[Otome][Español]</a></div>
<br />
<div >
<a href="http://4.bp.blogspot.com/-SoWHEmfs57A/VojnM0OJCPI/AAAAAAAABsQ/W6StS5MnNpc/s1600/PLACE_GP.jpg" ><img   src="https://4.bp.blogspot.com/-SoWHEmfs57A/VojnM0OJCPI/AAAAAAAABsQ/W6StS5MnNpc/s400/PLACE_GP.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<span >Debido al trabajo de sus padres, la protagonista (Haruho Hayama) ha tenido que mudarse constantemente... Un día, recibe una carta de parte de uno de los chicos que se encontró durante aquellos viajes.</span></div>
<div  >
</div>
<a name='more'></a><b></b><br />
<div >
<b><b><span >Imagenes:</span></b></b></div>
<b>
</b>
<br />
<div  >
<a href="http://3.bp.blogspot.com/-v2OAKGzUxCE/VlmebOADO-I/AAAAAAAABrw/vMAzNF1yy6I/s1600/122.jpg" ><img   src="https://3.bp.blogspot.com/-v2OAKGzUxCE/VlmebOADO-I/AAAAAAAABrw/vMAzNF1yy6I/s400/122.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<a href="http://4.bp.blogspot.com/-Qm5_CG5OrgM/VlmeZp5PsRI/AAAAAAAABro/HkUujazWJxs/s1600/23.jpg" ><img   src="https://4.bp.blogspot.com/-Qm5_CG5OrgM/VlmeZp5PsRI/AAAAAAAABro/HkUujazWJxs/s400/23.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<span ><b>Nombre:&nbsp;</b>&nbsp;</span><span >Photograph Journey ~Hiroshima-Kanagawa~</span></div>
<div >
<span ><b>Tipo:&nbsp;</b>Novela Visual</span></div>
<div >
<span ><b>Estudio:&nbsp;</b>honeybee</span></div>
<div >
<span >&nbsp;<b>Genero:&nbsp;</b>Romance, Otome</span></div>
<div >
<span ><b>Idioma:</b>&nbsp;Japonés</span></div>
<div >
<span ><b>Subtitulos:</b>&nbsp;Español Completo</span></div>
<div >
<span ><b>Agradecimientos:&nbsp;</b><a href="http://strawberry-traducciones.blogspot.com.ar/" target="_blank"><b>Traducciones Strawberry</b></a></span></div>
<div >
<span ><b>Tamaño del archivo:</b>&nbsp;915Mb</span></div>
<div >
<span ><br /></span></div>
<div >
<span ><b>Descarga Mega:</b></span></div>
<div >
<span ><b><a href="https://ouo.io/4WGJ8ze" target="_blank">Photograph Journey ~Hiroshima-Kanagawa~</a></b></span></div>
<div >
<span ><b>contraseña: animegame</b></span></div>
<div >
<span ><b><br /></b></span></div>
<div >
<span ><b>Descarga Mediafire:</b></span></div>
<div >
<span ><b><a href="https://ouo.io/gtJKm1" target="_blank">Photograph Journey ~Hiroshima-Kanagawa~</a></b></span></div>
<div >
<span ><b>contraseña: animegame</b></span></div>
<div >
<span ><br /></span></div>
<div >
<span ><b>Parche:</b></span></div>
<div >
<span >&nbsp;<a href="http://www.mediafire.com/download/sygjzjpy57sj0oo/PJHiroKanaPARCHE.rar" target="_blank">Mediafire</a>&nbsp;/&nbsp;<a href="https://mega.nz/#!2YwmiIwS!ncq0SY0MDwRJGrlZGHXmsRw9Hk7nvClB_Cg3XOyMdFU" target="_blank">Mega</a><br /><br /><b>Tutorial de Instalación</b></span></div>
<div >
<div  >
<iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/R5kcsxmMfc8/0.jpg" frame  src="https://www.youtube.com/embed/R5kcsxmMfc8?feature=player_embedded" ></iframe></div>
<span ><br /></span></div>
<div >
<span ><b>Instrucciones:</b></span></div>
<div >
<span >1.-Cambiar la configuración regional unicode a japones</span></div>
<div >
<span >(Panel de control\Reloj, idioma y región\Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc)</span></div>
<div >
<span >2.- Pegar la carpeta del juego al disco C de esta manera "C:\Photograph Journey～恋する旅行・広島編＆神奈川編～"</span><br />
<span >3.- Ejecutar/Combinar "PJ_1.reg". Descargar el parche</span><br />
<span >4.- Abrir el parche, reemplazar los 5 archivos de la carpeta "Parche" con los del juego</span><br />
<span >5.- Pegar la fuente "MS-Gothic-Esp.ttf" de la carpeta "Fuente" a la del juego y instalar-la</span><span ><br /></span></div>

  </article>
</Layout>

  