---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Boob Wars 2`
export const date = '2016-01-03T07:37:00.007-05:00' 
export const updated = '2022-09-28T01:31:51.256-05:00'
export const tags = ["español","visual novel",null,"Boob Wars","Boob Wars 2","visualnovelparapc","eroge","novela visual"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/2969748598152218942/comments/default'
export const cover = 'https://4.bp.blogspot.com/-iQ3SJc-NZ8M/U6QTyClxhkI/AAAAAAAABJA/ydeuUNNbPNY/s1600/1.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2014/06/boob-wars-2.html">Boob Wars 2[Eroge][Español]</a><br />
<br /></div>
<div >
<div  >
<a href="http://4.bp.blogspot.com/-iQ3SJc-NZ8M/U6QTyClxhkI/AAAAAAAABJA/ydeuUNNbPNY/s1600/1.jpg" ><img   src="https://4.bp.blogspot.com/-iQ3SJc-NZ8M/U6QTyClxhkI/AAAAAAAABJA/ydeuUNNbPNY/s1600/1.jpg"  /></a></div>
<br /></div>
<div >
<span ><span >El continente de los pechos esta en guerra. el reino de los Pechos grandes y los Pechos Planos luchan para determinar de una vez por todas que temaño es mejor.</span></span></div>
<div >
<span ><span >Haruto el protagonisto adora ambos tamaños por igual. y de acuerdo con las diosas de los pechos el tiene le poder especial para salvar el continente. asique sin pensarlo Haruto empieza su aventura como Mesias amador de los pechos.</span></span></div>
<a name='more'></a><span ><b></b></span><br />
<div >
<span ><b><b >Imagenes:</b></b></span></div>
<span ><b>
</b></span>
<br />
<div >
<div  >
</div>
<div  >
<a href="http://2.bp.blogspot.com/-Jop7ii9jZu8/VokUgCNXO7I/AAAAAAAABtY/WYmKPgYeyi4/s1600/10.jpg" ><img   src="https://2.bp.blogspot.com/-Jop7ii9jZu8/VokUgCNXO7I/AAAAAAAABtY/WYmKPgYeyi4/s400/10.jpg"  /></a></div>
<br />
<div  >
<a href="http://1.bp.blogspot.com/-FKe0rgbt2yA/VokUiaZR3AI/AAAAAAAABtg/t1uvOx9XJWg/s1600/13.jpg" ><img   src="https://1.bp.blogspot.com/-FKe0rgbt2yA/VokUiaZR3AI/AAAAAAAABtg/t1uvOx9XJWg/s400/13.jpg"  /></a></div>
<br />
<div  >
<a href="http://4.bp.blogspot.com/-oacK0zpFFrU/VokUmfeqioI/AAAAAAAABtw/HUohQmKf3JM/s1600/12.jpg" ><img   src="https://4.bp.blogspot.com/-oacK0zpFFrU/VokUmfeqioI/AAAAAAAABtw/HUohQmKf3JM/s400/12.jpg"  /></a></div>
<br /></div>
<div >
<span ><b >Nombre:&nbsp;</b><span >Boob Wars 2</span></span></div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;Eroge</span></span></div>
<div >
<span ><b >Estudio:</b><span ><span >&nbsp;</span></span></span><span ><span >softhouse-seal GRANDEE</span></span></div>
<div >
<span ><b >&nbsp;Genero:</b><span >&nbsp;Romance, Guerra, Medieval</span></span></div>
<div >
<b >Subtitulos:</b><span ><span >&nbsp;Español(ruta Iris y Estraea)</span><br /><b >Agradecimientos:</b><span >&nbsp;<b ><a href="http://soulhunternofansub.blogspot.com/"  target="_blank">Soulhunter no fansub</a></b></span></span><br />
<span ><span ><b>Duración: </b>10-30 horas</span></span></div>
<div >
<div>
<div >
<span ><span ><b>Tamaño del archivo: </b>3.7G</span><span >b</span></span></div>
<div >
<span ><span ><br /></span></span></div>
<div >
<b><span >Descarga Mega:</span></b></div>
<div>
<div >
<a href="https://ouo.io/4vv3hkj"  target="_blank"><b>Boob Wars 2</b></a></div>
<div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b >contraseña</b><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span ><b><br /></b></span></span></div>
<div >
<br />
<div >
<b><span >Descarga Mediafire:</span></b></div>
<div>
<div >
<a href="https://ouo.io/GwLMa5l"  target="_blank"><b>Boob Wars 2</b></a></div>
<div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b >contraseña</b><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span ><b><br /></b></span></span></div>
<div>
</div>
</div>
</div>
<span ><br /></span>
<span ><b>Crack:</b><br /><b><a href="https://mega.nz/#!SkgA3QTb!Xw3GnkKC32fUJIJz9u5A_dyyWPWRfsgnpUJWbJzn9AA" target="_blank">Mega</a></b></span></div>
<div >
<span ><br /></span></div>
<div >
<div >
<div >
<b ><span >Parche v0.5(01/01/16):</span></b></div>
</div>
<div >
<div >
<b ><a href="http://www.mediafire.com/download/5h826bdk5fk4xfr/Parche_Boob_Wars_2_v0.5.rar" target="_blank">Mediafire</a>&nbsp;/&nbsp;<a href="http://depositfiles.org/files/o8rvfpi0r?redirect" target="_blank">DepositFiles</a></b><br />
<br /></div>
</div>
</div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b>Tutorial de Instalación:</b></span></div>
</div>
<div  >
<iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/DbAUZ81BMME/0.jpg" frame  src="https://www.youtube.com/embed/DbAUZ81BMME?feature=player_embedded" ></iframe></div>
<div  >
<br /></div>
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span ><b>Instrucciones de&nbsp;instalación:</b><br />1.- Ejecutar "BoobWars2" y instalar.<br />2.- Extrae y reemplaza los archivos del crack por los originales(directorio por defecto&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >C:\Games\Mangagamer\Boob Wars 2</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >).</span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >3.- Abre el parche y extrae las 3 carpetas y el bat en donde se instalo el juego.<br />4.-Ejecuta el "Traducir.bat" aparecera una ventana cmd esperar a que se cierre.<br />5.- Ejecutar "</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >Boob Wars 2" y jugar.</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span ><br /></span></span>
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif"><span ><b><span >Nota: El juego va traducido la ruta&nbsp;de Estraea y la ruta de Iris, les avisare cuando salgan más parches.</span></b></span></span></div>
</div>
</div>
<div >
</div>
</div>
</div>

  </article>
</Layout>

  