---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Eden* Plus+Mosaic`
export const date = '2019-12-01T12:18:00.001-05:00' 
export const updated = '2022-09-24T16:56:05.236-05:00'
export const tags = ["español","visual novel",null,"Completo","visualnovelparapc","eroge","novela visual","Eden Plus+Mosaic","novela cinetica"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/3619481477388377362/comments/default'
export const cover = 'https://1.bp.blogspot.com/-c4ZUR9Lsyoc/XePudloxirI/AAAAAAAADn4/KGdu11HdI8sHM9CPZA4GegwAQinfQ_gLQCLcBGAsYHQ/s400/10.png'

---

<Layout title = {title} >
  <article>
  <div >
<a href="https://visualnovelparapc.blogspot.com/2019/12/eden-plusmosaic.html" target="_blank">Eden* Plus+Mosaic[NCinetica][Completo]</a><br />
<br />
<div  >
<a href="https://1.bp.blogspot.com/-c4ZUR9Lsyoc/XePudloxirI/AAAAAAAADn4/KGdu11HdI8sHM9CPZA4GegwAQinfQ_gLQCLcBGAsYHQ/s1600/10.png" ><img     src="https://1.bp.blogspot.com/-c4ZUR9Lsyoc/XePudloxirI/AAAAAAAADn4/KGdu11HdI8sHM9CPZA4GegwAQinfQ_gLQCLcBGAsYHQ/s400/10.png"  /></a></div>
<div  >
<br /></div>
</div>
<div >
<span >"En un futuro cercano, una ominosa estrella roja aparece repentinamente en el cielo. Su presencia está a punto de provocar la extinción de toda la vida en la Tierra. El gobierno unificado propone un proyecto de evacuación para llevar a toda la humanidad al espacio, pero para hacer realidad el proyecto aparentemente imposible, se traen los 'felixes' al mundo. Diseñados para ser altamente inteligentes con perpetua juventud y longevidad, los felix superhumanos genéticamente modificados son la única esperanza de supervivencia de la humanidad.</span><br />
<a name='more'></a><br />
<span >Sion, la más talentosa de los felixes, se ha mantenido en una instalación de investigación construida en una isla solitaria durante los últimos cien años. Su único propósito, salvar a toda la humanidad. Ryou Haruna, un soldado del gobierno unificado de la Tierra, es enviado a velar por Sion, que busca desesperadamente liberarse del ejército que la está encarcelando. La última historia de amor de la Tierra está por comenzar."</span><br />
<span ><br /></span></div>
<div >
<span ><b>Imágenes:</b></span><br />
<div  >
<a href="https://1.bp.blogspot.com/-3x2Bsq5Zf_c/XePyDH3xrrI/AAAAAAAADoI/5yuayDFeHyYY_t0yxRpPlaMTRWF_3kgMQCLcBGAsYHQ/s1600/1.png" ><img     src="https://1.bp.blogspot.com/-3x2Bsq5Zf_c/XePyDH3xrrI/AAAAAAAADoI/5yuayDFeHyYY_t0yxRpPlaMTRWF_3kgMQCLcBGAsYHQ/s400/1.png"  /></a></div>
<br />
<div  >
<a href="https://1.bp.blogspot.com/-HwocjJrgYgA/XePyDU9M10I/AAAAAAAADoM/PrBGO9jbOy0qwcfvSYAzTtLoCHqZarJewCLcBGAsYHQ/s1600/2.png" ><img     src="https://1.bp.blogspot.com/-HwocjJrgYgA/XePyDU9M10I/AAAAAAAADoM/PrBGO9jbOy0qwcfvSYAzTtLoCHqZarJewCLcBGAsYHQ/s400/2.png"  /></a></div>
<br />
<div  >
<a href="https://1.bp.blogspot.com/-qWUpSa4htTM/XePyC7sXT2I/AAAAAAAADoE/ye9l7VPQKbcnjx_HIw3YDybFCX0-nEstwCLcBGAsYHQ/s1600/3.png" ><img     src="https://1.bp.blogspot.com/-qWUpSa4htTM/XePyC7sXT2I/AAAAAAAADoE/ye9l7VPQKbcnjx_HIw3YDybFCX0-nEstwCLcBGAsYHQ/s400/3.png"  /></a></div>
<div  >
<br /></div>
</div>
<div >
<div >
<span ><b >Nombre:&nbsp;</b></span><span ><span >Eden* Plus+Mosaic</span></span></div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;Novela Cinetica</span></span><br />
<span ><b >Estudio:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >&nbsp;</span></span></span><span >minori</span></div>
<div >
<span ><b >&nbsp;Genero:</b><span >&nbsp;Apocalipsis. Romance</span></span></div>
<div >
<span ><b >Subtitulos:</b><span ><span >&nbsp;Español Completo</span><br /><b >Agradecimientos:</b><span ><span ><span >&nbsp;</span></span><a href="http://sharin-sub.blogspot.com/"  target="_blank">Sharin-Sub</a></span></span></span><br />
<div >
<span ><span ><span ><b>Duración:&nbsp;</b>2-10 horas</span></span></span></div>
</div>
<div >
<span ><span ><b>Tamaño del archivo:&nbsp;</b>5.89G</span><span >b</span></span></div>
</div>
<div >
<div >
<br /></div>
<div >
<b><span >Descarga Mega:</span></b></div>
<div>
<div >
<a href="https://ouo.io/2bLDnp"  target="_blank"><b>Eden* Plus+Mosaic</b></a></div>
<div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><br /></span><b><span >Descarga Mediafire:</span></b></div>
</div>
</div>
</div>
</div>
<div >
<div >
<div >
<div >
<div >
<a href="https://ouo.io/ibTd0I"  target="_blank"><b>Eden* Plus+Mosaic</b></a></div>
</div>
<div >
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span><br />
<div >
<br /></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div >
</div>
<div >
<div >
<div >
<b >Parche:</b></div>
</div>
<div >
<b >&nbsp;</b><b ><span ><span ><a href="https://cdn.discordapp.com/attachments/353179762325323796/641781928093155408/eden_PLUS_MOSAIC.zip" target="_blank">OneDrive</a></span></span></b></div>
</div>
<div >
<div >
<b ><span ><span ><br /></span></span></b><b ><span ><span >OP:</span></span></b><br />
<div  >
<iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/vZCDIasP0yY/0.jpg" frame  src="https://www.youtube.com/embed/vZCDIasP0yY?feature=player_embedded" ></iframe></div>
<br />
<b ><span >Instrucciones de&nbsp;instalación:</span></b></div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >1.- Cambiar la conf. unicode a japones para su correcto funcionamiento.(Obligatorio)</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >(Panel de control\Reloj, idioma y región\Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc).</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >2.- Extraer el parche en la carpeta del juego.</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >3.- Instalar la fuente Eden-SharinSub.ttf.</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >4.- Ejecutar eden_pm_en.</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >5.- El menu debería quedar <a href="https://1.bp.blogspot.com/-JGlb4Rp--Xk/XcNXL3P8tAI/AAAAAAAACCQ/uhqjZK17ubIYkOc-ZLFHE4hPE57qkMWxACLcBGAsYHQ/s1600/eden_pm_en_0Yn4PJ2gZw.png" target="_blank">así</a>.</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >5.- Disfrutar :D</span></span></div>
</div>

  </article>
</Layout>

  