---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Chaos;Head`
export const date = '2017-12-30T02:47:00.001-05:00' 
export const updated = '2022-09-27T01:19:41.480-05:00'
export const tags = ["Chaos;Head","español","Mediafire","sin h","visual novel",null,"Mega","Completo","visualnovelparapc","novela visual","Misterio"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/6340152125080028607/comments/default'
export const cover = 'https://4.bp.blogspot.com/-w6LbzePD-6k/WkdEO8LJ0HI/AAAAAAAACqQ/Xx3CJoeOlKYpRCkj4KiNRNwj7NORzzKGwCLcBGAs/s640/355.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="https://visualnovelparapc.blogspot.com/2017/12/chaoshead.html" target="_blank">Chaos;Head[Completo][Español]</a><br />
<div>
<br /></div>
<div  >
<a href="https://4.bp.blogspot.com/-w6LbzePD-6k/WkdEO8LJ0HI/AAAAAAAACqQ/Xx3CJoeOlKYpRCkj4KiNRNwj7NORzzKGwCLcBGAs/s1600/355.jpg" ><img     src="https://4.bp.blogspot.com/-w6LbzePD-6k/WkdEO8LJ0HI/AAAAAAAACqQ/Xx3CJoeOlKYpRCkj4KiNRNwj7NORzzKGwCLcBGAs/s640/355.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<span >Takumi es un estudiante de secundaria. El es un gamer y no esta interesado en cosas 3D. En su ciudad, unos misteriosos casos de asesinatos seriales suceden en consecuencia los residentes entran en pánico. Un día, mientras chatea, un hombre repentinamente lo contacta y le da una URL. El entra al sitio web y encuentra una imagen que sugiere un próximo caso de asesinato ... Al día siguiente, realmente sucede...</span></div>
</div>
<div >
<a name='more'></a><span ><b><br /></b></span>
<span ><b>Imágenes:</b></span></div>
<div  >
<a href="https://1.bp.blogspot.com/-J_YU0JVJx20/WkRGUVFLHnI/AAAAAAAACpo/Cq2cuo_4CF8VAh1kL8nurTGYX9QQmzKwQCLcBGAs/s1600/23.jpg" ><img     src="https://1.bp.blogspot.com/-J_YU0JVJx20/WkRGUVFLHnI/AAAAAAAACpo/Cq2cuo_4CF8VAh1kL8nurTGYX9QQmzKwQCLcBGAs/s400/23.jpg"  /></a></div>
<br />
<div  >
<a href="https://4.bp.blogspot.com/-ZZiIp7AWsSg/WkRGWO9acXI/AAAAAAAACps/X5GvDcke8M824wkmMUMXCHh4QHrkKUFogCLcBGAs/s1600/24.jpg" ><img     src="https://4.bp.blogspot.com/-ZZiIp7AWsSg/WkRGWO9acXI/AAAAAAAACps/X5GvDcke8M824wkmMUMXCHh4QHrkKUFogCLcBGAs/s400/24.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<a href="https://1.bp.blogspot.com/-2HC8tnl17qQ/WkRGWLtYCvI/AAAAAAAACpw/yvDkyQMtQSg_Qta36OYM1dyq75x0UyAjACLcBGAs/s1600/25.jpg" ><img     src="https://1.bp.blogspot.com/-2HC8tnl17qQ/WkRGWLtYCvI/AAAAAAAACpw/yvDkyQMtQSg_Qta36OYM1dyq75x0UyAjACLcBGAs/s400/25.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<div >
<div >
<span ><b >Nombre: </b><span >Chaos;Head</span></span></div>
</div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;Novela Visual</span></span><br />
<span ><b >Estudio:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >&nbsp;Nitroplus</span></span></span></div>
<div >
<span ><b >&nbsp;Genero:</b><span >&nbsp;Gore, Psicologico</span></span></div>
<div >
<span ><b >Subtitulos:</b><span ><span >&nbsp;Español Completo</span><br /><b >Agradecimientos:</b><span ><span ><span >&nbsp;</span></span><a href="http://www.clandlan.net/foros/topic/79044-completada-traduccion-novela-visual-chaos;head-noah-love-chu-chu-al-espanol/"  target="_blank">Chaos;Head Traducciones</a></span></span></span><br />
<div >
<span ><span ><span ><b>Duración:&nbsp;</b>10-30</span></span></span><b >&nbsp;</b><span >horas</span></div>
</div>
<div >
<span ><span ><b>Tamaño del archivo:</b>&nbsp;1.6G</span><span >b</span></span></div>
</div>
<div>
<div >
<br /></div>
<div >
<b><span >Descarga Mega:</span></b></div>
<div>
<div >
<a href="https://ouo.io/LJTeHH"  target="_blank"><b>Chaos;Head</b></a></div>
<div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span></div>
<div >
<br /></div>
<div >
<b><span >Descarga Mediafire:</span></b></div>
<div >
<div >
<a href="https://ouo.io/BnqJWA"  target="_blank"><b>Chaos;Head</b></a></div>
<div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span></div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><br /></span>
</div>
<div >
<div >
<div >
<b >Parche:</b><b >&nbsp;</b></div>
<div >
<b ><a href="http://www.mediafire.com/file/hax6ibdgwyrxxuy/Traduccion_Chaos%3BHead.rar" target="_blank">Mediafire(760Mb)</a></b></div>
<div >
<br /></div>
<b><span ><span >Update 1.03:</span></span></b><br />
<b><span ><span ><a href="https://drive.google.com/open?id=1Wxh1r4_gSrp_orcvBSSu2OXcR-20Ldnu" target="_blank">Google Drive</a></span></span></b><br />
<br />
<div >
<b><span >Opening:</span></b></div>
<div  >
<iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/_SrAG0JwfQ8/0.jpg" frame  src="https://www.youtube.com/embed/_SrAG0JwfQ8?feature=player_embedded" ></iframe></div>
<div >
<br /></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div >
<div >
<div >
<b ><span >Instrucciones de&nbsp;instalación:</span></b></div>
</div>
<div>
<div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >1.- Cambiar la conf. unicode a japones para su correcto funcionamiento.&nbsp;</span></span></div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >(Panel de control\Reloj, idioma y region\Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc)</span></span></div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span ><span >2.- Parchar(Extraer los archivos del parche a excepción de nss.rar)</span></span></span></div>
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span ><span >3.- Descargar el update 1.03 y parchar</span></span></span><br />
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >4.- Instalar la fuente MS-Gothic-Mod.ttf y Disfrutar :D</span></span></div>
</div>
</div>
</div>

  </article>
</Layout>

  