---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `My Girlfriend is the President`
export const date = '2017-12-14T19:28:00.002-05:00' 
export const updated = '2022-09-27T01:24:11.569-05:00'
export const tags = ["español","Mediafire","visual novel",null,"Mega","Completo","visualnovelparapc","eroge","novela visual"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/438948539724070444/comments/default'
export const cover = 'https://1.bp.blogspot.com/-_-diP20ayaE/VOGqgKDrfuI/AAAAAAAABcg/aczIXeeGVck/s1600/11.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2015/02/my-girlfriend-is-president.html" target="_blank">My Girlfriend is the President[Eroge][Completo]</a></div>
<div >
<br /></div>
<div  >
<a href="http://1.bp.blogspot.com/-_-diP20ayaE/VOGqgKDrfuI/AAAAAAAABcg/aczIXeeGVck/s1600/11.jpg" ><img   src="https://1.bp.blogspot.com/-_-diP20ayaE/VOGqgKDrfuI/AAAAAAAABcg/aczIXeeGVck/s1600/11.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<span ><span >Lo que parecía una mañana normal para Junichiro deja de serla. La sorpresa que se lleva al enterarse que su amiga de la infancia Yukino es la presidenta de Japón y él su vicepresidente. Pero lo más extraño es que el resto de la gente lo considera normal aunque en realidad es todo obra de una alienígena que estrelló su platillo volador contra la casa del verdadero primer ministro.</span></span></div>
<a name='more'></a><br />
<div  >
<span ><span >Mientras trata de reparar el daño causado y utilizando tecnología avanzada le ha lavado el cerebro a todo el mundo, pero por alguna extraña razón no ha hecho efecto en nuestro protagonista. Junichiro deberá ser cómplice de todo este artífice mientras apoya a su amiga, lleva una vida normal de estudiante y lleva a cabo las tareas como vicepresidente.</span></span></div>
<div >
<b><span ><br /></span></b></div>
<div >
<b><span >Imagenes:</span></b></div>
<div  >
<a href="http://4.bp.blogspot.com/-jxYg_2JmkI4/VOG4z8UfmRI/AAAAAAAABc0/MpcYY-9I-M0/s1600/12.jpg" ><img   src="https://4.bp.blogspot.com/-jxYg_2JmkI4/VOG4z8UfmRI/AAAAAAAABc0/MpcYY-9I-M0/s1600/12.jpg"  /></a></div>
<br />
<div  >
<a href="http://3.bp.blogspot.com/-eJWizFjGcgE/VOG4zi9nTYI/AAAAAAAABcw/atsu_lvZde8/s1600/13.jpg" ><img   src="https://3.bp.blogspot.com/-eJWizFjGcgE/VOG4zi9nTYI/AAAAAAAABcw/atsu_lvZde8/s1600/13.jpg"  /></a></div>
<br />
<div  >
<a href="http://4.bp.blogspot.com/-MzuLabpbWeA/VOG40JZz2BI/AAAAAAAABc8/5dnvhKAyqhI/s1600/14.jpg" ><img   src="https://4.bp.blogspot.com/-MzuLabpbWeA/VOG40JZz2BI/AAAAAAAABc8/5dnvhKAyqhI/s1600/14.jpg"  /></a></div>
<div >
<span ><span ><br /></span></span></div>
<div >
<span ><span ><b>Nombre:&nbsp;</b></span></span><span >My Girlfriend is the President</span></div>
<div >
<span ><b>Tipo:</b> Eroge</span></div>
<div >
<span ><span ><b>Genero: </b>Comedia,&nbsp;</span><span >Romance</span></span></div>
<div >
<span ><span ><b>Estudio:&nbsp;</b></span><span >Alcot</span></span></div>
<div >
<span ><span ><b>Subtítulos: </b>Español Completo</span></span></div>
<div >
<span ><span ><b>Agradecimientos:&nbsp;</b><a href="http://www.soulhunternofansub.blogspot.com/" target="_blank">Soulhunter no Fansub</a></span></span></div>
<div >
<span ><span ><b>Duración: </b>10-30 horas</span></span></div>
<div >
<span ><span ><b>Tamaño del Archivo: </b>1.6Gb</span></span></div>
<div  >
<br /></div>
<div >
<span ><span ><b>Descarga Mega:</b></span></span></div>
<div >
<a href="https://ouo.io/CwZrn1" target="_blank"><span >My Girlfriend is the President</span></a></div>
<div >
<span ><span >contraseña: animegame</span></span></div>
<div >
<span ><span ><br /></span></span></div>
<div >
<span ><span ><b>Descarga Mediafire:</b></span></span></div>
<div >
<span ><span ><a href="https://ouo.io/yNrwJP" target="_blank">My Girlfriend is the President</a></span></span><br />
<span ><span >contraseña: animegame<br /><br /><b>Descarga Torrent:</b><br /><a href="https://ouo.io/ygvmZF" target="_blank">My Girlfriend is the President</a></span></span></div>
<div >
<span ><span ><b><br /></b></span></span></div>
<div >
<span ><span ><b>Parche:</b></span></span></div>
<div >
<span ><a href="http://www.mediafire.com/file/mg5pcaa2998u0mf/MGP_Esp_v1.0.rar"  target="_blank">Mediafire</a><br /><br /><span ><b>Opening:</b></span></span><br />
<div  ><iframe allowfullscreen=""   src="https://www.youtube.com/embed/Dvs3_59FPiI"  youtube-src-id="Dvs3_59FPiI"></iframe></div><div  ><br /></div>
</div>
<div >
<span ><b>Instrucciones:</b></span></div>
<div >
<span >1.-Pegamos el contenido del parche dentro de la carpeta y ejecutamos osana</span><br />
<span >2.- Disfrutar :D</span><br />
<span >2.5.- Si tienes windows 8 o 10 descarga&nbsp;</span><span >Win8WOH.zip de&nbsp;<a href="https://www.mediafire.com/file/3gb9jb3pdvzh0sp/Win8WOH.zip/file" target="_blank">Link</a>&nbsp;y pegas el dll en la carpeta del juego</span><br />
<span ><br />Opcional: es recomendable cambiar la conf. unicode a japones para su correcto funcionamiento.</span><br />
<span >(Panel de control\Reloj, idioma y región\Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc)</span></div>

  </article>
</Layout>

  