---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Reportar Links`
export const date = '2017-12-23T19:43:00.000-05:00' 
export const updated = '2017-12-23T19:43:09.363-05:00'
export const tags = [null]
export const urlComments = 'null'
export const cover = 'https://3.bp.blogspot.com/-XHYAtMq04lE/UnRzfboipII/AAAAAAAAAiY/mh13VAYv4tE/s400/5.gif'

---

<Layout title = {title} >
  <article>
  <div >
<div  >
</div>
<b ><span >Reportar</span></b><br />
<br />
<span ><span >Aqui podran reportar links caidos, problemas o alguna sugerencia</span></span><br />
<br />
<div  >
</div>
<div  >
<a href="http://3.bp.blogspot.com/-XHYAtMq04lE/UnRzfboipII/AAAAAAAAAiY/mh13VAYv4tE/s1600/5.gif"  ><img   src="https://3.bp.blogspot.com/-XHYAtMq04lE/UnRzfboipII/AAAAAAAAAiY/mh13VAYv4tE/s400/5.gif"  /></a></div>
<br />
<div  >
<a href="https://2.bp.blogspot.com/-g9x3aVjcfkk/Wj73yr5ITpI/AAAAAAAACpQ/5f4z1GnBzdoligILzCjeohfLp-YaJ20egCKgBGAs/s1600/71e.gif"  ><img     src="https://2.bp.blogspot.com/-g9x3aVjcfkk/Wj73yr5ITpI/AAAAAAAACpQ/5f4z1GnBzdoligILzCjeohfLp-YaJ20egCKgBGAs/s200/71e.gif"  /></a></div>
<br /></div>

  </article>
</Layout>

  