---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Supreme Candy`
export const date = '2023-10-29T01:08:00.002-05:00' 
export const updated = '2023-10-29T01:09:28.395-05:00'
export const tags = ["español","Supreme Candy","Mediafire","visual novel",null,"Mega","Completo","visualnovelparapc","eroge","novela visual"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/2004519882106767274/comments/default'
export const cover = 'https://3.bp.blogspot.com/-SVNZDV4k7Og/V_4AYzo9LxI/AAAAAAAAB7M/Akja5-fB8u8v6SzEILOKYlWdFYtTl4SDgCLcB/s640/fWdcu1g.jpg'

---

<Layout title = {title} >
  <article>
  <div  >
<a href="http://visualnovelparapc.blogspot.com/2016/10/supreme-candy.html" target="_blank">Supreme Candy[Eroge][Completo]</a></div>
<div  >
<br /></div>
<div  >
<a href="https://3.bp.blogspot.com/-SVNZDV4k7Og/V_4AYzo9LxI/AAAAAAAAB7M/Akja5-fB8u8v6SzEILOKYlWdFYtTl4SDgCLcB/s1600/fWdcu1g.jpg" ><img   src="https://3.bp.blogspot.com/-SVNZDV4k7Og/V_4AYzo9LxI/AAAAAAAAB7M/Akja5-fB8u8v6SzEILOKYlWdFYtTl4SDgCLcB/s640/fWdcu1g.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<span >Tonami Yuu es un adolescente algo torpe que guarda una cierta distancia entre él y los demás debido a un incidente traumático que ocurrió cuando él era un niño. Un día se topa con un frasco de caramelos etiquetado 'Shupre～mu Candy', una golosina milagrosa que le permite cambiar su edad física. Aprovechando esta oportunidad, se transforma en un niño y entra en el patio de la escuela vecina, donde las colegialas de su edad juegan inocentemente con los niños. Yuu cree que por fin ha encontrado algo que le permitirá acercarse otras personas de nuevo.</span></div>
<a name='more'></a><div >
<br /></div>
<div >
<b >Imagenes:</b></div>
<div  >
<a href="https://4.bp.blogspot.com/-5H0OOC0EDtc/V_3_qalO87I/AAAAAAAAB7A/DUb_IOYTD6sQVAgASE9SEvVcVxFY0I_8wCLcB/s1600/2lmnzYI.png" ><img   src="https://4.bp.blogspot.com/-5H0OOC0EDtc/V_3_qalO87I/AAAAAAAAB7A/DUb_IOYTD6sQVAgASE9SEvVcVxFY0I_8wCLcB/s400/2lmnzYI.png"  /></a></div>
<br />
<div  >
<a href="https://3.bp.blogspot.com/-LD3moWLR5G8/V_3_q4BuxUI/AAAAAAAAB7E/GMEZsaTlgNIdUUXDmdW2LsUwiIX1hOKJgCLcB/s1600/89Q4YhL.png" ><img   src="https://3.bp.blogspot.com/-LD3moWLR5G8/V_3_q4BuxUI/AAAAAAAAB7E/GMEZsaTlgNIdUUXDmdW2LsUwiIX1hOKJgCLcB/s400/89Q4YhL.png"  /></a></div>
<br />
<div  >
<a href="https://4.bp.blogspot.com/-3hGMstTQGig/V_3_rPKfsrI/AAAAAAAAB7I/1K4V3pz-1nwSCxZbQmcfloLW2SAnaK_iQCLcB/s1600/Qp9WSOp.png" ><img   src="https://4.bp.blogspot.com/-3hGMstTQGig/V_3_rPKfsrI/AAAAAAAAB7I/1K4V3pz-1nwSCxZbQmcfloLW2SAnaK_iQCLcB/s400/Qp9WSOp.png"  /></a></div>
<div  >
<br /></div>
<div >
<div >
<div >
<span ><b >Nombre:&nbsp;</b></span><span >Supreme Candy</span></div>
</div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;Eroge</span></span><br />
<span ><b >Estudio:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >&nbsp;</span></span></span><span >Makura</span></div>
<div >
<span ><b >&nbsp;Genero:</b><span >&nbsp;Romance, Cosplay</span></span></div>
<div >
<span ><b >Idioma:&nbsp;</b><span >Japones</span></span></div>
<div >
<div >
<span ><b >Subtitulos:</b><span ><span >&nbsp;Completo</span></span></span></div>
<span ><span ><span ><b>Duración:</b> 10-30 horas</span></span></span><br />
<span ><span ><b >Agradecimientos:</b><span >&nbsp;<a href="http://07thinquisition.foroactivo.com/t942-parche-supreme-candy" >07th Inquisition</a></span></span></span></div>
<div >
<span ><span ><b>Tamaño del archivo:&nbsp;</b>2.32G</span><span >b</span></span></div>
</div>
<div >
<div >
<br /></div>
<div >
<b><span >Descarga Mega:</span></b></div>
<div>
<div >
<a href="https://ouo.io/7yM8Mx"  target="_blank"><b>Supreme Candy</b></a></div>
<div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><br /></span><b><span >Descarga Mediafire:</span></b></div>
</div>
</div>
</div>
</div>
<div >
<div >
<div >
<div >
<div >
<a href="https://ouo.io/MhjkFr" target="_blank"><b><span >Supreme Candy</span></b></a></div>
</div>
<div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span><br />
<div >
<br /></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div >
</div>
<div >
<div >
<div >
<b >Parche 1.0:</b></div>
</div>
<div >
<b >&nbsp;</b><b ><span ><span ><a href="http://www.mediafire.com/file/lqcujw897ohw81q/Parche_1.0_Supreme_candy_completo.rar" target="_blank">Mediafire</a></span></span></b></div><div ><b ><span ><br /></span></b></div><div ><b ><span >Notas del Parche:</span></b></div><div ><span ><span >Tiene todas las imágenes editadas y pasó por QC.</span></span></div><div >
<br />
<div >
<div >
<b >Guía en Español:</b><b ><span ><span ><br /><a href="http://07thinquisition.foroactivo.com/t946-guia-de-rutas-de-shupreme-candy" target="_blank">Guía</a>&nbsp;</span></span></b></div><div ><b ><span ><span ><br /></span></span></b></div></div></div>
<div >
<div >
<b ><span >Instrucciones de&nbsp;instalación:</span></b></div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >1.- Cambiar la conf. unicode a japones para su correcto funcionamiento.</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >(Panel de control\Reloj, idioma y región\Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc)</span></div>
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span ><span >2.-</span><span face="&quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , &quot;lucida grande&quot; , &quot;tahoma&quot; , &quot;verdana&quot; , &quot;arial&quot; , sans-serif" ><span ><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif">&nbsp;</span></span></span><span >&nbsp;Montar el Iso con Daemon tools&nbsp;o abrir el mdf con <a href="https://www.7-zip.org/" target="_blank">7zip</a> y extraer en una carpeta.</span></span></span></div><div ><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >4.- Ejecutar setup y instalar(la primera opción).<br />5.- Extraer el parche en la carpeta del juego y instalar la fuente "</span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >instalar la fuente.tff</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >"</span></span></div><div ><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >6.- Disfrutar :D</span></span></div>
</div>

  </article>
</Layout>

  