---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Dra+Koi`
export const date = '2015-08-18T06:35:00.001-05:00' 
export const updated = '2022-09-28T01:40:53.771-05:00'
export const tags = ["Dragon+Love","español","Mediafire","visual novel",null,"Dra†KoI","Mega","Completo","visualnovelparapc","eroge","novela visual"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/8847880791957025297/comments/default'
export const cover = 'https://2.bp.blogspot.com/-3dK2XvwV8ok/VdMA4LfDRuI/AAAAAAAABnE/OJISqH-Q7YM/s400/11.jpg'

---

<Layout title = {title} >
  <article>
  <div  >
<a href="http://visualnovelparapc.blogspot.com/2015/08/drakoi.html" target="_blank">Dra+Koi[Eroge][Español]</a></div>
<div  >
<br /></div>
<div  >
<a href="http://2.bp.blogspot.com/-3dK2XvwV8ok/VdMA4LfDRuI/AAAAAAAABnE/OJISqH-Q7YM/s1600/11.jpg" ><img   src="https://2.bp.blogspot.com/-3dK2XvwV8ok/VdMA4LfDRuI/AAAAAAAABnE/OJISqH-Q7YM/s400/11.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<span >Un chico conoce a una chica en un mundo bajo ataque de los dragones.<br />Dra+Koi (竜†恋) es una novela visual creada por Nitroplus para PC y lanzada el 3 de Febrero del 2006.</span></div>
<a name='more'></a><br />
<div >
<span >Imagenes:</span></div>
<div >
<br /></div>
<div  >
<a href="http://3.bp.blogspot.com/--a9QzXWMJfk/VdMHPxbhFII/AAAAAAAABnQ/7TtFS9ERWRo/s1600/111.jpg" ><img   src="https://3.bp.blogspot.com/--a9QzXWMJfk/VdMHPxbhFII/AAAAAAAABnQ/7TtFS9ERWRo/s400/111.jpg"  /></a></div>
<br />
<div  >
<a href="http://4.bp.blogspot.com/-EAxMy9LWWvg/VdMHRw0V73I/AAAAAAAABng/V1wgZ6l1HKg/s1600/333.jpg" ><img   src="https://4.bp.blogspot.com/-EAxMy9LWWvg/VdMHRw0V73I/AAAAAAAABng/V1wgZ6l1HKg/s400/333.jpg"  /></a></div>
<br />
<div  >
<a href="http://4.bp.blogspot.com/--uvx1IL9heI/VdMHQ6E07PI/AAAAAAAABnY/Eqg1R2ptxig/s1600/222.jpg" ><img   src="https://4.bp.blogspot.com/--uvx1IL9heI/VdMHQ6E07PI/AAAAAAAABnY/Eqg1R2ptxig/s400/222.jpg"  /></a></div>
<div >
<br /></div>
<div >
<span >Nombre: Dra+Koi</span></div>
<div >
<span >Tipo: Eroge</span></div>
<div >
<span >Estudio: Nitroplus</span></div>
<div >
<span >&nbsp;Genero: Romance</span></div>
<div >
<span >Subtitulos: Español Completo</span></div>
<div >
<span >Agradecimientos: <a href="http://www.sharin-sub.es/" target="_blank">Sharin-Sub</a></span><br />
<span >Duración: 2-10 horas</span></div>
<div >
<span >Tamaño del archivo: 150Mb</span></div>
<div >
<span ><br /></span></div>
<div >
<span ><span >Descarga Mega:</span></span></div>
<div >
<a href="https://ouo.io/b8oJaqE" target="_blank">Dra+Koi</a></div>
<div >
<span >contraseña: animegame</span></div>
<div >
<br /></div>
<div >
<span >Descarga Mediafire:</span></div>
<div >
<a href="https://ouo.io/ttMnnnW" target="_blank">Dra+Koi</a></div>
<div >
<span >contraseña: animegame</span></div>
<div ><br /></div>
<div >
<span >Parche 1.2:</span><br />
&nbsp;<a href="https://mega.nz/#!r8BzVTSY!kcafuAnbv_wr3ICFT4rNUtoqfB-cG2XU1AeJ84ZCCfA" target="_blank">Mega&nbsp;</a><br />
<span ><br /></span>
<span >Tutorial de Instalación:</span></div>
<div >
<div  >
<iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/eJLGAFQAFD4/0.jpg" frame  src="https://www.youtube.com/embed/eJLGAFQAFD4?feature=player_embedded" ></iframe></div>
<br /></div>
<div >
<span >Instrucciones de instalación:</span></div>
<div >
<span ><span >1.- Cambiar la conf. unicode a japone</span><span >s</span></span><span >[Obligatorio]</span><br />
<span >(Panel de control\Reloj, idioma y región\Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc)<br />2.- Descarga el parche</span></div>
<div >
<span >3.- Instalar la fuente, reemplaza los archivos del parche(Dra+KoI) por los originales</span></div>
<div >
<span >4.- Ejecuta "DraKoi"</span></div>

  </article>
</Layout>

  