---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Narcissu 1 y 2`
export const date = '2016-12-16T06:22:00.002-05:00' 
export const updated = '2022-09-27T23:48:12.919-05:00'
export const tags = ["español","narcissu 1","narcissu siden 2nd","sin h",null,"narcissu","Completo","visualnovelparapc","novela visual","narcissu 2","novela cinetica"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/6407299719347649410/comments/default'
export const cover = 'https://1.bp.blogspot.com/-WY665wHwdwA/UncpGGo1T-I/AAAAAAAAAjQ/jsOJrH6Vjz4/s1600/5.jpg'

---

<Layout title = {title} >
  <article>
  <div  >
<a href="http://visualnovelparapc.blogspot.com/2013/11/narcissu-side-2nd.html">Narcissu 1 y 2[NovelaCinetica]</a></div>
<div  >
<br /></div>
<div  >
<a href="http://1.bp.blogspot.com/-WY665wHwdwA/UncpGGo1T-I/AAAAAAAAAjQ/jsOJrH6Vjz4/s1600/5.jpg" ><img  src="https://1.bp.blogspot.com/-WY665wHwdwA/UncpGGo1T-I/AAAAAAAAAjQ/jsOJrH6Vjz4/s1600/5.jpg" /></a></div>
<div  >
<br /></div>
<div >
<span >Narcissu cuenta la historia de un joven que poco después de obtener su licencia de conducir, y sin tener la oportunidad de usarla, siente algunos malestares y acude a un hospital. Luego de varios exámenes termina internado y luego de varios meses, ya no hay nada más que hacer: Es cáncer. A partir de ahí, debido a los cuidados que requiere su condición, tiene que vivir en el hospital, en el piso 7, dónde todos los pacientes tienen un brazalete blanco que indica su condición de incurable.</span></div>
<a name='more'></a><div >
<span ><br /></span>
<span >Narcissu 2 se establece alrededor de seis o siete años antes de los acontecimientos del original Narcissu, mientras que Setsumi todavía tenía vida normal ambulatoria en su casa cerca del hospital. Nos encontramos con Himeko, un ex ayudante de 7 º piso del hospital. Alegre y llena de energía, nadie esperaba que un día sería un paciente en la misma sala que donde había pasado tanto tiempo como voluntaria.</span></div>
<div >
<br />
<b >Imagenes:</b><br />
<div  >
<a href="http://2.bp.blogspot.com/-sUEQtZ9fVYk/Uncuc3YWYKI/AAAAAAAAAjc/ZM8RWRiqRYY/s1600/6.jpg" ><img   src="https://2.bp.blogspot.com/-sUEQtZ9fVYk/Uncuc3YWYKI/AAAAAAAAAjc/ZM8RWRiqRYY/s400/6.jpg"  /></a></div>
<br />
<div  >
<a href="http://2.bp.blogspot.com/-COa8vINPhqU/UncuhKo-aNI/AAAAAAAAAjk/znCL-zO7rNE/s1600/7.jpg" ><img   src="https://2.bp.blogspot.com/-COa8vINPhqU/UncuhKo-aNI/AAAAAAAAAjk/znCL-zO7rNE/s400/7.jpg"  /></a></div>
<br />
<div>
<div >
<span ><span >Nombre:</span><span ><b>&nbsp;</b>Narcissu 1 y 2</span></span></div>
<div >
<span ><b>Tipo:&nbsp;</b>Novela Cinetica</span></div>
<div >
<span ><span ><b>Genero:&nbsp;</b>Drama, Hospital</span></span></div>
<div >
<span ><span ><b>Estudio: </b><span >Stage_Nana</span></span></span></div>
<div >
<span ><span ><b>Subtítulos:&nbsp;</b>Español Completo</span></span></div>
<div >
<span ><span ><b>Agradecimientos:&nbsp;</b></span></span><a href="http://visualnovelparapc.blogspot.com/" target="_blank">VisualNovelParaPc</a></div>
<div >
<span ><span ><b>Duración:&nbsp;</b>2-10 horas</span></span></div>
<div >
<span ><span ><b>Tamaño del Archivo:&nbsp;</b>272Mb</span></span></div>
<div  >
<br /></div>
<div>
<div >
<div >
<div >
<span ><span >Descarga Mega:</span></span></div>
<div >
<a href="https://ouo.io/eTpv2a" target="_blank"><span >Narcissu</span></a></div>
<div >
<span ><span >contraseña: animegame</span></span></div>
<div >
<br /></div>
<div >
<span ><span >Descarga Mediafire:<br /><a href="https://ouo.io/PesSC8" target="_blank">Narcissu</a></span></span><br />
<span >contraseña: animegame</span></div>
<br /></div>
</div>
<div >
<iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/nHqXZKx9M9M/0.jpg" frame  src="https://www.youtube.com/embed/nHqXZKx9M9M?feature=player_embedded" ></iframe><br />
<br /></div>
</div>
<div>
<b ><span >Instrucciones de&nbsp;instalación:</span></b></div>
</div>
<div  >
<span >1.-Ejecutar "Narci2".</span></div>
<div  >
<span >2.-Entrar a Start y escoger la primera opción.</span></div>
<div  >
<span >3.- Seleccionar "Haeleth".</span></div>
<div  >
<span ><span >4.- Jugar.</span></span></div>
<div  >
<span ><br />----------------------------------------------------------------------------------<br /><br /><br /><span >Bonus: Epílogo de Himeko</span></span></div>
<div  >
<a href="https://4.bp.blogspot.com/-ftDp-VDwwh4/WFJpgjXZATI/AAAAAAAAB9c/99waINPxOuYwx3SfRuDV4CUn2SKmzaiDQCLcB/s1600/44.jpg" ><img   src="https://4.bp.blogspot.com/-ftDp-VDwwh4/WFJpgjXZATI/AAAAAAAAB9c/99waINPxOuYwx3SfRuDV4CUn2SKmzaiDQCLcB/s400/44.jpg"  /></a></div>
<span >Después de Narcissu 2.<br />Himeko ha regresado nuevamente al piso 7th.<br />Himeko no tiene más que un solo arrepentimiento -- Su mejor amiga Yuka.<br />Solo Himeko conocía la tímida y poco fiable personalidad de Yuka<br />Queda poco tiempo, su vida se agotará en un mes.<br />En ese tiempo. Hay algo que Himeko quiere hacer por su "Mejor amiga" ...</span><br />
<div  >
<br /></div>
<div >
<span ><b>Tipo:&nbsp;</b>Novela Cinetica</span></div>
<div >
<span ><span ><b>Estudio:&nbsp;</b><span >Stage_Nana</span></span></span></div>
<div >
<span ><span ><b>Subtítulos:&nbsp;</b>Completo</span></span></div>
<div >
<span ><span ><b>Agradecimientos:&nbsp;</b></span></span><a href="https://forums.fuwanovel.net/topic/15098-narcissu-himekos-epilogue-spanish-translation-espa%C3%B1ol/?"  target="_blank">Deep Blue</a></div>
<div >
<span ><span ><b>Duración: &lt;</b>2&nbsp;horas</span></span></div>
<div >
<span ><span ><b>Tamaño del Archivo: </b>334Mb</span></span></div>
<div  >
<br /></div>
<div>
<b><span >Descarga Mega:</span></b></div>
<div>
<a href="https://ouo.io/kMVtpj"  target="_blank"><span >Himeko</span></a><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><br /></span>
<div>
<b ><span >Instrucciones de&nbsp;instalación:</span></b></div>
<div  >
<span >1.-Ejecutar "Narci".</span></div>
<div  >
<span >2.- Jugar.</span></div>
<div  >
<span ><br /></span></div>
</div>
</div>

  </article>
</Layout>

  