---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Kara no Shoujo`
export const date = '2016-12-02T07:21:00.001-05:00' 
export const updated = '2022-09-28T00:01:02.607-05:00'
export const tags = ["español","Mediafire","visual novel",null,"Mega","Completo","visualnovelparapc","eroge","novela visual","Kara no Shoujo","gore"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/7811235788032937222/comments/default'
export const cover = 'https://4.bp.blogspot.com/-GxnFXG35fV8/WEFFiQmXBJI/AAAAAAAAB8o/MXOFfF8R-IgM-EQSBJP-sxEePD9hAmdVACLcB/s400/ImagenPortada_zpsae4085e2.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2016/12/kara-no-shoujo.html">Kara no Shoujo[Completo][Eroge]</a><br />
<br /></div>
<div >
<div  >
<a href="https://4.bp.blogspot.com/-GxnFXG35fV8/WEFFiQmXBJI/AAAAAAAAB8o/MXOFfF8R-IgM-EQSBJP-sxEePD9hAmdVACLcB/s1600/ImagenPortada_zpsae4085e2.jpg" ><img   src="https://4.bp.blogspot.com/-GxnFXG35fV8/WEFFiQmXBJI/AAAAAAAAB8o/MXOFfF8R-IgM-EQSBJP-sxEePD9hAmdVACLcB/s400/ImagenPortada_zpsae4085e2.jpg"  /></a></div>
<div  >
<br /></div>
</div>
<div  >
<span >La historia se ubica 10 años después de la segunda guerra mundial en donde el investigador privado Reiji Tokisaka es contactado en un parque por una misteriosa chica la cual le encarga un trabajo: "Quiero que busques algo. A mí. A mi verdadero yo”. Al mismo tiempo, el detective Kyozo Uozumi, un viejo amigo, le pide ayuda en la investigación de unos crímenes horribles que se están dando lugar en la ciudad, los cuales tienen un extraño parecido a unos asesinatos ocurridos hace 4 años atrás.</span></div>
<a name='more'></a><br />
<div  >
<span >Y como si esto fuese poco, el subdirector Saeki de la Academia de Chicas Ouba, a la que asiste la hermana menor de Reiji, le pide que investigue la extraña desaparición de 2 alumnas. Reiji se infiltra en la institución como profesor temporal para poder llevar a cabo su investigación. Con 3 casos en sus manos y el re encuentro con la chica misteriosa, su primera clienta, las seguidillas de asesinatos incesantes van a hacer que esto no sea algo fácil para Reiji. ¿Estarán los 3 casos conectados de alguna manera? ¿Cuál será la llave que devele el misterio?</span></div>
<div  >
<span ><br /></span></div>
<div >
<b><span >Imagenes:</span></b><br />
<div  >
<a href="https://4.bp.blogspot.com/-E5JOMBjdHcs/WEFQm74oPYI/AAAAAAAAB88/jR9giWtN8CIxQCMQS61sOL2QJrFmWZvAQCLcB/s1600/332.png" ><img   src="https://4.bp.blogspot.com/-E5JOMBjdHcs/WEFQm74oPYI/AAAAAAAAB88/jR9giWtN8CIxQCMQS61sOL2QJrFmWZvAQCLcB/s400/332.png"  /></a></div>
<br />
<div  >
<a href="https://1.bp.blogspot.com/-HnUeFggpK9Y/WEFQmysWcVI/AAAAAAAAB9A/47RWC9AraNojXd_kFn0QIed7BrGidyzpwCLcB/s1600/663.png" ><img   src="https://1.bp.blogspot.com/-HnUeFggpK9Y/WEFQmysWcVI/AAAAAAAAB9A/47RWC9AraNojXd_kFn0QIed7BrGidyzpwCLcB/s400/663.png"  /></a></div>
<div  >
<br /></div>
</div>
<div >
<div  >
<a href="https://2.bp.blogspot.com/-eQJrwqTvRC0/WEFS5kv9MlI/AAAAAAAAB9M/5EtJrTpNz0sV7dttQ-rxR1VDdHoq0dusACLcB/s1600/000.png" ><img   src="https://2.bp.blogspot.com/-eQJrwqTvRC0/WEFS5kv9MlI/AAAAAAAAB9M/5EtJrTpNz0sV7dttQ-rxR1VDdHoq0dusACLcB/s400/000.png"  /></a></div>
<div  >
<br /></div>
<span ><b><span >Nombre:</span><span >&nbsp;</span></b></span><span >Kara no Shoujo</span></div>
<div >
<span ><b>Tipo:&nbsp;</b>Eroge</span></div>
<div >
<span ><span ><b>Genero:&nbsp;</b>Misterio, Gore</span></span></div>
<div >
<span ><span ><b>Estudio:&nbsp;</b></span></span><span ><span  > Innocent Grey</span></span></div>
<div >
<span ><span ><b>Subtítulos:&nbsp;</b>Español Completo</span></span></div>
<div >
<span ><span ><b>Agradecimientos:&nbsp;</b><a href="http://ononoki.com/index/kara_no_shoujo/0-18" target="_blank">Ononoki</a></span></span></div>
<div >
<span ><span ><b>Duración: </b>10-30&nbsp;horas</span></span></div>
<div >
<span ><span ><b>Tamaño del Archivo:&nbsp;</b>809Mb</span></span><br />
<span ><span ><br /></span></span></div>
<div >
<span ><span ><b>Descarga Mega:</b></span></span></div>
<div >
<a href="https://ouo.io/XTEkJFp" target="_blank"><span >Kara no Shoujo</span></a></div>
<div >
<span ><span >contraseña: animegame</span></span></div>
<div >
<br /></div>
<div >
<span ><span ><b>Descarga Mediafire:</b><br /><a href="https://ouo.io/Pg5w2p" target="_blank">Kara no Shoujo</a></span></span></div>
<div >
<span ><span >contraseña: animegame</span></span><br />
<span ><span ><br /></span></span></div>
<div >
<span ><span ><b>Parche Español(v0.6.4):</b></span></span></div>
<div >
<span ><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><a href="http://www.mediafire.com/file/rkr961a6gq4oyet/%5BOnonoki.com%5D_Kara_no_Shoujo_-_Parche_v0.6.4.exe"  target="_blank">Mediafire (801Mb)</a><span ><span ><br /></span></span></span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b >Tutorial de Instalación:</b></span></div>
<div >
<div  >
<iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/j6ZMlTME5CY/0.jpg" frame  src="https://www.youtube.com/embed/j6ZMlTME5CY?feature=player_embedded" ></iframe></div>
<div  >
<br /></div>
<span ><b>Instrucciones:</b></span></div>
<div >
<span >1.- Cambiar la configuracion unicode a japones(Panel de control\Reloj, idioma y region\Administrativo\cambiar conf. unicode seleccionar japones y reiniciar)</span><br />
<span >2.- Extraer el parche en la carpeta del juego y ejecutar.<br />3,- Ejecutar Kara no Shoujo.exe</span></div>

  </article>
</Layout>

  