---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Haruka, Sueños de Invierno`
export const date = '2014-09-16T06:02:00.001-05:00' 
export const updated = '2018-03-07T02:19:41.254-05:00'
export const tags = ["español","visual novel",null,"Sueños de Invierno","Completo","visualnovelparapc","novela visual","Doujin","Haruka","novela cinetica"]
export const urlComments = 'http://www.visualnovelparapc.com/2014/09/haruka-suenos-de-invierno.html#comment-form'
export const cover = 'http://4.bp.blogspot.com/-kuckkJ-e-Iw/VBgXaRVpTLI/AAAAAAAABTk/j7uCk-5ymEk/s1600/screenshot0070.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2014/09/haruka-suenos-de-invierno.html">Haruka[NovelaCinetica][Español]</a></div>
<div >
<br /></div>
<div  >
<a href="http://4.bp.blogspot.com/-kuckkJ-e-Iw/VBgXaRVpTLI/AAAAAAAABTk/j7uCk-5ymEk/s1600/screenshot0070.jpg"  ><img   src="http://4.bp.blogspot.com/-kuckkJ-e-Iw/VBgXaRVpTLI/AAAAAAAABTk/j7uCk-5ymEk/s1600/screenshot0070.jpg"  /></a></div>
<div >
<br /></div>
<div >
<span >Es una historia corta sobre una chica llamada Haruka que esta prisionera en un templo. La temática es sobrenatural y misterio principalmente pero con algo de acción. Haruka no es un ser humano normal, ella tiene el poder para crear y controlar sueños. Debido a eso ella es obligada a trabajar para los habitantes locales, dándoles sus más anhelados sueños. Por muchos días ella esperó en ese templo, creciendo en odio y desesperanza, abusada por su amo de muchas maneras diferentes.</span></div>
<a name='more'></a><br />
<div >
<br /></div>
<div  >
<a href="http://4.bp.blogspot.com/-I2DULpU2SLo/VBgYq5NcgsI/AAAAAAAABTw/xJ-OvibAAVU/s1600/11.jpg"  ><img   src="http://4.bp.blogspot.com/-I2DULpU2SLo/VBgYq5NcgsI/AAAAAAAABTw/xJ-OvibAAVU/s1600/11.jpg"  /></a></div>
<br />
<div  >
<a href="http://2.bp.blogspot.com/-PrGSCbNf-bY/VBgYrzaZWAI/AAAAAAAABT4/ksPl1SappIY/s1600/12.jpg"  ><img   src="http://2.bp.blogspot.com/-PrGSCbNf-bY/VBgYrzaZWAI/AAAAAAAABT4/ksPl1SappIY/s1600/12.jpg"  /></a></div>
<div >
<br /></div>
<div >
<br /></div>
<div >
<span ><b ><span >Nombre</span><span >:</span><span >&nbsp;</span></b></span><span ><span >Haruka. Sueños de Invierno</span></span></div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;</span></span><span ><span >Novela Cinetica</span></span></div>
<div >
<span ><span ><b>Estudio:</b> S</span></span><span ><span >tw</span></span></div>
<div >
<span ><span ><span ><span >&nbsp;Genero:&nbsp;</span></span>Drama, Misterio</span></span></div>
<div >
<div >
<b >Subtitulos:</b><span ><span >&nbsp;Español</span><br /><b >Agradecimientos:</b><span >&nbsp;<span ><a href="http://stwprojects.blogspot.com/2014/08/descargar-haruka-suenos-de-invierno-pc.html"  target="_blank"><b>Stw projects</b></a></span></span></span></div>
<span ><span ><b>Duración:</b>&nbsp;1 - 3 horas</span></span></div>
<div >
<div >
<div >
<span ><span ><b>Tamaño del archivo:</b>&nbsp;70Mb</span></span><br />
<span ><span ><br /></span></span>
<br />
<div >
<b><span >Descarga Mediafire:</span></b></div>
<div >
<div >
<div>
<b ><a href="http://www.mediafire.com/download/4hatjbijy28j2nf/Haruka+HD.exe"  target="_blank">Haruka</a></b></div>
<div>
<br /></div>
<div>
<b >Instrucciones de&nbsp;instalación:</b></div>
<div>
<span >1.-Extraer y ejecutar el instalador</span></div>
<div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

  </article>
</Layout>

  