---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Eliza no Kusari`
export const date = '2014-06-10T04:50:00.000-05:00' 
export const updated = '2017-11-09T12:41:34.383-05:00'
export const tags = ["español","sin h","visual novel",null,"Eliza no Kusari","visualnovelparapc","novela visual","Doujin"]
export const urlComments = 'http://www.visualnovelparapc.com/2014/06/eliza-no-kusari.html#comment-form'
export const cover = 'http://3.bp.blogspot.com/-11vrS-zyjvg/U47m4rs_UkI/AAAAAAAABIQ/n3yZRwYuts8/s1600/1.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<span ><a href="http://visualnovelparapc.blogspot.com/2014/06/eliza-no-kusari.html">Eliza no Kusari[NovelaVisual][Español]</a></span></div>
<div >
<span ><br /></span></div>
<div  >
<a href="http://3.bp.blogspot.com/-11vrS-zyjvg/U47m4rs_UkI/AAAAAAAABIQ/n3yZRwYuts8/s1600/1.jpg"  ><img  src="http://3.bp.blogspot.com/-11vrS-zyjvg/U47m4rs_UkI/AAAAAAAABIQ/n3yZRwYuts8/s1600/1.jpg"   /></a></div>
<div  >
<br /></div>
<div  >
<span >Haruto es un chico cuya vida cambia constantemente. Su padre ha conseguido una nueva esposa y ahora todos se han mudado a una nueva casa.&nbsp;</span></div>
<div  >
<span >El mismo día de la mudanza, Haruto descubre una entrada para cruzar a la casa de al lado. Es aquí cuando el protagonista se verá envuelto en situaciones que lo llevaran a conocer a Elizabeth, una extraña chica a quien decide enamorar. &nbsp;Sin saber que detrás de ella, hay algo más…</span></div>
<a name='more'></a><div >
<span ><span ><br /></span></span>
<span ><span >Eliza no Kusari una novela visual creada con Novelty y desarrollada por un hispanohablante</span></span><br />
<br />
<b><span >Imagenes:</span></b></div>
<div  >
<a href="http://2.bp.blogspot.com/-R4XyaQEyLGk/U47re0o04mI/AAAAAAAABIc/dB3RBTCVQK4/s1600/1.jpg"  ><img  src="http://2.bp.blogspot.com/-R4XyaQEyLGk/U47re0o04mI/AAAAAAAABIc/dB3RBTCVQK4/s1600/1.jpg"   /></a></div>
<br />
<div  >
<a href="http://4.bp.blogspot.com/-RUTxu9Hb9TE/U47rgIViPVI/AAAAAAAABIk/J3XG8qG6L3Q/s1600/2.jpg"  ><img  src="http://4.bp.blogspot.com/-RUTxu9Hb9TE/U47rgIViPVI/AAAAAAAABIk/J3XG8qG6L3Q/s1600/2.jpg"   /></a></div>
<br />
<div  >
<a href="http://4.bp.blogspot.com/-qtPCWFZHYuQ/U47rhLxYoSI/AAAAAAAABIs/OF7FV5PvC7o/s1600/3.jpg"  ><img  src="http://4.bp.blogspot.com/-qtPCWFZHYuQ/U47rhLxYoSI/AAAAAAAABIs/OF7FV5PvC7o/s1600/3.jpg"   /></a></div>
<div >
<br /></div>
<div >
<span ><b >Nombre:&nbsp;</b><span >Eliza no Kusari</span></span></div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;Novela Visual</span></span></div>
<div >
<span ><b >Estudio:</b><span ><span >&nbsp;</span><span >Hammer</span></span></span></div>
<div >
<span ><b >&nbsp;Genero:</b><span >&nbsp;Drama, Vida diaria</span></span></div>
<div >
<b >Subtitulos:</b><span ><span >&nbsp;Español</span><br /><b >Agradecimientos:</b><span >&nbsp;<a href="http://elizanokusari.blogspot.com/" ><b>Eliza no Kusari</b></a><br /><b>Duración:&nbsp;</b>50 minutos aprox.</span></span></div>
<div >
<div >
<span ><span ><b>Tamaño del archivo:&nbsp;</b>110</span><span >M</span><span >b</span></span></div>
<div >
<span ><span ><br /></span></span>
</div>
<div >
<b><span >Descarga Mediafire:</span></b></div>
<div >
<div >
<div >
<b ><a href="http://www.mediafire.com/download/1g50iccgjefn94y/Eliza+no+Kusari.rar"  target="_blank">Eliza no Kusari</a></b></div>
<div >
<br /></div>
<div >
<b >Instrucciones de&nbsp;instalación:</b></div>
<div >
<span >1.-Extraer y ejecutar el instalador</span></div>
<div >
<span ><br /></span></div>
<span >Nota: El juego solo esta disponible hasta el capitulo 1</span></div>
</div>
</div>
</div>

  </article>
</Layout>

  