---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Mahou Tsukai No Yoru`
export const date = '2014-02-07T09:27:00.004-05:00' 
export const updated = '2022-12-31T02:21:27.683-05:00'
export const tags = ["español","sin h",null,"Mahou Tsukai No Yoru","Mahoutsukai No Yoru","visualnovelparapc","Witch on the Holy Night","novela visual","novela cinetica"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/5991571697932558330/comments/default'
export const cover = 'https://2.bp.blogspot.com/-cdeoFW9to4E/UvToebDaY8I/AAAAAAAAA84/2crDKh3Iog0/s1600/2.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2014/02/mahou-tsukai-no-yoru.html">Mahou Tsukai No Yoru[NovelaCinetica][Español]</a></div>
<div >
<br /></div>
<div  >
<a href="http://2.bp.blogspot.com/-cdeoFW9to4E/UvToebDaY8I/AAAAAAAAA84/2crDKh3Iog0/s1600/2.jpg" ><img   src="https://2.bp.blogspot.com/-cdeoFW9to4E/UvToebDaY8I/AAAAAAAAA84/2crDKh3Iog0/s1600/2.jpg"  /></a></div>
<div >
<br /></div>
<div >
<span >A finales del año 1989 en Japón, se rumorea que una vieja mansión en lo alto de una colina es el hogar de una bruja. Aoko Aozaki, después de mudarse a dicha mansión, comienza su entrenamiento de hechicería a cargo de una joven maga, Alice Kuonji, la rumoreada bruja de la mansión. Un día, inesperadamente llega a vivir con ellas un joven, Shizuki Soujuurou.</span></div>
<a name='more'></a><br />
<div >
<span >"El niño vivió una vida normal</span></div>
<div >
<span >Ella vivía con orgullo y confianza</span></div>
<div >
<span >La niña vivía oculta como si estuviera dormida"</span></div>
<div >
<br /></div>
<div >
<span ><span ><b>Imagenes:</b></span></span></div>
<div >
<br /></div>
<div  >
<a href="http://1.bp.blogspot.com/-1Sbr92UI0Kc/UvTkKr-CqAI/AAAAAAAAA8k/nhJyc2B6Bgc/s1600/3.jpg" ><img   src="https://1.bp.blogspot.com/-1Sbr92UI0Kc/UvTkKr-CqAI/AAAAAAAAA8k/nhJyc2B6Bgc/s1600/3.jpg"  /></a></div>
<div >
<br /></div>
<div  >
<a href="http://4.bp.blogspot.com/-o4x-e0djJic/UvTkK8gNXeI/AAAAAAAAA8o/puAOWm53tjA/s1600/4.jpg" ><img   src="https://4.bp.blogspot.com/-o4x-e0djJic/UvTkK8gNXeI/AAAAAAAAA8o/puAOWm53tjA/s1600/4.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<a href="http://3.bp.blogspot.com/-9Uqbuc5Scq0/UvTkJeyQ7qI/AAAAAAAAA8g/mUGArvFFemU/s1600/5.jpg" ><img   src="https://3.bp.blogspot.com/-9Uqbuc5Scq0/UvTkJeyQ7qI/AAAAAAAAA8g/mUGArvFFemU/s1600/5.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b >Nombre: </b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >Mahou Tsukai No Yoru</span></span></div>
<div >
<div >
<div >
<span ><b >Tipo:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >&nbsp;</span><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >Novela Cinetica</span></span></span></div>
</div>
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span ><span ><b>Genero:</b>&nbsp; Drama, Sobrenatural, Romance</span></span></span></div>
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><b>Estudio:&nbsp;</b>TYPE-MOON</span></span></div>
</div>
<div >
<div >
<div >
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><b >Subtítulos:</b><span >&nbsp;Español 1 cap<br /><b>Agradecimientos:</b>&nbsp;</span></span><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><a href="http://mahoyospanish.blogspot.com.es/" target="_blank">MahouTsukai No Yoru en español</a></span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b>Clasificación:</b></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >+15</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b>Duración:</b>&nbsp;10-30 horas</span></div>
</div>
</div>
<div >
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><b>Tamaño del Archivo: </b>6.80Gb</span></span></div>
</div>
</div>
<div >
<br />
<b ><span >Descarga del juego:</span></b><br />
<br />
<b ><span >Descarga Mega:</span></b><br />
<b><a href="https://ouo.io/uGFgeC" target="_blank">Mahou Tsukai No Yoru</a></b><br />
<b >contraseña:</b><span >&nbsp;animegame</span><b><br />-<br /><span >Descarga Torrent:</span></b></div>
<div >
<b><span ><a href="https://ouo.io/e7ULx6" target="_blank">Mahou Tsukai No Yoru</a></span></b></div>
<div >
<span ><span ><b><br /></b></span></span></div>
<div >
<span ><b><span >Descarga del parche:</span></b></span></div>
<div >
<span ><b><span ><br /></span></b></span></div>
<div >
<span >Español+NoDvd:</span><br />
<b><a href="http://www.mediafire.com/download/235w45q3mda3bbv/Parche.rar" target="_blank">Parche+NoDvd</a></b><br />
<a href="https://www.dropbox.com/s/aqyexx6nmiqiyhv/Chapter%201.5.zip?dl=0" target="_blank"><b>Actualización parche (08/09/14)</b></a><br />
<br />
<b >Tutorial de instalación:</b><br />
<div  >
<object  classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" data-thumbnail-src="https://i1.ytimg.com/vi/0oL6R1MCdbg/0.jpg"  ><param name="movie" value="https://www.youtube.com/v/0oL6R1MCdbg?version=3&amp;f=user_uploads&amp;c=google-webdrive-0&amp;app=youtube_gdata" /><param name="bgcolor" value="#FFFFFF" /><param name="allowFullScreen" value="true" /><embed allowfullscreen="true"  src="https://www.youtube.com/v/0oL6R1MCdbg?version=3&amp;f=user_uploads&amp;c=google-webdrive-0&amp;app=youtube_gdata" type="application/x-shockwave-flash" ></embed></object></div>
<br />
<b >Instrucciones:</b><br />
<span >1.-Cambiar el idioma regional unicode a japones y extraer(puede demorar)<br />2.- Instalar y copiar el directorio en donde se instalan los parches<br />3.- Remplazar los archivos de NoDvd en donde se instalo el juego<br />4.- Ir a la carpeta de los parches y pegar los archivos .xp3<br />5.- Ejecutar "</span><span ><span >魔法使いの夜</span><span >" y disfrutar &lt;,&lt;</span></span></div>
<div >
<b><span ><span ><br /></span></span></b></div>
<div >
<b ><span >Nota: el juego solo esta traducido hasta el primer capitulo</span></b></div>

  </article>
</Layout>

  