---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Hoshizora no Memoria`
export const date = '2018-04-27T05:51:00.002-05:00' 
export const updated = '2022-09-27T00:46:18.261-05:00'
export const tags = ["español","visual novel",null,"Mega","Completo","Hoshizora no Memoria","visualnovelparapc","eroge","novela visual"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/5743241296737794785/comments/default'
export const cover = 'https://3.bp.blogspot.com/-rLJt77Jfx8E/WuGlch5uH7I/AAAAAAAAC7s/qc6MIPZuRksQvDu5NtcuuT0lKpUSURarwCLcBGAs/s1600/110.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="https://visualnovelparapc.blogspot.com/2018/04/hoshizora-no-memoria.html" target="_blank">Hoshizora no Memoria[Eroge][Completo]</a><br />
<br />
<div  >
<a href="https://3.bp.blogspot.com/-rLJt77Jfx8E/WuGlch5uH7I/AAAAAAAAC7s/qc6MIPZuRksQvDu5NtcuuT0lKpUSURarwCLcBGAs/s1600/110.jpg" ><img    src="https://3.bp.blogspot.com/-rLJt77Jfx8E/WuGlch5uH7I/AAAAAAAAC7s/qc6MIPZuRksQvDu5NtcuuT0lKpUSURarwCLcBGAs/s1600/110.jpg" /></a></div>
<div  >
<br /></div>
<span >Kogasaka You regresa a su ciudad natal luego de varios años. En ella se reencuentra nuevamente con una chica llamada Mare, que se parece a la chica con la cual había hecho una promesa 7 años atrás de volver a reunirse en el observatorio. En el momento que You estaba acordándose del pasado, Mare le pide que cierre los ojos y lo golpea con su guadaña.</span><br />
<a name='more'></a><span ><br /></span>
<span >Mare se presenta como una Shinigami (ángel de la muerte) y le dice que sus pesadillas han acabado y que es libre de avanzar tranquilamente su vida.</span><br />
<span >You y Mare les encanta observar las estrellas, así que siempre vuelven a encontrarse en el observatorio para observarlas. Es tanto que You pertenece al club de astronomía del colegio, el cual por falta de miembros no es considerado un club oficial, así que You y los otros miembros deberán elaborar un plan para reclutar estudiantes.</span><br />
<div>
<span ><br /></span></div>
</div>
<div >
<span ><b >Imágenes:</b></span></div>
<div  >
<a href="https://1.bp.blogspot.com/-Efw1CugrAXU/WuLq6iO_VSI/AAAAAAAAC78/JOsnhznQeI4c3TuLlvI_jZMY-tuIdmFYACLcBGAs/s1600/10.jpg" ><img     src="https://1.bp.blogspot.com/-Efw1CugrAXU/WuLq6iO_VSI/AAAAAAAAC78/JOsnhznQeI4c3TuLlvI_jZMY-tuIdmFYACLcBGAs/s400/10.jpg"  /></a></div>
<br />
<div  >
<a href="https://2.bp.blogspot.com/-vPHIaaeFIQU/WuLq7xMKQ_I/AAAAAAAAC8A/lgtkcp2xmlU_Ym9lVInMJSB4CMYOeGNagCLcBGAs/s1600/11.jpg" ><img     src="https://2.bp.blogspot.com/-vPHIaaeFIQU/WuLq7xMKQ_I/AAAAAAAAC8A/lgtkcp2xmlU_Ym9lVInMJSB4CMYOeGNagCLcBGAs/s400/11.jpg"  /></a></div>
<br />
<div  >
<a href="https://1.bp.blogspot.com/-AN_SJoiRtzM/WuLq9BhrIwI/AAAAAAAAC8E/Bf1wKrnG8rYnN78X-NucZYOBcuhE2slnwCLcBGAs/s1600/13.jpg" ><img     src="https://1.bp.blogspot.com/-AN_SJoiRtzM/WuLq9BhrIwI/AAAAAAAAC8E/Bf1wKrnG8rYnN78X-NucZYOBcuhE2slnwCLcBGAs/s400/13.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<div >
<div >
<span ><b >Nombre: </b><span >Hoshizora no Memoria</span></span></div>
</div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp; Eroge</span></span><br />
<span ><b >Estudio:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >&nbsp;</span></span></span><span >Favorite</span></div>
<div >
<span ><b >&nbsp;Genero:</b><span >&nbsp;Romance, Comedia</span></span></div>
<div >
<span ><b >Subtitulos:</b><span ><span >&nbsp;Español Completo</span><br /><b >Agradecimientos:</b><span ><span ><span >&nbsp;</span></span><a href="http://sharin-sub.es/" target="_blank">Sharin-sub</a></span></span></span><br />
<div >
<span ><span ><span ><b>Duración:</b>&nbsp;30 - 50 horas</span></span></span></div>
</div>
<div >
<span ><span ><b>Tamaño del archivo:&nbsp;</b>3.28G</span><span >b</span></span></div>
</div>
<div >
<div >
<br /></div>
<div >
<b><span >Descarga Mega:</span></b></div>
<div>
<div >
<a href="https://ouo.io/B8t3Lq"  target="_blank"><b>Hoshizora no Memoria</b></a></div>
<div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span></div>
<div >
<br /></div>
<div >
<b><span >Descarga Mediafire:</span></b></div>
<div>
<div >
<b><span ><a href="https://ouo.io/bCvTf5" target="_blank">Hoshizora no Memoria</a></span></b></div>
<div>
<div >
<div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span></div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><br /></span></div>
<div >
<b><span >Descarga Torrent:</span></b></div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ></span></div>
<div>
<div >
<span ><span ><b><a href="https://ouo.io/C7Smfc" target="_blank">Hoshizora no Memoria</a></b></span></span></div>
<div >
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >contraseña</span><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span></div>
</div>
</div>
</div>
<div >
<br /></div>
<div >
<b >Parche</b><b >:</b><b >&nbsp;</b></div>
<div >
<b ><a href="https://mega.nz/#!gyAxBToJ!9ybkfFqCFwLX92DZSFH1YxdJZ-88iKFafK5iXpUggs4" target="_blank">Mega</a> /&nbsp;<a href="http://www.mediafire.com/file/34muh17p7t1wdjx/HoshiMemo-Completo.rar" target="_blank">Mediafire</a>&nbsp;</b><br />
<b ><br /></b>
<b ><b >Guía en español:</b><b ><span ><span ><br /><a href="http://sharin-sub.blogspot.pe/2018/04/hoshizora-no-memoria-wish-upon-shooting.html" target="_blank">Guía</a>&nbsp;</span></span></b></b></div>
</div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><br /></span></div>
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b>Opening:</b></span></div>
<div  >
<iframe allowfullscreen=""  data-thumbnail-src="https://i.ytimg.com/vi/bptWcFr1f9I/0.jpg" frame  src="https://www.youtube.com/embed/bptWcFr1f9I?feature=player_embedded" ></iframe></div>
<div >
<br /></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div >
<div >
<div >
<b ><span >Instrucciones de&nbsp;instalación:</span></b></div>
</div>
<div >
<div >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >1.-</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >&nbsp;Cambiar la conf. unicode a japones para su correcto funcionamiento</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >(Panel de control\Reloj, idioma y región\Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc)</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >.</span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >2.- Montar y instalar el iso con <a href="http://adf.ly/4969688/daemontoolslite" target="_blank">Daemon Tools</a>.</span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >3.- Extraer el parche y pegar en la carpeta del juego</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >.</span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >4.- Instalar la fuente, ejecutar Memoriaes y seleccionar la fuente <a href="https://puu.sh/A8rZd/cb74d0d8d9.png" target="_blank">así</a>.</span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >5.- Disfrutar :D.</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span ><br /></span></span>
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >El orden de rutas recomendado para jugar es el siguiente:</span></span><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><span >&nbsp; &nbsp; Asuho&gt;Komomo&gt;Kosame&gt;Isuzu&gt;Chinami&gt;Chica misteriosa&gt;Mare</span></span></div>
</div>
</div>

  </article>
</Layout>

  