---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '@fontsource/lilita-one'
import '@fontsource-variable/asap'
import '@fontsource/concert-one'

const { title } = Astro.props
---

<!doctype html>
<html lang="es" class="w-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <!-- Google tag ( gtag.js) -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-ZMTWJ2Y9VG"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-ZMTWJ2Y9VG')
    </script>
  </head>
  <body class="">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  body {
    @apply bg-gradient-to-r from-slate-300 via-slate-300 to-slate-400;
  }
</style>
