---
import { url as urlBase } from '../scripts/url'
import Comments from '../components/Comments.astro'
import Header from '../components/Header.astro'
import '@fontsource/lilita-one'
import '@fontsource-variable/asap'
import '@fontsource/concert-one'

const { title, lastUrl } = Astro.props
console.log(lastUrl, 'la ultima ruta')
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>
      {title}
    </title>
    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-ZMTWJ2Y9VG"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-ZMTWJ2Y9VG')
    </script>
  </head>
  <body>
    <Header />
    <h1
      class="pl-10 text-2xl p-1 font-lilita bg-gradient-to-r text-rose-900 from-rose-300 to-rose-500"
    >
      {title}
    </h1>
    <section class="p-5 bg-white text-black">
      <Comments />
    </section>
    <div class="w-full text-2xl md:w-1/2 mx-auto py-10">
      <slot />
    </div>
  </body>
</html>
