---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Android `
export const date = '2015-11-12T08:44:00.000-05:00' 
export const updated = '2015-11-12T08:44:33.980-05:00'
export const tags = [null]
export const urlComments = 'null'
export const cover = 'http://2.bp.blogspot.com/-nxMlSjQbYzI/UwM38gjhecI/AAAAAAAAA_M/uMyOJcpZtzE/s1600/3.jpg'

---

<Layout title = {title} >
  <article>
  <div  >
<br /></div>
<div  >
<span ><span ><b>Android</b></span><br /><br />En esta sección se publicaran VN para android.</span></div>
<div >
<br /></div>
<div >
<span ><span ><b><u>Over The Rainbow(Vnd)+18</u></b></span></span></div>
<div  >
<br /></div>
<div  >
<a href="http://2.bp.blogspot.com/-nxMlSjQbYzI/UwM38gjhecI/AAAAAAAAA_M/uMyOJcpZtzE/s1600/3.jpg"  ><img   src="http://2.bp.blogspot.com/-nxMlSjQbYzI/UwM38gjhecI/AAAAAAAAA_M/uMyOJcpZtzE/s1600/3.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<span ><span ><b>instrucciones:</b><br />1.- descargar y instalar vnd(<a href="https://www.dropbox.com/s/lsw2i9fq2esn17f/VNDS%20Interpreter_1.6.7.apk?dl=0"><b>vnd</b></a>)<br />2.- descargar el juego(no es el mismo del blog)(<a href="http://www.mediafire.com/download/n191d54203lyimd/Over+The+Rainbow.zip"><b>over</b></a>)<br />3.- crea las carpetas en tu android de esta forma sdcard/vnds/novels<br />4.- extrae el zip en esa dirección(no extraigan los zip: sound,script,fore..,back..)<br />5.- abres vnd y seleccionas el juego.</span></span></div>
<div  >
<span ><span ><br /></span></span></div>
<div  >
<span ><span >---</span></span></div>
<br />
<div >
<b ><span ><u>Saya no Uta(Vnd)+18</u></span></b></div>
<div  >
<b ><span ><br /></span></b></div>
<div  >
</div>
<div  >
<a href="http://4.bp.blogspot.com/-MawPl0d3UI4/UwM39V6CmaI/AAAAAAAAA_U/FzTj6ipXWVo/s1600/2.jpg"  ><img   src="http://4.bp.blogspot.com/-MawPl0d3UI4/UwM39V6CmaI/AAAAAAAAA_U/FzTj6ipXWVo/s1600/2.jpg"  /></a></div>
<br />
<div >
<span ><b>instrucciones:</b></span></div>
<div >
<span >1.- descargar y instalar vnd(</span><a href="https://www.dropbox.com/s/lsw2i9fq2esn17f/VNDS%20Interpreter_1.6.7.apk?dl=0" ><b>vnd</b></a><span >)</span></div>
<div >
<span >2.- descargar el juego(no es el mismo del blog)(</span><a href="http://www.mediafire.com/download/aagi2ha42zj82eh/Saya_no_uta.zip" ><b>Saya</b></a><span >)</span><span ><span ><br /></span></span></div>
<div  >
<span ><span >3.- descargar el audio(<a href="http://www.mediafire.com/download/kn0p96ut564rdel/sound.zip">link</a>)lo pegan dentro de la carpeta Saya no Uta</span></span></div>
<div >
<span >4.- crea las carpetas en tu android de esta forma sdcard/vnds/novels</span></div>
<div >
<span >5.- extrae el zip en esa dirección(no extraigan los zip: sound,script,fore..,back..)</span></div>
<div >
<span >5.- abres vnd y seleccionas el juego.</span><br />
<span ><br /></span></div>
<div >
<span >---</span></div>
<span >
</span>
<br />
<div  >
<span ><br /></span></div>
<div  >
<span ><span ><u><b>Umineko no Naku Koro ni(Vnd)</b></u></span></span></div>
<div  >
<br /></div>
<div  >
<a href="http://3.bp.blogspot.com/-az688AsjzQI/UmCEIKr1p-I/AAAAAAAAAVA/3gBw-SgUva0/s1600/1.jpg"  ><img   src="http://3.bp.blogspot.com/-az688AsjzQI/UmCEIKr1p-I/AAAAAAAAAVA/3gBw-SgUva0/s1600/1.jpg"  /></a></div>
<div  >
<span ><br /></span></div>
<div  >
<span ><span >1.-Descargar el juego(no es el mismo del blog)<a href="https://www.mediafire.com/folder/v41o9csm3yrj9/Umineko_Android">Link</a>&nbsp;y instalar el vnd</span></span><span >(</span><a href="https://www.dropbox.com/s/lsw2i9fq2esn17f/VNDS%20Interpreter_1.6.7.apk?dl=0" ><b>vnd</b></a><span >)</span></div>
<div  >
<span ><span >2.-Crea una carpeta llamada "vnds" y dentro de ella, otra con el nombre de "novels"</span></span></div>
<div  >
<span ><span >3.-Quedaría un directorio así: root/vnds/novels o sdcard/vnds/novels</span></span></div>
<div  >
<span ><span >4.-Dentro de "novels" pon la carpeta "umineko" tal como está, no descomprimas los .zip dentro de ella.</span></span></div>
<div  >
<span ><span >--</span></span></div>
<div  >
<br /></div>
<div  >
<a href="http://3.bp.blogspot.com/-KfdlYT3MUqk/VBa2evdfPQI/AAAAAAAABTU/3Q3fs23MGqQ/s1600/ons.png"  ><img  src="http://3.bp.blogspot.com/-KfdlYT3MUqk/VBa2evdfPQI/AAAAAAAABTU/3Q3fs23MGqQ/s1600/ons.png" /></a></div>
<div  >
<span >-El Onscripter adaptado en android</span></div>
<div  >
<br /></div>
<div >
<b><span ><span ><u>Narcissu</u></span></span></b></div>
<div  >
<a href="http://2.bp.blogspot.com/-yeoxzzjIAig/UwM37Ln7RoI/AAAAAAAAA_E/KHGyoWgCK-Q/s1600/1.jpg"  ><img   src="http://2.bp.blogspot.com/-yeoxzzjIAig/UwM37Ln7RoI/AAAAAAAAA_E/KHGyoWgCK-Q/s1600/1.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<span ><span ><b>instrucciones:</b></span></span></div>
<div >
<span >1.-descargar y instalar ons en android(</span><a href="http://onscripter.sourceforge.jp/android/ONScripter-20120826-1byte-debug.apk" ><b>ons</b></a><span >)</span></div>
<div >
<span ><span >2.- descargar Narcissu (</span><a href="http://visualnovelparapc.blogspot.com/2013/10/narcissu-novela-visual.html"><b>link</b></a><span >)</span></span><span ><br />3.- pasar el juego a tu android y abrir el onscripter</span><span ><br />4.-seleccionas la carpeta del juego</span></div>
<span ></span><br />
<div  >
</div>
<div>
</div>
<br />
<div >
<div >
<br /></div>
<div >
<b><u><span >Monster Girl Quest</span></u></b></div>
</div>
<div  >
<a href="http://4.bp.blogspot.com/-PMjmTGZFOqk/UnnBhVEOM3I/AAAAAAAAAlQ/2f2e-iZJZTw/s1600/5.jpg"  ><img   src="http://4.bp.blogspot.com/-PMjmTGZFOqk/UnnBhVEOM3I/AAAAAAAAAlQ/2f2e-iZJZTw/s1600/5.jpg"  /></a></div>
<div  >
<span ><span ><b>instrucciones:</b></span></span></div>
<div >
<span >1.-descargar y instalar ons en android(</span><a href="http://onscripter.sourceforge.jp/android/ONScripter-20120826-1byte-debug.apk" ><b>ons</b></a><span >)</span></div>
<div >
<span ><span >2.- descargar el juego(</span><a href="http://visualnovelparapc.blogspot.com/2013/11/monster-girl-quest.html"><b>link</b></a><span >) luego de haber parchado, borrar el "en" del nombre del ejecutable</span></span><span ><br />3.- pasar el juego a tu android y abrir el onscripter</span><span ><br />4.-seleccionas la carpeta del juego</span><br />
<br /></div>
<div  >
<u><span ><b>The Dandelion Girl</b></span></u></div>
<div  >
<a href="http://4.bp.blogspot.com/-dkgrxYinJx0/UrZWMg5i9pI/AAAAAAAAAxE/qSPv5iSiNnM/s1600/6.jpg"  ><img   src="http://4.bp.blogspot.com/-dkgrxYinJx0/UrZWMg5i9pI/AAAAAAAAAxE/qSPv5iSiNnM/s1600/6.jpg"  /></a></div>
<div  >
<span ><span ><b>instrucciones:</b></span></span></div>
<div >
<span >1.-descargar y instalar ons en android(</span><a href="http://onscripter.sourceforge.jp/android/ONScripter-20120826-1byte-debug.apk" ><b>ons</b></a><span >)</span></div>
<div >
<span ><span >2.- descargar el juego(</span><a href="http://visualnovelparapc.blogspot.com/2013/12/the-dandelion-girl.html"><b>link</b></a><span >)</span></span><span ><br />3.- pasar el juego a tu android y abrir el onscripter</span><span ><br />4.-seleccionas la carpeta del juego</span></div>
<div  >
<br /></div>
<div  >
<span ><u><b><span >Kagetsu Tohya</span></b></u></span></div>
<div  >
<a href="http://4.bp.blogspot.com/-DIbKYPX5NAA/VOMARDV102I/AAAAAAAABfY/CSjYfISBUb8/s1600/555.jpg"  ><img  src="http://4.bp.blogspot.com/-DIbKYPX5NAA/VOMARDV102I/AAAAAAAABfY/CSjYfISBUb8/s1600/555.jpg" /></a></div>
<span ><span >1.- Descargar Kagetsu Tohya(<b><a href="http://visualnovelparapc.blogspot.com/2013/10/kagetsu-tohya.html" target="_blank">link</a></b>)</span></span><br />
<div  >
<span ><span >1.-En una carpeta llamada Kagetsu Tohya poner los archivos Carpeta "CD" Y "arc.nsa" (el mas pesado)de los archivos del juego y cambiarle el nombre por arc1.nsa.</span></span></div>
<div  >
<span ><span >2.-En esa misma carpeta poner los archivos del parche no debería sustituir nada.</span></span></div>
<div  >
<span ><span >3.-Pasar al android y jugar con onscripter(<b><a href="http://onscripter.sourceforge.jp/android/android.html" target="_blank">link</a></b>) la mejor versión es la que dice 2012 al final.</span></span></div>
<div >
<br /></div>
<div  >
<span ><span >--</span></span></div>
<div  >
</div>
<div  >
<br /></div>
<div  >
<a href="http://4.bp.blogspot.com/-y0Rs9B4dlzI/VFyCvnCpNxI/AAAAAAAABWo/7XQF57v7jcI/s1600/1.jpg"  ><img  src="http://4.bp.blogspot.com/-y0Rs9B4dlzI/VFyCvnCpNxI/AAAAAAAABWo/7XQF57v7jcI/s1600/1.jpg" /></a></div>
<div  >
<span >Kirikiroid2: Emulador android para novelas con motor kirikiri(xp3)</span></div>
<div  >
<b><u><br /></u></b></div>
<div  >
<b><u><br /></u></b></div>
<div  >
<span ><span ><b><u>Imouto Ijime</u></b></span></span></div>
<div  >
<a href="http://3.bp.blogspot.com/-KDIGd-qcdeE/VFyDiW_Ta_I/AAAAAAAABWw/JvuyaDG5dq4/s1600/1.png"  ><img   src="http://3.bp.blogspot.com/-KDIGd-qcdeE/VFyDiW_Ta_I/AAAAAAAABWw/JvuyaDG5dq4/s1600/1.png"  /></a></div>
<div  >
<span ><span ><b>instrucciones:</b></span></span></div>
<div >
<span >1.-Descargar y instalar kirikiroid2 en android(</span><a href="https://mega.nz/#!A08BDQSJ!iFPyuZTvzmOtCVRuKsYsBToqor5v4jIM4G-bEm5c8sc" ><b>kk2</b></a><span >)</span></div>
<div >
<span ><span >2.- Descargar el juego y parchar(</span><a href="http://visualnovelparapc.blogspot.com/2013/10/imouto-ijime.html"><b>link</b></a><span >)</span></span><span ><br />3.- Pasar el juego a tu android y cambiar el idioma en ajustes a japones(antepenultima opción)</span><span ><br />4.-Seleccionas la carpeta del juego "mnt/sdcard/ o mnt/external sdcard"<br />5.- Seleccionas el data.xp3 dentro de la carpeta del juego.</span><br />
<span >Nota:con este juego la unica forma de cargar y guadar es con el guardado automatico</span><br />
<b><u ><span ><br /></span></u></b>
<b><u ><span ><br /></span></u></b>
<b><u ><span >Lonely Yuri</span></u></b></div>
<div  >
<a href="http://2.bp.blogspot.com/-T7H6E77qDX4/VFyDkzv9xNI/AAAAAAAABW4/05PN-NMTr24/s1600/2.png"  ><img   src="http://2.bp.blogspot.com/-T7H6E77qDX4/VFyDkzv9xNI/AAAAAAAABW4/05PN-NMTr24/s1600/2.png"  /></a></div>
<div  >
<span ><span ><b>instrucciones:</b></span></span></div>
<div >
<span >1.-Descargar y instalar kirikiroid2 en android(</span><a href="https://mega.nz/#!A08BDQSJ!iFPyuZTvzmOtCVRuKsYsBToqor5v4jIM4G-bEm5c8sc" ><b>kk2</b></a><span >)</span></div>
<div >
<span ><span >2.- Descargar el juego y parchar(</span><a href="http://visualnovelparapc.blogspot.com/2014/01/lonely-yuri.html"><b>link</b></a><span >)</span></span><span ><br />3.- Pasar el juego a tu android y cambiar el idioma en ajustes a japones(antepenultima opción)</span><span ><br />4.-Seleccionas la carpeta del juego "mnt/sdcard/ o mnt/external sdcard"<br />5.- Seleccionas el data.xp3 dentro de la carpeta del juego.</span></div>
<div  >
<br /></div>
<div  >
<br /></div>
<div  >
<span ><span ><b><u>Sharin no Kuni, Himawari no Shoujo</u></b></span></span></div>
<div  >
<a href="http://2.bp.blogspot.com/-sYcCSod1shM/VFyDluqRygI/AAAAAAAABXA/7w6w2xqy-jA/s1600/3.png"  ><img   src="http://2.bp.blogspot.com/-sYcCSod1shM/VFyDluqRygI/AAAAAAAABXA/7w6w2xqy-jA/s1600/3.png"  /></a></div>
<div  >
<span ><span ><b>instrucciones:</b></span></span></div>
<div >
<span >1.-Descargar y instalar kirikiroid2 en android(</span><a href="https://mega.nz/#!A08BDQSJ!iFPyuZTvzmOtCVRuKsYsBToqor5v4jIM4G-bEm5c8sc" ><b>kk2</b></a><span >)</span></div>
<div >
<span ><span >2.- Descargar el juego y parchar(</span><a href="http://visualnovelparapc.blogspot.com/2013/10/sharin-no-kuni-himawari-no-shoujo.html"><b>link</b></a><span >) y descargar este parche para que funcione correctamente</span></span><span >(</span><a href="https://mega.co.nz/#!YtwCgQzQ!V9hTa6kUhCW8XY63iW7B-iAZtepUOptL7kfSLIUxz8c" ><b>link</b></a><span >)</span><span >, extraer en la carpeta del juego.</span><br />
<span >3.- Pasar el juego a tu android y cambiar el idioma en ajustes a japones(antepenultima opción)</span><span ><br />4.-Seleccionas la carpeta del juego "mnt/sdcard/ o mnt/external sdcard"<br />5.- Seleccionas el data.xp3 dentro de la carpeta del juego.</span><br />
<span ><b><u ><br /></u></b></span>
<span ><b><u ><br /></u></b></span>
<span ><b><u >Okasare no Yuusha</u></b></span></div>
<div  >
<a href="http://4.bp.blogspot.com/-Y6ka9ygIGjY/VFyDm-R8wdI/AAAAAAAABXM/KgKIY9i7zkU/s1600/5.png"  ><img   src="http://4.bp.blogspot.com/-Y6ka9ygIGjY/VFyDm-R8wdI/AAAAAAAABXM/KgKIY9i7zkU/s1600/5.png"  /></a></div>
<div  >
<span ><span ><b>instrucciones:</b></span></span></div>
<div >
<span >1.-Descargar y instalar kirikiroid2 en android(</span><a href="https://mega.nz/#!A08BDQSJ!iFPyuZTvzmOtCVRuKsYsBToqor5v4jIM4G-bEm5c8sc" ><b>kk2</b></a><span >)</span></div>
<div >
<span ><span >2.- Descargar el juego y parchar(</span><a href="http://visualnovelparapc.blogspot.com/2014/06/okasare-yuusha.html"><b>link</b></a><span >)</span></span><span ><br />3.- Pasar el juego a tu android y cambiar el idioma en ajustes a japones(antepenultima opción)</span><span ><br />4.-Seleccionas la carpeta del juego "mnt/sdcard/ o mnt/external sdcard"<br />5.- Seleccionas el \data\ carpeta y no xp3, dentro de la carpeta del juego.</span></div>
<div  >
<br /></div>
<div  >
<br /></div>
<div  >
<span ><span ><b><u>Chichi Miko</u></b></span></span></div>
<div  >
<a href="http://2.bp.blogspot.com/-BLkheFmo7h8/VFyDmnOIWlI/AAAAAAAABXI/6t_9YYmhL7E/s1600/4.png"  ><img   src="http://2.bp.blogspot.com/-BLkheFmo7h8/VFyDmnOIWlI/AAAAAAAABXI/6t_9YYmhL7E/s1600/4.png"  /></a></div>
<div  >
<span ><span ><b>instrucciones:</b></span></span></div>
<div >
<span >1.-Descargar y instalar kirikiroid2 en android(</span><a href="https://mega.nz/#!A08BDQSJ!iFPyuZTvzmOtCVRuKsYsBToqor5v4jIM4G-bEm5c8sc" ><b>kk2</b></a><span >)</span></div>
<div >
<span ><span >2.- Descargar el juego y parchar(</span><a href="http://visualnovelparapc.blogspot.com/2014/10/chichi-miko.html"><b>link</b></a><span >)</span></span><span ><br />3.- Pasar el juego a tu android y cambiar el idioma en ajustes a japones(antepenultima opción)</span><span ><br /><span >4.-Seleccionas la carpeta del juego "mnt/sdcard/ o mnt/external sdcard"</span><br /><span >5.- Seleccionas el data.xp3 dentro de la carpeta del juego.</span><br /><br /><u><b><span >G-Senjou no Maou</span></b></u></span></div>
<div  >
<a href="http://2.bp.blogspot.com/-8JwNGg99iVY/VKPo3ntLfmI/AAAAAAAABbo/F7KzWm9hPoM/s1600/1.jpg"  ><img   src="http://2.bp.blogspot.com/-8JwNGg99iVY/VKPo3ntLfmI/AAAAAAAABbo/F7KzWm9hPoM/s1600/1.jpg"  /></a></div>
<div  >
<span ><span ><b>instrucciones:</b></span></span></div>
<div >
<span >1.-Descargar y instalar kirikiroid2 en android(</span><a href="https://mega.nz/#!A08BDQSJ!iFPyuZTvzmOtCVRuKsYsBToqor5v4jIM4G-bEm5c8sc" ><b>kk2</b></a><span >)</span></div>
<div >
<span ><span >2.- Descargar el juego y parchar(</span><a href="http://visualnovelparapc.blogspot.com/2014/12/g-senjou-no-maou.html" target="_blank"><b>link</b></a><span >) y descargar este parche para que funcione correctamente</span></span><span >(</span><a href="https://mega.co.nz/#!9pBFzZLQ!pHERCtADQuxy1Z1mPNRA77lRIAfVKYSNJx1Dlnss6ek" ><b>link</b></a><span >)</span><span >, extraer en la carpeta del juego.</span><span ><br />3.- Pasar el juego a tu android y cambiar el idioma en ajustes a japones(antepenultima opción)</span><span ><br />4.-Seleccionas la carpeta del juego "mnt/sdcard/ o mnt/external sdcard"<br />5.- Seleccionas el data.xp3 dentro de la carpeta del juego.</span><br />
<span ><br /></span>
<br />
<div  >
<span ><span ><b><u>My Girlfriend is the President</u></b></span></span></div>
<div  >
<a href="http://3.bp.blogspot.com/-QFwhezN7--k/VOL5dM2BscI/AAAAAAAABfI/zIMtsFcp3dA/s1600/777.jpg"  ><img   src="http://3.bp.blogspot.com/-QFwhezN7--k/VOL5dM2BscI/AAAAAAAABfI/zIMtsFcp3dA/s1600/777.jpg"  /></a></div>
<div  >
</div>
<div  >
<span ><span ><b>instrucciones:</b></span></span></div>
<div>
<span >1.-Descargar y instalar kirikiroid2 en android(</span><a href="https://mega.nz/#!A08BDQSJ!iFPyuZTvzmOtCVRuKsYsBToqor5v4jIM4G-bEm5c8sc" ><b>kk2</b></a><span >)</span></div>
<div>
<span ><span >2.- Descargar el juego y parchar(</span><a href="http://visualnovelparapc.blogspot.com/2015/02/my-girlfriend-is-president.html"><b>link</b></a><span >) y descargar este parche para que funcione correctamente</span></span><span >(</span><a href="https://mega.co.nz/#!IwYRHLCR!-3rkRz-i9D7HG5adpIgFMPVuuQmlUluFrvOHdCn8rDg" ><b>link</b></a><span >)</span><span >, extraer en la carpeta del juego.</span><br />
<span >3.- Pasar el juego a tu android y cambiar el idioma en ajustes a japones(antepenultima opción)</span><span ><br />4.-Seleccionas la carpeta del juego "mnt/sdcard/ o mnt/external sdcard"<br />5.- Seleccionas el data.xp3 dentro de la carpeta del juego.</span></div>
<span ><br /><span >--<br /><span ><br /><b>Este post tiene los comentarios bloqueados, Dudas y preguntas </b></span></span></span><span ><a href="http://visualnovelparapc.blogspot.pe/2013/01/android.html"><b>aquí</b></a></span></div>

  </article>
</Layout>

  