---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Ballad of an Evening Butterfly`
export const date = '2013-11-18T07:28:00.002-08:00' 
export const updated = '2017-11-09T09:42:06.363-08:00'
export const tags = ["Ballad of an Evening Butterfly","español","sin h",null,"balada de una mariposa nocturna","Completo","visualnovelparapc","novela visual"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/699739333960425615/comments/default'
export const cover = 'https://2.bp.blogspot.com/-JI6ImT3YjgM/UooqUIlXJaI/AAAAAAAAApw/kDO4gRSYaCs/s400/7.png'

---

<Layout title = {title} >
  <article>
  <div  ></div><div >&nbsp;<a href="http://visualnovelparapc.blogspot.com/2013/11/balada-de-una-mariposa-nocturna.html">Ballad of an Evening Butterfly[NovelaVisual][Español]</a><br /><span ><br /></span></div><div  ></div><div  ><a href="http://2.bp.blogspot.com/-JI6ImT3YjgM/UooqUIlXJaI/AAAAAAAAApw/kDO4gRSYaCs/s1600/7.png"  ><img   src="https://2.bp.blogspot.com/-JI6ImT3YjgM/UooqUIlXJaI/AAAAAAAAApw/kDO4gRSYaCs/s400/7.png"  /></a></div><span ><br /></span><br /><div ><span >Habiendo perdido la memoria, Sera Kaoru se detiene en el bosque y visita a una extraña casa de estilo occidental.</span></div><div ><span >Guiado por el dueño de la casa, el muchacho en ropa de negro, desciende la larga escalera caracol hacia el sótano.</span></div><a name='more'></a><br /><div ><span >Allí sentada, una doncella de ojos carmesi y piel blanca --- una "chica" de belleza impresionante.</span></div><div ><span >El trabajo de Kaoru es distraerla de su aburrimiento.</span></div><div ><br /></div><div ><b><span >Imagenes:</span></b></div><div  ><a href="http://2.bp.blogspot.com/-yvTErl1boRk/UoouqrzFs4I/AAAAAAAAAqA/ZKjHlNTo6v4/s1600/9.jpg"  ><img   src="https://2.bp.blogspot.com/-yvTErl1boRk/UoouqrzFs4I/AAAAAAAAAqA/ZKjHlNTo6v4/s400/9.jpg"  /></a></div><div  ><br /></div><div  ><a href="http://2.bp.blogspot.com/-AIcVrdu8ZLY/UoouqTjHCtI/AAAAAAAAAp8/dqhCLYVgb-k/s1600/8.jpg"  ><img   src="https://2.bp.blogspot.com/-AIcVrdu8ZLY/UoouqTjHCtI/AAAAAAAAAp8/dqhCLYVgb-k/s400/8.jpg"  /></a></div><div ><br /></div><div  ><span ><b >Nombre:&nbsp;</b></span><span ><span >&nbsp;Ballad of an Evening Butterfly</span></span></div><div ><div ><div ><span ><b >Tipo:</b><span >&nbsp;</span><span ><span >Novela Visual</span></span></span></div></div><div ><span ><span ><span ><b>Genero:</b>&nbsp; Drama, Misterio</span></span></span></div><div ><span ><span ><b>Estudio:</b>&nbsp;DejaVu</span></span></div></div><div ><div ><div ><div ><span ><b >Subtítulos:</b><span >&nbsp;Español</span></span><br /><span ><complete><span ><b>Agradecimientos: VisualNovelParaPc</b></span></complete></span><br /><span ><complete><span ><b >Duración:</b><span >&nbsp;2 - 10 Horas</span></span></complete></span></div></div></div><div ><div ><span ><span ><b>Tamaño del Archivo: </b>51MB</span></span><br /><div><span ><span ><br /><b>Descarga Mega:</b></span></span></div></div></div></div><div ><b ><a href="https://mega.nz/#!3Ml0QRaD!cILQKmiwn7dyxr7DyUJMVlWQZEU8KOVRTOeaxPyNUF8"  target="_blank">Ballad of an Evening Butterfly</a></b><span ><b><br />contraseña:</b> animegame<br /><br /><b>Descarga Mediafire:</b><br /><a href="http://www.mediafire.com/download/o7r19mopodf4nz5/Ballad%20of%20an%20Evening%20Butterfly%201.5e.exe" target="_blank"><b>Ballad of an Evening Butterfly</b></a><br /><b>contraseña: </b>animegame</span><br /><span ><br /></span></div><div ><div  ><b><span >Instrucciones de&nbsp;instalación:</span></b></div><div  ><span >Se encuentran dentro de la carpeta.</span></div></div>
  </article>
</Layout>

  