---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Juniper's knot`
export const date = '2013-11-20T11:35:00.001-05:00' 
export const updated = '2022-12-31T02:47:14.134-05:00'
export const tags = ["español","sin h",null,"Completo","juniper's knot","visualnovelparapc","novela visual","novela cinetica"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/250644812605844257/comments/default'
export const cover = 'https://3.bp.blogspot.com/-s_8IRwzewRc/UozQBiC1s3I/AAAAAAAAAqU/jhJGaS0EO_8/s400/6.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2013/11/junipers-knot.html">Juniper's knot[NovelaVisual]</a></div>
<div >
<br /></div>
<div  >
<a href="http://3.bp.blogspot.com/-s_8IRwzewRc/UozQBiC1s3I/AAAAAAAAAqU/jhJGaS0EO_8/s1600/6.jpg" ><img   src="https://3.bp.blogspot.com/-s_8IRwzewRc/UozQBiC1s3I/AAAAAAAAAqU/jhJGaS0EO_8/s400/6.jpg"  /></a></div>
<div  >
</div>
<div >
<br />
<span >Una corta novela cinética, es una historia narrada desde dos perspectivas: la de una diablesa y la de un chico. La historia comienza una mañana de otoño en un pueblo silencioso.</span></div>
<a name='more'></a><div >
<span ><br /><b>Imagenes:</b></span></div>
<div  >
<a href="http://4.bp.blogspot.com/-CBgKLTOhcnY/UozVthtiqnI/AAAAAAAAAqo/sK8XePWEd2s/s1600/7.jpg" ><img   src="https://4.bp.blogspot.com/-CBgKLTOhcnY/UozVthtiqnI/AAAAAAAAAqo/sK8XePWEd2s/s400/7.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<a href="http://3.bp.blogspot.com/-4aEtR1p_fXs/UozWDs9oF9I/AAAAAAAAAqs/qXksCw0bQGQ/s1600/8.jpg" ><img   src="https://3.bp.blogspot.com/-4aEtR1p_fXs/UozWDs9oF9I/AAAAAAAAAqs/qXksCw0bQGQ/s400/8.jpg"  /></a></div>
<br />
<div  >
<a href="http://1.bp.blogspot.com/-nIF_xJAj8IE/UozWEy3Ja6I/AAAAAAAAAq0/glPcIOMFkQs/s1600/9.jpg" ><img   src="https://1.bp.blogspot.com/-nIF_xJAj8IE/UozWEy3Ja6I/AAAAAAAAAq0/glPcIOMFkQs/s400/9.jpg"  /></a></div>
<div  >
<br /></div>
<div  >
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b >Nombre:&nbsp;</b></span><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span >Juniper's knot</span></span></div>
<div >
<div >
<div >
<span ><b >Tipo:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >&nbsp;</span><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >Novela Cinetica</span></span></span></div>
</div>
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span ><span ><b>Genero:</b>&nbsp; Drama, Demonios</span></span></span></div>
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><b>Estudio: </b>Dischan</span></span></div>
</div>
<div >
<div >
<div >
<span ><b >Idioma:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >&nbsp;Sin voces</span></span></div>
</div>
<div >
<div >
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><b >Subtítulos:</b><span >&nbsp;Español</span></span><br />
<b >Agradecimientos:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >&nbsp;<a href="http://junipersknot.dischan.org/?l=es">Dischan</a></span><br />
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><b>Duración:</b>&nbsp;&gt;2&nbsp;horas</span></span></div>
</div>
</div>
</div>
<div >
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><b>Tamaño del Archivo:&nbsp;</b>148MB</span></span><br />
<div>
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><br /><b>Descarga Mega:</b></span></span></div>
</div>
</div>
</div>
<div >
<b ><a href="https://ouo.io/ggRy9FO" target="_blank">Juniper's Knot</a></b><span ><b><br />contraseña:</b>&nbsp;animegame</span><br />
<b ><br /></b>
<b >Descarga Mediafire:</b><br />
<b ><a href="https://ouo.io/PtlOBO" target="_blank">Juniper's Knot</a></b><br />
<div >
<span ><b>contraseña:</b>&nbsp;animegame</span></div>
</div>
<div >
<br /></div>
<div >
<div  >
<b><span >Instrucciones de&nbsp;instalación:</span></b></div>
<div  >
<span >Se encuentran dentro de la carpeta.</span></div>
<div  >
<span ><br /></span></div>
</div>

  </article>
</Layout>

  