---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `School Days HQ`
export const date = '2013-11-14T13:26:00.007-05:00' 
export const updated = '2024-01-03T12:16:11.000-05:00'
export const tags = ["español","Mediafire","visual novel",null,"school days","Mega","school days hq","Completo","visualnovelparapc","eroge","novela visual"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/3196371152470973245/comments/default'
export const cover = 'https://3.bp.blogspot.com/-v9yUUAr1_vI/UoT8FGcG3aI/AAAAAAAAApI/lxfwXL9XvE4/s400/65.jpg'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2013/11/school-days-hq.html">School Days HQ[Completo][Eroge]</a><br />
<br /></div>
<div  >
<a href="http://3.bp.blogspot.com/-v9yUUAr1_vI/UoT8FGcG3aI/AAAAAAAAApI/lxfwXL9XvE4/s1600/65.jpg" ><img   src="https://3.bp.blogspot.com/-v9yUUAr1_vI/UoT8FGcG3aI/AAAAAAAAApI/lxfwXL9XvE4/s400/65.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >Makoto Itou, un estudiante de secundaria, se empieza a interesar en una chica que ve en el tren durante el camino a la escuela, Kotonoha Katsura, e incluso se las ingenia para sacarle una foto con su móvil. <br />Debido a cambios de sitio de los alumnos en su clase, él se termina sentando al lado de Sekai Saionji, quien al curiosear en el móvil de Makoto mientras hablaba con él, descubre su enamoramiento y decide ayudarlo hasta que Kotonoha Katsura acepte salir con él. </span></div>
<a name='more'></a><br />
<div >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >Gracias a Sekai, Makoto finalmente le declara sus sentimientos a Kotonoha y esta le corresponde. <br />Más tarde mientras Makoto esperaba a Kotonoha y Sekai esperaba su tren en la estación, él le da las gracias a Sekai por haberlo ayudado con su relación con Kotonoha y le dice que se lo pagará, Sekai aprovecha el momento para robarle un beso a Makoto y le dice que con eso bastará.&nbsp;</span><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >Debido a la indecisión de Makoto sobre sus sentimientos hacia Kotonoha y Sekai, empieza la historia de Drama y Romance "School Days".</span></div>
<div >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" ><br /></span></div>
<div >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >A diferencia de cualquier otra novela visual, School Days está totalmente animado, y con esto no nos referimos a animaciones simples, como movimientos de la boca al hablar o pestañeos, el juego es básicamente un anime en el que contamos con la posibilidad de elegir nuestro propio camino.<br />"Amor, odio, rivalidad y sangre en los más de 20 distintos finales que componen la historia de este ¿amoroso triángulo? estudiantil".</span></div>
<div >
<br /></div>
<div >
<b><span >Imagenes:</span></b></div>
<div >
<br /></div>
<div >
<div  >
<a href="http://1.bp.blogspot.com/-6pDqyenI6Tw/UoTyrtUGQYI/AAAAAAAAAow/kaM8rg8JrVs/s1600/9.bmp" ><img   src="https://1.bp.blogspot.com/-6pDqyenI6Tw/UoTyrtUGQYI/AAAAAAAAAow/kaM8rg8JrVs/s400/9.bmp"  /></a></div>
<div  >
<br /></div>
<div  >
<a href="http://2.bp.blogspot.com/-0aLvCAXZgVg/UoTyiLRKXnI/AAAAAAAAAoo/2w25fhy3BXA/s1600/8.png" ><img   src="https://2.bp.blogspot.com/-0aLvCAXZgVg/UoTyiLRKXnI/AAAAAAAAAoo/2w25fhy3BXA/s400/8.png"  /></a></div>
<br />
<div  >
<a href="http://4.bp.blogspot.com/-R4VmtwCn8AA/UoTyvNsLG0I/AAAAAAAAAo4/vTCBWE0vWik/s1600/10.bmp" ><img   src="https://4.bp.blogspot.com/-R4VmtwCn8AA/UoTyvNsLG0I/AAAAAAAAAo4/vTCBWE0vWik/s400/10.bmp"  /></a></div>
<br />
<div  >
<span ><b >Nombre:&nbsp;</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >School Days HQ</span></span></div>
<div >
<div >
<div >
<span ><b >Tipo:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >&nbsp;</span><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >Eroge</span></span></span></div>
</div>
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span ><span ><b>Genero:</b>&nbsp;Romance, Drama, Eroge</span></span></span></div>
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><b>Estudio:</b>&nbsp;Overflow</span></span></div>
</div>
<div >
<div >
<div >
<span ><b >Idioma:</b><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" >&nbsp;Japones</span></span></div>
</div>
<div >
<div >
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><b >Subtítulos:</b><span >&nbsp;Español Completo</span><complete id="goog_1173805724"><br /><span ><b>Agradecimientos: </b><a href="http://schooldays.es/">School Days HQ Español</a></span></complete></span></div>
</div>
</div>
<div >
<div >
<span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><span ><b>Tamaño del Archivo:&nbsp;</b>9.3GB</span></span></div>
</div>
</div>
<br />
<span ><span ><b>Sistema Operativo:</b>Windows XP/Vista/7/8<br /><b>CPU:</b> 2GHz o superior<br /><b>Memoria:</b> 1GB o&nbsp;más<br /><b>HDD:</b> Disco duro externo o interno<br /><b>Resolucion:</b> 800 x 600 minimo</span></span><br />
<span ><span >DirectX9.0 apoyo</span></span><br />
<br />
<b><span >Descarga Del Juego:</span></b><br />
<br />
<span ><span ><b>Descarga Mega:<br /><a href="https://ouo.io/S5CGmQA" target="_blank">School Days HQ</a></b></span></span><br />
<span ><b>contraseña:</b>animegame</span><br />
<div ><br /></div>
<span ><b>Descarga Mediafire:<br /><a href="https://ouo.io/Z0MFE92" target="_blank">School Days HQ</a></b></span><br /><span ><b>contraseña: </b>animegame<br /><br /><b>Descarga Torrent(Reparado):</b><br /><a href="https://ouo.io/DfPQ1o"  target="_blank">School Days HQ</a></span><b><span ><br /><br /><span >Importante:</span></span></b><span ><b><br />Update 1.02:<br /><a href="http://schooldays.us/support.html" target="_blank">Update</a>/<a href="https://www.mediafire.com/?2w84v54da6l0fpp" target="_blank">Mediafire</a><br />Es necesario aplicarlo<br /><br />Parche Español:<br /><a href="http://www.mediafire.com/download/ybw9zf51dzd2dxe/sdhqespatch.exe" target="_blank">Mediafire</a></b></span></div><div ><span ><br /></span></div><div ><span ><b>Guia en Español:</b><br /><b><a href="http://www.mediafire.com/download/nxn80q6z84z9gbj/Guia_SDHQEspanol_1.0.pdf" target="_blank">Guia</a></b></span></div><div ><span ><b><br /></b></span>
<b><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >Tutorial De Instalación(Actualizado 2023):</span></b><br />
<div  ><iframe allowfullscreen=""   src="https://www.youtube.com/embed/KgpHtgxK7uQ"  youtube-src-id="KgpHtgxK7uQ"></iframe></div><div  ><br /></div></div><div ><span ><b><span >Instrucciones de instalación:</span></b></span></div><div ><span ><span >1.- Extraemos la parte 1 o la ejecutamos, escribimos la contraseña animegame.<br />2.- Descargamos el update 1.02 y el parche al español.</span></span></div><div ><span ><span >3.- Extraemos el disc 1 con winrar, clic derecho y extraer aquí.</span></span></div><div ><span ><span >4.- Ahora extraemos el disc 2, si pide reemplazar, le damos en si a todo.</span></span></div><div ><span ><span >5.- Nos dará la carpeta Overflow, dicha carpeta la pegamos directamente en disco C.</span></span></div><div ><span ><span >6.- Ahora ejecutamos el update_1.02 y cuando nos pida ruta de instalación, no seleccionas(Ojo aquí es muy importante)pegamos esta dirección&nbsp;</span></span><span >C:\Overflow\schooldays hq y instalamos el parche, por eso es necesario que este en disco c mientras parcheamos</span><span >.</span></div><div ><span ><span >7.- Hacemos lo mismo con el parche al español, seleccionas la ruta de instalación&nbsp;</span></span><span >C:\Overflow\schooldays hq y listo</span><span >.</span></div><div ><span ><span >8.- Disfrutar :D&nbsp;</span></span><br /></div><div ><br /></div><div ><span ><span ><b>Soluciones a errores:</b></span></span></div><div ><span ><span >Si la pantalla se queda en negro o no hay sonido:<br /></span></span><span ><span >Solución: montar el DVD 2 e iniciar el juego con él. Ya debería funcionar correctamente.</span></span></div><div ><span ><span ><br /></span></span></div><div ><span ><span ><b>Si no se escuchan las voces:</b><br /></span></span><span ><span >Solución: ve a la carpeta del juego, busca el archivo "config.dat" y bórralo. La próxima vez que ejecutes el juego ya tendrá sonido. Ten en cuenta que tendrás que hacer esto cada vez que el juego no tenga sonido, además de reconfigurar las opciones del juego.</span></span></div>

  </article>
</Layout>

  