---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Sono Hanabira5 ~ Anata o Suki na Shiawase`
export const date = '2013-11-07T00:41:00.006-05:00' 
export const updated = '2023-05-04T18:17:43.377-05:00'
export const tags = ["español","sono hanabira-El placer de Amarte","sono hanabira ni kuchizuke wo",null,"yuri","Completo","visualnovelparapc","eroge","novela visual","sono hanabira"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/6970385779276770077/comments/default'
export const cover = 'https://4.bp.blogspot.com/-MF7pDl8ua3k/WJpRQs0hLTI/AAAAAAAACKI/y0OGy6Ij0bYoRJYDRdacQPHnRMJlv2M1QCPcBGAYYCw/s1600/55889.jpg'

---

<Layout title = {title} >
  <article>
  <div  >
<a href="http://visualnovelparapc.blogspot.com/2013/11/sono-hanabira5-el-placer-de-amarte.html" target="_blank">Sono Hanabira 5[Eroge][Yuri]</a></div>
<div >
<br /></div>
<div  >
<a href="https://4.bp.blogspot.com/-MF7pDl8ua3k/WJpRQs0hLTI/AAAAAAAACKI/y0OGy6Ij0bYoRJYDRdacQPHnRMJlv2M1QCPcBGAYYCw/s1600/55889.jpg" ><img    src="https://4.bp.blogspot.com/-MF7pDl8ua3k/WJpRQs0hLTI/AAAAAAAACKI/y0OGy6Ij0bYoRJYDRdacQPHnRMJlv2M1QCPcBGAYYCw/s1600/55889.jpg" /></a></div>
<div  >
<br /></div>
<div >
<span >La quinta entrega de la&nbsp;</span><span >saga Sono Hanabira, e</span><span >s la Secuela de&nbsp;</span><b><a href="https://visualnovelparapc.blogspot.com/2013/11/sono-hanabira3-unida-ti-por-amor.html"  target="_blank">Sono Hanabira3</a><span >&nbsp;</span></b><br />
<a name='more'></a></div>
<div >
<span ><br /></span>
<span >Reo esta fallando en clases y Mai le ayuda a aprobar. Para recompezar a Reo por aprobar su exámen, Mai acepta salir con Reo. Un dia durante clase, Reo es llamada a las oficinas de la escuela. Ella regresa actuando extrañamente. Despues de mucho indigar y preocuparse, Mai sigue sin saber que ocurrio. Esto resulta en una gran pelea entre Reo y Mai, porque Mai siente que Reo no confia en ella lo suficiente para compartir sobre sus problemas… Ellas eventualmente lo solucionan y termina en amor.</span></div>
<br />
<div >
<b><span >Imagenes:</span></b></div>
<div  >
<a href="http://4.bp.blogspot.com/-Jyy7mSjyo20/UnslZgSuvLI/AAAAAAAAAmM/d1DdFCdOSSE/s1600/6.jpg" ><img   src="https://4.bp.blogspot.com/-Jyy7mSjyo20/UnslZgSuvLI/AAAAAAAAAmM/d1DdFCdOSSE/s400/6.jpg"  /></a></div>
<br />
<div  >
<a href="http://4.bp.blogspot.com/-NmRQeRMp_1g/UnslaSLxhFI/AAAAAAAAAmU/KmZlBmtzMaU/s1600/7.jpg" ><img   src="https://4.bp.blogspot.com/-NmRQeRMp_1g/UnslaSLxhFI/AAAAAAAAAmU/KmZlBmtzMaU/s400/7.jpg"  /></a></div>
<div >
<br /></div>
<div >
<span ><b >Nombre:&nbsp;</b><span >Sono Hana 5</span></span></div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;Eroge</span></span></div>
<div >
<span ><b >Estudio:</b><span ><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >&nbsp;Fuguriya</span></span></span></span></div>
<div >
<span ><b >&nbsp;Genero:</b><span >&nbsp;Yuri, Romance, Eroge</span></span></div>
<div >
<span ><b >Idioma:&nbsp;</b><span >Japones</span></span></div>
<div >
<div >
<b >Subtitulos:</b><span ><span >&nbsp;Español</span><br /><b >Agradecimientos:</b><span >&nbsp;<a href="http://soulhunternofansub.blogspot.com/" >Sohulter no Fansub</a></span></span></div>
<span ><b>Duración:</b> 2-10 horas</span></div>
<div >
<span ><b >Tamaño del archivo:&nbsp;</b><span >176</span><span >M</span><span >b</span></span></div>
</div>
<div >
<div ><br /></div><div><b><span ><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif"><span >Descarga Mediafire:</span></span><br /><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif"><span ><a href="https://ouo.io/O74svt" target="_blank">Sono Hanabira 5</a></span></span><br />contraseña: animegame</span></b><br />
<b ><span ><br /><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif"><span >Instrucciones de&nbsp;instalación:</span></span></span></b></div><div><span ><span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif"><span ><div>1.- Cambiar la conf. unicode a japones(Panel de control\Reloj, idioma y region\</div><div>&nbsp; &nbsp; Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc) o usar Locale Emulator.</div></span></span></span></span></div>
</div>
<div  ><span >2.-Ejecutar como administrador Hanabira5</span></div>
<div >
<br />
<div  >
<span ><span >Posibles problemas</span><br /><span >1.-parpadea la ventana y se cierra el juego<br />&nbsp;Solución 1: Clic derecho al ejecutable y darle en compatibilidad con xp<br /></span></span></div>
</div>

  </article>
</Layout>

  