---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Sono Hanabira4 ~ Itoshisa no Photograph`
export const date = '2013-11-05T00:57:00.003-05:00' 
export const updated = '2023-05-04T18:16:40.495-05:00'
export const tags = ["español","sono hanabira ni kuchizuke wo",null,"yuri","Completo","visualnovelparapc","eroge","novela visual","sono hanabira-Mi amado fotografo","sono hanabira"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/2502792265619446271/comments/default'
export const cover = 'https://1.bp.blogspot.com/-P2bg7MVpFX0/WJpNiMf7CZI/AAAAAAAACJ0/x-9X5mite2EPIg2ZPSDaJsoXque-Kw-4wCPcBGAYYCw/s1600/55889.jpg'

---

<Layout title = {title} >
  <article>
  <div  >
<a href="http://visualnovelparapc.blogspot.com/2013/11/sono-hanabira4-mi-amado-fotografo.html" target="_blank">Sono Hanabira 4[Eroge][Yuri]</a></div>
<div  >
<br /></div>
<div >
<div  >
<a href="https://1.bp.blogspot.com/-P2bg7MVpFX0/WJpNiMf7CZI/AAAAAAAACJ0/x-9X5mite2EPIg2ZPSDaJsoXque-Kw-4wCPcBGAYYCw/s1600/55889.jpg" ><img    src="https://1.bp.blogspot.com/-P2bg7MVpFX0/WJpNiMf7CZI/AAAAAAAACJ0/x-9X5mite2EPIg2ZPSDaJsoXque-Kw-4wCPcBGAYYCw/s1600/55889.jpg" /></a></div>
<div  >
<br /></div>
<span >La cuarta entrega de la saga Sono Hanabira, secuela de <a href="https://visualnovelparapc.blogspot.com/2013/11/sono-hanabira2-mi-querido-principe.html" target="_blank">Sono Hanabira2</a></span><br />
<span >Una visual novel para amantes del yuri, se centra en Kaede y Sara una de las parejas reconocidas por estar pegadas todo el día tanto en el instituto como en el hogar.</span><br />
<a name='more'></a><br />
<span >Imagenes:</span><br />
<div  >
<a href="http://1.bp.blogspot.com/-kwcnBD0LEAg/UniGGjFOuFI/AAAAAAAAAk0/RZ86XB3Zdyo/s1600/6.jpg" ><img   src="https://1.bp.blogspot.com/-kwcnBD0LEAg/UniGGjFOuFI/AAAAAAAAAk0/RZ86XB3Zdyo/s400/6.jpg"  /></a></div>
<br />
<div  >
<a href="http://3.bp.blogspot.com/-aS5LPgmHUQs/UniGK6eE2sI/AAAAAAAAAk8/x6xxeixu1R8/s1600/7.jpg" ><img   src="https://3.bp.blogspot.com/-aS5LPgmHUQs/UniGK6eE2sI/AAAAAAAAAk8/x6xxeixu1R8/s400/7.jpg"  /></a></div>
<br />
<div >
<span ><b >Nombre:&nbsp;</b><span >Sono Hana 4</span></span></div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;Eroge</span></span></div>
<div >
<span ><span ><b >Estudio:</b><span ><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >&nbsp;Fuguriya</span></span></span></span></span></div>
<div >
<span ><span ><b >&nbsp;Genero:</b><span >&nbsp;Yuri, Romance, Eroge</span></span></span></div>
<div >
<span ><b >Idioma:&nbsp;</b><span >Japones</span></span></div>
<div >
<b >Subtitulos:</b><span ><span >&nbsp;Español</span><br /><b >Agradecimientos:</b><span >&nbsp;<a href="http://soulhunternofansub.blogspot.com/">Sohulter no Fansub</a></span></span><br />
<span ><b>Duración:</b> 2-10 horas</span></div>
<div >
<span ><b >Tamaño del archivo: </b><span >177</span><span >M</span><span >b</span></span></div>
</div>
<div>
<br />
<div>
<b><span >Descarga Mega:</span></b></div>
<div>
<a href="https://ouo.io/16X6wJ"  target="_blank">Sono Hanabira 4</a><br />
<span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" ><b >contraseña</b><span >:&nbsp;</span></span><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif" >animegame</span><br />
<div >
<span ><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif" ><br /><b >Descarga Mediafire:</b><br /><span ><a href="https://ouo.io/Uk0DN5" target="_blank"><b>Sono Hanabira 4</b></a></span><br /><b >contraseña:</b><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif"><span > animegame</span></span></span></span></div>
</div>
<div>
<b ><span ><br /></span></b><b ><span >Instrucciones de&nbsp;instalación:</span></b></div>
</div>
<div  ><span >1.- Cambiar la conf. unicode a japones(Panel de control\Reloj, idioma y region\</span></div><div  ><span >&nbsp; &nbsp; Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc) o usar Locale Emulator.</span></div><div  ><span >2.-Ejecutar Hanabira4</span></div>
<br />
<div  >
<span ><span >Posibles problemas</span><br /><span >1.-parpadea la ventana y se cierra el juego<br />&nbsp;Solución 1: Clic derecho al ejecutable y darle en compatibilidad con xp<br /></span></span></div>
</div>

  </article>
</Layout>

  