---
import Layout from '../../../../layouts/LayoutEntry.astro'

export const title = `Sono Hanabira2 ~ Watashi no Ouji-sama`
export const date = '2013-11-01T15:44:00.004-05:00' 
export const updated = '2023-05-04T18:13:31.955-05:00'
export const tags = ["español","sono hanabira ni kuchizuke wo",null,"sono hanabira-Mi querido principe","yuri","Completo","visualnovelparapc","eroge","novela visual","sono hanabira"]
export const urlComments = 'http://www.visualnovelparapc.com/feeds/3063929199010825062/comments/default'
export const cover = 'https://3.bp.blogspot.com/-9NR9X0m86Lk/WJpJ3blfzuI/AAAAAAAACJY/adwB2gloqq8aY2fJZH34Ca5XDD0nEmeUQCPcBGAYYCw/s1600/5589.png'

---

<Layout title = {title} >
  <article>
  <div >
<a href="http://visualnovelparapc.blogspot.com/2013/11/sono-hanabira2-mi-querido-principe.html" target="_blank">Sono Hanabira 2[Eroge][Yuri]</a></div>
<div >
<br />
<div  >
<a href="https://3.bp.blogspot.com/-9NR9X0m86Lk/WJpJ3blfzuI/AAAAAAAACJY/adwB2gloqq8aY2fJZH34Ca5XDD0nEmeUQCPcBGAYYCw/s1600/5589.png" ><img    src="https://3.bp.blogspot.com/-9NR9X0m86Lk/WJpJ3blfzuI/AAAAAAAACJY/adwB2gloqq8aY2fJZH34Ca5XDD0nEmeUQCPcBGAYYCw/s1600/5589.png" /></a></div>
<br /></div>
<div  >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >Soy Kitajima Kaede, y no soy muy buena en tratar con la gente. También soy la representante de la clase.</span></div>
<div  >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >En la escuela, me encuentro con mi prima Sara e</span><span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >n los años que yo no la he visto, ha crecido en una linda chica extrovertida y se ha convertido en una famosa modelo.</span></div>
<div  >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >Incluso las revistas de moda saben acerca de ella, y muchos en mi escuela idolatran a ella. Ella me hace ver muy aburrida en comparación.</span></div>
<a name='more'></a><br />
<div  >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >Y sin embargo, ella me llama desde lejos, y se aferra a mí, sin hacer caso de las miradas que nos dan.</span></div>
<div  >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >Porque no me gusta destacar, instintivamente actuo con frialdad hacia Sara.</span></div>
<div  >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >Pero entonces, de repente, me empuja hacia abajo y me susurra,</span></div>
<div  >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >"Todo lo que quiero eres tu."</span></div>
<div  >
<span face="&quot;arial&quot; , &quot;helvetica&quot; , sans-serif" >Esta alegría,¿Qué va a ser de mí?</span></div>
<div  >
<br /></div>
<div  >
<span ><b>Imagenes:</b></span></div>
<div  >
<a href="http://4.bp.blogspot.com/-L1lfZNrQOC4/UnQJ9oYkfPI/AAAAAAAAAhE/RKhpNmemftI/s1600/7.jpg" ><img   src="https://4.bp.blogspot.com/-L1lfZNrQOC4/UnQJ9oYkfPI/AAAAAAAAAhE/RKhpNmemftI/s400/7.jpg"  /></a></div>
<br />
<div  >
<a href="http://2.bp.blogspot.com/-98-AbaPw3cQ/UnQKCIJNquI/AAAAAAAAAhM/zMG4jkBIwLc/s1600/8.jpg" ><img   src="https://2.bp.blogspot.com/-98-AbaPw3cQ/UnQKCIJNquI/AAAAAAAAAhM/zMG4jkBIwLc/s400/8.jpg"  /></a></div>
<div  >
<br /></div>
<div >
<span ><b >Nombre: </b><span >SonoHana 2</span></span></div>
<div >
<div >
<span ><b >Tipo:</b><span >&nbsp;Eroge</span></span></div>
<div >
<span ><span ><b >Estudio:</b><span ><span face="&quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif"><span >&nbsp;Fuguriya</span></span></span></span></span></div>
<div >
<span ><span ><b >&nbsp;Genero:</b><span >&nbsp;Yuri, Romance, Eroge</span></span></span></div>
<div >
<span ><b >Idioma:&nbsp;</b><span >Japones</span></span></div>
<div >
<b >Subtitulos:</b><span ><span >&nbsp;Español</span><br /><b >Agradecimientos:</b><span >&nbsp;<a href="http://soulhunternofansub.blogspot.com/">Sohulter no Fansub</a></span></span><br />
<span ><b>Duración:</b> 2-10 horas</span></div>
<div >
<div >
<span ><b >Tamaño del archivo: </b><span >218</span><span >M</span><span >b</span></span></div>
</div>
</div>
<div ><div><br /></div><div><b><span ><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif"><span >Descarga Mediafire:</span></span><br /><span face="&quot;arial&quot; , &quot;tahoma&quot; , &quot;helvetica&quot; , &quot;freesans&quot; , sans-serif"><span ><a href="https://ouo.io/t78STg" target="_blank">Sono Hanabira 2</a></span></span><br />contraseña: animegame</span></b><br />
<b><span ><br /></span></b><b ><span >Instrucciones de&nbsp;instalación:</span></b></div>
</div>
<div  ><span ><div  >1.- Cambiar la conf. unicode a japones(Panel de control\Reloj, idioma y region\</div></span></div><div  >
<span ><span >&nbsp; &nbsp; Administrativo - cambiar conf. unicode seleccionas japones e reinicias la pc) o usar Locale Emulator.</span></span></div><div  ><span >2.-Ejecutar Hanabira2</span></div>
<div  >
<span ><br /></span></div>
<div  >
<span ><span >Posibles problemas</span><br /><span >1.-parpadea la ventana y se cierra el juego<br />&nbsp;Solución 1: Clic derecho al ejecutable y darle en compatibilidad con xp<br /></span></span></div>

  </article>
</Layout>

  